Repository hmcts/nfdiv-case-api, pull requests merged in 2021-10, with the labels that each got.

#768 clean up
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationIssuedNotification.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-768

#756 NFDIV-770: Move the removal of applicant 2 answers to the backend
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSole.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSoleTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-756

#769 NFDIV-978: Change placeholder value
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/JointApplicationOverdueNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/NotificationConstants.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/JointApplicationOverdueNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-769

#771 Added comments to functional test for submit application
  src/functionalTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorSubmitApplicationFT.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-771

#770 NFDIV-1127: Use dueDate and not issueDate
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/conditionalorder/SystemNotifyApplicant1ApplyForConditionalOrder.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/conditionalorder/SystemNotifyApplicant1ApplyForConditionalOrderTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-770

#772 Set app2 joint confirmation fields to null when app1 resubmits
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-applicant1-resubmit-application.json
  src/functionalTest/resources/responses/response-applicant1-resubmit-application.json
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant1Resubmit.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant1ResubmitTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-772

#773 NFDIV-1127: Fix format of case reference in email
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/Applicant1ApplyForConditionalOrderNotification.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant1ApplyForConditionalOrderNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-773

#767 Refactor to simplify template content generation
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/GeneralOrderTemplateContentIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueBailiffPack.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/CreateGeneralOrder.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateCitizenRespondentAosInvitation.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateDivorceApplication.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateRespondentSolicitorAosInvitation.java
  src/main/java/uk/gov/hmcts/divorce/document/CaseDataDocumentService.java
  src/main/java/uk/gov/hmcts/divorce/document/DocAssemblyService.java
  src/main/java/uk/gov/hmcts/divorce/document/content/CertificateOfServiceContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/CitizenRespondentAosInvitationTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationJointTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationSoleTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DraftApplicationTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/GeneralOrderTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/RespondentAnswersTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/RespondentSolicitorAosInvitationTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/task/DivorceApplicationDraft.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/task/GenerateRespondentAnswersDoc.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueBailiffPackTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/page/CreateGeneralOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateCitizenRespondentAosInvitationTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateDivorceApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateRespondentSolicitorAosInvitationTest.java
  src/test/java/uk/gov/hmcts/divorce/document/CaseDataDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/document/DocAssemblyServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/CertificateOfServiceContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/CitizenRespondentAosInvitationTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationJointTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationSoleTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DraftDivorceApplicationSoleTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/GeneralOrderTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/RespondentAnswersTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/RespondentSolicitorAosInvitationTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/task/DivorceApplicationDraftTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/task/GenerateRespondentAnswersDocTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-767

#775 Add Statement of Truth page to submit conditional order event
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitConditionalOrder.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-775

#781 Change solicitor additional comments field to textarea type
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrder.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-781

#784 Add legal advisor grant conditional order pages
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorGrantConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorRefuseConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorRequestClarification.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorGrantConditionalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorRefuseConditionalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorRequestClarificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-784

#790 Correct grant conditional order event name case
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorGrantConditionalOrder.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-790

#792 Add create bulk list cron job
  build.gradle
  src/functionalTest/resources/application.yaml
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/service/CcdUpdateServiceIT.java
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/wiremock/responses/about-to-submit-applicant-2-approved.json
  src/main/java/uk/gov/hmcts/divorce/CaseApiApplication.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/BulkActionCaseTypeConfig.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/BulkActionCaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/BulkActionState.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CreateBulkList.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/data/BulkActionCaseData.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/data/BulkListCaseDetails.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/ApplicationTab.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemUpdateBulkCaseReference.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/bulkaction/SystemCreateBulkCaseListTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdCreateService.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchService.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdUpdateService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/ScheduledForCreateTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemUpdateBulkCaseReferenceTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/bulkaction/SystemCreateBulkCaseListTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/CcdCreateServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-792

#803 Add bailiff return event
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerAddBailiffReturnIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAddBailiffReturn.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Bailiff.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAddBailiffReturnTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-803

#806 NFDIV-1057 tidy up re-issue date handling
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/caseworker-reissue-application-about-to-submit-app2-not-sol-rep-response.json
  src/integrationTest/resources/caseworker-reissue-application-about-to-submit-app2-sol-rep-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/ReIssueApplicationService.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SetReIssueAndDueDate.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/ReIssueApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/SetReIssueAndDueDateTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-806

#801 Nfdiv 1228 bug app2 not represented
  src/functionalTest/resources/responses/response-solicitor-submit-application-about-to-submit.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-statement-of-truth.json
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplication.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-801

#825 Revert changes to the Bailiff and Divorce service keywords
  src/integrationTest/java/uk/gov/hmcts/divorce/testutil/FeesWireMock.java
  src/main/java/uk/gov/hmcts/divorce/payment/PaymentService.java
  src/test/java/uk/gov/hmcts/divorce/payment/PaymentServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-825

#830 NFDIV-1263: Add fields to Bulk case tab
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/BulkActionCaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/data/BulkActionCaseData.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/data/BulkListCaseDetails.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/bulkaction/SystemCreateBulkCaseListTask.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-830

#832 Revert "Revert changes to the Bailiff and Divorce service keywords"
  src/integrationTest/java/uk/gov/hmcts/divorce/testutil/FeesWireMock.java
  src/main/java/uk/gov/hmcts/divorce/payment/PaymentService.java
  src/test/java/uk/gov/hmcts/divorce/payment/PaymentServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-832

#834 Nfdiv 1203 service application tab update
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-834

#839 Add caseworker pronounce list event
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/BulkActionPageBuilder.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPronounceList.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPronounceListTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-839

#872 NFDIV-1271: Use details to update dueDate
  src/main/java/uk/gov/hmcts/divorce/bulkaction/service/CasePronouncementService.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-872
