Repository hmcts/nfdiv-case-api, pull requests merged in 2021-03, with the labels that each got.

#21 Create API project
  .gitignore
  Dockerfile
  api/build.gradle
  api/src/integrationTest/java/uk/gov/hmcts/reform/divorce/caseapi/config/SwaggerPublisherTest.java
  api/src/integrationTest/java/uk/gov/hmcts/reform/divorce/caseapi/controllers/GetWelcomeTest.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/CaseApiApplication.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/config/SwaggerConfiguration.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/controllers/RootController.java
  api/src/main/resources/application.yaml
  api/src/test/java/uk/gov/hmcts/reform/rsecheck/CaseApiTest.java
  build.gradle
  settings.gradle
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-21

#27 add autoscaling
  charts/nfdiv-case-api/Chart.yaml
  charts/nfdiv-case-api/values.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-27

#30 Make scripts compatible with dev env
  Jenkinsfile_CNP
  bin/add-ccd-role.sh
  bin/ccd-import-definition.sh
  bin/generate-ccd-definition.sh
  bin/idam-user-token.sh
  bin/s2s-token.sh
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-30

#31 add maven local and clean up package.json
  ccd-definitions/build.gradle
  ccd-definitions/package.json
  settings.gradle
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-31

#32 Auto 2
  charts/nfdiv-case-api/Chart.yaml
  charts/nfdiv-case-api/values.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-32

#33 add CPU params 80%
  charts/nfdiv-case-api/Chart.yaml
  charts/nfdiv-case-api/values.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-33

#35 Added do last to only execute import task when explicitly invoked
  ccd-definitions/build.gradle
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-35

#38 remove enum from class name
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/CaseData.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/enums/DivorceOrDissolution.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-38

#39 Refactor ccd and add tests
  api/build.gradle
  ccd-definitions/build.gradle
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/CcdConfigApplier.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/CcdConfigFactory.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/CcdConfiguration.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/DevelopmentCcdConfig.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/NoFaultDivorceCcdConfigFactory.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/ccdcase/NoFaultDivorce.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/event/DraftCreate.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/event/PatchCase.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/search/SearchInputFields.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/search/SearchResultFields.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/tab/CaseTypeTab.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/workbasket/WorkBasketInputFields.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/workbasket/WorkBasketResultFields.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/CcdConfigApplierTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/DevelopmentCcdConfigTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/NoFaultDivorceCcdConfigFactoryTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/ccdcase/NoFaultDivorceTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/DraftCreateTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/PatchCaseTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/mock/EventBuildingMockUtil.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/mock/SearchBuilderAnswer.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/mock/SearchBuildingMockUtil.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/mock/TabBuildingMockUtil.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/mock/WorkBasketBuildingMockUtil.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/search/SearchInputFieldsTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/search/SearchResultFieldsTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/tab/CaseTypeTabTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/workbasket/WorkBasketInputFieldsTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/workbasket/WorkBasketResultFieldsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-39

#41 simplify case types
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/CaseData.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-41

#45 use latest tomcat 9
  api/build.gradle
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-45

#43 update plugin
  ccd-definitions/build.gradle
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/CcdConfigApplier.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/CcdConfiguration.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/DevelopmentCcdConfig.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/ccdcase/NoFaultDivorce.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/event/DraftCreate.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/event/PatchCase.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/CaseData.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/State.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/UserRole.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/enums/DivorceOrDissolution.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/enums/Gender.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/search/SearchInputFields.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/search/SearchResultFields.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/tab/CaseTypeTab.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/workbasket/WorkBasketInputFields.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/workbasket/WorkBasketResultFields.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/CcdConfigApplierTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/DevelopmentCcdConfigTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/ccdcase/NoFaultDivorceTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/DraftCreateTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/PatchCaseTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/mock/EventBuildingMockUtil.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/mock/SearchBuilderAnswer.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/mock/SearchBuildingMockUtil.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/mock/TabBuildingMockUtil.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/mock/WorkBasketBuildingMockUtil.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/search/SearchInputFieldsTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/search/SearchResultFieldsTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/tab/CaseTypeTabTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/workbasket/WorkBasketInputFieldsTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/workbasket/WorkBasketResultFieldsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-43

#47 Update plugin again
  ccd-definitions/build.gradle
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/CaseData.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-47

#48 bump config generator so YesOrNo isn't a fixed list
  ccd-definitions/build.gradle
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-48

#42 Implement service to use gov notify for sending save and signout notification
  .editorconfig
  api/build.gradle
  api/src/integrationTest/java/uk/gov/hmcts/reform/divorce/caseapi/config/SwaggerPublisherTest.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/config/EmailTemplatesConfig.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/config/NotificationsConfiguration.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/enums/EmailTemplateNames.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/enums/LanguagePreference.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/enums/NotificationConstants.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/exceptions/NotificationException.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/notification/handler/SaveAndSignOutNotificationHandler.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/service/NotificationService.java
  api/src/main/resources/application.yaml
  api/src/test/java/uk/gov/hmcts/reform/divorce/caseapi/CaseApiTest.java
  api/src/test/java/uk/gov/hmcts/reform/divorce/caseapi/notification/handler/SaveAndSignOutNotificationHandlerTest.java
  api/src/test/java/uk/gov/hmcts/reform/divorce/caseapi/service/NotificationServiceTest.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/CaseData.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/enums/DivorceOrDissolution.java
  charts/nfdiv-case-api/Chart.yaml
  charts/nfdiv-case-api/values.yaml
  config/pmd/ruleset.xml
  settings.gradle
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-42

#55 Nfdiv-525: jurisdiction fields
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/event/PatchCase.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/CaseData.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/PatchCaseTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-55

#59 Add user profiles
  bin/add-ccd-user-profiles.sh
  charts/nfdiv-case-api/Chart.yaml
  charts/nfdiv-case-api/values.preview.template.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-59

#64 Integrate s2s for only allowing configured service to invoke callback
  Jenkinsfile_CNP
  api/build.gradle
  api/src/functionalTest/java/uk/gov/hmcts/reform/divorce/caseapi/FunctionalTestSuite.java
  api/src/functionalTest/java/uk/gov/hmcts/reform/divorce/caseapi/SaveAndSignOutNotificationTest.java
  api/src/functionalTest/java/uk/gov/hmcts/reform/divorce/caseapi/ServiceAuthValidationTest.java
  api/src/functionalTest/resources/application.yaml
  api/src/integrationTest/java/uk/gov/hmcts/reform/divorce/caseapi/config/interceptors/RequestInterceptorTest.java
  api/src/integrationTest/java/uk/gov/hmcts/reform/divorce/caseapi/controllers/SaveAndCloseControllerTest.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/config/AuthConfiguration.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/config/WebMvcConfig.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/config/interceptors/RequestInterceptor.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/controllers/SaveAndCloseController.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/controllers/advice/GlobalExceptionHandler.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/enums/NotificationConstants.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/exceptions/UnAuthorisedServiceException.java
  api/src/main/resources/application.yaml
  api/src/test/java/uk/gov/hmcts/reform/divorce/caseapi/TestConstants.java
  api/src/test/java/uk/gov/hmcts/reform/divorce/caseapi/controllers/SaveAndCloseControllerTest.java
  charts/nfdiv-case-api/Chart.yaml
  charts/nfdiv-case-api/values.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-64

#67 NFDIV-524- Adding Search Fields - FirstName,LastName,Email
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/search/SearchInputFields.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/search/constants/CaseFieldsConstants.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/mock/SearchBuildingMockUtil.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/search/SearchInputFieldsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-67

#71 adding the language preference field
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/event/PatchCase.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/CaseData.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/PatchCaseTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-71

#69 Add solicitorCreate and solicitorUpdate event
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/Permissions.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/ccdcase/NoFaultDivorce.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/event/PatchCase.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/event/SolicitorCreate.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/event/SolicitorUpdate.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/CaseData.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/State.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/UserRole.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/enums/ChangedNameHow.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/enums/ConfidentialAddress.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/enums/WhoDivorcing.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/ccdcase/NoFaultDivorceTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/PatchCaseTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/SolicitorCreateTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/SolicitorUpdateTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/mock/EventBuildingMockUtil.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/mock/SearchBuildingMockUtil.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-69

#70 Added script to patch user email, firstname and lastname in ccd
  bin/patch-cases-in-ccd.sh
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-70

#75 configure callback urls
  Jenkinsfile_CNP
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/DevelopmentCcdConfig.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-75

#77 Archive CCD Definition after upload
  Jenkinsfile_CNP
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-77

#76 Update ccd-config-generator to version 0.15.2
  api/build.gradle
  ccd-definitions/build.gradle
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/Permissions.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/event/SaveAndClose.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/CaseData.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/SaveAndCloseTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/mock/EventBuildingMockUtil.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-76

#73 Fix solicitorCreate save
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/event/SolicitorUpdate.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/SolicitorUpdateTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-73

#79 adding the certificate name fields
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/event/PatchCase.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/CaseData.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/PatchCaseTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-79

#80 feat(NFDIV-427): Added country/place fields
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/event/PatchCase.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/CaseData.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/PatchCaseTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-80

#82 feat(NFDIV-250): How the court will contact you fields
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/CaseData.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-82

#84 feat(NFDIV-250): How the court will contact you fields
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/event/PatchCase.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/PatchCaseTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-84

#85 Add multiple urls for save and sign out emails
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/enums/NotificationConstants.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/notification/handler/SaveAndSignOutNotificationHandler.java
  api/src/main/resources/application.yaml
  api/src/test/java/uk/gov/hmcts/reform/divorce/caseapi/notification/handler/SaveAndSignOutNotificationHandlerTest.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/enums/DivorceOrDissolution.java
  charts/nfdiv-case-api/Chart.yaml
  charts/nfdiv-case-api/values.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-85

#89 update notify template
  api/src/integrationTest/java/uk/gov/hmcts/reform/divorce/caseapi/controllers/SaveAndCloseControllerTest.java
  api/src/main/resources/application.yaml
  api/src/test/java/uk/gov/hmcts/reform/divorce/caseapi/notification/handler/SaveAndSignOutNotificationHandlerTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-89

#87 Add petition submit about to start callback to set order summary
  Jenkinsfile_CNP
  api/build.gradle
  api/src/functionalTest/resources/application.yaml
  api/src/integrationTest/java/uk/gov/hmcts/reform/divorce/caseapi/config/interceptors/RequestInterceptorTest.java
  api/src/integrationTest/java/uk/gov/hmcts/reform/divorce/caseapi/controllers/SaveAndCloseControllerTest.java
  api/src/integrationTest/java/uk/gov/hmcts/reform/divorce/caseapi/controllers/SolicitorSubmitPetitionControllerTest.java
  api/src/integrationTest/resources/application.yaml
  api/src/integrationTest/resources/wiremock/responses/issue-fees-response.json
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/CaseApiApplication.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/clients/FeesAndPaymentsClient.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/config/interceptors/RequestInterceptor.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/controllers/SolicitorSubmitPetitionController.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/controllers/advice/GlobalExceptionHandler.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/enums/NotificationConstants.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/model/CcdCallbackResponse.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/model/payments/FeeResponse.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/service/SolicitorSubmitPetitionService.java
  api/src/main/resources/application.yaml
  api/src/test/java/uk/gov/hmcts/reform/divorce/caseapi/TestAuthConfiguration.java
  api/src/test/java/uk/gov/hmcts/reform/divorce/caseapi/TestConstants.java
  api/src/test/java/uk/gov/hmcts/reform/divorce/caseapi/caseapi/util/TestDataHelper.java
  api/src/test/java/uk/gov/hmcts/reform/divorce/caseapi/controllers/SaveAndCloseControllerTest.java
  api/src/test/java/uk/gov/hmcts/reform/divorce/caseapi/controllers/SolicitorSubmitPetitionControllerTest.java
  api/src/test/java/uk/gov/hmcts/reform/divorce/caseapi/service/NotificationServiceTest.java
  api/src/test/java/uk/gov/hmcts/reform/divorce/caseapi/service/SolicitorSubmitPetitionServiceTest.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/CaseData.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/FeeItem.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/FeeValue.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/OrderSummary.java
  charts/nfdiv-case-api/Chart.yaml
  charts/nfdiv-case-api/values.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-87

#92 Add solicitor case submit event
  api/build.gradle
  ccd-definitions/build.gradle
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/CcdPageConfiguration.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/SolicitorCreate.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/SolicitorStatementOfTruthPaySubmit.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/SolicitorUpdate.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/page/HelpWithFees.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/page/SolPayAccount.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/page/SolPayment.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/page/SolPaymentSummary.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/page/SolStatementOfTruth.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/page/SolSummary.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/CaseData.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/State.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/enums/SolServiceMethod.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/enums/SolToPay.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/SolicitorCreateTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/SolicitorStatementOfTruthPaySubmitTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/SolicitorUpdateTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/page/HelpWithFeesTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/page/SolPayAccountTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/page/SolPaymentSummaryTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/page/SolPaymentTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/page/SolStatementOfTruthTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/page/SolSummaryTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/mock/EventBuildingMockUtil.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-92

#91 Add aliases for secrets
  api/src/main/resources/application.yaml
  charts/nfdiv-case-api/Chart.yaml
  charts/nfdiv-case-api/values.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-91

#95 Added functional test for about to start callback - solicitor submit
  api/src/functionalTest/java/uk/gov/hmcts/reform/divorce/caseapi/SolicitorSubmitPetitionTest.java
  api/src/functionalTest/resources/responses/ccd-callback-submit-petition.json
  api/src/integrationTest/java/uk/gov/hmcts/reform/divorce/caseapi/controllers/SolicitorSubmitPetitionControllerTest.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/model/payments/FeeResponse.java
  api/src/main/resources/application.yaml
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/SolicitorStatementOfTruthPaySubmit.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/SolicitorStatementOfTruthPaySubmitTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-95

#96 Use ccd generator sdk types rather than creating new objects
  api/build.gradle
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/controllers/SolicitorSubmitPetitionController.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/service/SolicitorSubmitPetitionService.java
  api/src/test/java/uk/gov/hmcts/reform/divorce/caseapi/caseapi/util/TestDataHelper.java
  api/src/test/java/uk/gov/hmcts/reform/divorce/caseapi/controllers/SolicitorSubmitPetitionControllerTest.java
  api/src/test/java/uk/gov/hmcts/reform/divorce/caseapi/service/SolicitorSubmitPetitionServiceTest.java
  ccd-definitions/build.gradle
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/CaseData.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/FeeItem.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/FeeValue.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/OrderSummary.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-96

#97 adding the last name changed when married property
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/event/PatchCase.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/CaseData.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/PatchCaseTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-97

#98 Fix order summary for solicitor submit event
  api/src/functionalTest/resources/responses/ccd-callback-submit-petition.json
  api/src/integrationTest/resources/wiremock/responses/issue-fees-response.json
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/controllers/SolicitorSubmitPetitionController.java
  api/src/main/resources/application.yaml
  api/src/test/java/uk/gov/hmcts/reform/divorce/caseapi/controllers/SolicitorSubmitPetitionControllerTest.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/CaseData.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-98

#90 NFDIV-515: connections field added to ccd definitions
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/event/PatchCase.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/CaseData.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/enums/JurisdictionConnections.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/PatchCaseTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-90

#99 feat(NFDIV-463): Added address field
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/event/PatchCase.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/PatchCaseTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-99

#103 change from set to single as frontend now only returns 1 value
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/ccdcase/NoFaultDivorce.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/CaseData.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-103

#105 adding patch case for field
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/event/PatchCase.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/PatchCaseTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-105

#104 Add petitioner solicitor roles
  Jenkinsfile_CNP
  api/build.gradle
  api/src/functionalTest/java/uk/gov/hmcts/reform/divorce/caseapi/FunctionalTestSuite.java
  api/src/functionalTest/java/uk/gov/hmcts/reform/divorce/caseapi/SolicitorSubmitPetitionTest.java
  api/src/functionalTest/resources/application.yaml
  api/src/integrationTest/java/uk/gov/hmcts/reform/divorce/caseapi/controllers/SolicitorSubmitPetitionControllerTest.java
  api/src/integrationTest/resources/application.yaml
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/CaseApiApplication.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/config/AuthConfiguration.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/controllers/SolicitorSubmitPetitionController.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/enums/NotificationConstants.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/service/CcdAccessService.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/service/IdamService.java
  api/src/main/resources/application.yaml
  api/src/test/java/uk/gov/hmcts/reform/divorce/caseapi/TestConstants.java
  api/src/test/java/uk/gov/hmcts/reform/divorce/caseapi/caseapi/util/TestDataHelper.java
  api/src/test/java/uk/gov/hmcts/reform/divorce/caseapi/controllers/SolicitorSubmitPetitionControllerTest.java
  api/src/test/java/uk/gov/hmcts/reform/divorce/caseapi/service/CcdAccessServiceTest.java
  api/src/test/java/uk/gov/hmcts/reform/divorce/caseapi/service/IdamServiceTest.java
  charts/nfdiv-case-api/Chart.yaml
  charts/nfdiv-case-api/values.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-104

#109 Move case field authorisation to CaseData fields
  api/build.gradle
  api/src/functionalTest/java/uk/gov/hmcts/reform/divorce/caseapi/FunctionalTestSuite.java
  ccd-definitions/build.gradle
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/NoFaultDivorce.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/access/DefaultAccess.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/event/CreateDraft.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/event/PatchCase.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/CaseData.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/NoFaultDivorceTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/access/DefaultAccessTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/CreateDraftTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/PatchCaseTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-109

#117 Rename all things master
  api/src/functionalTest/java/uk/gov/hmcts/reform/divorce/caseapi/FunctionalTestSuite.java
  api/src/functionalTest/java/uk/gov/hmcts/reform/divorce/caseapi/SaveAndSignOutNotificationTest.java
  api/src/functionalTest/resources/responses/ccd-callback-set-language-preference.json
  api/src/functionalTest/resources/responses/ccd-callback-submit-petition.json
  api/src/integrationTest/resources/set-language-preference-response.json
  api/src/integrationTest/resources/wiremock/responses/issue-fees-response.json
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/notification/handler/SaveAndSignOutNotificationHandler.java
  api/src/test/java/uk/gov/hmcts/reform/divorce/caseapi/caseapi/util/TestDataHelper.java
  bin/patch-cases-in-ccd.sh
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/NoFaultDivorce.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/page/HelpWithFees.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/page/SolAboutThePetitioner.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/page/SolAboutTheRespondent.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/page/SolAboutTheSolicitor.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/page/SolPayAccount.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/page/SolPayment.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/page/SolPaymentSummary.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/page/SolStatementOfTruth.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/CaseData.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/search/SearchInputFields.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/search/constants/CaseFieldsConstants.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/tab/CaseTypeTab.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/page/HelpWithFeesTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/page/SolAboutThePetitionerTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/page/SolAboutTheRespondentTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/page/SolPayAccountTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/page/SolPaymentSummaryTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/page/SolPaymentTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/page/SolStatementOfTruthTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/search/SearchInputFieldsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-117
