Repository hmcts/nfdiv-case-api, pull requests merged in 2021-11, with the labels that each got.

#874 Updated event description and name for update bulk case event
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/SystemUpdateCase.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-874

#876 Feature/nfdiv 1183 application issues notifications tidyup
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationIssuedNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/NotificationConstants.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationIssuedNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-876

#878 Nfdiv 1341 fix create bulk case list task 2
  src/main/java/uk/gov/hmcts/divorce/systemupdate/convert/CaseDetailsConverter.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/bulkaction/FailedBulkCaseRemover.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/bulkaction/SystemCreateBulkCaseListTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdUpdateService.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/convert/CaseDetailsConverterTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/bulkaction/FailedBulkCaseRemoverTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/bulkaction/SystemCreateBulkCaseListTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/CcdUpdateServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-878

#870 Nfdiv 1257 bulk print pronouncement
  src/integrationTest/java/uk/gov/hmcts/divorce/bulkaction/service/ScheduleCaseServiceIT.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerPrintPronouncement.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/service/ScheduleCaseService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemUpdateCaseWithPronouncementJudge.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/bulkaction/SystemProcessFailedScheduledCasesTask.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerPrintPronouncementTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/service/ScheduleCaseServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/bulkaction/SystemProcessFailedScheduledCasesTaskTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-870

#877 NFDIV-1267: Add missing component annotation
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerEditBulkCase.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-877

#875 update permissions for contact details event
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenUpdateContactDetails.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-875

#881 NFDIV-1118
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-881

#883 nfdiv-1183: move content to template
  config/pmd/ruleset.xml
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationIssuedNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationOutstandingActionNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/NotificationConstants.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationIssuedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationOutstandingActionNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-883

#886 nfdiv-1183: move content back to template
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/Applicant1ResubmitNotification.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant1ResubmitNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-886

#885 NFDIV-1315 remove unused states and associated event
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPendingRejection.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPendingRejectionTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-885

#887 Add validation for hearing date
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerScheduleCase.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerScheduleCaseTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-887

#889 Feature/nfdiv 1183 approved notification tidyup
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2ApprovedNotification.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2ApprovedNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-889

#888 fix check to see if user is app2 and update contact details.
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenUpdateContactDetails.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenUpdateContactDetailsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-888

#893 Update error message when hearing date is entered in the future
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerScheduleCase.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerScheduleCaseTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-893

#894 Add extensible BulkCaseCaseTaskFactory
  src/integrationTest/java/uk/gov/hmcts/divorce/bulkaction/task/BulkCaseCaseTaskFactoryIT.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/task/BulkActionCaseTaskProvider.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/task/BulkCaseCaseTaskFactory.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/task/PronounceCaseProvider.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/task/UpdateCaseCourtHearingProvider.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/task/UpdateCasePronouncementJudgeProvider.java
  src/main/java/uk/gov/hmcts/divorce/common/config/BulkCaseConfiguration.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/task/BulkCaseCaseTaskFactoryTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/task/PronounceCaseProviderTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/task/UpdateCaseCourtHearingProviderTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/task/UpdateCasePronouncementJudgeProviderTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-894

#891 NFDIV 1213 and 1214 applicant1 switch to sole notifications
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchToSoleApplicationIT.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSole.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/Applicant1SwitchToSoleNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSoleTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant1SwitchToSoleNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-891

#896 Remove solicitor [CREATOR] roles to enable share a case
  src/integrationTest/java/uk/gov/hmcts/divorce/testutil/CaseDataWireMock.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/CcdAccessService.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/CcdAccessServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-896

#898 NFDIV-1267: Add validation for hearing dates in the past
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerEditBulkCase.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerEditBulkCaseTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-898

#895 Nfdiv 1269 pronouncement case list doc
  src/integrationTest/java/uk/gov/hmcts/divorce/bulkaction/service/PronouncementListDocServiceIT.java
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/caseworker-bulk-list-print-pronouncement.json
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerPrintPronouncement.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/tab/BulkActionCaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/data/BulkActionCaseData.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/service/PronouncementListDocService.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisTemplateConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/PronouncementListTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/model/DocumentType.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerPrintPronouncementTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/PronouncementListDocServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/PronouncementListTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-895

#901 Share a case
  build.gradle
  charts/nfdiv-case-api/Chart.yaml
  charts/nfdiv-case-api/values.preview.template.yaml
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorCreateApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorSubmitApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/testutil/CaseDataWireMock.java
  src/main/java/uk/gov/hmcts/divorce/CaseApiApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorCreateApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/CcdAccessService.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorCreateApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/CcdAccessServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-901

#900 Drop bulk case
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/BulkActionState.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerDropCase.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/SystemUpdateCase.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/tab/BulkActionCaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/task/UnlinkBulkCaseProvider.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemoveBulkCase.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/bulkaction/SystemProcessFailedToUnlinkBulkCaseTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CaseDetailsUpdater.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdCaseDataContentProvider.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerDropCaseTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/task/UnlinkCaseProviderTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemoveBulkCaseTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/bulkaction/SystemProcessFailedToUnlinkBulkCaseTaskTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-900

#905 Change date added type to be LocalDate with a json format to prevent …
  src/main/java/uk/gov/hmcts/divorce/document/model/ConfidentialDivorceDocument.java
  src/main/java/uk/gov/hmcts/divorce/document/model/DivorceDocument.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-905

#879 NFDIV-1275 & NFDIV-1288: Remove cases from Bulk Case
  src/integrationTest/java/uk/gov/hmcts/divorce/bulkaction/service/CaseRemovalServiceIT.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerRemoveCasesFromBulkList.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/data/BulkActionCaseData.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/service/BulkCaseProcessingService.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/service/CaseRemovalService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/validation/ValidationUtil.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/bulkaction/SystemProcessCasesToBeRemovedTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchService.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerRemoveCasesFromBulkListTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/service/BulkCaseProcessingServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/service/CaseRemovalServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPronounceListTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/validation/CaseValidationTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemoveBulkCaseTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/bulkaction/SystemProcessCasesToBeRemovedTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-879

#907 Generate notice of proceedings for citizen sole application
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-issue-sole-citizen-application-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-issue-sole-citizen-application-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/caseworker-issue-sole-citizen-application-about-to-submit-response.json
  src/integrationTest/resources/caseworker-reissue-sole-citizen-application-about-to-submit-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/IssueApplicationService.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateNoticeOfProceeding.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContent.java
  src/main/java/uk/gov/hmcts/divorce/document/model/DocumentType.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/CaseworkerIssueApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateDivorceApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateNoticeOfProceedingTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/CertificateOfServiceContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/GeneralOrderTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/ServiceOrderTemplateContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-907

#908 Sort applicant1 documents uploaded only when new docs are added
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateApplicationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-908

#909 Nfdiv 1239 application tab cleanup
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/ApplicationTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-909

#911 Fix issue date for respondent answers
  src/main/java/uk/gov/hmcts/divorce/common/service/task/GenerateRespondentAnswersDoc.java
  src/main/java/uk/gov/hmcts/divorce/document/content/RespondentAnswersTemplateContent.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/GenerateRespondentAnswersDocTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/RespondentAnswersTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-911

#912 generateNoticeOfProceeding after setting the issue date
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/IssueApplicationService.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-912

#913 Update event name and state
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemUpdateCaseWithPronouncementJudge.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-913

#903 nfdiv-1214 remove notification for app2 if marriage not broken selected
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSole.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSoleTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-903

#906 Add generation of certificate of entitlement pdf
  src/integrationTest/java/uk/gov/hmcts/divorce/bulkaction/service/CasePronouncementServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/bulkaction/service/CaseRemovalServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/bulkaction/service/PronouncementListDocServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/bulkaction/service/ScheduleCaseServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/CertificateOfEntitlementContentIT.java
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/caseworker-bulk-list-print-pronouncement.json
  src/integrationTest/resources/system-migrate-case-response.json
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerEditBulkCase.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerScheduleCase.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/tab/BulkActionCaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/data/BulkActionCaseData.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/task/UpdateCaseCourtHearingProvider.java
  src/main/java/uk/gov/hmcts/divorce/common/ConditionalOrderCourtDetails.java
  src/main/java/uk/gov/hmcts/divorce/common/config/ConditionalOrderCourtDetailsConfig.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrderCourt.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFields.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/CertificateOfEntitlementContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/PronouncementListTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/notification/FormatUtil.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemUpdateCaseWithCourtHearing.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateCertificateOfEntitlement.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/bulkaction/service/CasePronouncementServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/service/CaseRemovalServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/service/ScheduleCaseServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/task/UpdateCaseCourtHearingProviderTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFieldsTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/CertificateOfEntitlementContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/PronouncementListTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemUpdateCaseWithCourtHearingTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateCertificateOfEntitlementTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-906

#915 Fix divorce who as it is set differently for citzen applications
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-issue-sole-citizen-application-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-issue-sole-citizen-application-about-to-submit.json
  src/main/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContent.java
  src/test/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-915

#916 Add certificate of entitlement to tabs
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateCertificateOfEntitlement.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateCertificateOfEntitlementTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-916

#919 Feature/nfdiv 1183 notifications content tidyup
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerGeneralEmailIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/notification/GeneralEmailNotification.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/notification/NoticeOfProceedingsNotification.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/notification/SolicitorServiceNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/Applicant1ResubmitNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/Applicant1SwitchToSoleNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2ApprovedNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2NotBrokenNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2RequestChangesNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationIssuedNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationOutstandingActionNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSentForReviewApplicant1Notification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSentForReviewApplicant2Notification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSubmittedNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/JointApplicationOverdueNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/SaveAndSignOutNotificationHandler.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/SoleAosSubmittedNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/Applicant1ApplyForConditionalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/CommonContent.java
  src/main/java/uk/gov/hmcts/divorce/notification/NotificationConstants.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/notification/AwaitingConditionalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/notification/ApplicantSubmittedNotification.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/notification/SolicitorSubmittedNotification.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/notification/GeneralEmailNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/notification/NoticeOfProceedingsNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/notification/SolicitorServiceNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant1ApplyForConditionalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant1ResubmitNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant1SwitchToSoleNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2ApprovedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2NotBrokenNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2RequestChangesNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationIssuedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationOutstandingActionNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSentForReviewApplicant1NotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSentForReviewApplicant2NotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSubmittedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/JointApplicationOverdueNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/SoleAosSubmittedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/notification/CommonContentTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/notification/AwaitingConditionalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/notification/ApplicantSubmittedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/notification/SolicitorSubmittedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-919

#918 Updates to conditional order
  src/integrationTest/resources/system-migrate-case-response.json
  src/main/java/uk/gov/hmcts/divorce/common/event/DraftConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/UpdateConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/page/ConditionalOrderNewDocuments.java
  src/main/java/uk/gov/hmcts/divorce/common/event/page/ConditionalOrderReviewApplicant1.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFields.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFieldsTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-918

#923 Added system user to user roles to perform migrations
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/AosAccess.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/Applicant2Access.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseworkerAccess.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseworkerAccessBetaOnlyAccess.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseworkerAndSuperUserAccess.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseworkerBetaAndSuperUserAccess.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseworkerCourtAdminAccess.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseworkerCourtAdminWithSolicitorAccess.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/DefaultAccess.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/OrganisationPolicyAccess.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/access/Applicant2AccessTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseworkerAccessBetaOnlyAccessTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseworkerAndSuperUserAccessTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseworkerBetaAndSuperUserAccessTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseworkerCourtAdminAccessTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseworkerCourtAdminWithSolicitorAccessTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/access/OrganisationPolicyAccessTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-923

#926 Add functional tests for system reminders for Taleb
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemAlertApplicationNotReviewedFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemApplicant1ApplyForConditionalOrderFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressCaseToAosOverdueFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemindApplicant2FT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-system-application-not-reviewed.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-system-notify-applicant1-conditional-order.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-system-remind-applicant2.json
  src/functionalTest/resources/responses/response-system-application-not-reviewed.json
  src/functionalTest/resources/responses/response-system-notify-applicant1-conditional-order.json
  src/functionalTest/resources/responses/response-system-remind-applicant2.json
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-926

#925 check if applicant2 link exist.
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenUpdateContactDetails.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-925

#922 NFDIV-1290: Remove Financial Order For field
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFields.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/ApplicationTab.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationJointTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationSoleTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisTemplateConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DraftApplicationTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/provider/ApplicantTemplateDataProvider.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/FinancialOrders.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationJointTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationSoleTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DraftDivorceApplicationSoleTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/provider/ApplicantTemplateDataProviderTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-922

#927 Update bulkcase cron search for error or unprocessed cases
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchService.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-927

#928 Hashmap not being created inside the loop to add the main cases to th…
  src/main/java/uk/gov/hmcts/divorce/document/content/PronouncementListTemplateContent.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-928

#929 Add missing call to about to submit callback
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerEditBulkCase.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-929

#930 NFDIV-1383
  src/main/java/uk/gov/hmcts/divorce/bulkaction/data/BulkActionCaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/BulkCaseListAccess.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/access/BulkCaseListAccessTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-930

#933 Migrate cases without using a callback, add check that cases can be deserialized
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemMigrateCaseIT.java
  src/integrationTest/resources/system-migrate-case-response.json
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemMigrateCase.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemMigrateCasesTask.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemMigrateCaseTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemMigrateCasesTaskTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-933

#935 Fix court field name so that it is displayed in outcome of CO tab
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-935

#936 nfdiv-1183: reinstate original templates with updates applied
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-936

#937 Added how to respond to application for draft and update aos
  src/main/java/uk/gov/hmcts/divorce/common/event/DraftAos.java
  src/main/java/uk/gov/hmcts/divorce/common/event/UpdateAos.java
  src/main/java/uk/gov/hmcts/divorce/common/event/page/Applicant2HowToRespondToApplication.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/AcknowledgementOfService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/HowToRespondApplication.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-937

#940 NFDIV-1407: Add exception handling for jackson deserialization
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemMigrateCasesTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/bulkaction/SystemMigrateBulkCasesTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchService.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemMigrateCasesTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/bulkaction/SystemMigrateBulkCasesTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-940

#939 Nfdiv 1425 mulitple bulk case creation
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/service/CcdUpdateServiceIT.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/BulkActionState.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/SystemEmptyCase.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/SystemUpdateAndSuperUserAccess.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/bulkaction/FailedBulkCaseRemover.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/bulkaction/SystemCreateBulkCaseListTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdCreateService.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchService.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdUpdateService.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/SystemEmptyCaseTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/access/SystemUpdateAndSuperUserAccessTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/bulkaction/FailedBulkCaseRemoverTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/bulkaction/SystemCreateBulkCaseListTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/CcdCreateServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/CcdUpdateServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-939

#941 Add solicitor statement of truth page with disputed/undisputed events
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitAos.java
  src/main/java/uk/gov/hmcts/divorce/common/event/page/Applicant2SolStatementOfTruth.java
  src/main/java/uk/gov/hmcts/divorce/common/event/page/SolicitorDetailsWithStatementOfTruth.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/AcknowledgementOfService.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemIssueSolicitorAosDisputed.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemIssueSolicitorAosUnDisputed.java
  src/test/java/uk/gov/hmcts/divorce/common/event/SubmitAosTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-941

#943 NFDIV-1348: Add checks for whether app2 email is known
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-issue-joint-citizen-application-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SendApplicationIssueNotifications.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/SendApplicationIssueNotificationsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-943

#944 NFDIV-1348: Add additional check for presence of app2 email address
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SendApplicationIssueNotifications.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/SendApplicationIssueNotificationsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-944

#945 Updated Solicitor SOT page for submit AOS
  src/main/java/uk/gov/hmcts/divorce/common/event/page/SolicitorDetailsWithStatementOfTruth.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/AcknowledgementOfService.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-945

#946 Display respondent contact details when keep confidential is not set
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/ApplicationTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-946

#949 NFDIV-1348
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SendApplicationIssueNotifications.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/SendApplicationIssueNotificationsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-949

#951 Remove cases to be removed from bulk list in about to submit callback, then unlink in submitted callback
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerRemoveCasesFromBulkList.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/service/CaseRemovalService.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerRemoveCasesFromBulkListTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/service/CaseRemovalServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-951

#952 Fix state prerequisite for aos disputed and undisputed events
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemIssueSolicitorAosDisputed.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemIssueSolicitorAosUnDisputed.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemIssueSolicitorAosDisputedTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemIssueSolicitorAosUnDisputedTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-952

#953 Generate notice of proceedings for overseas respondent
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/caseworker-issue-sole-citizen-application-about-to-submit-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateNoticeOfProceeding.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SendApplicationIssueNotifications.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateDivorceApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateNoticeOfProceedingTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-953

#956 Added missing states for aos disputed/undisputed events
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemIssueSolicitorAosDisputed.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemIssueSolicitorAosUnDisputed.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-956

#958 Updated event name and description
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemIssueSolicitorAosDisputed.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemIssueSolicitorAosUnDisputed.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-958

#960 Configure all states for system unlinking event
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemoveBulkCase.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-960

#963 NFDIV-1383
  build.gradle
  src/main/java/uk/gov/hmcts/divorce/bulkaction/data/BulkActionCaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/BulkCaseRemovalAccess.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/Permissions.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/access/BulkCaseRemovalAccessTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-963

#959 Removed Pending dispute state
  src/integrationTest/java/uk/gov/hmcts/divorce/common/SubmitAosIT.java
  src/integrationTest/resources/wiremock/responses/about-to-submit-citizen-submit-aos-with-dispute.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-citizen-submit-aos-without-dispute.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAmendCase.java
  src/main/java/uk/gov/hmcts/divorce/common/event/UpdateAos.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SendCitizenAosNotifications.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SetSubmissionAndDueDate.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SetSubmitAosState.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/AcknowledgementOfService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFields.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/test/java/uk/gov/hmcts/divorce/common/event/UpdateAosTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SetSubmissionAndDueDateTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SetSubmitAosStateTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFieldsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-959

#965 Format case references for notice of proceeding document
  src/main/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContent.java
  src/test/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-965

#966 Revert back to old working version of ccd config library
  build.gradle
  src/main/java/uk/gov/hmcts/divorce/bulkaction/data/BulkActionCaseData.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-966

#967 Add check to stop future pronouncements
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPronounceList.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPronounceListTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-967

#968 App1 switch to sole when App2 is not linked
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchToSoleApplicationIT.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSole.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSoleTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant1ApplyForConditionalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-968

#971 Make update aos consistent with draft aos
  src/main/java/uk/gov/hmcts/divorce/common/event/DraftAos.java
  src/main/java/uk/gov/hmcts/divorce/common/event/UpdateAos.java
  src/main/java/uk/gov/hmcts/divorce/common/event/page/Applicant2SolUpdateAosApplicant1Application.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-971

#974 Fix state transition for bulk case remove event
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemoveBulkCase.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-974

#972 Update general referral to merge judge and legal advisor details
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralReferral.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/GeneralReferral.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFields.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralReferralTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFieldsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-972

#976 Fix exception when generating certificate of entitlement
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/document/content/CertificateOfEntitlementContent.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/ApplicantTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/CertificateOfEntitlementContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-976

#977 Content review for draft solicitor aos
  src/main/java/uk/gov/hmcts/divorce/common/event/page/Applicant2SolReviewApplicant1Application.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/AcknowledgementOfService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/LabelContent.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-977

#973 Fix app2 switch to sole notifications
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSole.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-973

#981 Update dynamic content for notice of proceedings overseas resp
  src/main/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContent.java
  src/test/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-981

#980 Add refusal order page when conditional order is refused
  src/integrationTest/java/uk/gov/hmcts/divorce/legaladvisor/LegalAdvisorGrantConditionalOrderIT.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorGrantConditionalOrder.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorGrantConditionalOrderTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-980

#985 Remove duplicate grants and ensure caseworker and bulk case perms for system update are crud
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/AosAccess.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/Applicant2Access.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseworkerAccess.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseworkerAccessBetaOnlyAccess.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseworkerAndSuperUserAccess.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseworkerBetaAndSuperUserAccess.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseworkerCourtAdminAccess.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseworkerCourtAdminWithSolicitorAccess.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/DefaultAccess.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseworkerAccessBetaOnlyAccessTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseworkerAndSuperUserAccessTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseworkerBetaAndSuperUserAccessTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseworkerCourtAdminAccessTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseworkerCourtAdminWithSolicitorAccessTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-985

#984 Nfdiv 1352 service application tab formatting
  build.gradle
  src/functionalTest/resources/responses/response-la-make-service-decision-deemed.json
  src/functionalTest/resources/responses/response-la-make-service-decision-dispensed.json
  src/integrationTest/resources/legal-advisor-service-decision-deemed-response.json
  src/integrationTest/resources/legal-advisor-service-decision-dispensed-response.json
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/AlternativeService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/AlternativeServiceOutcome.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFields.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerMakeBailiffDecisionTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFieldsTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/util/AlternativeServiceUtilTest.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeServiceDecisionTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-984

#986 Implemented submit clarification for conditional order
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitClarification.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-986

#988 Nfdiv 1303 confidential tabs
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-988

#989 Updated label from petition to application
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-989

#982 Nfdiv 1428 set applicant2 email on submit
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenAddPaymentIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant1ResubmitIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant2ApproveIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchToSoleApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/common/SubmitAosIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressCaseToAosOverdueIT.java
  src/integrationTest/resources/caseworker-issue-joint-citizen-application-about-to-submit-response.json
  src/integrationTest/resources/caseworker-issue-sole-citizen-application-about-to-submit-response.json
  src/integrationTest/resources/caseworker-reissue-sole-citizen-application-about-to-submit-response.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-applicant-2-approved.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-citizen-submit-aos-with-dispute.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-citizen-submit-aos-without-dispute.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-system-progress-case-to-aos-overdue.json
  src/integrationTest/resources/wiremock/responses/applicant-1-resubmit-application.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SendApplicationIssueNotifications.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/Applicant1ResubmitNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2ApprovedNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2NotBrokenNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2RequestChangesNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationIssuedNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationOutstandingActionNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSentForReviewApplicant2Notification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSubmittedNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/SoleAosSubmittedNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/SwitchToSoleNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/service/SubmissionService.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SetApplicant2Email.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressCaseToAosOverdue.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant1ResubmitNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2ApprovedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationIssuedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationOutstandingActionNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSubmittedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/SoleAosSubmittedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/SwitchToSoleNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/SubmissionServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SetApplicant2EmailTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/CaseDataTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-982

#990 Fix dynamic content for notice of proceedings
  src/main/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContent.java
  src/test/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-990

#987 Add field access to solicitor fields as does not appear to be cascading
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-987

#993 Fix multiselect field type and removed enum value which is not required
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ClarificationReason.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrder.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-993

#983 Feature/nfdiv 1088 notification dispute not submitted
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemNotifyApplicantDisputeFormOverdueFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-system-notify-applicant-dispute-form-overdue.json
  src/functionalTest/resources/responses/response-system-notify-applicant-dispute-form-overdue.json
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/DisputeFormOverdueOverdueNotification.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/AcknowledgementOfService.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemNotifyApplicantDisputeFormOverdue.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemNotifyApplicantDisputeFormOverdueTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/DisputeFormOverdueOverdueNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemNotifyApplicantDisputeFormOverdueTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemNotifyApplicantDisputeFormOverdueTaskTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-983

#994 NFDIV-1458: Awaiting Final order
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressCaseToAwaitingFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressCasesToAwaitingFinalOrderTask.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/StateTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressCaseToAwaitingFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressCasesToAwaitingFinalOrderTaskTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-994

#979 NFDIV 1181
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerAnswerReceivedIT.java
  src/integrationTest/resources/caseworker-answers-received-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAnswerReceived.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/AnswerReceivedUploadDocument.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ServicePaymentMethod.java
  src/main/java/uk/gov/hmcts/divorce/document/model/DocumentType.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAnswerReceivedTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/page/AnswerReceivedUploadDocumentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-979

#998 Reorder enum elements and update label description
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RefusalOption.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-998

#999 NFDIV-1465
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorGrantConditionalOrder.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-999

#1000 Implemented midevent callback to validate respondent has read the application
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerAddNoteIT.java
  src/main/java/uk/gov/hmcts/divorce/common/event/page/Applicant2SolReviewApplicant1Application.java
  src/test/java/uk/gov/hmcts/divorce/common/event/page/Applicant2SolReviewApplicant1ApplicationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1000

#996 Send citizen switch to sole notifications based on app from request
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchToSoleApplicationIT.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSole.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSoleTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-996

#1005 Refactor legal advisor event and add additional info for admin error
  src/integrationTest/java/uk/gov/hmcts/divorce/legaladvisor/LegalAdvisorMakeDecisionIT.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeDecision.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeDecisionTest.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorRefuseConditionalOrderTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1005

#1002 Handle deserialization failure when converting to CaseDetails
  src/main/java/uk/gov/hmcts/divorce/systemupdate/convert/CaseDetailsListConverter.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchService.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/convert/CaseDetailsListConverterTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1002

#1006 NFDIV-1454: Set up email for clarification submitted
  src/functionalTest/java/uk/gov/hmcts/divorce/legaladvisor/LegalAdvisorMakeDecisionFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-legal-advisor-make-decision.json
  src/functionalTest/resources/responses/response-legal-advisor-make-decision.json
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeDecision.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/notification/LegalAdvisorClarificationSubmittedNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeDecisionTest.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/notification/LegalAdvisorClarificationSubmittedNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1006

#1007 Fix app1 switch to sole for unlinked app2
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchToSoleApplicationIT.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSole.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenUpdateContactDetails.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseInvite.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSoleTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1007

#1008 NFDIV-1440
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolSummary.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1008

#1003 nfdiv-1088: fix query by using type of label enum
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemNotifyApplicantDisputeFormOverdueFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/testutil/FunctionalTestSuite.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemNotifyApplicantDisputeFormOverdueTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchService.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemNotifyApplicantDisputeFormOverdueTaskTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1003

#1009 Add admin clarification and update state transition for make decision
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-legal-advisor-make-decision.json
  src/integrationTest/java/uk/gov/hmcts/divorce/legaladvisor/LegalAdvisorMakeDecisionIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAddAdminClarification.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeDecision.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorRefuseConditionalOrder.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAddAdminClarificationTest.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeDecisionTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1009
