Repository hmcts/nfdiv-case-api, pull requests merged in 2021-04, with the labels that each got.

#121 Move permissions to access package
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/NoFaultDivorce.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/access/DefaultAccess.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/access/Permissions.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/event/PatchCase.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/event/SaveAndClose.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/SolicitorCreate.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/SolicitorStatementOfTruthPaySubmit.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/SolicitorUpdate.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/NoFaultDivorceTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/access/DefaultAccessTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/PatchCaseTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/SaveAndCloseTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/SolicitorCreateTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/SolicitorStatementOfTruthPaySubmitTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/SolicitorUpdateTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-121

#122 Split out constants into their own domain
  api/src/functionalTest/java/uk/gov/hmcts/reform/divorce/caseapi/DefaultLanguagePreferenceSettingTest.java
  api/src/functionalTest/java/uk/gov/hmcts/reform/divorce/caseapi/FunctionalTestSuite.java
  api/src/functionalTest/java/uk/gov/hmcts/reform/divorce/caseapi/SaveAndSignOutNotificationTest.java
  api/src/functionalTest/java/uk/gov/hmcts/reform/divorce/caseapi/ServiceAuthValidationTest.java
  api/src/functionalTest/java/uk/gov/hmcts/reform/divorce/caseapi/SolicitorSubmitPetitionTest.java
  api/src/integrationTest/java/uk/gov/hmcts/reform/divorce/caseapi/controllers/SaveAndCloseControllerTest.java
  api/src/integrationTest/java/uk/gov/hmcts/reform/divorce/caseapi/controllers/SolicitorCreateControllerTest.java
  api/src/integrationTest/java/uk/gov/hmcts/reform/divorce/caseapi/controllers/SolicitorSubmitPetitionControllerTest.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/clients/FeesAndPayConstants.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/clients/FeesAndPaymentsClient.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/config/EmailTemplatesConfig.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/config/interceptors/RequestInterceptor.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/controllers/SaveAndCloseController.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/controllers/SolicitorCreateController.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/controllers/SolicitorSubmitPetitionController.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/controllers/constants/ControllerConstants.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/enums/EmailTemplateNames.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/enums/NotificationConstants.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/model/LanguagePreference.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/notification/EmailTemplateNames.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/notification/NotificationConstants.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/notification/handler/SaveAndSignOutNotificationHandler.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/service/IdamService.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/service/NotificationService.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/service/SolicitorSubmitPetitionService.java
  api/src/test/java/uk/gov/hmcts/reform/divorce/caseapi/controllers/SaveAndCloseControllerTest.java
  api/src/test/java/uk/gov/hmcts/reform/divorce/caseapi/controllers/SolicitorCreateControllerTest.java
  api/src/test/java/uk/gov/hmcts/reform/divorce/caseapi/controllers/SolicitorSubmitPetitionControllerTest.java
  api/src/test/java/uk/gov/hmcts/reform/divorce/caseapi/notification/handler/SaveAndSignOutNotificationHandlerTest.java
  api/src/test/java/uk/gov/hmcts/reform/divorce/caseapi/service/CcdAccessServiceTest.java
  api/src/test/java/uk/gov/hmcts/reform/divorce/caseapi/service/IdamServiceTest.java
  api/src/test/java/uk/gov/hmcts/reform/divorce/caseapi/service/NotificationServiceTest.java
  api/src/test/java/uk/gov/hmcts/reform/divorce/caseapi/service/SolicitorSubmitPetitionServiceTest.java
  api/src/test/java/uk/gov/hmcts/reform/divorce/caseapi/util/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-122

#130 NFDIV-249: new field petitionerKnowsRespondentsEmailAddress
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/CaseData.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-130

#129 changing legalProceedingsRelated to set
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/CaseData.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-129

#131 feat(NFDIV-453): Added serve another way field
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/CaseData.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-131

#133 Bumped ccd generator as it includes permissions(CR) for labels
  api/build.gradle
  ccd-definitions/build.gradle
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-133

#132 feat(NFDIV-438): Added respondent address field
  api/src/functionalTest/resources/responses/ccd-callback-solicitor-create-about-to-submit.json
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/CaseData.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-132

#134 NFDIV-571 Add the organisation policy search to solicitor details page
  Jenkinsfile_CNP
  api/build.gradle
  api/src/functionalTest/java/uk/gov/hmcts/reform/divorce/caseapi/FunctionalTestSuite.java
  api/src/functionalTest/java/uk/gov/hmcts/reform/divorce/caseapi/SolicitorCreateAboutToStartTest.java
  api/src/functionalTest/java/uk/gov/hmcts/reform/divorce/caseapi/SolicitorCreateAboutToSubmitTest.java
  api/src/functionalTest/resources/application.yaml
  api/src/functionalTest/resources/responses/ccd-callback-set-language-preference.json
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/CaseApiApplication.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/config/PropertyConfiguration.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/config/jackson/HasRoleDeserializer.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/config/jackson/JacksonConfiguration.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/controllers/SolicitorCreateController.java
  api/src/main/java/uk/gov/hmcts/reform/divorce/caseapi/model/payments/FeeResponse.java
  api/src/main/resources/application.yaml
  build.gradle
  ccd-definitions/build.gradle
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/page/SolAboutTheSolicitor.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/CaseData.java
  ccd-definitions/src/main/java/uk/gov/hmcts/reform/divorce/ccd/model/UserRole.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/DevelopmentCcdConfigTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/NoFaultDivorceTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/access/DefaultAccessTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/CreateDraftTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/PatchCaseTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/SaveAndCloseTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/SolicitorCreateTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/SolicitorStatementOfTruthPaySubmitTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/SolicitorUpdateTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/page/HelpWithFeesTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/page/LanguagePreferenceTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/page/SolAboutThePetitionerTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/page/SolAboutTheRespondentTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/page/SolAboutTheSolicitorTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/page/SolPayAccountTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/page/SolPaymentSummaryTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/page/SolPaymentTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/page/SolStatementOfTruthTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/event/solicitor/page/SolSummaryTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/mock/EventBuildingMockUtil.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/mock/SearchBuilderAnswer.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/mock/SearchBuildingMockUtil.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/mock/TabBuildingMockUtil.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/mock/WorkBasketBuildingMockUtil.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/search/SearchInputFieldsTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/search/SearchResultFieldsTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/tab/CaseTypeTabTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/workbasket/WorkBasketInputFieldsTest.java
  ccd-definitions/src/test/java/uk/gov/hmcts/reform/divorce/ccd/workbasket/WorkBasketResultFieldsTest.java
  charts/nfdiv-case-api/Chart.yaml
  charts/nfdiv-case-api/values.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-134

#135 Fix functional test[Add createdDate with current date instead of hardcoded date]
  api/src/functionalTest/java/uk/gov/hmcts/reform/divorce/caseapi/SolicitorCreateAboutToSubmitTest.java
  api/src/functionalTest/resources/responses/ccd-callback-solicitor-create-about-to-submit.json
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-135

#136 Removed bintray repo for gov notifiy and added jitpack repo for generator
  api/build.gradle
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-136

#137 Add respondent service details page
  build.gradle
  src/main/java/uk/gov/hmcts/divorce/ccd/event/solicitor/SolicitorCreate.java
  src/main/java/uk/gov/hmcts/divorce/ccd/event/solicitor/page/RespondentServiceDetails.java
  src/main/java/uk/gov/hmcts/divorce/ccd/model/CaseData.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-137

#141 Add legal proceedings page
  .gitignore
  src/main/java/uk/gov/hmcts/divorce/ccd/event/solicitor/SolicitorCreate.java
  src/main/java/uk/gov/hmcts/divorce/ccd/event/solicitor/page/OtherLegalProceedings.java
  src/main/java/uk/gov/hmcts/divorce/ccd/model/CaseData.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-141

#142 update perms
  src/main/java/uk/gov/hmcts/divorce/ccd/NoFaultDivorce.java
  src/main/java/uk/gov/hmcts/divorce/ccd/event/CreateDraft.java
  src/main/java/uk/gov/hmcts/divorce/ccd/event/PatchCase.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-142

#143 Added marriage certificate details page
  src/main/java/uk/gov/hmcts/divorce/ccd/event/solicitor/SolicitorCreate.java
  src/main/java/uk/gov/hmcts/divorce/ccd/event/solicitor/page/MarriageCertificateDetails.java
  src/main/java/uk/gov/hmcts/divorce/ccd/model/CaseData.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-143

#144 Add Solicitor Financial Orders page
  src/main/java/uk/gov/hmcts/divorce/ccd/event/solicitor/SolicitorCreate.java
  src/main/java/uk/gov/hmcts/divorce/ccd/event/solicitor/page/FinancialOrders.java
  src/main/java/uk/gov/hmcts/divorce/ccd/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/ccd/model/enums/FinancialOrderFor.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-144

#145 Add solicitor claim for costs page
  src/main/java/uk/gov/hmcts/divorce/ccd/event/solicitor/SolicitorCreate.java
  src/main/java/uk/gov/hmcts/divorce/ccd/event/solicitor/page/ClaimForCosts.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-145

#152 feat(NFDIV-557): Added prayerHasBeenGiven field
  src/main/java/uk/gov/hmcts/divorce/ccd/model/CaseData.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-152

#160 modify script to restart the nfdiv-case-api after changing the CCD definition
  build.gradle
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-160

#159 adding connection summary field
  src/main/java/uk/gov/hmcts/divorce/api/ccd/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/api/ccd/model/enums/ConnectionSummary.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-159

#163 revert changes for nfdiv-504
  src/main/java/uk/gov/hmcts/divorce/api/ccd/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/api/ccd/model/enums/ConnectionSummary.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-163

#169 Update ccd-config-generator to version 0.19.18
  Jenkinsfile_CNP
  build.gradle
  src/functionalTest/resources/responses/ccd-callback-set-language-preference.json
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorCreate.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorStatementOfTruthPaySubmit.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-169

#168 adding more connections
  src/main/java/uk/gov/hmcts/divorce/common/model/JurisdictionConnections.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-168

#170 feat(NFDIV-562): Added middle name fields
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-170

#175 Update ccd-config-generator to version 0.19.20
  build.gradle
  config/checkstyle/checkstyle.xml
  src/main/java/uk/gov/hmcts/divorce/ccd/CcdPageConfiguration.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorCreate.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorStatementOfTruthPaySubmit.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdate.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/ClaimForCosts.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/FinancialOrders.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/HelpWithFees.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/LanguagePreference.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/MarriageCertificateDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/OtherLegalProceedings.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/RespondentServiceDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutThePetitioner.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutTheRespondent.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutTheSolicitor.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolPayAccount.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolPayment.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolPaymentSummary.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolStatementOfTruth.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolSummary.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-175

#180 Add Marriage Irretrievably Broken page to Solicitor Create
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorCreate.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/MarriageIrretrievablyBroken.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-180

#176 Add Apply for Div page to Solicitor Create
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorCreate.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/JurisdictionApplyForDivorce.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-176

#177 Remove aboutToStart from SocitorCreate class and associated tests
  src/functionalTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorCreateTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorCreateTest.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorCreate.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorCreateTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-177

#179 Remove redundant case details
  src/functionalTest/java/uk/gov/hmcts/divorce/citizen/SaveAndCloseTest.java
  src/functionalTest/java/uk/gov/hmcts/divorce/common/ServiceAuthValidationTest.java
  src/functionalTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorCreateTest.java
  src/functionalTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorSubmitPetitionTest.java
  src/functionalTest/java/uk/gov/hmcts/divorce/testutil/FunctionalTestSuite.java
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/SaveAndCloseTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorCreateTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorStatementOfTruthPaySubmitTest.java
  src/main/java/uk/gov/hmcts/divorce/ccd/search/CaseFieldsConstants.java
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseDetails.java
  src/main/java/uk/gov/hmcts/divorce/common/model/CcdCallbackRequest.java
  src/main/java/uk/gov/hmcts/divorce/common/model/CcdCallbackResponse.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-179

#181 Add PageBuilder to simplify ccd page configuration
  build.gradle
  src/main/java/uk/gov/hmcts/divorce/ccd/CcdPageConfiguration.java
  src/main/java/uk/gov/hmcts/divorce/ccd/PageBuilder.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorCreate.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorStatementOfTruthPaySubmit.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdate.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/ClaimForCosts.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/FinancialOrders.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/HelpWithFees.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/JurisdictionApplyForDivorce.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/LanguagePreference.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/MarriageCertificateDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/MarriageIrretrievablyBroken.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/OtherLegalProceedings.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/RespondentServiceDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutThePetitioner.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutTheRespondent.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutTheSolicitor.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolPayAccount.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolPayment.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolPaymentSummary.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolStatementOfTruth.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolSummary.java
  src/test/java/uk/gov/hmcts/divorce/ccd/PageBuilderTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorCreateTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-181

#184 Add optional middle name fields
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutThePetitioner.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutTheRespondent.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestConstants.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-184

#183 feat(NFDIV-305): Added documents field
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/common/model/SupportingDocumentType.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-183

#185 Refactor common content out of notification
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/SaveAndCloseTest.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/CommonContent.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/EmailTemplateName.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/SaveAndSignOutNotificationHandler.java
  src/main/java/uk/gov/hmcts/divorce/common/config/EmailTemplatesConfig.java
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/notification/NotificationConstants.java
  src/main/java/uk/gov/hmcts/divorce/notification/NotificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/SaveAndSignOutNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/divorce/notification/NotificationServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-185

#186 Add how do you want to apply for divorce page
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorCreate.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolHowDoYouWantToApplyForDivorce.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-186

#188 Submit notification
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/PaymentMadeTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/SaveAndCloseTest.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/PaymentMade.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSubmittedNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/SaveAndSignOutNotificationHandler.java
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/java/uk/gov/hmcts/divorce/notification/NotificationConstants.java
  src/main/java/uk/gov/hmcts/divorce/notification/NotificationService.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/PaymentMadeTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSubmittedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/SaveAndSignOutNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/divorce/notification/NotificationServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-188

#189 Add update language option
  src/main/java/uk/gov/hmcts/divorce/ccd/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateLanguage.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateLanguageTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-189

#190 Add about to submit callback for solicitor submit petition
  src/functionalTest/java/uk/gov/hmcts/divorce/citizen/SaveAndCloseTest.java
  src/functionalTest/java/uk/gov/hmcts/divorce/common/ServiceAuthValidationTest.java
  src/functionalTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorCreateTest.java
  src/functionalTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorSubmitPetitionTest.java
  src/functionalTest/java/uk/gov/hmcts/divorce/testutil/CaseDataUtil.java
  src/functionalTest/java/uk/gov/hmcts/divorce/testutil/FunctionalTestSuite.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata.json
  src/functionalTest/resources/request/casedata/ccd-callback-solicitor-submit-petition-about-to-submit.json
  src/functionalTest/resources/responses/ccd-callback-solicitor-submit-petition-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorStatementOfTruthPaySubmitTest.java
  src/integrationTest/resources/wiremock/responses/about-to-submit-statement-of-truth-error.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-statement-of-truth.json
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorStatementOfTruthPaySubmit.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorStatementOfTruthPaySubmitTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-190

#187 NFDIV-581: Upload marriage certificate
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/common/model/DocumentType.java
  src/main/java/uk/gov/hmcts/divorce/common/model/LegalConnections.java
  src/main/java/uk/gov/hmcts/divorce/document/model/DivorceDocument.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorCreate.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/JurisdictionApplyForDivorce.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/UploadMarriageCertificate.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/MiniPetitionDraft.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/MiniPetitionDraftTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-187

#192 NFDIV-581: Use ListValue for documentsUploaded field
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/MiniPetitionDraft.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/MiniPetitionDraftTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-192

#197 Integrate mini draft petition generation
  build.gradle
  charts/nfdiv-case-api/Chart.yaml
  charts/nfdiv-case-api/values.preview.template.yaml
  charts/nfdiv-case-api/values.yaml
  config/pmd/ruleset.xml
  src/functionalTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorCreateTest.java
  src/functionalTest/java/uk/gov/hmcts/divorce/testutil/FunctionalTestSuite.java
  src/functionalTest/java/uk/gov/hmcts/divorce/testutil/TestResourceUtil.java
  src/functionalTest/resources/responses/ccd-callback-solicitor-create-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorCreateTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorStatementOfTruthPaySubmitTest.java
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/solicitor-create-about-to-submit-response.json
  src/integrationTest/resources/wiremock/responses/dg-assembly-response.json
  src/main/java/uk/gov/hmcts/divorce/ccd/search/CaseFieldsConstants.java
  src/main/java/uk/gov/hmcts/divorce/ccd/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/common/config/DocmosisTemplatesConfig.java
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/document/DocAssemblyClient.java
  src/main/java/uk/gov/hmcts/divorce/document/DocAssemblyService.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisTemplateConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DraftPetitionTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/model/DocAssemblyResponse.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolHowDoYouWantToApplyForDivorce.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/MiniPetitionDraft.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorCreatePetitionService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/document/DocAssemblyServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DraftPetitionTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/MiniPetitionDraftTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorCreatePetitionServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestConstants.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-197

#203 NFDIV-581: Add documents uploaded to documents case tab
  src/main/java/uk/gov/hmcts/divorce/ccd/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-203

#207 Added functionality to update respondent digital details fields
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorStatementOfTruthPaySubmit.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitPetitionService.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorStatementOfTruthPaySubmitTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitPetitionServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestConstants.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-207
