Repository hmcts/nfdiv-case-api, pull requests merged in 2021-12, with the labels that each got.

#1010 Added conditions to display refusal related fields only when CO is refused
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeDecision.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1010

#1012 Use the latest access control endpoints to manage user roles
  src/integrationTest/java/uk/gov/hmcts/divorce/testutil/CaseDataWireMock.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/CcdAccessService.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/CcdAccessServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1012

#1013 nfdiv-1088: correct notification flag and test names
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemNotifyApplicantDisputeFormOverdueFT.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemNotifyApplicantDisputeFormOverdueTask.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1013

#1015 Update respondent answers template reason fields
  src/main/java/uk/gov/hmcts/divorce/document/content/RespondentAnswersTemplateContent.java
  src/test/java/uk/gov/hmcts/divorce/document/content/RespondentAnswersTemplateContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1015

#1001 Update CCD Chart
  charts/nfdiv-case-api/Chart.yaml
  charts/nfdiv-case-api/values.preview.template.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1001

#1014 Implement about the solicitor content changes
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-issue-application-about-to-submit.json
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-reject-application-about-to-submit.json
  src/main/java/uk/gov/hmcts/divorce/common/event/page/Applicant2SolConfirmContactDetails.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/LabelContent.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFields.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Solicitor.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/ApplicationTab.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorCreateApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutTheSolicitor.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolUpdateContactDetails.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFieldsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1014

#1022 Added page for amend application for CO refusal and updated enum
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RejectionReason.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeDecision.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1022

#1023 NFDIV-995 Add applyForConditionalOrderStarted fields
  src/main/java/uk/gov/hmcts/divorce/common/event/DraftConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1023

#1024 Align AoS not jurisdiction reasons
  src/main/java/uk/gov/hmcts/divorce/common/event/page/Applicant2SolAosJurisdiction.java
  src/main/java/uk/gov/hmcts/divorce/common/event/page/Applicant2SolStatementOfTruth.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/AcknowledgementOfService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFields.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFieldsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1024

#1025 Nfdiv 1215 service decision not approved
  src/integrationTest/java/uk/gov/hmcts/divorce/legaladvisor/LegalAdvisorMakeServiceDecisionIT.java
  src/integrationTest/resources/legal-advisor-service-decision-deemed-not-granted-response.json
  src/integrationTest/resources/legal-advisor-service-decision-dispensed-not-granted-response.json
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeServiceDecision.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeServiceDecisionTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1025

#1027 Solicitor apply for final order
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorApplyForFinalOrderIT.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/FinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/LabelContent.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorApplyForFinalOrder.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorApplyForFinalOrderTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1027

#1026 NFDIV-1482: Grant final order
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGrantFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/FinalOrder.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGrantFinalOrderTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1026

#1030 Added spring retry for adding/removing user roles
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/service/CcdAccessServiceIT.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/CcdAccessService.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestConstants.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1030

#1033 Added hidden fields so that exui doesn't removes them in midevent
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolHowDoYouWantToApplyForDivorce.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1033

#1034 Make decision state transition and fixes
  src/integrationTest/java/uk/gov/hmcts/divorce/legaladvisor/LegalAdvisorMakeDecisionIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAddAdminClarification.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeDecision.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeDecisionTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1034

#1035 NFDIV-1407: Change event call
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/bulkaction/SystemMigrateBulkCasesTask.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/bulkaction/SystemMigrateBulkCasesTaskTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1035

#1038 Use contains as refusal reason is multiselect field
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeDecision.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1038

#1040 Updated field description and made field optional for submit clarification response
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitClarification.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1040

#1041 Update grants for conditional order events
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/UpdateConditionalOrder.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1041

#1042 Update migration error handling
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemMigrateCasesTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/bulkaction/SystemMigrateBulkCasesTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchService.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemMigrateCasesTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/bulkaction/SystemMigrateBulkCasesTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1042

#1043 NFDIV-1500: Remove language choice options from Solicitor application
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorCreateApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateApplicant1Language.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateApplicant2Language.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/LanguagePreference.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateApplicant1LanguageTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateApplicant2LanguageTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1043

#1047 Fix Aos reminder issues
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressCaseToAosOverdue.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressCaseToAosOverdueTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1047

#1048 Added Final order pending event for caseworkers
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerFinalOrderPending.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerFinalOrderPendingTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1048

#1028 Update outcome of conditional order tab to display refusal fields
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1028

#1036 Update case state in aat for frontend tests
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenUpdateCaseStateAat.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenUpdateCaseStateAatTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1036

#1049 Fix Citizen update case state test
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenUpdateCaseStateAatTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1049

#1051 Remove update case state test
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenUpdateCaseStateAatTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1051

#1044 Updated clarification responses to collection as we need to store previous responses
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFields.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitClarification.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFieldsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1044

#1053 Add readonly field to retain label values
  src/main/java/uk/gov/hmcts/divorce/common/event/page/Applicant2SolConfirmContactDetails.java
  src/main/java/uk/gov/hmcts/divorce/common/event/page/Applicant2SolReviewApplicant1Application.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1053

#1054 NFDIV-1181: Refactor payment on Answer Received
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAnswerReceived.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/AnswerReceivedPaymentConfirmation.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/AnswerReceivedPaymentSummary.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/AcknowledgementOfService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/payment/PaymentService.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAnswerReceivedTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1054

#1055 Nfdiv 1479 final order overdue cron
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemNotifyFinalOrderOverdue.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemFinalOrderOverdueTask.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemNotifyFinalOrderOverdueTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemFinalOrderOverdueTaskTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1055

#1057 Fix for refusal reason showing when Application is accepted
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeServiceDecision.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1057

#1050 Add final order tab and fields
  src/main/java/uk/gov/hmcts/divorce/bulkaction/task/PronounceCaseProvider.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/FinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/TabShowCondition.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/task/PronounceCaseProviderTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/FinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/tab/TabShowConditionTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1050

#1059 Add about to start callback to reset refusal fields and update admin refusal page
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeDecision.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeDecisionTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1059

#1011 NFDIV-1457: Content changes to case submission event
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolPaymentSummary.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1011

#1058 Add CLUSTER_NAME environment variable check for citizen update case state
  Jenkinsfile_CNP
  charts/nfdiv-case-api/Chart.yaml
  charts/nfdiv-case-api/values.yaml
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenUpdateCaseStateAat.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenUpdateCaseStateAatTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1058

#1061 Update label ids for Answer Received payment summary
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/AnswerReceivedPaymentSummary.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1061

#1060 Content changes for statement of irretrievable breakdown page
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/LabelContent.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/MarriageIrretrievablyBroken.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolHowDoYouWantToApplyForDivorce.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1060

#1062 Rename Confidential Address to Confidential Applicant
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1062

#1067 NFDIV-1181
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAnswerReceived.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1067

#1068 Marriage details content changes
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/LabelContent.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/MarriageDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/MarriageCertificateDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolHowDoYouWantToApplyForDivorce.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1068

#1071 Re-add app2 access to retired field
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFields.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1071

#1069 NFDIV-1383
  build.gradle
  src/main/java/uk/gov/hmcts/divorce/bulkaction/data/BulkActionCaseData.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/bulkaction/SystemCreateBulkCaseListTask.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/bulkaction/SystemCreateBulkCaseListTaskTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1069

#1074 Legal Proceedings content update
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1074

#1075 Add exception logging to CaseTriggerService
  src/main/java/uk/gov/hmcts/divorce/bulkaction/service/CaseTriggerService.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1075

#1080 Remove setting of default access class for solicitor
  Jenkinsfile_CNP
  charts/nfdiv-case-api/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenUpdateCaseStateAat.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenUpdateCaseStateAatTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1080

#1073 Nfdiv 1490 about the other party
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutApplicant2.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1073

#1087 Nfdiv 1456 div or dis content update
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolHowDoYouWantToApplyForDivorce.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1087

#1078 Content changes for about the applicant and draft aos - as requested during demo
  src/main/java/uk/gov/hmcts/divorce/common/event/page/Applicant2SolConfirmContactDetails.java
  src/main/java/uk/gov/hmcts/divorce/common/event/page/Applicant2SolReviewApplicant1Application.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/LabelContent.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutApplicant1.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1078

#1089 Content changes for financial order page
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/FinancialOrders.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolHowDoYouWantToApplyForDivorce.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1089

#1088 Added hidden field so that label content is displayed for legal proceedings page
  src/main/java/uk/gov/hmcts/divorce/common/event/page/Applicant2SolConfirmContactDetails.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1088

#1076 Add solicitor role for Confidential Applicant Tab
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1076

#1092 Added default access to marriage formation type
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/MarriageDetails.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1092

#1093 NFDIV-1176: Add continue application yes no field
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1093

#1091 Content changes for upload documents
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/document/model/DivorceDocument.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/UploadDocument.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1091

#1090 NFDIV-1053: Configure CO Submission email
  src/functionalTest/java/uk/gov/hmcts/divorce/common/SubmitConditionalOrderFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-citizen-submit-conditional-order.json
  src/integrationTest/java/uk/gov/hmcts/divorce/common/SubmitConditionalOrderIT.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/AppliedForConditionalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/AppliedForConditionalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/ApplyForConditionalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/SubmitConditionalOrderTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1090

#1096 Updated case type description for NFD and Bulk case
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/BulkActionCaseTypeConfig.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/NoFaultDivorce.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1096

#1098 Added hidden fields to display dynamic content and label values
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorApplyForFinalOrder.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1098

#1095 Fixed label content on submit aos and updated hint text for marriage …
  src/main/java/uk/gov/hmcts/divorce/common/event/page/Applicant2SolStatementOfTruth.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/MarriageDetails.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1095

#1110 Make judge and legal advisor fields optional
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/CreateGeneralOrder.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1110

#1109 Add awaiting applicant event for caseworkers
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAwaitingApplicant.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAwaitingApplicantTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1109

#1111 Remove costs order from LA make decision event
  src/main/java/uk/gov/hmcts/divorce/document/content/PronouncementListTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeDecision.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1111

#1106 Add app2 grant to CitizenSaveAndClose 2
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSaveAndClose.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1106

#1116 Added hidden field to display dynamic label for place of marriage
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueApplication.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1116

#1108 Add dynamic label to final order tab for display in field label
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1108

#1105 Nfdiv 1495 pay account content update
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/ApplicationTab.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolPayAccount.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/task/InitialiseSolicitorCreatedApplication.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/task/InitialiseSolicitorCreatedApplicationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1105

#1115 NFDIV-1204: Add new fields to Conditional Order model
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrder.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1115

#1114 Content changes for Application Payment
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/SolicitorPaymentMethod.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolPayment.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1114

#1119 nfdiv-1130: retire fields instead of deleting them
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFields.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFieldsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1119

#1120 nfdiv-1130: revert original template after updating it
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1120

#1121 NFDIV-1569: Move conditional order questions into their own class
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/AppliedForConditionalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/page/ConditionalOrderReviewAoS.java
  src/main/java/uk/gov/hmcts/divorce/common/event/page/ConditionalOrderReviewApplicant1.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/AcknowledgementOfService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrderQuestions.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFields.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemindApplicantsApplyForCOrder.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/AppliedForConditionalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/SubmitConditionalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFieldsTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/PronouncementListTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemindApplicantsApplyForCOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1121

#1123 nfdiv-1050: rename field to use with sole applicants
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemindApplicantsApplyForCOrderFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-system-remind-applicants-conditional-order.json
  src/functionalTest/resources/responses/response-system-remind-applicants-conditional-order.json
  src/functionalTest/resources/responses/response-system-remind-joint-applicants-conditional-order.json
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFields.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemindApplicantsApplyForCOrder.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFieldsTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemindApplicantsApplyForCOrderTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1123

#1122 General order changes including merging of name field and addition/removal to judge type
  src/functionalTest/resources/request/casedata/ccd-callback-general-order-about-to-submit.json
  src/functionalTest/resources/request/casedata/ccd-callback-general-order.json
  src/functionalTest/resources/responses/response-caseworker-general-order-mid-event.json
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/GeneralOrderTemplateContentIT.java
  src/integrationTest/resources/caseworker-general-order-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/CreateGeneralOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/GeneralOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/GeneralOrderJudgeOrLegalAdvisorType.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFields.java
  src/main/java/uk/gov/hmcts/divorce/document/content/GeneralOrderTemplateContent.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFieldsTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/GeneralOrderTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1122

#1130 build(deps): bump org.owasp.dependencycheck from 6.5.0.1 to 6.5.1
  build.gradle
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1130

#1131 Fix code smell reported by sonar
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/AnswerReceivedPaymentSummary.java
  src/main/java/uk/gov/hmcts/divorce/common/event/DraftAos.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/ApplicationTab.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorApplyForFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemFinalOrderOverdueTask.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAddAdminClarificationTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAnswerReceivedTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerFinalOrderPendingTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGrantFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/page/AnswerReceivedUploadDocumentTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenUpdateCaseStateAatTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFieldsTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/access/BulkCaseRemovalAccessTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorApplyForFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorCreateApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemNotifyApplicantDisputeFormOverdueTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemNotifyFinalOrderOverdueTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressCaseToAwaitingFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemindApplicantsApplyForCOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressCasesToAwaitingFinalOrderTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/conditionalorder/SystemRemindApplicantsApplyForCOrderTaskTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1131

#1133 Set formatted(hyphenated) case reference for citizen create app event
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenCreateApplication.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenCreateApplicationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1133

#1132 Nfdiv 1486 respondent eligible final order
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/FinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemNotifyRespondentApplyFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemNotifyRespondentApplyFinalOrderTask.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemNotifyRespondentApplyFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemNotifyRespondentApplyFinalOrderTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1132

#1134 Update case content changes
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/AmendCase.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1134

#1135 Fix sonar code smells
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemNotifyRespondentApplyFinalOrderTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressCasesToAwaitingFinalOrderTask.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/page/AnswerReceivedUploadDocumentTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenUpdateCaseStateAatTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/AppliedForConditionalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/page/Applicant2SolReviewApplicant1ApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SetApplicant2EmailTest.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/notification/LegalAdvisorClarificationSubmittedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorApplyForFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemNotifyApplicantDisputeFormOverdueTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemNotifyRespondentApplyFinalOrderTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1135

#1136 Display event summary and description for all caseworker and solicitor events
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAddBailiffReturn.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAddNote.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAlternativeServiceApplication.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAmendCase.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerApplicantResponded.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAwaitingApplicant.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAwaitingDocuments.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAwaitingPayment.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerCreateGeneralOrder.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralApplicationReceived.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralEmail.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralReferral.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGrantFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHwfApplicationAccepted.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueApplication.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerMakeBailiffDecision.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPaymentMade.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPaymentRefGenerated.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPronounceList.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRefund.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerReissueApplication.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRejected.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateDueDate.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadConfidentialDocument.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadDocument.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadDocumentsAndSubmit.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerWithdrawn.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorApplyForFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorConfirmService.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorCreateApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitClarification.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateApplicant1ContactDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateContactDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorVerifyMarriageCertificate.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1136

#1138 Nfdiv 1568 convert application issued notifications
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/integrationTest/resources/caseworker-issue-sole-citizen-application-about-to-submit-response.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-citizen-submit-aos-with-dispute.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-citizen-submit-aos-without-dispute.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-system-progress-case-to-aos-overdue.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/IssueApplicationService.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/ReIssueApplicationService.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/notification/NoticeOfProceedingsNotification.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SendAosNotifications.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SendApplicationIssueNotifications.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/AosReminderNotifications.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationIssuedNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/ApplicationIssuedNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/ApplicationIssuedOverseasNotification.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressCaseToAosOverdue.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/CaseworkerIssueApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/ReIssueApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/notification/NoticeOfProceedingsNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/SendAosNotificationsTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/SendApplicationIssueNotificationsTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/AosReminderNotificationsTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/ApplicationIssuedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/ApplicationIssuedOverseasNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/ApplicantTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressCaseToAosOverdueTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1138

#1141 Remove unused notification
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/notification/SolicitorServiceNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/AosReminderNotifications.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/notification/SolicitorServiceNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1141

#1140 Add solicitor invite app2 event
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorInviteApplicant2.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorInviteApplicant2Test.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1140

#1139 Added solicitor confirm receipt event for solicitors
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorConfirmReceipt.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorConfirmReceiptTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1139
