Repository hmcts/nfdiv-case-api, pull requests merged in 2021-09, with the labels that each got.

#662 NFDIV-1139 remove submitted notification from caseworker-hwf-accepted
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerHwfApplicationAcceptedTest.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-hwf-accepted.json
  src/functionalTest/resources/responses/response-caseworker-hwf-accepted-about-to-submit.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHwfApplicationAccepted.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHwfApplicationAcceptedTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-662

#663 Reworded upload marriage certificate page to upload documents
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorCreateApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/UploadDocument.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-663

#660 NFDIV-981 joint denied HWF notification
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant2ApproveIT.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant2Approve.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2ApprovedNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant2ApproveTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2ApprovedNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-660

#665 Nfdiv 980 and 1106 what do you need to do joint application
  src/functionalTest/java/uk/gov/hmcts/divorce/citizen/CitizenAddPaymentFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/citizen/CitizenSubmitApplicationFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-applicant1-joint-application.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-joint-application-help-with-fees-awaiting-documents.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-joint-application-payment-made-awaiting-documents.json
  src/functionalTest/resources/responses/response-applicant1-joint-application.json
  src/functionalTest/resources/responses/response-joint-application-help-with-fees-awaiting-documents.json
  src/functionalTest/resources/responses/response-joint-application-payment-made-awaiting-documents.json
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenAddPaymentIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplicationIT.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationOutstandingActionNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SendSubmissionNotifications.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SetState.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationOutstandingActionNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SendSubmissionNotificationsTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/ApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/validation/CaseValidationTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-665

#669 Import env vars as otherwise script takes default values which results in 401
  bin/ccd-import-definition.sh
  bin/idam-user-token.sh
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-669

#670 Nfdiv 1094 application tab update
  src/functionalTest/resources/responses/response-solicitor-create-about-to-submit.json
  src/integrationTest/resources/solicitor-create-about-to-submit-response.json
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/ApplicationTab.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorCreateApplicationService.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/task/InitialiseSolicitorCreatedApplication.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorCreateApplicationApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/task/InitialiseSolicitorCreatedApplicationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-670

#672 Add show condition to AoS tab
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/TabShowCondition.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/tab/TabShowConditionTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-672

#675 add AwaitingApplicant1Response to update event for NFDIV-1123
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenUpdateApplication.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-675

#671 NFDIV-635 Notification - sole application has been issued
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-issue-joint-citizen-application-about-to-submit.json
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-issue-sole-citizen-application-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-issue-joint-citizen-application-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-issue-sole-citizen-application-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/resources/caseworker-issue-joint-citizen-application-about-to-submit-response.json
  src/integrationTest/resources/caseworker-issue-sole-citizen-application-about-to-submit-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/IssueApplicationService.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SendApplicationIssueNotifications.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SetDueDate.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationIssuedNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/SetDueDateTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationIssuedNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-671

#676 Add awaiting service state
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueApplication.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/IssueApplicationService.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SetPostIssueState.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/CaseworkerIssueApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/SetPostIssueStateTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-676

#664 Nfdiv 1144 merge jurisdiction legal connections
  src/functionalTest/resources/responses/response-applicant1-help-with-fees.json
  src/functionalTest/resources/responses/response-applicant1-invite-applicant2.json
  src/functionalTest/resources/responses/response-applicant1-joint-application.json
  src/functionalTest/resources/responses/response-applicant1-resubmit-application.json
  src/functionalTest/resources/responses/response-applicant1-statement-of-truth.json
  src/functionalTest/resources/responses/response-applicant2-approved.json
  src/functionalTest/resources/responses/response-applicant2-not-broken.json
  src/functionalTest/resources/responses/response-caseworker-add-notes-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-issue-application-about-to-submit.json
  src/functionalTest/resources/responses/response-payment-cancelled.json
  src/functionalTest/resources/responses/response-payment-in-progress.json
  src/functionalTest/resources/responses/response-payment-made-awaiting-documents.json
  src/functionalTest/resources/responses/response-payment-made.json
  src/functionalTest/resources/responses/response-solicitor-create-about-to-submit.json
  src/functionalTest/resources/responses/response-solicitor-draft-aos-about-to-start.json
  src/functionalTest/resources/responses/response-solicitor-update-about-to-submit.json
  src/integrationTest/resources/caseworker-add-note-response.json
  src/integrationTest/resources/caseworker-general-order-response.json
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-app2-not-sol-rep-response.json
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-app2-sol-rep-response.json
  src/integrationTest/resources/solicitor-create-about-to-submit-response.json
  src/integrationTest/resources/solicitor-update-about-to-submit-response.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-invite-applicant-2.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-link-applicant-2.json
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-help-with-fees.json
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-joint-application.json
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-statement-of-truth.json
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Jurisdiction.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/JurisdictionConnections.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/LegalConnections.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/ApplicationTab.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/validation/ValidationUtil.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/JurisdictionApplyForDivorce.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/validation/CaseValidationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-664

#677 Remove unsued AoS fields
  src/functionalTest/resources/responses/response-applicant1-help-with-fees.json
  src/functionalTest/resources/responses/response-applicant1-invite-applicant2.json
  src/functionalTest/resources/responses/response-applicant1-joint-application.json
  src/functionalTest/resources/responses/response-applicant1-resubmit-application.json
  src/functionalTest/resources/responses/response-applicant1-statement-of-truth.json
  src/functionalTest/resources/responses/response-applicant2-approved.json
  src/functionalTest/resources/responses/response-applicant2-not-broken.json
  src/functionalTest/resources/responses/response-caseworker-add-notes-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-issue-application-about-to-submit.json
  src/functionalTest/resources/responses/response-payment-cancelled.json
  src/functionalTest/resources/responses/response-payment-in-progress.json
  src/functionalTest/resources/responses/response-payment-made-awaiting-documents.json
  src/functionalTest/resources/responses/response-payment-made.json
  src/functionalTest/resources/responses/response-set-language-preference.json
  src/functionalTest/resources/responses/response-solicitor-create-about-to-submit.json
  src/functionalTest/resources/responses/response-solicitor-draft-aos-about-to-start.json
  src/functionalTest/resources/responses/response-solicitor-submit-application.json
  src/functionalTest/resources/responses/response-solicitor-update-about-to-submit.json
  src/integrationTest/resources/caseworker-general-order-response.json
  src/integrationTest/resources/solicitor-create-about-to-submit-response.json
  src/integrationTest/resources/solicitor-update-about-to-submit-response.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-invite-applicant-2.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-link-applicant-2.json
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-help-with-fees.json
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-joint-application.json
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-statement-of-truth.json
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/AcknowledgementOfService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RespondentAgreeToCosts.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-677

#678 Set the due date on disputed cases and change state to PendingDispute
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAmendCase.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/task/SetSubmissionAndDueDate.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/task/SetSubmitAosState.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/task/SetSubmissionAndDueDateTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/task/SetSubmitAosStateTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-678

#679 Change from double quotes to single quotes
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-679

#680 Generate respondent answers pdf
  src/functionalTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorSubmitAosFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-solicitor-submit-aos.json
  src/functionalTest/resources/responses/response-solicitor-submit-aos.json
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorSubmitAosIT.java
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/solicitor-submit-aos-response.json
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/Applicant1ResubmitNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2ApprovedNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationIssuedNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSentForReviewApplicant1Notification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSentForReviewApplicant2Notification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSubmittedNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/JointApplicationOverdueNotification.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/RespondentAnswersTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/model/DocumentType.java
  src/main/java/uk/gov/hmcts/divorce/notification/FormatUtil.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitAosService.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/task/GenerateRespondentAnswersDoc.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant1ResubmitNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2ApprovedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationIssuedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSentForReviewApplicant1NotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSentForReviewApplicant2NotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/JointApplicationOverdueNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/RespondentAnswersTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitAosServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/task/GenerateRespondentAnswersDocTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-680

#681 Move solicitor notifications to post event hook
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorSubmitApplicationIT.java
  src/main/java/uk/gov/hmcts/divorce/common/service/SubmissionService.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SendCitizenSubmissionNotifications.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SetStateAfterSubmission.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplication.java
  src/test/java/uk/gov/hmcts/divorce/common/service/SubmissionServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SendCitizenSubmissionNotificationsTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SetStateAfterSubmissionTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplicationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-681

#683 Fix SolicitorSubmitAosIT
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorSubmitAosIT.java
  src/integrationTest/resources/solicitor-submit-aos-response.json
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-683

#684 Added event to update issue date for system user
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerSystemUserUpdateIssueDate.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerCaseworkerSystemUserUpdateIssueDateTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-684

#687 Set due date to null instead of issue date for awaiting conditional system task
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressHeldCasesTask.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-687

#688 NFDIV-1185: Add handler for deserialization errors
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemAlertApplicationNotReviewedTask.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-688

#692 Nfdiv 1147 issue solicitor service pack event
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-solicitor-service-response.json
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/ScheduledForCreate.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueApplication.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/convert/CaseDetailsConverter.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemIssueSolicitorServicePack.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdUpdateService.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/SendAosNotificationsTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/convert/CaseDetailsConverterTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/CcdUpdateServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-692

#693 NFDIV-1010 add confirmReceipt field and enable generateMiniApplication for citi…
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-issue-joint-citizen-application-about-to-submit.json
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-issue-sole-citizen-application-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-app2-not-sol-rep-response.json
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-app2-sol-rep-response.json
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-solicitor-service-response.json
  src/integrationTest/resources/caseworker-issue-joint-citizen-application-about-to-submit-response.json
  src/integrationTest/resources/caseworker-issue-sole-citizen-application-about-to-submit-response.json
  src/integrationTest/resources/solicitor-create-about-to-submit-response.json
  src/integrationTest/resources/solicitor-update-about-to-submit-response.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-applicant-2-approved.json
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-joint-application.json
  src/integrationTest/resources/wiremock/responses/applicant-1-resubmit-application.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateMiniApplication.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
  src/main/java/uk/gov/hmcts/divorce/document/content/MiniApplicationTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/task/MiniApplicationRemover.java
  src/test/java/uk/gov/hmcts/divorce/document/content/MiniApplicationTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-693

#695 Nfdiv 1094 application tab review changes
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/ApplicationTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-695

#696 Nfdiv 990
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/Applicant1ResubmitNotification.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant1ResubmitNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-696

#694 NFDIV-770
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchToSoleApplicationIT.java
  src/integrationTest/resources/wiremock/responses/about-to-submit-switch-to-sole-application.json
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSole.java
  src/main/java/uk/gov/hmcts/divorce/notification/NotificationConstants.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/CcdAccessService.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSoleTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/CcdAccessServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-694

#698 Fetch ben manes plugin from maven central instead of jitpack
  build.gradle
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-698

#699 Update cron error handling
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemAlertApplicationNotReviewedTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressCasesToAosOverdueTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressHeldCasesTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindApplicant1ApplicationApprovedTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindApplicant2Task.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-699

#697 Nfdiv 1163 solicitor confirm service page
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorConfirmServiceIT.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/DocumentsServedBeingThe.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/DocumentsServedHow.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/DocumentsServedWhere.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/SolicitorService.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorConfirmService.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolConfirmService.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitConfirmService.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/task/SetConfirmServiceDueDate.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitConfirmServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/task/SetConfirmServiceDueDateTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-697

#700 Remove unwanted label from Jurisdiction Summary page
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/JurisdictionApplyForDivorce.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-700

#701 NFDIV-1001 citizen confirm receipt events
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant1ConfirmReceipt.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant2ConfirmReceipt.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant1ConfirmReceiptTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant2ConfirmReceiptTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-701

#703 Update app1 reminder event state
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemindApplicant1ApplicationReviewed.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-703

#702 NFDIV-770: Add check to see whether a case is a Joint HWF application
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchToSoleApplicationIT.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplication.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSole.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSoleTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-702

#704 Remove CaseworkerUploadedDocument and use DivorceDocument
  src/functionalTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorUpdateApplicationFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-solicitor-draft-aos.json
  src/functionalTest/resources/responses/response-caseworker-issue-application-about-to-submit.json
  src/functionalTest/resources/responses/response-solicitor-create-about-to-submit.json
  src/functionalTest/resources/responses/response-solicitor-draft-aos-about-to-start.json
  src/functionalTest/resources/responses/response-solicitor-update-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorSubmitUpdateDraftAosIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorUpdateApplicationIT.java
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-app2-not-sol-rep-response.json
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-app2-sol-rep-response.json
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-solicitor-service-response.json
  src/integrationTest/resources/solicitor-create-about-to-submit-response.json
  src/integrationTest/resources/solicitor-update-about-to-submit-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateCitizenRespondentAosInvitation.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateMiniApplication.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateRespondentSolicitorAosInvitation.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/document/DraftApplicationRemovalService.java
  src/main/java/uk/gov/hmcts/divorce/document/model/CaseworkerUploadedDocument.java
  src/main/java/uk/gov/hmcts/divorce/document/model/CaseworkerUploadedDocumentType.java
  src/main/java/uk/gov/hmcts/divorce/document/model/DocumentType.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/task/AddMiniApplicationLink.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/task/MiniApplicationDraft.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadDocumentTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateCitizenRespondentAosInvitationTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateMiniApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateRespondentSolicitorAosInvitationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationOutstandingActionNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/ApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/document/DocumentUtilTest.java
  src/test/java/uk/gov/hmcts/divorce/document/DraftApplicationRemovalServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/document/print/BulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/document/task/MiniApplicationRemoverTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/task/AddMiniApplicationLinkTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/task/MiniApplicationDraftTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-704

#705 Application issued email content update
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationIssuedNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/NotificationConstants.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationIssuedNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-705

#709 Update deprecated gradle settings
  build.gradle
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-709

#710 Add basic migration
  build.gradle
  src/main/java/uk/gov/hmcts/divorce/divorcecase/NoFaultDivorce.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFields.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFieldsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-710

#713 Added task for migration
  src/functionalTest/resources/responses/response-caseworker-general-order-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-general-order-mid-event.json
  src/functionalTest/resources/responses/response-solicitor-submit-aos.json
  src/functionalTest/resources/responses/response-solicitor-submit-application-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemMigrateCaseIT.java
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-solicitor-service-response.json
  src/integrationTest/resources/solicitor-submit-aos-response.json
  src/integrationTest/resources/system-migrate-case-response.json
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFields.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemMigrateCase.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemMigrateCasesTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchService.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemMigrateCaseTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemMigrateCasesTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-713

#714 NFDIV-1127
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/Applicant1ApplyForConditionalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/notification/CommonContent.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemApplicant1ApplyForConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindApplicant1ApplicationApprovedTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/conditionalorder/SystemNotifyApplicant1ApplyForConditionalOrder.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant1ApplyForConditionalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/notification/CommonContentTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemApplicant1ApplyForConditionalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/conditionalorder/SystemNotifyApplicant1ApplyForConditionalOrderTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-714

#717 Fix ES query for case migration and add enum aliases
  src/main/java/uk/gov/hmcts/divorce/document/model/DocumentType.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchService.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-717

#719 NFDIV-239
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemLinkApplicant2.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-719

#720 Fix sonar quality gate issue
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/ReIssueApplicationService.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/ReissueProcessingException.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/ReIssueApplicationServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-720

#721 Updated confidential address dropdown label
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConfidentialAddress.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-721

#718 Nfdiv 1166 patch
  src/functionalTest/resources/responses/response-caseworker-general-order-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-general-order-mid-event.json
  src/functionalTest/resources/responses/response-solicitor-submit-aos.json
  src/functionalTest/resources/responses/response-solicitor-submit-application-about-to-submit.json
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-solicitor-service-response.json
  src/integrationTest/resources/solicitor-submit-aos-response.json
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/SolicitorService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/ApplicationTab.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolConfirmService.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-718

#723 Set Europe/London timezone for the app
  src/main/java/uk/gov/hmcts/divorce/CaseApiApplication.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-723

#730 Added service application received for caseworkers
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerServiceApplicationReceived.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ServiceApplication.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ServiceApplicationType.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerServiceApplicationReceivedTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerSystemUserUpdateIssueDateTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-730

#735 Nfdiv 276
  charts/nfdiv-case-api/Chart.yaml
  charts/nfdiv-case-api/values.yaml
  src/functionalTest/resources/responses/response-caseworker-issue-sole-citizen-application-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-solicitor-service-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateCitizenRespondentAosInvitation.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SendApplicationIssueNotifications.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationIssuedNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/java/uk/gov/hmcts/divorce/notification/NotificationConstants.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationIssuedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-735

#738 NFDIV-1127: Add extra conditional content required for email
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/Applicant1ApplyForConditionalOrderNotification.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant1ApplyForConditionalOrderNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-738

#740 clean up
  charts/nfdiv-case-api/Chart.yaml
  charts/nfdiv-case-api/values.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-740

#737 Added issue bailiff pack event for caseworkers
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueBailiffPack.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Bailiff.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueBailiffPackTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-737

#748 Rename event name for reissue application
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerReissueApplication.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-748

#749 Fix for fee code change
  src/functionalTest/resources/responses/response-applicant1-joint-application.json
  src/functionalTest/resources/responses/response-joint-application-payment-made-awaiting-documents.json
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-749

#750 Make less idam calls
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueApplication.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemAlertApplicationNotReviewedTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemMigrateCasesTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressCasesToAosOverdueTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressHeldCasesTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindApplicant1ApplicationApprovedTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindApplicant2Task.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/conditionalorder/SystemNotifyApplicant1ApplyForConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchService.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdUpdateService.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemAlertApplicationNotReviewedTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemMigrateCasesTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressCasesToAosOverdueTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressHeldCasesTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindApplicant1ApplicationApprovedTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindApplicant2TaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/conditionalorder/SystemNotifyApplicant1ApplyForConditionalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/CcdUpdateServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-750

#752 NFDIV-1127: Handle conditional content required for joint applications
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/Applicant1ApplyForConditionalOrderNotification.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant1ApplyForConditionalOrderNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-752

#753 NFDIV-1114
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemAlertApplicationNotReviewedTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindApplicant1ApplicationApprovedTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindApplicant2Task.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-753

#754 NFDIV-239: Alter post issue state conditions
  src/functionalTest/resources/responses/response-caseworker-issue-sole-citizen-application-about-to-submit.json
  src/integrationTest/resources/caseworker-issue-sole-citizen-application-about-to-submit-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SetPostIssueState.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/SetPostIssueStateTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-754

#755 Fixed type for certificate of service
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Bailiff.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-755

#746 Nfdiv 877 draft conditional order
  src/functionalTest/resources/responses/response-solicitor-submit-aos.json
  src/integrationTest/resources/caseworker-general-order-response.json
  src/integrationTest/resources/caseworker-issue-bailiff-pack-response.json
  src/integrationTest/resources/solicitor-submit-aos-response.json
  src/integrationTest/resources/system-migrate-case-response.json
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFields.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorDraftConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/ConditionalOrderNewDocuments.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/ConditionalOrderReviewAoS.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/ConditionalOrderReviewApplicant1.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitAosService.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/task/AddRespondentAnswersLink.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorDraftConditionalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitAosServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/task/AddRespondentAnswersLinkTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-746

#747 Nfdiv 1177 generate sole divorce application 2
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/common/exception/InvalidCcdCaseDataException.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationJointTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationSoleTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DraftApplicationTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/GeneralOrderTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/RespondentSolicitorAosInvitationTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/provider/ApplicantTemplateDataProvider.java
  src/main/java/uk/gov/hmcts/divorce/document/content/provider/ApplicationTemplateDataProvider.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationJointTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationSoleTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/provider/ApplicantTemplateDataProviderTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/provider/ApplicationTemplateDataProviderTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestConstants.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-747

#757 Transition case to AwaitingServicePayment for service application received event
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerServiceApplicationReceived.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-757

#761 remove state change for SystemLinkApplicant2
  src/integrationTest/resources/wiremock/responses/about-to-submit-link-applicant-2.json
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemLinkApplicant2.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-761

#763 Nfdiv 1121 update conditional order
  build.gradle
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateConditionalOrder.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-763

#764 Remove bad migration
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFields.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-764

#766 update state labels
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-766

#765 Added event for legal advisor to make bailiff decision
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerMakeBailiffDecisionIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerMakeBailiffDecision.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerServiceApplicationReceived.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/AlternativeService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Bailiff.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/Permissions.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAlternativeServiceReceivedTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueBailiffPackTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerMakeBailiffDecisionTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-765
