Repository hmcts/nfdiv-case-api, pull requests merged in 2021-06, with the labels that each got.

#306 Extract getOrderSummary into PaymentService
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplication.java
  src/main/java/uk/gov/hmcts/divorce/payment/PaymentService.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitApplicationService.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/payment/PaymentServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitApplicationServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-306

#298 Fix draft pdf marriage date missing
  src/main/java/uk/gov/hmcts/divorce/document/content/DraftApplicationTemplateContent.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-298

#289 feat(NFDIV-680): Add awaiting payment & submitted state transitions
  src/functionalTest/java/uk/gov/hmcts/divorce/citizen/CitizenSubmitApplicationTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplicationTest.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenAddPayment.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplication.java
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenAddPaymentTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplicationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-289

#312 Fix caseworker field authorisation
  build.gradle
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorCreateApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateApplication.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-312

#314 Add marriage details tab and event to verify marriage details
  src/functionalTest/resources/responses/response-applicant1-statement-of-truth.json
  src/functionalTest/resources/responses/response-payment-made-awaiting-documents.json
  src/functionalTest/resources/responses/response-payment-made.json
  src/functionalTest/resources/responses/response-solicitor-create-about-to-submit.json
  src/functionalTest/resources/responses/response-solicitor-create-mid-event.json
  src/functionalTest/resources/responses/response-solicitor-submit-application-about-to-submit.json
  src/functionalTest/resources/responses/response-solicitor-submit-application.json
  src/functionalTest/resources/responses/response-solicitor-update-about-to-submit.json
  src/integrationTest/resources/solicitor-create-about-to-submit-response.json
  src/integrationTest/resources/solicitor-mid-event-error-response.json
  src/integrationTest/resources/solicitor-mid-event-response.json
  src/integrationTest/resources/solicitor-update-about-to-submit-response.json
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-statement-of-truth.json
  src/main/java/uk/gov/hmcts/divorce/ccd/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/common/model/MarriageDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/VerifyMarriageCertificate.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/VerifyMarriageCertificateDetailsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-314

#318 Fix state for verify marriage cert as pre state should be submitted
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/VerifyMarriageCertificate.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-318

#313 NFDIV-696: Generate pin and add it the case data for use in invite
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenInviteApplicant2Test.java
  src/integrationTest/resources/wiremock/responses/about-to-submit-invite-applicant-2.json
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenInviteApplicant2.java
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/common/model/State.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenInviteApplicant2Test.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-313

#320 Fix blanking of fields after mid event callback
  src/functionalTest/resources/responses/response-solicitor-create-mid-event.json
  src/integrationTest/resources/solicitor-mid-event-error-response.json
  src/integrationTest/resources/solicitor-mid-event-response.json
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/MarriageIrretrievablyBroken.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorCreateApplicationService.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorCreateApplicationApplicationServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-320

#316 Add applicant class
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/divorce/testutil/FunctionalTestSuite.java
  src/functionalTest/resources/responses/response-applicant1-help-with-fees.json
  src/functionalTest/resources/responses/response-applicant1-statement-of-truth.json
  src/functionalTest/resources/responses/response-payment-made-awaiting-documents.json
  src/functionalTest/resources/responses/response-payment-made.json
  src/functionalTest/resources/responses/response-set-language-preference.json
  src/functionalTest/resources/responses/response-solicitor-create-about-to-submit.json
  src/functionalTest/resources/responses/response-solicitor-submit-application-about-to-submit.json
  src/functionalTest/resources/responses/response-solicitor-submit-application.json
  src/functionalTest/resources/responses/response-solicitor-update-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorCreateApplicationTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorUpdateApplicationTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorUpdateContactDetailsTest.java
  src/integrationTest/resources/solicitor-create-about-to-submit-response.json
  src/integrationTest/resources/solicitor-update-about-to-submit-response.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-invite-applicant-2.json
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-help-with-fees.json
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-statement-of-truth.json
  src/main/java/uk/gov/hmcts/divorce/ccd/NoFaultDivorce.java
  src/main/java/uk/gov/hmcts/divorce/ccd/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationOutstandingActionNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSubmittedNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/SaveAndSignOutNotificationHandler.java
  src/main/java/uk/gov/hmcts/divorce/common/model/Applicant.java
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/common/validation/ValidationUtil.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DraftApplicationTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/notification/CommonContent.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateLanguage.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/Applicant1UpdateContactDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/Applicant2ServiceDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/LanguagePreference.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutApplicant1.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutApplicant2.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/notification/ApplicantSubmittedNotification.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/notification/SolicitorSubmittedNotification.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/updater/MiniApplicationDraft.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenAddPaymentTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSaveAndCloseTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DraftApplicationTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/notification/CommonContentTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/notification/ApplicantSubmittedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/notification/SolicitorSubmittedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/updater/MiniApplicationDraftTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-316

#322 NFDIV-736: Add additional fields and columns to Workbasket
  src/main/java/uk/gov/hmcts/divorce/ccd/workbasket/WorkBasketInputFields.java
  src/main/java/uk/gov/hmcts/divorce/ccd/workbasket/WorkBasketResultFields.java
  src/test/java/uk/gov/hmcts/divorce/ccd/workbasket/WorkBasketInputFieldsTest.java
  src/test/java/uk/gov/hmcts/divorce/ccd/workbasket/WorkBasketResultFieldsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-322

#323 fix: null pointer when HWF not entered
  src/functionalTest/java/uk/gov/hmcts/divorce/citizen/CitizenSubmitApplicationTest.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-applicant1-statement-of-truth.json
  src/functionalTest/resources/responses/response-applicant1-help-with-fees.json
  src/functionalTest/resources/responses/response-applicant1-statement-of-truth.json
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplicationTest.java
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-help-with-fees.json
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-statement-of-truth.json
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplication.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-323

#325 Update draft application pdf with correct date format
  src/main/java/uk/gov/hmcts/divorce/document/content/DraftApplicationTemplateContent.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DraftApplicationTemplateContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-325

#324 move gender fields into Applicant
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-applicant1-statement-of-truth.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-payment-made-awaiting-documents.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-payment-made.json
  src/functionalTest/resources/responses/response-applicant1-help-with-fees.json
  src/functionalTest/resources/responses/response-applicant1-statement-of-truth.json
  src/functionalTest/resources/responses/response-payment-made-awaiting-documents.json
  src/functionalTest/resources/responses/response-payment-made.json
  src/functionalTest/resources/responses/response-set-language-preference.json
  src/functionalTest/resources/responses/response-solicitor-create-about-to-submit.json
  src/functionalTest/resources/responses/response-solicitor-submit-application-about-to-submit.json
  src/functionalTest/resources/responses/response-solicitor-submit-application.json
  src/functionalTest/resources/responses/response-solicitor-update-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplicationTest.java
  src/integrationTest/resources/solicitor-create-about-to-submit-response.json
  src/integrationTest/resources/solicitor-update-about-to-submit-response.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-invite-applicant-2.json
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-help-with-fees.json
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-statement-of-truth-errors.json
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-statement-of-truth.json
  src/main/java/uk/gov/hmcts/divorce/ccd/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/common/model/Applicant.java
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/common/validation/ValidationUtil.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutApplicant1.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutApplicant2.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenInviteApplicant2Test.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-324

#326 NFDIV-696
  src/integrationTest/resources/wiremock/responses/about-to-submit-invite-applicant-2.json
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenInviteApplicant2.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenInviteApplicant2Test.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-326

#331 Test for deserialization bug
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorCreateApplicationTest.java
  src/integrationTest/resources/solicitor-create-about-to-submit-response.json
  src/integrationTest/resources/solicitor-update-about-to-submit-response.json
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-331

#329 feat(NFDIV-680): Allowing adding of payments while AwaitingPayment
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenAddPayment.java
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenAddPaymentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-329

#328 updating state
  src/main/java/uk/gov/hmcts/divorce/common/model/State.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-328

#334 Added divorceClaimFrom field and moved jurisdiction to appear on page 8
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorCreateApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/ClaimForCosts.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-334

#333 Fix show condition for case tabs
  build.gradle
  src/functionalTest/resources/responses/response-applicant1-help-with-fees.json
  src/functionalTest/resources/responses/response-applicant1-statement-of-truth.json
  src/functionalTest/resources/responses/response-payment-made-awaiting-documents.json
  src/functionalTest/resources/responses/response-payment-made.json
  src/functionalTest/resources/responses/response-set-language-preference.json
  src/functionalTest/resources/responses/response-solicitor-create-about-to-submit.json
  src/functionalTest/resources/responses/response-solicitor-submit-application-about-to-submit.json
  src/functionalTest/resources/responses/response-solicitor-update-about-to-submit.json
  src/integrationTest/resources/caseworker-document-upload-about-to-start-response.json
  src/integrationTest/resources/caseworker-document-upload-about-to-submit-response.json
  src/integrationTest/resources/caseworker/validate-hwf-code-awaiting-docs.json
  src/integrationTest/resources/caseworker/validate-hwf-code-awaiting-pay-response.json
  src/integrationTest/resources/caseworker/validate-hwf-code-submitted-response.json
  src/integrationTest/resources/set-language-preference-response.json
  src/integrationTest/resources/solicitor-create-about-to-submit-response.json
  src/integrationTest/resources/solicitor-update-about-to-submit-response.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-statement-of-truth-payment-error.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-statement-of-truth.json
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-help-with-fees.json
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-statement-of-truth.json
  src/main/java/uk/gov/hmcts/divorce/ccd/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-333

#335 NFDIV-696
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenInviteApplicant2.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-335

#345 Fix master build
  charts/nfdiv-case-api/Chart.yaml
  charts/nfdiv-case-api/values.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-345

#346 feat(NFDIV-680): Added functional & integration tests for add payment
  src/functionalTest/java/uk/gov/hmcts/divorce/citizen/CitizenAddPaymentTest.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-payment-cancelled.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-payment-in-progress.json
  src/functionalTest/resources/responses/response-payment-cancelled.json
  src/functionalTest/resources/responses/response-payment-in-progress.json
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenAddPaymentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-346

#338 Nfdiv 709 change labels to applicant and respondent
  src/integrationTest/resources/wiremock/responses/dg-assembly-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAwaitingDocuments.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadDocumentsAndSubmit.java
  src/main/java/uk/gov/hmcts/divorce/ccd/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/ccd/workbasket/WorkBasketInputFields.java
  src/main/java/uk/gov/hmcts/divorce/ccd/workbasket/WorkBasketResultFields.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenInviteApplicant2.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSaveAndClose.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplication.java
  src/main/java/uk/gov/hmcts/divorce/common/model/Applicant.java
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/common/model/ClaimsCostFrom.java
  src/main/java/uk/gov/hmcts/divorce/common/model/FinancialOrderFor.java
  src/main/java/uk/gov/hmcts/divorce/common/model/Jurisdiction.java
  src/main/java/uk/gov/hmcts/divorce/common/model/JurisdictionConnections.java
  src/main/java/uk/gov/hmcts/divorce/common/model/LegalConnections.java
  src/main/java/uk/gov/hmcts/divorce/common/model/MarriageDetails.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisTemplateConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/model/DocumentType.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/Applicant2ServiceDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/ClaimForCosts.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/JurisdictionApplyForDivorce.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/MarriageIrretrievablyBroken.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutApplicant1.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutApplicant2.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutTheSolicitor.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolHowDoYouWantToApplyForDivorce.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolStatementOfTruth.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolSummary.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/CcdAccessService.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorCreateApplicationService.java
  src/test/java/uk/gov/hmcts/divorce/ccd/workbasket/WorkBasketInputFieldsTest.java
  src/test/java/uk/gov/hmcts/divorce/ccd/workbasket/WorkBasketResultFieldsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-338

#347 Fix wording fault on jurisdiction page
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/JurisdictionApplyForDivorce.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-347

#348 Tidy workbasket headings
  src/main/java/uk/gov/hmcts/divorce/ccd/workbasket/WorkBasketInputFields.java
  src/main/java/uk/gov/hmcts/divorce/ccd/workbasket/WorkBasketResultFields.java
  src/test/java/uk/gov/hmcts/divorce/ccd/workbasket/WorkBasketInputFieldsTest.java
  src/test/java/uk/gov/hmcts/divorce/ccd/workbasket/WorkBasketResultFieldsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-348

#350 Solicitor model
  build.gradle
  src/functionalTest/resources/responses/response-applicant1-help-with-fees.json
  src/functionalTest/resources/responses/response-applicant1-statement-of-truth.json
  src/functionalTest/resources/responses/response-payment-cancelled.json
  src/functionalTest/resources/responses/response-payment-in-progress.json
  src/functionalTest/resources/responses/response-payment-made-awaiting-documents.json
  src/functionalTest/resources/responses/response-payment-made.json
  src/functionalTest/resources/responses/response-set-language-preference.json
  src/functionalTest/resources/responses/response-solicitor-create-about-to-submit.json
  src/functionalTest/resources/responses/response-solicitor-submit-application-about-to-submit.json
  src/functionalTest/resources/responses/response-solicitor-submit-application.json
  src/functionalTest/resources/responses/response-solicitor-update-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorCreateApplicationTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorUpdateContactDetailsTest.java
  src/integrationTest/resources/solicitor-create-about-to-submit-response.json
  src/integrationTest/resources/solicitor-update-about-to-submit-response.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-invite-applicant-2.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-statement-of-truth.json
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-help-with-fees.json
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-statement-of-truth.json
  src/main/java/uk/gov/hmcts/divorce/ccd/search/CaseFieldsConstants.java
  src/main/java/uk/gov/hmcts/divorce/ccd/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/common/model/Applicant.java
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/common/model/Solicitor.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DraftApplicationTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/Applicant2ServiceDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutTheSolicitor.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolUpdateContactDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorCreateApplicationService.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/notification/SolicitorSubmittedNotification.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DraftApplicationTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorCreateApplicationApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/notification/SolicitorSubmittedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-350

#351 content updates
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/Applicant2ServiceDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/LanguagePreference.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutApplicant2.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-351

#353 Rearranged legal connections and removed residual jurisdiction text
  src/main/java/uk/gov/hmcts/divorce/common/model/LegalConnections.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/JurisdictionApplyForDivorce.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-353

#349 Nfdiv 634 joint applicant1 email notification
  src/functionalTest/java/uk/gov/hmcts/divorce/citizen/CitizenInviteApplicant2Test.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-payment-made-awaiting-documents.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata.json
  src/functionalTest/resources/responses/response-applicant1-invite-applicant2.json
  src/functionalTest/resources/responses/response-payment-made-awaiting-documents.json
  src/functionalTest/resources/responses/response-solicitor-create-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenAddPaymentTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenInviteApplicant2Test.java
  src/integrationTest/resources/wiremock/responses/about-to-submit-invite-applicant-2.json
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenInviteApplicant2.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationOutstandingActionNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSentForReviewNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/CommonContent.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenInviteApplicant2Test.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationOutstandingActionNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSentForReviewNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-349

#352 NFDIV-784: Integration with Document Management Service.
  src/main/java/uk/gov/hmcts/divorce/common/config/advice/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentManagementClient.java
  src/main/java/uk/gov/hmcts/divorce/print/BulkPrintService.java
  src/main/java/uk/gov/hmcts/divorce/print/exception/DocumentDownloadException.java
  src/main/java/uk/gov/hmcts/divorce/print/model/Letter.java
  src/test/java/uk/gov/hmcts/divorce/print/BulkPrintServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-352

#358 NFDIV-784: Integration with Send-Letter Service for NFD Bulk Print
  src/main/java/uk/gov/hmcts/divorce/common/config/advice/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentManagementClient.java
  src/main/java/uk/gov/hmcts/divorce/print/BulkPrintService.java
  src/main/java/uk/gov/hmcts/divorce/print/exception/InvalidResourceException.java
  src/main/java/uk/gov/hmcts/divorce/print/model/Letter.java
  src/test/java/uk/gov/hmcts/divorce/print/BulkPrintServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-358

#359 feat(NFDIV-752): Applicant 2 has relationship broken
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/MarriageIrretrievablyBroken.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/page/MarriageIrretrievablyBrokenTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-359

#361 feat(NFDIV-752): Applicant 2 has relationship broken
  src/main/java/uk/gov/hmcts/divorce/ccd/NoFaultDivorce.java
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/MarriageIrretrievablyBroken.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/page/MarriageIrretrievablyBrokenTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-361

#363 Move issue app event cw package
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/IssueApplication.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-363

#362 Add validation for issue application
  src/main/java/uk/gov/hmcts/divorce/common/model/State.java
  src/main/java/uk/gov/hmcts/divorce/common/validation/ValidationUtil.java
  src/test/java/uk/gov/hmcts/divorce/common/validation/CaseValidationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-362

#364 Add XUI to chart
  charts/nfdiv-case-api/Chart.yaml
  charts/nfdiv-case-api/values.preview.template.yaml
  charts/nfdiv-case-api/values.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-364

#365 Added events with starting state transitioning from Awaiting HWF
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/event/ValidateHwfReferenceTest.java
  src/integrationTest/resources/caseworker/validate-hwf-code-awaiting-docs.json
  src/integrationTest/resources/caseworker/validate-hwf-code-awaiting-pay-response.json
  src/integrationTest/resources/caseworker/validate-hwf-code-error.json
  src/integrationTest/resources/caseworker/validate-hwf-code-submitted-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/AwaitingApplicant.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/HwfApplicationAccepted.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/PaymentMade.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/ValidateHwfReference.java
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/common/model/State.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/FromAwaitingHwfDecisionEventTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-365

#337 NFDIV-743
  src/functionalTest/resources/responses/response-applicant1-invite-applicant2.json
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenInviteApplicant2Test.java
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenLinkApplicant2Test.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorSubmitApplicationTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/testutil/CaseDataWireMock.java
  src/integrationTest/java/uk/gov/hmcts/divorce/testutil/IdamWireMock.java
  src/integrationTest/resources/wiremock/responses/about-to-submit-invite-applicant-2.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-link-applicant-2.json
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenInviteApplicant2.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenLinkApplicant2.java
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/common/model/UserRole.java
  src/main/java/uk/gov/hmcts/divorce/common/model/access/DefaultAccess.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/CcdAccessService.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenInviteApplicant2Test.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenLinkApplicant2Test.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/CcdAccessServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestConstants.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-337

#371 Add events for from awaiting payment
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAwaitingApplicantFromAwaitingHwf.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAwaitingApplicantFromAwaitingPayment.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHwfApplicationAcceptedFromAwaitingHwf.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHwfApplicationAcceptedFromAwaitingPayment.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPaymentMadeFromAwaitingHwf.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPaymentMadeFromAwaitingPayment.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPaymentRefGeneratedFromAwaitingPayment.java
  src/main/java/uk/gov/hmcts/divorce/common/model/State.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAwaitingApplicantFromAwaitingPaymentTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHwfApplicationAcceptedFromAwaitingPaymentTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPaymentMadeFromAwaitingPaymentTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPaymentRefGeneratedFromAwaitingPaymentTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/FromAwaitingHwfDecisionEventTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-371

#366 NFDIV-790: Event and state changes from Submitted state
  build.gradle
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueApplication.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPendingRejection.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRefundFromSubmitted.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRejected.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerWithdrawn.java
  src/main/java/uk/gov/hmcts/divorce/common/model/State.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPendingRejectionTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRefundFromSubmittedTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRejectedTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerWithdrawnTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/IssueApplicationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-366

#372 Make event classes as spring components and remove unused annotations
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAwaitingApplicantFromAwaitingHwf.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAwaitingApplicantFromAwaitingPayment.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAwaitingDocuments.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHwfApplicationAcceptedFromAwaitingHwf.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHwfApplicationAcceptedFromAwaitingPayment.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPaymentMadeFromAwaitingHwf.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPaymentMadeFromAwaitingPayment.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPaymentRefGeneratedFromAwaitingPayment.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-372

#374 Added validation for issue application and issue date
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueApplication.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/IssueApplicationService.java
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/common/model/access/CaseworkerAccess.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/CaseworkerIssueApplicationServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-374

#375 Add CAA access to organisation policy fields
  bin/add-roles.sh
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAwaitingApplicantFromAwaitingHwf.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAwaitingApplicantFromAwaitingPayment.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAwaitingDocuments.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHwfApplicationAcceptedFromAwaitingHwf.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHwfApplicationAcceptedFromAwaitingPayment.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueApplication.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPaymentMadeFromAwaitingHwf.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPaymentMadeFromAwaitingPayment.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPaymentRefGeneratedFromAwaitingPayment.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPendingRejection.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRefundFromSubmitted.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRejected.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadDocumentsAndSubmit.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerWithdrawn.java
  src/main/java/uk/gov/hmcts/divorce/ccd/NoFaultDivorce.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenAddPayment.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenLinkApplicant2.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplication.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenUpdateApplication.java
  src/main/java/uk/gov/hmcts/divorce/common/model/Solicitor.java
  src/main/java/uk/gov/hmcts/divorce/common/model/UserRole.java
  src/main/java/uk/gov/hmcts/divorce/common/model/access/CaseworkerAccess.java
  src/main/java/uk/gov/hmcts/divorce/common/model/access/DefaultAccess.java
  src/main/java/uk/gov/hmcts/divorce/common/model/access/OrganisationPolicyAccess.java
  src/main/java/uk/gov/hmcts/divorce/common/model/access/Permissions.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/ApplicantUpdateContactDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorCreateApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateContactDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateLanguage.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/VerifyMarriageCertificate.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-375

#377 Nfdiv 794: Events and states From "awaitingDocuments"
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerApplicantResponded.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHwfApplicationAccepted.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueApplication.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPaymentMade.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerReissue.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRejected.java
  src/main/java/uk/gov/hmcts/divorce/common/model/State.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerApplicantRespondedTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHwfApplicationAcceptedTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPaymentMadeTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerReissueTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/FromAwaitingHwfDecisionEventTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-377

#378 Added Prayer to solicitor submit journey and move legal conns to jurisdiction
  src/functionalTest/resources/responses/response-applicant1-help-with-fees.json
  src/functionalTest/resources/responses/response-applicant1-invite-applicant2.json
  src/functionalTest/resources/responses/response-applicant1-statement-of-truth.json
  src/functionalTest/resources/responses/response-caseworker-issue-application-about-to-submit.json
  src/functionalTest/resources/responses/response-payment-cancelled.json
  src/functionalTest/resources/responses/response-payment-in-progress.json
  src/functionalTest/resources/responses/response-payment-made-awaiting-documents.json
  src/functionalTest/resources/responses/response-payment-made.json
  src/functionalTest/resources/responses/response-solicitor-create-about-to-submit.json
  src/functionalTest/resources/responses/response-solicitor-submit-application-about-to-submit.json
  src/functionalTest/resources/responses/response-solicitor-update-about-to-submit.json
  src/integrationTest/resources/solicitor-create-about-to-submit-response.json
  src/integrationTest/resources/solicitor-update-about-to-submit-response.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-invite-applicant-2.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-link-applicant-2.json
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-help-with-fees.json
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-statement-of-truth.json
  src/main/java/uk/gov/hmcts/divorce/ccd/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/common/model/Jurisdiction.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/JurisdictionApplyForDivorce.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolStatementOfTruth.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueApplicationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-378

#376 Add state access for caseworker-caa
  build.gradle
  src/main/java/uk/gov/hmcts/divorce/common/model/State.java
  src/main/java/uk/gov/hmcts/divorce/common/model/access/CaseAccessAdministrator.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-376

#380 Added awaiting payment from awaiting hwf decision event
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAwaitingPayFromAwaitingHwf.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAwaitingPayFromAwaitingHwfTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-380

#381 Merge events
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAwaitingApplicantFromAwaitingHwf.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAwaitingApplicantFromAwaitingPayment.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAwaitingDocuments.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAwaitingApplicantFromAwaitingPaymentTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/FromAwaitingHwfDecisionEventTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-381

#382 Add SearchCasesResultFields
  build.gradle
  src/main/java/uk/gov/hmcts/divorce/ccd/search/SearchCasesResultFields.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-382

#367 Nfdiv 689 applicant2 email notification
  src/functionalTest/java/uk/gov/hmcts/divorce/citizen/CitizenInviteApplicant2Test.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-applicant1-invite-applicant2.json
  src/functionalTest/resources/responses/response-applicant1-invite-applicant2.json
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenInviteApplicant2Test.java
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/wiremock/responses/about-to-submit-invite-applicant-2.json
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-help-with-fees.json
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-statement-of-truth.json
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenInviteApplicant2.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationOutstandingActionNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSentForReviewApplicant1Notification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSentForReviewApplicant2Notification.java
  src/main/java/uk/gov/hmcts/divorce/common/model/State.java
  src/main/java/uk/gov/hmcts/divorce/common/validation/ValidationUtil.java
  src/main/java/uk/gov/hmcts/divorce/notification/CommonContent.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/java/uk/gov/hmcts/divorce/notification/NotificationConstants.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenInviteApplicant2Test.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationOutstandingActionNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSentForReviewApplicant1NotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSentForReviewApplicant2NotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/SaveAndSignOutNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestConstants.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-367

#385 Update email address field for app2 and tidy up
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-applicant1-invite-applicant2.json
  src/functionalTest/resources/responses/response-applicant1-invite-applicant2.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-invite-applicant-2.json
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-help-with-fees.json
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-statement-of-truth.json
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenInviteApplicant2.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSentForReviewApplicant2Notification.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenInviteApplicant2Test.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSentForReviewApplicant2NotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-385

#384 Add issue AOS event and IssuedAos state
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueAos.java
  src/main/java/uk/gov/hmcts/divorce/common/model/State.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueAosTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-384

#386 NFDIV-755: Add fields to CaseData for applicant 2 how court can contact
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-386

#389 Rename caseworker refund event class
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRefund.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRefundTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-389

#388 Add an event to allow caseworkers to change an application between joint and sole
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerChangeApplicationType.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerChangeApplicationTypeTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-388

#391 Rename IssueAOS -> AwaitingAos
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueAos.java
  src/main/java/uk/gov/hmcts/divorce/common/model/State.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-391

#390 Rename events
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAwaitingPayment.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPaymentRefGenerated.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAwaitingPaymentTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPaymentRefGeneratedTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-390

#392 NFDIV-754 move name change field into applicant model
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-issue-application-about-to-submit.json
  src/functionalTest/resources/responses/response-applicant1-help-with-fees.json
  src/functionalTest/resources/responses/response-applicant1-invite-applicant2.json
  src/functionalTest/resources/responses/response-applicant1-statement-of-truth.json
  src/functionalTest/resources/responses/response-caseworker-issue-application-about-to-submit.json
  src/functionalTest/resources/responses/response-payment-cancelled.json
  src/functionalTest/resources/responses/response-payment-in-progress.json
  src/functionalTest/resources/responses/response-payment-made-awaiting-documents.json
  src/functionalTest/resources/responses/response-payment-made.json
  src/functionalTest/resources/responses/response-set-language-preference.json
  src/functionalTest/resources/responses/response-solicitor-create-about-to-submit.json
  src/functionalTest/resources/responses/response-solicitor-submit-application-about-to-submit.json
  src/functionalTest/resources/responses/response-solicitor-submit-application.json
  src/functionalTest/resources/responses/response-solicitor-update-about-to-submit.json
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-app2-not-sol-rep-response.json
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-app2-sol-rep-response.json
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-error-response.json
  src/integrationTest/resources/solicitor-create-about-to-submit-response.json
  src/integrationTest/resources/solicitor-update-about-to-submit-response.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-invite-applicant-2.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-link-applicant-2.json
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-help-with-fees.json
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-statement-of-truth.json
  src/main/java/uk/gov/hmcts/divorce/common/model/Applicant.java
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-392

#394 Add caseworker note
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerAddNoteTest.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-add-notes.json
  src/functionalTest/resources/responses/response-caseworker-add-notes-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerAddNoteTest.java
  src/integrationTest/resources/caseworker-add-note-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAddNote.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/model/CaseNote.java
  src/main/java/uk/gov/hmcts/divorce/ccd/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/common/model/access/CaseworkerAndSuperUserAccess.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAddNoteTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-394

#397 add states
  src/main/java/uk/gov/hmcts/divorce/common/model/State.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-397

#398 NFDIV-953:Changes to title and cost pages
  src/main/java/uk/gov/hmcts/divorce/common/model/Applicant.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/Applicant2SolConfirmContactDetails.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-398

#399 NFDIV-953:Added summary and updated submit button label
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitDraftAos.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-399

#400 Add new notes to the top of the list and update list value ids
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAddNote.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAddNoteTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-400

#395 update case data name for financialOrder
  src/functionalTest/java/uk/gov/hmcts/divorce/testutil/FunctionalTestSuite.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-applicant1-invite-applicant2.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-applicant1-statement-of-truth.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-payment-cancelled.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-payment-in-progress.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-payment-made-awaiting-documents.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-payment-made.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-solicitor-draft-aos.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-solicitor-update.json
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-issue-application-about-to-submit.json
  src/functionalTest/resources/responses/response-applicant1-help-with-fees.json
  src/functionalTest/resources/responses/response-applicant1-invite-applicant2.json
  src/functionalTest/resources/responses/response-applicant1-statement-of-truth.json
  src/functionalTest/resources/responses/response-caseworker-issue-application-about-to-submit.json
  src/functionalTest/resources/responses/response-payment-cancelled.json
  src/functionalTest/resources/responses/response-payment-in-progress.json
  src/functionalTest/resources/responses/response-payment-made-awaiting-documents.json
  src/functionalTest/resources/responses/response-payment-made.json
  src/functionalTest/resources/responses/response-solicitor-create-about-to-submit.json
  src/functionalTest/resources/responses/response-solicitor-draft-aos-about-to-start.json
  src/functionalTest/resources/responses/response-solicitor-update-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorCreateApplicationTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorSubmitDraftAosTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorUpdateApplicationTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorUpdateContactDetailsTest.java
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-app2-not-sol-rep-response.json
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-app2-sol-rep-response.json
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-error-response.json
  src/integrationTest/resources/solicitor-create-about-to-submit-response.json
  src/integrationTest/resources/solicitor-update-about-to-submit-response.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-invite-applicant-2.json
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-help-with-fees.json
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-statement-of-truth-errors.json
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-statement-of-truth.json
  src/main/java/uk/gov/hmcts/divorce/ccd/search/CaseFieldsConstants.java
  src/main/java/uk/gov/hmcts/divorce/ccd/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/common/validation/ValidationUtil.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DraftApplicationTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/FinancialOrders.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolStatementOfTruth.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenInviteApplicant2Test.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DraftApplicationTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/RespondentSolicitorAosInvitationTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-395

#401 add second applicant to FinancialOrderFor enum
  src/main/java/uk/gov/hmcts/divorce/common/model/FinancialOrderFor.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-401

#393 Add scheduled task to submit issued cases for issue aos event
  build.gradle
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/CaseApiApplication.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/schedule/CaseworkerIssueAosTask.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/CcdCaseDataContentProvider.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/CcdConflictException.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/CcdManagementException.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/CcdSearchCaseException.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/CcdSearchService.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/CcdUpdateService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/schedule/CaseworkerIssueAosTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/CcdCaseDataContentProviderTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/CcdSearchServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/CcdUpdateServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-393

#405 Create HelpWithFees model
  src/functionalTest/resources/responses/response-applicant1-help-with-fees.json
  src/functionalTest/resources/responses/response-applicant1-invite-applicant2.json
  src/functionalTest/resources/responses/response-applicant1-statement-of-truth.json
  src/functionalTest/resources/responses/response-caseworker-add-notes-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-issue-application-about-to-submit.json
  src/functionalTest/resources/responses/response-payment-cancelled.json
  src/functionalTest/resources/responses/response-payment-in-progress.json
  src/functionalTest/resources/responses/response-payment-made-awaiting-documents.json
  src/functionalTest/resources/responses/response-payment-made.json
  src/functionalTest/resources/responses/response-set-language-preference.json
  src/functionalTest/resources/responses/response-solicitor-create-about-to-submit.json
  src/functionalTest/resources/responses/response-solicitor-draft-aos-about-to-start.json
  src/functionalTest/resources/responses/response-solicitor-submit-application-about-to-submit.json
  src/functionalTest/resources/responses/response-solicitor-submit-application.json
  src/functionalTest/resources/responses/response-solicitor-update-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplicationTest.java
  src/integrationTest/resources/caseworker-add-note-response.json
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-app2-not-sol-rep-response.json
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-app2-sol-rep-response.json
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-error-response.json
  src/integrationTest/resources/solicitor-create-about-to-submit-response.json
  src/integrationTest/resources/solicitor-update-about-to-submit-response.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-invite-applicant-2.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-link-applicant-2.json
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-help-with-fees.json
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-statement-of-truth.json
  src/main/java/uk/gov/hmcts/divorce/ccd/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplication.java
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/common/model/HelpWithFees.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/HelpWithFeesPage.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-405

#406 Move financial order to Applicant, relax tests
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerAddNoteTest.java
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationTest.java
  src/functionalTest/java/uk/gov/hmcts/divorce/citizen/CitizenAddPaymentTest.java
  src/functionalTest/java/uk/gov/hmcts/divorce/citizen/CitizenInviteApplicant2Test.java
  src/functionalTest/java/uk/gov/hmcts/divorce/citizen/CitizenSubmitApplicationTest.java
  src/functionalTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorCreateApplicationTest.java
  src/functionalTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorMidEventCallbackTest.java
  src/functionalTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorSubmitApplicationTest.java
  src/functionalTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorSubmitDraftAosTest.java
  src/functionalTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorUpdateApplicationTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenInviteApplicant2Test.java
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenLinkApplicant2Test.java
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplicationTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorCreateApplicationTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorSubmitDraftAosTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorUpdateApplicationTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorUpdateContactDetailsTest.java
  src/main/java/uk/gov/hmcts/divorce/ccd/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/common/model/Applicant.java
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/common/validation/ValidationUtil.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DraftApplicationTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/FinancialOrders.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolStatementOfTruth.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DraftApplicationTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/RespondentSolicitorAosInvitationTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-406

#403 Nfdiv 953: Changes to overwrite default labels respondent solicitor labels
  build.gradle
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/Applicant2SolConfirmContactDetails.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-403

#408 NFDIV-966: Rename invite email address and respondent user id fields
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-applicant1-invite-applicant2.json
  src/functionalTest/resources/responses/response-applicant1-invite-applicant2.json
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenLinkApplicant2Test.java
  src/integrationTest/resources/wiremock/responses/about-to-submit-invite-applicant-2.json
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-help-with-fees.json
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-statement-of-truth.json
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenLinkApplicant2.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSentForReviewApplicant2Notification.java
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/CcdAccessService.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenLinkApplicant2Test.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-408

#409 Add Application, AcknowledgementOfService, ConditionalOrder and FinalOrder models
  .editorconfig
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerUploadDocumentsAndSubmitTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenAddPaymentTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplicationTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorCreateApplicationTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorSubmitDraftAosTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorUpdateApplicationTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorUpdateContactDetailsTest.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueApplication.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadDocumentsAndSubmit.java
  src/main/java/uk/gov/hmcts/divorce/ccd/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenAddPayment.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplication.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationOutstandingActionNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSubmittedNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/model/AcknowledgementOfService.java
  src/main/java/uk/gov/hmcts/divorce/common/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/common/model/ConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/model/FinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/model/State.java
  src/main/java/uk/gov/hmcts/divorce/common/validation/ValidationUtil.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DraftApplicationTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/RespondentSolicitorAosInvitationTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitDraftAos.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/VerifyMarriageCertificate.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/Applicant2SolReviewApplicant1Application.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/ClaimForCosts.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/HelpWithFeesPage.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/JurisdictionApplyForDivorce.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/MarriageCertificateDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/MarriageIrretrievablyBroken.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/OtherLegalProceedings.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutApplicant1.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolPayAccount.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolPayment.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolPaymentSummary.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolStatementOfTruth.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitApplicationService.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/updater/ClaimsCost.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadDocumentsAndSubmitTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenAddPaymentTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationOutstandingActionNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSubmittedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/validation/CaseValidationTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DraftApplicationTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/RespondentSolicitorAosInvitationTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/page/MarriageIrretrievablyBrokenTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/updater/ClaimsCostTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-409

#413 Added null check for app2 financial order as it may not set always
  src/main/java/uk/gov/hmcts/divorce/document/content/MiniApplicationTemplateContent.java
  src/test/java/uk/gov/hmcts/divorce/document/content/MiniApplicationTemplateContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-413

#410 Create case invite model
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenLinkApplicant2Test.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/updater/RespondentSolicitorAosInvitation.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenInviteApplicant2.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenLinkApplicant2.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSentForReviewApplicant2Notification.java
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseInvite.java
  src/main/java/uk/gov/hmcts/divorce/document/content/RespondentSolicitorAosInvitationTemplateContent.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/updater/RespondentSolicitorAosInvitationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenInviteApplicant2Test.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenLinkApplicant2Test.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-410

#414 NFDIV-976: Create event for Applicant 2 update case
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant2UpdateApplication.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant2UpdateApplicationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-414
