Repository hmcts/nfdiv-case-api, pull requests merged in 2021-05, with the labels that each got.

#208 Claim costs value needs to added as boolean for docmosis
  src/main/java/uk/gov/hmcts/divorce/document/content/DraftPetitionTemplateContent.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DraftPetitionTemplateContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-208

#210 Fix field wording issue
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-210

#182 NFDIV-616: implementation of validation
  src/functionalTest/java/uk/gov/hmcts/divorce/citizen/PetitionerStatementOfTruthTest.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-petitoner-statement-of-truth.json
  src/functionalTest/resources/responses/ccd-callback-casedata-petitoner-statement-of-truth.json
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/PetitionerStatementOfTruthTest.java
  src/integrationTest/resources/wiremock/responses/petitioner-about-to-start-statement-of-truth-errors.json
  src/integrationTest/resources/wiremock/responses/petitioner-about-to-start-statement-of-truth.json
  src/main/java/uk/gov/hmcts/divorce/citizen/event/PetitionerStatementOfTruth.java
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseState.java
  src/main/java/uk/gov/hmcts/divorce/common/model/State.java
  src/main/java/uk/gov/hmcts/divorce/common/validation/JurisdictionConnectionsValidation.java
  src/main/java/uk/gov/hmcts/divorce/common/validation/ValidationUtil.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/PetitionerStatementOfTruthTest.java
  src/test/java/uk/gov/hmcts/divorce/common/validation/CaseValidationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/validation/JurisdictionConnectionsValidationTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-182

#212 Not sure if we need the serialiser / deserialiser
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-212

#211 Use generator enum helper method for boolean conversion
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorCreateTest.java
  src/functionalTest/java/uk/gov/hmcts/divorce/testutil/FunctionalTestSuite.java
  src/functionalTest/resources/responses/ccd-callback-solicitor-create-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorCreateTest.java
  src/integrationTest/resources/solicitor-create-about-to-submit-response.json
  src/main/java/uk/gov/hmcts/divorce/ccd/search/CaseFieldsConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DraftPetitionTemplateContent.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DraftPetitionTemplateContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-211

#194 Create dummy payment and add to callback
  src/functionalTest/resources/responses/ccd-callback-submit-petition.json
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/document/model/DivorceDocument.java
  src/main/java/uk/gov/hmcts/divorce/payment/model/Payment.java
  src/main/java/uk/gov/hmcts/divorce/payment/model/PaymentStatus.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorStatementOfTruthPaySubmit.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitPetitionService.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorStatementOfTruthPaySubmitTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-194

#209 NFDIV-608: Rename fields
  config/pmd/ruleset.xml
  src/main/java/uk/gov/hmcts/divorce/ccd/NoFaultDivorce.java
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DraftPetitionTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/RespondentServiceDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutThePetitioner.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DraftPetitionTemplateContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-209

#213 Account for leap years
  src/functionalTest/java/uk/gov/hmcts/divorce/citizen/PetitionerStatementOfTruthTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/PetitionerStatementOfTruthTest.java
  src/main/java/uk/gov/hmcts/divorce/common/validation/ValidationUtil.java
  src/test/java/uk/gov/hmcts/divorce/common/validation/CaseValidationTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-213

#215 Update language preference question
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-215

#216 chore(NFDIV-305): Deduplicate existing doc fields
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/common/model/SupportingDocumentType.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-216

#214 Nfdiv 657 remove created date field
  src/functionalTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorCreateTest.java
  src/functionalTest/resources/responses/ccd-callback-solicitor-create-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorCreateTest.java
  src/integrationTest/resources/solicitor-create-about-to-submit-response.json
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/common/updater/CaseDataContext.java
  src/main/java/uk/gov/hmcts/divorce/document/DocAssemblyService.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DraftPetitionTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorCreate.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorCreatePetitionService.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/updater/MiniPetitionDraft.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/updater/SolicitorCourtDetails.java
  src/test/java/uk/gov/hmcts/divorce/document/DocAssemblyServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DraftPetitionTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorCreateTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorCreatePetitionServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/updater/MiniPetitionDraftTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/updater/SolicitorCourtDetailsTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-214

#217 Migrate Payment away from MoneyGBP to Integer for paymentAmount
  src/functionalTest/resources/responses/ccd-callback-submit-petition.json
  src/main/java/uk/gov/hmcts/divorce/payment/model/Payment.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorStatementOfTruthPaySubmit.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitPetitionService.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorStatementOfTruthPaySubmitTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-217

#220 Configure jackson for deserializing generic types
  build.gradle
  src/main/java/uk/gov/hmcts/divorce/common/config/jackson/JacksonConfiguration.java
  src/main/java/uk/gov/hmcts/divorce/document/model/DivorceDocument.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-220

#219 remove controller
  src/main/java/uk/gov/hmcts/divorce/common/controller/RootController.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-219

#218 update CCD lib
  build.gradle
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CreateDraftTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/PatchCaseTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/PaymentMadeTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/PetitionerStatementOfTruthTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/SaveAndCloseTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorCreateTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorStatementOfTruthPaySubmitTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateContactDetailsTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateLanguageTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-218

#221 tidy classes
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/PaymentMadeTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/SaveAndCloseTest.java
  src/main/java/uk/gov/hmcts/divorce/common/config/advice/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/divorce/common/config/interceptors/RequestInterceptor.java
  src/main/java/uk/gov/hmcts/divorce/common/config/interceptors/UnAuthorisedServiceException.java
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/document/model/DivorceDocument.java
  src/main/java/uk/gov/hmcts/divorce/document/model/DocumentType.java
  src/main/java/uk/gov/hmcts/divorce/notification/NotificationService.java
  src/main/java/uk/gov/hmcts/divorce/notification/exception/NotificationException.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/updater/MiniPetitionDraft.java
  src/test/java/uk/gov/hmcts/divorce/common/config/advice/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/divorce/notification/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/updater/MiniPetitionDraftTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-221

#222 Validate state on payment made
  config/pmd/ruleset.xml
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/PaymentMadeTest.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/PaymentMade.java
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseState.java
  src/main/java/uk/gov/hmcts/divorce/common/model/State.java
  src/main/java/uk/gov/hmcts/divorce/payment/model/Payment.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/PaymentMadeTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-222

#224 Add functional test
  src/functionalTest/java/uk/gov/hmcts/divorce/citizen/PaymentMadeTest.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-payment-made.json
  src/functionalTest/resources/responses/ccd-callback-casedata-payment-made.json
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-224

#225 NFDIV 602 - Add validation for file types on file upload
  src/main/java/uk/gov/hmcts/divorce/document/model/DivorceDocument.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-225

#226 Remove draft petition after case submission
  charts/nfdiv-case-api/Chart.yaml
  charts/nfdiv-case-api/values.yaml
  config/pmd/ruleset.xml
  src/functionalTest/resources/application.yaml
  src/functionalTest/resources/responses/ccd-callback-solicitor-submit-petition-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorStatementOfTruthPaySubmitTest.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/CaseApiApplication.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentManagementClient.java
  src/main/java/uk/gov/hmcts/divorce/document/model/DivorceDocument.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorStatementOfTruthPaySubmit.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/DraftPetitionRemovalService.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitPetitionService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorStatementOfTruthPaySubmitTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/DraftPetitionRemovalServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitPetitionServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-226

#228 Updates after PO review
  src/main/java/uk/gov/hmcts/divorce/notification/CommonContent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/notification/CommonContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-228

#231 Update DocumentType list
  src/functionalTest/resources/responses/ccd-callback-solicitor-create-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorStatementOfTruthPaySubmitTest.java
  src/integrationTest/resources/solicitor-create-about-to-submit-response.json
  src/main/java/uk/gov/hmcts/divorce/document/model/DocumentType.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/DraftPetitionRemovalService.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/updater/MiniPetitionDraft.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/DraftPetitionRemovalServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitPetitionServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/updater/MiniPetitionDraftTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-231

#230 chore(NFDIV-656): Remove isInternational fields & use formatted AddressGlobalUK only
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-230

#234 NFDIV-636 Add application type field
  src/main/java/uk/gov/hmcts/divorce/common/model/ApplicationType.java
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolHowDoYouWantToApplyForDivorce.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-234

#235 Validate solicitor organisation as mid event callback in about the solicitor page
  build.gradle
  charts/nfdiv-case-api/Chart.yaml
  charts/nfdiv-case-api/values.yaml
  src/functionalTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorCreateTest.java
  src/functionalTest/java/uk/gov/hmcts/divorce/testutil/TestResourceUtil.java
  src/functionalTest/resources/application.yaml
  src/functionalTest/resources/responses/ccd-callback-solicitor-create-mid-event.json
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorCreateTest.java
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/solicitor-create-mid-event-error-response.json
  src/integrationTest/resources/solicitor-create-mid-event-response.json
  src/main/java/uk/gov/hmcts/divorce/CaseApiApplication.java
  src/main/java/uk/gov/hmcts/divorce/ccd/search/CaseFieldsConstants.java
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/client/organisation/OrganisationClient.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/client/organisation/OrganisationsResponse.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorCreate.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutTheSolicitor.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorCreatePetitionService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorCreateTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorStatementOfTruthPaySubmitTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorCreatePetitionServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestConstants.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-235

#195 NFDIV-633
  config/pmd/ruleset.xml
  src/functionalTest/java/uk/gov/hmcts/divorce/citizen/PaymentMadeTest.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-payment-made-awaiting-documents.json
  src/functionalTest/resources/responses/ccd-callback-casedata-payment-made-awaiting-documents.json
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/PaymentMadeTest.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/PaymentMade.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationOutstandingActionNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/model/State.java
  src/main/java/uk/gov/hmcts/divorce/common/validation/ValidationUtil.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/java/uk/gov/hmcts/divorce/notification/NotificationConstants.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/event/PaymentMadeTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationOutstandingActionNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/validation/CaseValidationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-195

#239 NFDIV-666: resolve typo
  src/main/java/uk/gov/hmcts/divorce/common/model/State.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolHowDoYouWantToApplyForDivorce.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-239

#242 fix reload command
  build.gradle
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-242

#246 NFDIV-710: Change the formatting and label names on Doc Upload
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/UploadMarriageCertificate.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-246

#251 Add banner images for ccd
  resources/image/SolicitorNfdPreviewBanner.jpg
  resources/image/SolicitorNfdPreviewJointApplicationBanner.jpg
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-251

#245 Remove duplicate code tidy integration tests
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorCreateTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorStatementOfTruthPaySubmitTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorUpdateTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/testutil/CaseDataWireMock.java
  src/integrationTest/java/uk/gov/hmcts/divorce/testutil/DocAssemblyWireMock.java
  src/integrationTest/java/uk/gov/hmcts/divorce/testutil/DocManagementStoreWireMock.java
  src/integrationTest/java/uk/gov/hmcts/divorce/testutil/FeesWireMock.java
  src/integrationTest/java/uk/gov/hmcts/divorce/testutil/IdamWireMock.java
  src/integrationTest/java/uk/gov/hmcts/divorce/testutil/PrdOrganisationWireMock.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitApplicationService.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/updater/SolicitorSubmitNotification.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/updater/SolicitorCourtDetailsTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/updater/SolicitorSubmitNotificationsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-245

#248 Move validation of jurisdiction into Jurisdiction model
  build.gradle
  src/functionalTest/resources/responses/ccd-callback-casedata-applicant1-statement-of-truth.json
  src/functionalTest/resources/responses/ccd-callback-casedata-payment-made-awaiting-documents.json
  src/functionalTest/resources/responses/ccd-callback-casedata-payment-made.json
  src/functionalTest/resources/responses/ccd-callback-set-language-preference.json
  src/functionalTest/resources/responses/ccd-callback-solicitor-create-about-to-submit.json
  src/functionalTest/resources/responses/ccd-callback-solicitor-create-mid-event.json
  src/functionalTest/resources/responses/ccd-callback-solicitor-submit-application-about-to-submit.json
  src/functionalTest/resources/responses/ccd-callback-solicitor-update-about-to-submit.json
  src/functionalTest/resources/responses/ccd-callback-submit-application.json
  src/integrationTest/resources/solicitor-create-about-to-submit-response.json
  src/integrationTest/resources/solicitor-mid-event-error-response.json
  src/integrationTest/resources/solicitor-mid-event-response.json
  src/integrationTest/resources/solicitor-update-about-to-submit-response.json
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/common/model/Jurisdiction.java
  src/main/java/uk/gov/hmcts/divorce/common/validation/JurisdictionConnectionsValidation.java
  src/main/java/uk/gov/hmcts/divorce/common/validation/ValidationUtil.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/Applicant1StatementOfTruthTest.java
  src/test/java/uk/gov/hmcts/divorce/common/model/JurisdictionTest.java
  src/test/java/uk/gov/hmcts/divorce/common/validation/CaseValidationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/validation/JurisdictionConnectionsValidationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-248

#253 NFDIV-686 Remove redundant labels
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/ClaimForCosts.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/FinancialOrders.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/JurisdictionApplyForDivorce.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/MarriageCertificateDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/OtherLegalProceedings.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutApplicant1.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutApplicant2.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutTheSolicitor.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-253

#254 NFDIV-703 rename marriage fields
  config/pmd/ruleset.xml
  package.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-payment-made-awaiting-documents.json
  src/functionalTest/resources/responses/ccd-callback-casedata-applicant1-statement-of-truth.json
  src/functionalTest/resources/responses/ccd-callback-casedata-payment-made-awaiting-documents.json
  src/functionalTest/resources/responses/ccd-callback-casedata-payment-made.json
  src/functionalTest/resources/responses/ccd-callback-set-language-preference.json
  src/functionalTest/resources/responses/ccd-callback-solicitor-create-about-to-submit.json
  src/functionalTest/resources/responses/ccd-callback-solicitor-create-mid-event.json
  src/functionalTest/resources/responses/ccd-callback-solicitor-submit-application-about-to-submit.json
  src/functionalTest/resources/responses/ccd-callback-solicitor-update-about-to-submit.json
  src/functionalTest/resources/responses/ccd-callback-submit-application.json
  src/integrationTest/resources/solicitor-create-about-to-submit-response.json
  src/integrationTest/resources/solicitor-mid-event-error-response.json
  src/integrationTest/resources/solicitor-mid-event-response.json
  src/integrationTest/resources/solicitor-update-about-to-submit-response.json
  src/main/java/uk/gov/hmcts/divorce/ccd/NoFaultDivorce.java
  src/main/java/uk/gov/hmcts/divorce/ccd/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationOutstandingActionNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/common/model/MarriageDetails.java
  src/main/java/uk/gov/hmcts/divorce/common/validation/ValidationUtil.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DraftApplicationTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/MarriageCertificateDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutApplicant1.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/Applicant1StatementOfTruthTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationOutstandingActionNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-254

#256 NFDIV-711 Prevent progress if marriage not broken
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/MarriageIrretrievablyBroken.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/page/MarriageIrretrievablyBrokenTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-256

#257 NFDIV-715: Rename field labels
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/common/model/Jurisdiction.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-257

#259 Add applicationType to case tab
  src/main/java/uk/gov/hmcts/divorce/ccd/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-259

#263 NFDIV 693: Dummy Payment Fix
  src/functionalTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorSubmitApplicationTest.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-payment-made-awaiting-documents.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-payment-made.json
  src/functionalTest/resources/request/casedata/ccd-callback-solicitor-submit-application-about-to-submit-invalid.json
  src/functionalTest/resources/request/casedata/ccd-callback-solicitor-submit-application-about-to-submit.json
  src/functionalTest/resources/responses/ccd-callback-casedata-payment-made-awaiting-documents.json
  src/functionalTest/resources/responses/ccd-callback-casedata-payment-made.json
  src/functionalTest/resources/responses/ccd-callback-solicitor-submit-application-about-to-submit-invalid.json
  src/functionalTest/resources/responses/ccd-callback-solicitor-submit-application-about-to-submit.json
  src/functionalTest/resources/responses/ccd-callback-submit-application.json
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/PaymentMadeTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorStatementOfTruthPaySubmitTest.java
  src/main/java/uk/gov/hmcts/divorce/common/validation/ValidationUtil.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorStatementOfTruthPaySubmit.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/PaymentMadeTest.java
  src/test/java/uk/gov/hmcts/divorce/common/validation/CaseValidationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorStatementOfTruthPaySubmitTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-263

#265 Replaced case data map with model object
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/Applicant1StatementOfTruthTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/PaymentMadeTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/SaveAndCloseTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/Applicant2ServiceDetailsTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolUpdateContactDetailsTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorCreateTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorStatementOfTruthPaySubmitTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorUpdateTest.java
  src/test/java/uk/gov/hmcts/divorce/document/DocAssemblyServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-265

#266 Move service logic to handler as it is more appropriate in handler
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorCreate.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/Applicant2ServiceDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorCreateApplicationService.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorCreateTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorCreateApplicationServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-266

#258 NFDIV-714: Add CaseEventFieldLabel and CaseEventHintText as required
  src/main/java/uk/gov/hmcts/divorce/ccd/NoFaultDivorce.java
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/MarriageCertificateDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutApplicant1.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutApplicant2.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutTheSolicitor.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolHowDoYouWantToApplyForDivorce.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-258

#255 Set banner on solicitor create event pages
  build.gradle
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateLanguage.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/Applicant2ServiceDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/ClaimForCosts.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/CommonFieldSettings.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/FinancialOrders.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/JurisdictionApplyForDivorce.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/LanguagePreference.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/MarriageCertificateDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/MarriageIrretrievablyBroken.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/OtherLegalProceedings.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutApplicant1.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutApplicant2.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutTheSolicitor.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolHowDoYouWantToApplyForDivorce.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/UploadMarriageCertificate.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-255

#270 Nfdiv 707 update states
  src/functionalTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorSubmitApplicationTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorStatementOfTruthPaySubmitTest.java
  src/integrationTest/resources/wiremock/responses/about-to-submit-statement-of-truth-error.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-statement-of-truth-payment-error.json
  src/main/java/uk/gov/hmcts/divorce/ccd/NoFaultDivorce.java
  src/main/java/uk/gov/hmcts/divorce/common/model/State.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorCreate.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorStatementOfTruthPaySubmit.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdate.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateLanguage.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitApplicationService.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorStatementOfTruthPaySubmitTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitApplicationServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-270

#271 Add horizontal rule image
  resources/image/LabelDarkHorizontalRule.png
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-271

#274 Add layout changes to applicant 1 solictor create page
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/CommonFieldSettings.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutApplicant1.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-274

#272 Remove midevent callback for setting organisation contact and set it via onsubmit callback
  Jenkinsfile_CNP
  build.gradle
  config/pmd/ruleset.xml
  src/functionalTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorCreateTest.java
  src/functionalTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorSubmitApplicationTest.java
  src/functionalTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorUpdateTest.java
  src/functionalTest/java/uk/gov/hmcts/divorce/testutil/FunctionalTestSuite.java
  src/functionalTest/resources/application.yaml
  src/functionalTest/resources/request/casedata/ccd-callback-casedata.json
  src/functionalTest/resources/responses/response-solicitor-create-about-to-submit.json
  src/functionalTest/resources/responses/response-solicitor-create-mid-event.json
  src/functionalTest/resources/responses/response-solicitor-submit-application.json
  src/functionalTest/resources/responses/response-solicitor-update-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/Applicant2ServiceDetailsTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorCreateTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorStatementOfTruthPaySubmitTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorUpdateTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/testutil/DocAssemblyWireMock.java
  src/integrationTest/java/uk/gov/hmcts/divorce/testutil/DocManagementStoreWireMock.java
  src/integrationTest/java/uk/gov/hmcts/divorce/testutil/PrdOrganisationWireMock.java
  src/integrationTest/resources/sol-app2-service-details-mid-event-error-response.json
  src/integrationTest/resources/sol-not-represented-app2-mid-event-error-response.json
  src/integrationTest/resources/solicitor-app2-service-details-mid-event-response.json
  src/integrationTest/resources/solicitor-create-about-to-submit-response.json
  src/integrationTest/resources/solicitor-update-about-to-submit-response.json
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/document/DocAssemblyService.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DraftApplicationTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/client/organisation/OrganisationClient.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorCreate.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/Applicant2ServiceDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorCreateApplicationService.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/updater/MiniApplicationDraft.java
  src/test/java/uk/gov/hmcts/divorce/document/DocAssemblyServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DraftApplicationTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorCreateTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorCreateApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestConstants.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-272

#275 NFDIV 717
  build.gradle
  src/main/java/uk/gov/hmcts/divorce/ccd/NoFaultDivorce.java
  src/main/java/uk/gov/hmcts/divorce/ccd/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-275

#278 Added app2 sol address field back and removed explicit call to ref data
  Jenkinsfile_CNP
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorCreateTest.java
  src/functionalTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorUpdateTest.java
  src/functionalTest/resources/application.yaml
  src/functionalTest/resources/responses/response-solicitor-create-about-to-submit.json
  src/functionalTest/resources/responses/response-solicitor-update-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorCreateTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorUpdateTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/testutil/PrdOrganisationWireMock.java
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/document/DocAssemblyService.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DraftApplicationTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/client/organisation/OrganisationClient.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/Applicant2ServiceDetails.java
  src/test/java/uk/gov/hmcts/divorce/document/DocAssemblyServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DraftApplicationTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestConstants.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-278

#277 NFDIV-717: Add showCondition for applicant1SolicitorRepresented
  src/main/java/uk/gov/hmcts/divorce/ccd/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-277

#280 move screener question to page 3
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorCreateApplication.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-280

#283 Added applicant 1 update contact details event
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/ApplicantUpdateContactDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/Applicant1UpdateContactDetails.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/ApplicantUpdateContactDetailsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-283

#281 NFDIV-688
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorCreateApplicationTest.java
  src/integrationTest/resources/solicitor-create-about-to-submit-response-legal-proceedings.json
  src/main/java/uk/gov/hmcts/divorce/ccd/NoFaultDivorce.java
  src/main/java/uk/gov/hmcts/divorce/ccd/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/common/model/LegalProceeding.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DraftApplicationTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/OtherLegalProceedings.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-281

#287 NFDIV-746: Make Account Number Optional
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolPayAccount.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-287

#286 Add awaitingDocuments caseworker event
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAwaitingDocuments.java
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAwaitingDocumentsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-286

#288 RDM-609: Alter label fields on sol summary and sol statement of truth
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolStatementOfTruth.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolSummary.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-288

#282 NFDIV-695 Add jurisdiction connection
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-applicant1-statement-of-truth.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-payment-made-awaiting-documents.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-payment-made.json
  src/functionalTest/resources/responses/response-applicant1-statement-of-truth.json
  src/functionalTest/resources/responses/response-payment-made-awaiting-documents.json
  src/functionalTest/resources/responses/response-payment-made.json
  src/main/java/uk/gov/hmcts/divorce/common/model/Jurisdiction.java
  src/main/java/uk/gov/hmcts/divorce/common/model/JurisdictionConnections.java
  src/test/java/uk/gov/hmcts/divorce/common/model/JurisdictionTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-282

#296 Added validate hwf code event with about to submit callback
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/event/ValidateHwfReferenceTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenAddPaymentTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorSubmitApplicationTest.java
  src/integrationTest/resources/caseworker/validate-hwf-code-awaiting-docs.json
  src/integrationTest/resources/caseworker/validate-hwf-code-awaiting-pay-response.json
  src/integrationTest/resources/caseworker/validate-hwf-code-error.json
  src/integrationTest/resources/caseworker/validate-hwf-code-submitted-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/ValidateHwfReference.java
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/common/model/State.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitApplicationService.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestConstants.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-296

#297 Enable func test which was disabled due to callback going to non staging pod of case api
  src/functionalTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorSubmitApplicationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-297

#294 Nfdiv 731 caseworker attach documents and submit
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerUploadDocumentsAndSubmitTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorSubmitApplicationTest.java
  src/integrationTest/resources/caseworker-document-upload-about-to-start-response.json
  src/integrationTest/resources/caseworker-document-upload-about-to-submit-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAwaitingDocuments.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadDocumentsAndSubmit.java
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/common/model/access/CaseworkerAccess.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorCreateApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateApplication.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadDocumentsAndSubmitTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-294

#300 NFDIV-695 Rename joint jurisdiction connection
  src/main/java/uk/gov/hmcts/divorce/common/model/Jurisdiction.java
  src/main/java/uk/gov/hmcts/divorce/common/model/JurisdictionConnections.java
  src/test/java/uk/gov/hmcts/divorce/common/model/JurisdictionTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-300

#302 Set order summary and pending payment for citizen submit event callback
  src/functionalTest/java/uk/gov/hmcts/divorce/citizen/CitizenSubmitApplicationTest.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-payment-made-awaiting-documents.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-payment-made.json
  src/functionalTest/resources/request/casedata/ccd-callback-solicitor-submit-application-about-to-submit.json
  src/functionalTest/resources/responses/response-applicant1-statement-of-truth.json
  src/functionalTest/resources/responses/response-payment-made-awaiting-documents.json
  src/functionalTest/resources/responses/response-payment-made.json
  src/functionalTest/resources/responses/response-solicitor-submit-application-about-to-submit.json
  src/functionalTest/resources/responses/response-solicitor-submit-application.json
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenAddPaymentTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplicationTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorSubmitApplicationTest.java
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-statement-of-truth.json
  src/integrationTest/resources/wiremock/responses/issue-fees-response.json
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplication.java
  src/main/java/uk/gov/hmcts/divorce/common/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/common/validation/ValidationUtil.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolPaymentSummary.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadDocumentsAndSubmitTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenAddPaymentTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/validation/CaseValidationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-302

#261 adding welsh template for save and close
  src/functionalTest/java/uk/gov/hmcts/divorce/citizen/CitizenSaveAndCloseTest.java
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-261
