Repository hmcts/nfdiv-case-api, pull requests merged in 2021-08, with the labels that each got.

#552 Generate documents generated instead of harcoded document links
  src/functionalTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorUpdateApplicationTest.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-solicitor-update.json
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-552

#548 Updated AOS event name and description and removed hint from general orders
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/GeneralOrder.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressCaseToAosOverdue.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-548

#550 Added caseworker upload document event
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadDocument.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseworkerCourtAdminWithSolicitorAccess.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/document/model/CaseworkerUploadedDocument.java
  src/main/java/uk/gov/hmcts/divorce/document/model/CaseworkerUploadedDocumentType.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadDocumentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-550

#551 Fix aos overdue scheduled task
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressCasesToAosOverdueTask.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressCasesToAosOverdueTaskTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-551

#553 Added Draft state access for system update user on AAT
  src/main/java/uk/gov/hmcts/divorce/common/AddSystemUpdateRole.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/NoFaultDivorce.java
  src/test/java/uk/gov/hmcts/divorce/common/config/AddSystemUpdateRoleTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/NoFaultDivorceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-553

#544 NFDIV-867: To general order add field - Name of Legal Advisor
  src/functionalTest/resources/request/casedata/ccd-callback-general-order-about-to-submit.json
  src/functionalTest/resources/request/casedata/ccd-callback-general-order.json
  src/functionalTest/resources/responses/response-caseworker-general-order-mid-event.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerCreateGeneralOrderTest.java
  src/integrationTest/resources/caseworker-general-order-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/CreateGeneralOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/GeneralOrder.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-544

#559 Removed claim costs from solicitor journey
  src/functionalTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorCreateApplicationTest.java
  src/functionalTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorMidEventCallbackTest.java
  src/functionalTest/java/uk/gov/hmcts/divorce/testutil/FunctionalTestSuite.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-solicitor-draft-aos.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-solicitor-update.json
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-issue-application-about-to-submit.json
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-reject-application-about-to-submit.json
  src/functionalTest/resources/request/casedata/ccd-callback-solicitor-submit-application-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-issue-application-about-to-submit.json
  src/functionalTest/resources/responses/response-solicitor-create-about-to-submit.json
  src/functionalTest/resources/responses/response-solicitor-draft-aos-about-to-start.json
  src/functionalTest/resources/responses/response-solicitor-submit-application-about-to-submit.json
  src/functionalTest/resources/responses/response-solicitor-update-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerRejectedTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorCreateApplicationTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorSubmitUpdateDraftAosTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorUpdateApplicationTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorUpdateContactDetailsTest.java
  src/integrationTest/resources/caseworker-general-order-response.json
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-app2-not-sol-rep-response.json
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-app2-sol-rep-response.json
  src/integrationTest/resources/set-language-preference-response.json
  src/integrationTest/resources/solicitor-create-about-to-submit-response.json
  src/integrationTest/resources/solicitor-update-about-to-submit-response.json
  src/integrationTest/resources/wiremock/responses/dg-assembly-response.json
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ClaimsCostFrom.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/search/CaseFieldsConstants.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisTemplateConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DraftApplicationTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorCreateApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/ClaimForCosts.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolStatementOfTruth.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorCreateApplicationService.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/task/ClaimsCost.java
  src/test/java/uk/gov/hmcts/divorce/document/content/CitizenRespondentAosInvitationTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DraftApplicationTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/RespondentSolicitorAosInvitationTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorCreateApplicationApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/task/ClaimsCostTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-559

#560 Use correct document obect and type for document upload event
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-560

#557 Refactor payments
  config/pmd/ruleset.xml
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-payment-cancelled.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-payment-in-progress.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-payment-made-awaiting-documents.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-payment-made.json
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-issue-application-about-to-submit.json
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-reject-application-about-to-submit.json
  src/functionalTest/resources/responses/response-applicant1-statement-of-truth.json
  src/functionalTest/resources/responses/response-caseworker-issue-application-about-to-submit.json
  src/functionalTest/resources/responses/response-payment-cancelled.json
  src/functionalTest/resources/responses/response-payment-in-progress.json
  src/functionalTest/resources/responses/response-payment-made-awaiting-documents.json
  src/functionalTest/resources/responses/response-payment-made.json
  src/functionalTest/resources/responses/response-solicitor-submit-application-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenAddPaymentTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorSubmitApplicationTest.java
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-app2-not-sol-rep-response.json
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-app2-sol-rep-response.json
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-statement-of-truth.json
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenAddPayment.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplication.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/validation/ValidationUtil.java
  src/main/java/uk/gov/hmcts/divorce/payment/model/Payment.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitApplicationService.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadDocumentsAndSubmitTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenAddPaymentTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/validation/CaseValidationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-557

#561 Renamed personal service to solicitor service
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/notification/SolicitorServiceNotification.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SendAosNotifications.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SendAosPack.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SetDueDate.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ServiceMethod.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolStatementOfTruth.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/notification/SolicitorServiceNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/SendAosNotificationsTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/SendAosPackTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/SetDueDateTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-561

#564 Added general application receieved for caseworkers
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralApplicationReceived.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralApplicationReceivedTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-564

#562 NFDIV-916: Solicitor sole journey, the respondent middle name should …
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutApplicant2.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-562

#565 Removed preview banner for solicitor journey
  resources/image/SolicitorNfdPreviewBanner.jpg
  resources/image/SolicitorNfdPreviewJointApplicationBanner.jpg
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/ScheduledForCreate.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAddNote.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateApplicant1Language.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateApplicant2Language.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorVerifyMarriageCertificate.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/Applicant2ServiceDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/CommonFieldSettings.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/FinancialOrders.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/HelpWithFeesPage.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/JurisdictionApplyForDivorce.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/LanguagePreference.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/MarriageCertificateDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/MarriageIrretrievablyBroken.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/OtherLegalProceedings.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutApplicant1.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutApplicant2.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutTheSolicitor.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolHowDoYouWantToApplyForDivorce.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolPayAccount.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolPayment.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolPaymentSummary.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolStatementOfTruth.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolSummary.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/UploadMarriageCertificate.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-565

#566 NFDIV-855: Applicant home address is mandatory
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/AmendCase.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/UpdateContactDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/Applicant2ServiceDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutApplicant1.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-566

#558 Nfdiv 750
  src/functionalTest/java/uk/gov/hmcts/divorce/citizen/CitizenSubmitApplicationTest.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-applicant1-statement-of-truth.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-applicant2-approved.json
  src/functionalTest/resources/responses/response-applicant1-help-with-fees.json
  src/functionalTest/resources/responses/response-applicant1-invite-applicant2.json
  src/functionalTest/resources/responses/response-applicant1-statement-of-truth.json
  src/functionalTest/resources/responses/response-applicant2-approved.json
  src/functionalTest/resources/responses/response-caseworker-add-notes-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-issue-application-about-to-submit.json
  src/functionalTest/resources/responses/response-payment-cancelled.json
  src/functionalTest/resources/responses/response-payment-in-progress.json
  src/functionalTest/resources/responses/response-payment-made-awaiting-documents.json
  src/functionalTest/resources/responses/response-payment-made.json
  src/functionalTest/resources/responses/response-set-language-preference.json
  src/functionalTest/resources/responses/response-solicitor-create-about-to-submit.json
  src/functionalTest/resources/responses/response-solicitor-draft-aos-about-to-start.json
  src/functionalTest/resources/responses/response-solicitor-submit-application-about-to-submit.json
  src/functionalTest/resources/responses/response-solicitor-submit-application.json
  src/functionalTest/resources/responses/response-solicitor-update-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplicationTest.java
  src/integrationTest/resources/caseworker-add-note-response.json
  src/integrationTest/resources/caseworker-general-order-response.json
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-app2-not-sol-rep-response.json
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-app2-sol-rep-response.json
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-error-response.json
  src/integrationTest/resources/solicitor-create-about-to-submit-response.json
  src/integrationTest/resources/solicitor-update-about-to-submit-response.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-invite-applicant-2.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-link-applicant-2.json
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-help-with-fees.json
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-statement-of-truth.json
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplication.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2ApprovedNotification.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/HelpWithFeesPage.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolPaymentSummary.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant2ApproveTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2ApprovedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-558

#568 NFDIV-1059: Setting firstname and lastname in the template variable
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/notification/SolicitorSubmittedNotification.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/notification/SolicitorSubmittedNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-568

#570 Removed include welsh copy question for respondent
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutApplicant2.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-570

#569 Reorder applicant details questions
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutApplicant1.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-569

#571 Convert citizen and solicitor application submission to CaseTasks
  src/functionalTest/resources/responses/response-payment-cancelled.json
  src/functionalTest/resources/responses/response-payment-in-progress.json
  src/functionalTest/resources/responses/response-payment-made-awaiting-documents.json
  src/functionalTest/resources/responses/response-payment-made.json
  src/functionalTest/resources/responses/response-solicitor-submit-application-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenAddPaymentTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorSubmitApplicationTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorUpdateApplicationTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/testutil/DocManagementStoreWireMock.java
  src/integrationTest/resources/wiremock/responses/about-to-submit-statement-of-truth.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/IssueApplicationService.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenAddPayment.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplication.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSubmittedNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/service/SubmissionService.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SendSubmissionNotifications.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SetDateSubmitted.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SetState.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitApplicationService.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/CaseworkerIssueApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenAddPaymentTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSubmittedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/SubmissionServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SendSubmissionNotificationsTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SetDateSubmittedTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SetStateTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/ApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/ClockTestUtil.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-571

#574 add app2 access to hwf class
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/HelpWithFees.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-574

#576 NFDIV-627: Remove update contact event
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateContactDetails.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateContactDetailsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-576

#575 Fix solicitor service notification template id issue
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-575

#577 Fix service details page incorrect label displayed
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/Applicant2ServiceDetails.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-577

#578 Update app 2 email address
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2ApprovedNotification.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-578

#579 Updated financial order for to be aligned with divorce 1]
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/FinancialOrderFor.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-579

#584 Updated financial order for enum as requested by product owner
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/FinancialOrderFor.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-584

#582 Generate and remove files with system user
  src/functionalTest/java/uk/gov/hmcts/divorce/testutil/DocumentManagementStore.java
  src/functionalTest/java/uk/gov/hmcts/divorce/testutil/IdamTokenGenerator.java
  src/functionalTest/resources/application.yaml
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerCreateGeneralOrderTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorCreateApplicationTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorUpdateApplicationTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/testutil/DocAssemblyWireMock.java
  src/integrationTest/java/uk/gov/hmcts/divorce/testutil/DocManagementStoreWireMock.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/CreateGeneralOrder.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/IssueApplicationService.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateCitizenRespondentAosInvitation.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateMiniApplication.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateRespondentSolicitorAosInvitation.java
  src/main/java/uk/gov/hmcts/divorce/document/CaseDataDocumentService.java
  src/main/java/uk/gov/hmcts/divorce/document/DocAssemblyService.java
  src/main/java/uk/gov/hmcts/divorce/document/DraftApplicationRemovalService.java
  src/main/java/uk/gov/hmcts/divorce/document/task/MiniApplicationRemover.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorUpdateApplicationService.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/task/MiniApplicationDraft.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/page/CreateGeneralOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/CaseworkerIssueApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateCitizenRespondentAosInvitationTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateMiniApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateRespondentSolicitorAosInvitationTest.java
  src/test/java/uk/gov/hmcts/divorce/document/CaseDataDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/document/DocAssemblyServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/document/DraftApplicationRemovalServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/document/task/MiniApplicationRemoverTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorUpdateApplicationApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/task/MiniApplicationDraftTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestConstants.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-582

#583 Sort documents uploaded through document upload event
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadDocument.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/document/model/CaseworkerUploadedDocument.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadDocumentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-583

#580 Nfdiv 723
  src/functionalTest/java/uk/gov/hmcts/divorce/citizen/CitizenSubmitApplicationTest.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-applicant1-statement-of-truth.json
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/Applicant2RequestChangesNotificationTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant2ApproveTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenInviteApplicant2Test.java
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplicationTest.java
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-joint-application-errors.json
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-joint-application.json
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplication.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenInviteApplicant2Test.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2ApprovedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSentForReviewApplicant2NotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-580

#589 NFDIV 726
  src/functionalTest/resources/application.yaml
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindApplicant2TaskTest.java
  src/integrationTest/resources/application-schedule_test.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSentForReviewApplicant2Notification.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/notification/NotificationConstants.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemindApplicant2.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindApplicant2Task.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSentForReviewApplicant2NotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemindApplicant2Test.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindApplicant2TaskTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-589

#591 fix applicant2 email notification date format
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2ApprovedNotification.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2ApprovedNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-591

#586 Nfdiv 962 and nfdiv 963 application rejected notifications
  src/functionalTest/java/uk/gov/hmcts/divorce/citizen/CitizenApplicant2NotBrokenTest.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-applicant2-not-broken.json
  src/functionalTest/resources/responses/response-applicant2-not-broken.json
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant2NotBrokenTest.java
  src/integrationTest/resources/wiremock/responses/about-to-submit-applicant-2-not-broken.json
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant2NotBroken.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2NotBrokenNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/CommonContent.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/java/uk/gov/hmcts/divorce/notification/NotificationConstants.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant2NotBrokenTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2NotBrokenNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/notification/CommonContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-586

#587 Add about to submit callback for solicitor submit AoS
  src/functionalTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorSubmitAosTest.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-solicitor-submit-aos.json
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorSubmitAosTest.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAmendCase.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/AcknowledgementOfService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitAos.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/Applicant2SolStatementOfTruth.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitAosTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-587

#593 Set solicitor application fees in pound displayed on solicitor payment page
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplication.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplicationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-593

#596 NFDIV-986 Add notification for HWF
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplicationTest.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplication.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplicationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-596

#595 Remove AoS costs page from DraftAos and UpdatAos events
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/AcknowledgementOfService.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorDraftAos.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateAos.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/Applicant2SolAosCosts.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-595

#594 NFDIV-963 add state change for app 2 not broken event
  src/functionalTest/resources/responses/response-applicant2-not-broken.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-applicant-2-not-broken.json
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant2NotBroken.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant2NotBrokenTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-594

#599 Send awaiting document notification for HWF applications
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplication.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SendSubmissionNotifications.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SendSubmissionNotificationsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-599

#600 NFDIV-973: Add variable after email content change
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2RequestChangesNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/NotificationConstants.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2RequestChangesNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-600

#601 Add application overdue scheduled cron to values.yaml
  charts/nfdiv-case-api/Chart.yaml
  charts/nfdiv-case-api/values.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-601

#597 Move set aos submit date to submit aos event
  src/functionalTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorSubmitUpdateDraftAosTest.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-solicitor-submit-aos.json
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorSubmitAosTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorSubmitUpdateDraftAosTest.java
  src/main/java/uk/gov/hmcts/divorce/common/service/HoldingPeriodService.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorDraftAos.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitAos.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateAos.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitAosService.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/task/AddMiniApplicationLink.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/task/SetSubmissionAndDueDate.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/task/SetSubmitAosState.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressHeldCasesTask.java
  src/test/java/uk/gov/hmcts/divorce/common/service/HoldingPeriodServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorDraftAosTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitAosTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateAosTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitAosServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/task/AddMiniApplicationLinkTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/task/SetSubmissionAndDueDateTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/task/SetSubmitAosStateTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressHeldCasesTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/ClockTestUtil.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-597

#602 App1 resubmit notification
  src/functionalTest/java/uk/gov/hmcts/divorce/citizen/CitizenApplicant1ResubmitTest.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-applicant1-resubmit-application.json
  src/functionalTest/resources/responses/response-applicant1-resubmit-application.json
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant1ResubmitTest.java
  src/integrationTest/resources/wiremock/responses/applicant-1-resubmit-application-errors.json
  src/integrationTest/resources/wiremock/responses/applicant-1-resubmit-application.json
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant1Resubmit.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/Applicant1ResubmitNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/java/uk/gov/hmcts/divorce/notification/NotificationConstants.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant1ResubmitTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant1ResubmitNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-602

#603 fix applicant 2 reminder emails being sent after case is linked
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindApplicant2Task.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindApplicant2TaskTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-603

#604 nfdiv-724 add switched to sole event and state
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSole.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSoleTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-604

#605 NFDIV-772 Send correct applicant save and close notification
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenSaveAndCloseTest.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSaveAndClose.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/SaveAndSignOutNotificationHandler.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSaveAndCloseTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/SaveAndSignOutNotificationHandlerTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-605

#607 pointing to the correct endpoint
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/Applicant1ResubmitNotification.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant1ResubmitNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-607

#610 Keep app2 user ID
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemLinkApplicant2.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-610

#613 Remove SwitchedToSole state
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSole.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSoleTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-613

#614 Allow save and close event in all states
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSaveAndClose.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-614

#611 NFDIV-1066: Add PCQ ID for both applicants
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-611

#612 Chnage case reference label to case number
  src/main/java/uk/gov/hmcts/divorce/divorcecase/search/SearchCasesResultFields.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-612

#615 Fix blank dynamic labels in draft oas
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/Applicant2SolConfirmContactDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/Applicant2SolUpdateAosApplicant1Application.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-615

#618 NFDIV-960: Update email template variables after email was updated
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/JointApplicationOverdueNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/NotificationConstants.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/JointApplicationOverdueNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-618

#619 Remove sonar model exclusions and add tests
  build.gradle
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemAlertApplicationNotReviewedTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindApplicant1ApplicationApprovedTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindApplicant2Task.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/AcknowledgementOfServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/ApplicantTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/ApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/ApplicationTypeTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/SolicitorTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemAlertApplicationNotReviewedTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindApplicant1ApplicationApprovedTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindApplicant2TaskTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-619

#628 Remove '',property or children' from the
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-628

#629 NFDIV-960: Fix date format and remove some logging used for testing
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/JointApplicationOverdueNotification.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemAlertApplicationNotReviewedTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindApplicant2Task.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/JointApplicationOverdueNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-629

#632 Upgrade ccd-config-generator version to remove summary and descriptio…
  build.gradle
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-632

#633 Refactored payments error handling as per latest error codes
  src/functionalTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorPaymentMidEventCallbackTest.java
  src/main/java/uk/gov/hmcts/divorce/payment/PaymentService.java
  src/main/java/uk/gov/hmcts/divorce/payment/model/PbaErrorMessage.java
  src/test/java/uk/gov/hmcts/divorce/payment/PaymentServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-633

#635 Enable PBA payments functional test as PBA account won't be debited in AAT
  src/functionalTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorSubmitApplicationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-635

#634 NFDIV-978: Use the correct state
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindApplicant1ApplicationApprovedTask.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindApplicant1ApplicationApprovedTaskTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-634

#640 Added system update env vars required for local bootrun and func tests
  build.gradle
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-640

#641 Remove the validation from the state
  src/functionalTest/resources/request/casedata/ccd-callback-solicitor-submit-application-about-to-submit.json
  src/functionalTest/resources/responses/response-solicitor-submit-application-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorSubmitApplicationIT.java
  src/integrationTest/resources/caseworker-general-order-response.json
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-error-response.json
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-statement-of-truth-errors.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueApplication.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadDocumentsAndSubmit.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenAddPayment.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant1Resubmit.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant2Approve.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant2RequestChanges.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenInviteApplicant2.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplication.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Jurisdiction.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/validation/ApplicationValidation.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/validation/ValidationUtil.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplication.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenInviteApplicant2Test.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/validation/CaseValidationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-641

#643 Updated solicitor applicant details page(see screenshot in description)
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutApplicant1.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-643

#647 Update solicitor submit SOT page
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolStatementOfTruth.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-647

#650 Add unit tests to access classes
  build.gradle
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/access/AosAccessTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/access/Applicant2AccessTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseAccessAdministratorTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseworkerAccessBetaOnlyAccessTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseworkerAccessTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseworkerAndSuperUserAccessTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseworkerBetaAndSuperUserAccessTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseworkerCourtAdminAccessTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseworkerCourtAdminWithSolicitorAccessTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/access/DefaultAccessTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/access/OrganisationPolicyAccessTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-650

#654 Nfdiv 1093 jurisdiction summary reorder
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Jurisdiction.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/JurisdictionConnections.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/LegalConnections.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/JurisdictionApplyForDivorce.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-654

#655 Added script to configure cron in AAT
  README.md
  bin/add-cron.sh
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-655

#657 remove cron scheduling
  charts/nfdiv-case-api/Chart.yaml
  charts/nfdiv-case-api/values.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemAlertApplicationNotReviewedTaskIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressCasesToAosOverdueTaskIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressHeldCasesTaskIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindApplicant1ApplicationApprovedTaskIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindApplicant2TaskIT.java
  src/integrationTest/resources/application-schedule_test.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemAlertApplicationNotReviewedTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressCasesToAosOverdueTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressHeldCasesTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindApplicant1ApplicationApprovedTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindApplicant2Task.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemAlertApplicationNotReviewedTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressCasesToAosOverdueTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressHeldCasesTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindApplicant1ApplicationApprovedTaskTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-657
