Repository hmcts/nfdiv-case-api, pull requests merged in 2021-07, with the labels that each got.

#415 NFDIV-965: Move AOS questions out of Applicant into AcknowledgementOf…
  src/functionalTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorSubmitUpdateDraftAosTest.java
  src/functionalTest/resources/responses/response-applicant1-help-with-fees.json
  src/functionalTest/resources/responses/response-applicant1-invite-applicant2.json
  src/functionalTest/resources/responses/response-applicant1-statement-of-truth.json
  src/functionalTest/resources/responses/response-caseworker-add-notes-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-issue-application-about-to-submit.json
  src/functionalTest/resources/responses/response-payment-cancelled.json
  src/functionalTest/resources/responses/response-payment-in-progress.json
  src/functionalTest/resources/responses/response-payment-made-awaiting-documents.json
  src/functionalTest/resources/responses/response-payment-made.json
  src/functionalTest/resources/responses/response-set-language-preference.json
  src/functionalTest/resources/responses/response-solicitor-create-about-to-submit.json
  src/functionalTest/resources/responses/response-solicitor-draft-aos-about-to-start.json
  src/functionalTest/resources/responses/response-solicitor-submit-application-about-to-submit.json
  src/functionalTest/resources/responses/response-solicitor-submit-application.json
  src/functionalTest/resources/responses/response-solicitor-update-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerAddNoteTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorSubmitUpdateDraftAosTest.java
  src/integrationTest/resources/solicitor-create-about-to-submit-response.json
  src/integrationTest/resources/solicitor-update-about-to-submit-response.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-invite-applicant-2.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-link-applicant-2.json
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-help-with-fees.json
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-statement-of-truth.json
  src/main/java/uk/gov/hmcts/divorce/common/model/AcknowledgementOfService.java
  src/main/java/uk/gov/hmcts/divorce/common/model/AosAccess.java
  src/main/java/uk/gov/hmcts/divorce/common/model/Applicant.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitDraftAos.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateAos.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/Applicant2SolAosCosts.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/Applicant2SolAosOtherProceedings.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/Applicant2SolAosjurisdiction.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/Applicant2SolReviewApplicant1Application.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/Applicant2SolUpdateAosApplicant1Application.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-415

#416 Nfdiv 808 send notice of proceedings
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueAosTest.java
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-issue-aos-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/IssueAosTest.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueAos.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/notification/NoticeOfProceedingsNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/java/uk/gov/hmcts/divorce/notification/NotificationConstants.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueAosTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/notification/NoticeOfProceedingsNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestConstants.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-416

#418 Add personal service notification for issue aos event
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueAos.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/notification/NoticeOfProceedingsNotification.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/notification/PersonalServiceNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/CommonContent.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueAosTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/notification/NoticeOfProceedingsNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/notification/PersonalServiceNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/notification/CommonContentTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-418

#420 Implement ccd high level setup for importing definitions
  Jenkinsfile_CNP
  bin/add-ccd-role.sh
  bin/ccd-import-definition.sh
  bin/idam-user-token.sh
  bin/s2s-token.sh
  build.gradle
  charts/nfdiv-case-api/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/divorce/ccd/HighLevelDataSetupApp.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-420

#423 Debug chart
  charts/nfdiv-case-api/Chart.yaml
  charts/nfdiv-case-api/values.preview.template.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-423

#424 Skip ccd data setup for prod
  src/main/java/uk/gov/hmcts/divorce/ccd/HighLevelDataSetupApp.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-424

#425 Enable high level data setup only for approved environments
  Jenkinsfile_CNP
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-425

#428 Fix perftest and sync with master
  Jenkinsfile_CNP
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-428

#421 Nfdiv 721
  src/main/java/uk/gov/hmcts/divorce/common/model/Application.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-421

#431 Support multiple case types and add dummy bulk action event
  Jenkinsfile_CNP
  bin/ccd-build-definition.sh
  bin/process-and-import-ccd-definition.sh
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorSubmitApplicationTest.java
  src/functionalTest/java/uk/gov/hmcts/divorce/testutil/FunctionalTestSuite.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/BulkActionCaseTypeConfig.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/BulkActionPageBuilder.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/BulkActionPageConfiguration.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/BulkActionState.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/ScheduledForCreate.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/data/BulkActionCaseData.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/search/BulkActionSearchInputFields.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/search/BulkActionSearchResultFields.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/workbasket/BulkActionWorkBasketInputFields.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/workbasket/BulkActionWorkBasketResultFields.java
  src/main/java/uk/gov/hmcts/divorce/ccd/HighLevelDataSetupApp.java
  src/main/java/uk/gov/hmcts/divorce/common/model/access/CaseworkerBetaAndSuperUserAccess.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/ScheduledForCreateTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/search/BulkActionSearchInputFieldsTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/search/BulkActionSearchResultFieldsTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/workbasket/BulkActionWorkBasketInputFieldsTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/workbasket/BulkActionWorkBasketResultFieldsTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-431

#430 NFDIV-780:Show Confidential Address casetab when confidential flag is set
  src/main/java/uk/gov/hmcts/divorce/ccd/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-430

#432 Add demo env vars to fix ccd upload
  Jenkinsfile_CNP
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-432

#434 Rename solicitor update contact details
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateApplicant1ContactDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/UpdateApplicant1ContactDetails.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateApplicant1ContactDetailsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-434

#429 Nfdiv 808 add about to submit issue aos event
  src/functionalTest/resources/application.yaml
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/IssueAosTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorSubmitApplicationTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorUpdateApplicationTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/testutil/DocManagementStoreWireMock.java
  src/integrationTest/java/uk/gov/hmcts/divorce/testutil/SendLetterWireMock.java
  src/integrationTest/resources/Test.pdf
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/caseworker-issue-aos-about-to-submit-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueAos.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/notification/NoticeOfProceedingsNotification.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinter.java
  src/main/java/uk/gov/hmcts/divorce/common/model/AcknowledgementOfService.java
  src/main/java/uk/gov/hmcts/divorce/common/model/Applicant.java
  src/main/java/uk/gov/hmcts/divorce/common/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentUtil.java
  src/main/java/uk/gov/hmcts/divorce/print/BulkPrintService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueAosTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/notification/NoticeOfProceedingsNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/document/DocumentUtilTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestResourceUtil.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-429

#436 move print service inside document package
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinter.java
  src/main/java/uk/gov/hmcts/divorce/common/config/advice/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentUtil.java
  src/main/java/uk/gov/hmcts/divorce/document/print/BulkPrintService.java
  src/main/java/uk/gov/hmcts/divorce/document/print/exception/InvalidResourceException.java
  src/main/java/uk/gov/hmcts/divorce/document/print/model/Letter.java
  src/main/java/uk/gov/hmcts/divorce/document/print/model/Print.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/document/DocumentUtilTest.java
  src/test/java/uk/gov/hmcts/divorce/document/print/BulkPrintServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-436

#438 tidy up enum names
  src/main/java/uk/gov/hmcts/divorce/common/model/AcknowledgementOfService.java
  src/main/java/uk/gov/hmcts/divorce/common/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/common/model/RespondentAgreeToCosts.java
  src/main/java/uk/gov/hmcts/divorce/common/model/ServiceMethod.java
  src/main/java/uk/gov/hmcts/divorce/common/model/SolicitorPaymentMethod.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitApplicationService.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueAosTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitApplicationServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-438

#440 Make hidden fields read only to workaround deletion by exui
  src/main/java/uk/gov/hmcts/divorce/common/validation/ValidationUtil.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolStatementOfTruth.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenInviteApplicant2Test.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-440

#437 NFDIV-943: Update contact details
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateContactDetails.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/UpdateContactDetails.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateContactDetailsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-437

#445 Add schedule task for awaiting conditional order
  build.gradle
  charts/nfdiv-case-api/Chart.yaml
  charts/nfdiv-case-api/values.yaml
  settings.gradle
  src/functionalTest/resources/application.yaml
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/schedule/CaseworkerAwaitingConditionalOrderTaskTest.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAwaitingConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/schedule/CaseworkerAwaitingConditionalOrderTask.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAwaitingConditionalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/schedule/CaseworkerAwaitingConditionalOrderTaskTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-445

#449 NFDIV-957 add skeleton for conditional order events
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorDraftConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateConditionalOrder.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorDraftConditionalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitConditionalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateConditionalOrderTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-449

#442 NFDIV-780: Fix to hide confidential tab
  build.gradle
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-442

#452 Added event to update application type for caseworkers
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateApplicationType.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateApplicationTypeTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-452

#453 NFDIV-964: Set dueDate with dateSubmitted+14 days
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSubmittedNotification.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-453

#450 NFDIV-957 Add legal advisor events
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/LegalAdvisorGrantConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/LegalAdvisorRefuseConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/LegalAdvisorRequestClarification.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitClarification.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/LegalAdvisorGrantConditionalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/LegalAdvisorRefuseConditionalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/LegalAdvisorRequestClarificationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitClarificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-450

#454 Use system update user
  Jenkinsfile_CNP
  src/functionalTest/resources/application.yaml
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorSubmitApplicationTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/testutil/CaseDataWireMock.java
  src/integrationTest/java/uk/gov/hmcts/divorce/testutil/IdamWireMock.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAwaitingConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueAos.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/CcdSearchService.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/CcdUpdateService.java
  src/main/java/uk/gov/hmcts/divorce/idam/IdamService.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/CcdAccessService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/CcdSearchServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/CcdUpdateServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/idam/IdamServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/CcdAccessServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestConstants.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-454

#456 Updated charts to use system user and fix integration test
  charts/nfdiv-case-api/Chart.yaml
  charts/nfdiv-case-api/values.yaml
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorSubmitApplicationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-456

#457 NFDIV-843: Event to enable Amed case
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAmendCase.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/AmendCase.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAmendCaseTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-457

#461 NFDIV-982
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/Applicant2Access.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/DefaultAccess.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-461

#459 Derived app2 postal address based on sol represented and correspondence
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-issue-application-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-issue-application-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/IssueApplicationTest.java
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-app2-not-sol-rep-response.json
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-app2-sol-rep-response.json
  src/main/java/uk/gov/hmcts/divorce/document/content/MiniApplicationTemplateContent.java
  src/test/java/uk/gov/hmcts/divorce/document/content/MiniApplicationTemplateContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-459

#460 Combine issue aos event callbacks into about to submit
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueAosTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/IssueAosTest.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueAos.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueAosTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-460

#463 NFDIV-579: Insert AOS tab
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-463

#465 NFDIV-983: Ignoring case with null issue date
  src/main/java/uk/gov/hmcts/divorce/caseworker/schedule/CaseworkerAwaitingConditionalOrderTask.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/schedule/CaseworkerAwaitingConditionalOrderTaskTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-465

#462 Rename system events
  charts/nfdiv-case-api/Chart.yaml
  charts/nfdiv-case-api/values.preview.template.yaml
  package.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueAosTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemLinkApplicant2Test.java
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressHeldCasesTaskTest.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemLinkApplicant2.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressHeldCase.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressHeldCasesTask.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/CcdCaseDataContentProviderTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemLinkApplicant2Test.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressHeldCaseTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressHeldCasesTaskTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-462

#466 Remove CCA access before the case has been issued
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-466

#468 NFDIV-983: Added logs to debug the issue
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressHeldCasesTask.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-468

#467 Make 20 week holding period configurable
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressHeldCasesTask.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressHeldCasesTaskTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-467

#469 NFDIV-983: Retrieving issue date from the case details map
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressHeldCasesTask.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-469

#470 NFDIV-983: Logging issue date from CaseDetails map
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressHeldCasesTask.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-470

#471 NFDIV-983: Adding caseworker system update role to CaseworkerAccess.
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseworkerAccess.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressHeldCasesTask.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-471

#472 NFDIV-983: Retrieving issue date from CaseDetails data map.
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressHeldCasesTask.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressHeldCasesTaskTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-472

#475 NFDIV-983: Moving issueDate from CaseData to Application
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/IssueApplicationService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/CaseworkerIssueApplicationServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-475

#476 Create general order event and display on documents tab
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerAddNoteTest.java
  src/functionalTest/resources/application.yaml
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerCreateGeneralOrderTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/GeneralOrderTemplateContentTest.java
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/caseworker-general-order-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerCreateGeneralOrder.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/CreateGeneralOrder.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/GeneralOrderDraft.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CtscContactDetails.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/DivorceGeneralOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/GeneralOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/GeneralOrderDivorceParties.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/GeneralOrderJudge.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseworkerAccessBetaOnlyAccess.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/document/CaseDataDocumentService.java
  src/main/java/uk/gov/hmcts/divorce/document/DocAssemblyService.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisTemplateConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/GeneralOrderTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/model/DocumentType.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerCreateGeneralOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/page/CreateGeneralOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/document/CaseDataDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/GeneralOrderTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestConstants.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-476

#480 NFDIV-595: Added respondent section
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-480

#481 Added functional test for general order midevent and about to submit
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerCreateGeneralOrderTest.java
  src/functionalTest/resources/request/casedata/ccd-callback-general-oder-about-to-submit.json
  src/functionalTest/resources/request/casedata/ccd-callback-general-oder.json
  src/functionalTest/resources/responses/response-caseworker-general-order-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-general-order-mid-event.json
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-481

#482 Set state display order by reordering State enumeration
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/StateTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-482

#484 NFDIV-949 update due date event
  Jenkinsfile_CNP
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/divorce/smoke/SmokeTest.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateDueDate.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateDueDateTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-484

#473 NFDIV-787
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-payment-made-awaiting-documents.json
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-issue-aos-about-to-submit.json
  src/functionalTest/resources/responses/response-payment-made-awaiting-documents.json
  src/integrationTest/resources/caseworker-general-order-response.json
  src/integrationTest/resources/caseworker-issue-aos-about-to-submit-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadDocumentsAndSubmit.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationOutstandingActionNotification.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/UploadMarriageCertificate.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadDocumentsAndSubmitTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenAddPaymentTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationOutstandingActionNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-473

#479 NFDIV-843: Added joint application fields
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAmendCase.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/AmendCase.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-479

#485 NFDIV-843: Used new optionalWithoutDefaultValue method
  build.gradle
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/AmendCase.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-485

#489 NFDIV-890 Add update language events
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateLanguage.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateApplicant1Language.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateApplicant2Language.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateLanguageTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateApplicant1LanguageTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateApplicant2LanguageTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-489

#490 Fix for NPE
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/IssueApplicationService.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/CaseworkerIssueApplicationServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-490

#488 NFDIV-787: Fix access control on supporting documents field
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-488

#493 update preview chart
  charts/nfdiv-case-api/values.preview.template.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-493

#494 NFDIV-595: Fixing respondent solicitor represent label.
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-494

#500 update deps, update gradle, remove stale suppressions
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.properties
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-500

#499 Make the names of events consistent
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAddNote.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAmendCase.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueAos.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPendingRejection.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerReissue.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateLanguage.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorDraftAos.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateApplicant1Language.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateApplicant2Language.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateContactDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorVerifyMarriageCertificate.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorVerifyMarriageCertificateDetailsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-499

#502 NFDIV-843: Replaced optional and mandatory methods with appropriate n…
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateLanguage.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/UpdateContactDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/Applicant2ServiceDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/MarriageCertificateDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutApplicant1.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutApplicant2.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutTheSolicitor.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolHowDoYouWantToApplyForDivorce.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolUpdateContactDetails.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-502

#495 NFDIV-843: Enable to update all fields for sole application
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/AmendCase.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-495

#504 NFDIV-843: Restricted Draft update to applicant solicitor
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateApplication.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-504

#496 Nfdiv 886 issue application
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueAosTest.java
  src/functionalTest/resources/application.yaml
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-issue-aos-about-to-submit.json
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-issue-aos-submitted.json
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-issue-application-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-issue-application-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueAosTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationTest.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/schedule/CaseworkerIssueAosTaskTest.java
  src/integrationTest/resources/application-schedule_test.yaml
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/caseworker-issue-aos-about-to-submit-response.json
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-app2-not-sol-rep-response.json
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-app2-sol-rep-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueAos.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueApplication.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/schedule/CaseworkerIssueAosTask.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/IssueApplicationService.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/updater/GenerateMiniApplication.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/updater/GenerateRespondentSolicitorAosInvitation.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/updater/SendAosNotifications.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/updater/SendAosPack.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/AcknowledgementOfService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressHeldCasesTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdCaseDataContentProvider.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdConflictException.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdManagementException.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchCaseException.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchService.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdUpdateService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueAosTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/schedule/CaseworkerIssueAosTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/CaseworkerIssueApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/updater/GenerateMiniApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/updater/GenerateRespondentSolicitorAosInvitationTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/updater/SendAosNotificationsTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/updater/SendAosPackTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressHeldCasesTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/CcdCaseDataContentProviderTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/CcdUpdateServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/ClockTestUtil.java
  src/test/java/uk/gov/hmcts/divorce/testutil/UpdaterTestUtil.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-496

#509 Fix for change in idam env vars
  charts/nfdiv-case-api/values.preview.template.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-509

#510 Added upload confidential documents event
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadConfidentialDocument.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseworkerCourtAdminAccess.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/document/model/ConfidentialDivorceDocument.java
  src/main/java/uk/gov/hmcts/divorce/document/model/ConfidentialDocumentsReceived.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadConfidentialDocumentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-510

#513 Fixed incorrect label with missing letter
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/GeneralReferral.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-513

#512 Nfdiv 988
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-issue-aos-about-to-submit.json
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-issue-aos-submitted.json
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-issue-application-about-to-submit.json
  src/integrationTest/resources/caseworker-general-order-response.json
  src/integrationTest/resources/caseworker-issue-aos-about-to-submit-response.json
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DraftApplicationTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/MiniApplicationTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/OtherLegalProceedings.java
  src/test/java/uk/gov/hmcts/divorce/document/content/MiniApplicationTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-512

#514 Capture email address for respondent if not solicitor represented
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/Applicant2ServiceDetails.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-514

#515 Updated petitioner to application as it is used in NFD
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/GeneralOrderDivorceParties.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-515

#516 NFDIV-843: Reverting to Solicitor role
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateApplication.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-516

#517 Fix type override for confidential document
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-517

#518 Update to changeNameHow field
  src/main/java/uk/gov/hmcts/divorce/divorcecase/NoFaultDivorce.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-518

#522 Updated confidential documents enum as per change requested by PO
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/divorce/document/model/ConfidentialDocumentsReceived.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-522

#523 NFDIV-895: Enable state tab for respondent solicitor
  build.gradle
  src/main/java/uk/gov/hmcts/divorce/divorcecase/NoFaultDivorce.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-523

#524 Convert solicitor tasks and remove updater classes
  src/main/java/uk/gov/hmcts/divorce/divorcecase/updater/CaseDataContext.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/updater/CaseDataUpdater.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/updater/CaseDataUpdaterChain.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/updater/CaseDataUpdaterChainFactory.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorCreateApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorCreateApplicationService.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitApplicationService.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorUpdateApplicationService.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/task/ClaimsCost.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/task/MiniApplicationDraft.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/task/MiniApplicationRemover.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/task/SolicitorCourtDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/task/SolicitorSubmitNotification.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/updater/MiniApplicationRemover.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/updater/SolicitorCourtDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/updater/SolicitorSubmitNotification.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/updater/CaseDataContextTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/updater/CaseDataUpdaterChainFactoryTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/updater/CaseDataUpdaterChainTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorCreateApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorCreateApplicationApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorUpdateApplicationApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/task/ClaimsCostTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/task/MiniApplicationDraftTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/task/MiniApplicationRemoverTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/task/SolicitorCourtDetailsTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/task/SolicitorSubmitNotificationsTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/updater/SolicitorCourtDetailsTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/UpdaterTestUtil.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-524

#526 Prevent solicitors from getting access to the citizen invite event
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenInviteApplicant2.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-526

#525 Dynamic labels
  build.gradle
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplication.java
  src/main/java/uk/gov/hmcts/divorce/common/ccd/CcdPageConfiguration.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/LabelContent.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/MarriageDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/Applicant2ServiceDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/Applicant2SolAosCosts.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/Applicant2SolConfirmContactDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/Applicant2SolReviewApplicant1Application.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/Applicant2SolUpdateAosApplicant1Application.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutApplicant1.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutApplicant2.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutTheSolicitor.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolHowDoYouWantToApplyForDivorce.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolSummary.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/page/SolHowDoYouWantToApplyForDivorceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-525

#527 Remove non digital solicitors
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-issue-application-about-to-submit.json
  src/functionalTest/resources/responses/response-applicant1-help-with-fees.json
  src/functionalTest/resources/responses/response-applicant1-invite-applicant2.json
  src/functionalTest/resources/responses/response-applicant1-statement-of-truth.json
  src/functionalTest/resources/responses/response-caseworker-add-notes-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-issue-application-about-to-submit.json
  src/functionalTest/resources/responses/response-payment-cancelled.json
  src/functionalTest/resources/responses/response-payment-in-progress.json
  src/functionalTest/resources/responses/response-payment-made-awaiting-documents.json
  src/functionalTest/resources/responses/response-payment-made.json
  src/functionalTest/resources/responses/response-set-language-preference.json
  src/functionalTest/resources/responses/response-solicitor-create-about-to-submit.json
  src/functionalTest/resources/responses/response-solicitor-draft-aos-about-to-start.json
  src/functionalTest/resources/responses/response-solicitor-submit-application-about-to-submit.json
  src/functionalTest/resources/responses/response-solicitor-submit-application.json
  src/functionalTest/resources/responses/response-solicitor-update-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationTest.java
  src/integrationTest/resources/caseworker-add-note-response.json
  src/integrationTest/resources/caseworker-general-order-response.json
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-app2-not-sol-rep-response.json
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-app2-sol-rep-response.json
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-error-response.json
  src/integrationTest/resources/solicitor-create-about-to-submit-response.json
  src/integrationTest/resources/solicitor-update-about-to-submit-response.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-invite-applicant-2.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-link-applicant-2.json
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-help-with-fees.json
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-statement-of-truth.json
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Solicitor.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/Applicant2ServiceDetails.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/CaseworkerIssueApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-527

#483 Nfdiv 722 citizen confirm joint app
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-applicant1-statement-of-truth.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-payment-cancelled.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-payment-in-progress.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-payment-made-awaiting-documents.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-payment-made.json
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-issue-application-about-to-submit.json
  src/functionalTest/resources/responses/response-applicant1-help-with-fees.json
  src/functionalTest/resources/responses/response-applicant1-statement-of-truth.json
  src/functionalTest/resources/responses/response-caseworker-issue-application-about-to-submit.json
  src/functionalTest/resources/responses/response-payment-cancelled.json
  src/functionalTest/resources/responses/response-payment-in-progress.json
  src/functionalTest/resources/responses/response-payment-made-awaiting-documents.json
  src/functionalTest/resources/responses/response-payment-made.json
  src/integrationTest/resources/caseworker-general-order-response.json
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-app2-not-sol-rep-response.json
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-app2-sol-rep-response.json
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-error-response.json
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-help-with-fees.json
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-statement-of-truth-errors.json
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-statement-of-truth.json
  src/main/java/uk/gov/hmcts/divorce/citizen/event/Applicant2Approve.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/search/CaseFieldsConstants.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/validation/ValidationUtil.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolStatementOfTruth.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/Applicant2ApproveTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenAddPaymentTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-483

#530 Allow system users to see draft cases in AAT
  Jenkinsfile_CNP
  build.gradle
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenCreateApplication.java
  src/main/java/uk/gov/hmcts/divorce/common/AddSystemUpdateRole.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorCreateApplication.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenCreateApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/config/AddSystemUpdateRoleTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorCreateApplicationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-530

#531 Removed test as pipeline will always set the env var
  src/test/java/uk/gov/hmcts/divorce/common/config/AddSystemUpdateRoleTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-531

#521 NFDIV-779
  config/pmd/ruleset.xml
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/Applicant2RequestChangesNotificationTest.java
  src/integrationTest/resources/wiremock/responses/about-to-submit-applicant-2-request-changes-errors.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-applicant-2-request-changes.json
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant2RequestChanges.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2RequestChangesNotification.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/validation/ValidationUtil.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/event/Applicant2ApproveTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant2RequestChangesTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2RequestChangesNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-521

#536 use latest java chart
  charts/nfdiv-case-api/Chart.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-536

#534 Fix OrganisationPolicy empty value error
  build.gradle
  src/functionalTest/resources/responses/response-applicant1-help-with-fees.json
  src/functionalTest/resources/responses/response-applicant1-invite-applicant2.json
  src/functionalTest/resources/responses/response-applicant1-statement-of-truth.json
  src/functionalTest/resources/responses/response-caseworker-add-notes-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-issue-application-about-to-submit.json
  src/functionalTest/resources/responses/response-payment-cancelled.json
  src/functionalTest/resources/responses/response-payment-in-progress.json
  src/functionalTest/resources/responses/response-payment-made-awaiting-documents.json
  src/functionalTest/resources/responses/response-payment-made.json
  src/functionalTest/resources/responses/response-solicitor-create-about-to-submit.json
  src/functionalTest/resources/responses/response-solicitor-draft-aos-about-to-start.json
  src/functionalTest/resources/responses/response-solicitor-submit-application-about-to-submit.json
  src/functionalTest/resources/responses/response-solicitor-update-about-to-submit.json
  src/integrationTest/resources/caseworker-add-note-response.json
  src/integrationTest/resources/caseworker-general-order-response.json
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-app2-not-sol-rep-response.json
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-app2-sol-rep-response.json
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-error-response.json
  src/integrationTest/resources/solicitor-create-about-to-submit-response.json
  src/integrationTest/resources/solicitor-update-about-to-submit-response.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-invite-applicant-2.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-link-applicant-2.json
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-help-with-fees.json
  src/integrationTest/resources/wiremock/responses/applicant-1-about-to-start-statement-of-truth.json
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Solicitor.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-534

#532 NFDIV-882: Reject state implementation
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerRejectedTest.java
  src/functionalTest/java/uk/gov/hmcts/divorce/testutil/FunctionalTestSuite.java
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-reject-application-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerRejectedTest.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRejected.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RejectReason.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RejectReasonType.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRejectedTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-532

#539 NFDIV-779: Fix names being used in email template
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2RequestChangesNotification.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-539

#538 NFDIV-973
  charts/nfdiv-case-api/Chart.yaml
  charts/nfdiv-case-api/values.yaml
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/Applicant2RequestChangesNotificationTest.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant2RequestChanges.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2RequestChangesNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/java/uk/gov/hmcts/divorce/notification/NotificationConstants.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant2RequestChangesTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2RequestChangesNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-538

#542 Add applicant2 urls into values
  charts/nfdiv-case-api/Chart.yaml
  charts/nfdiv-case-api/values.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-542

#543 NFDIV-867: AOS should be AoS
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SendAosPack.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/AcknowledgementOfService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/main/java/uk/gov/hmcts/divorce/document/model/DocumentType.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateAos.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressCaseToAosOverdue.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-543
