Repository hmcts/nfdiv-case-api, pull requests merged in 2022-03, with the labels that each got.

#1404 NFDIV-1230 : Generate refusal order for Bailiff service
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerMakeBailiffDecisionIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerMakeBailiffDecision.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/BailiffNotApprovedOrderContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisTemplateConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/model/DocumentType.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerMakeBailiffDecisionTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/BailiffNotApprovedOrderContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1404

#1412 add app2 to SubmitClarification event
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant2UpdateApplication.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitClarification.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1412

#1440 update search input fields
  build.gradle
  src/main/java/uk/gov/hmcts/divorce/bulkscan/search/ExceptionRecordSearchInputFields.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/search/ExceptionRecordSearchResultFields.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/workbasket/ExceptionRecordWorkBasketInputFields.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/workbasket/ExceptionRecordWorkBasketResultFields.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/search/CaseFieldsConstants.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/search/SearchInputFields.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/workbasket/WorkBasketInputFields.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/workbasket/WorkBasketInputFieldsTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/ConfigTestUtil.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1440

#1433 Remove usage is solcitor application
  src/functionalTest/resources/responses/response-caseworker-issue-sole-citizen-application-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-reissue-application-about-to-submit-reissue-case.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-app2-sol-rep-response.json
  src/integrationTest/resources/caseworker-issue-sole-citizen-application-about-to-submit-response.json
  src/integrationTest/resources/caseworker-reissue-application-about-to-submit-app2-sol-rep-reissue-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/IssueApplicationService.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/ReIssueApplicationService.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateNoticeOfProceeding.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateRespondentAosInvitation.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateRespondentSolicitorAosInvitation.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SendAosPack.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SendAosPackToRespondent.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SetPostIssueState.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/AcknowledgementOfService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFields.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/validation/ValidationUtil.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/CaseworkerIssueApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/ReIssueApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateCitizenRespondentAosInvitationTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateNoticeOfProceedingTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateRespondentAosInvitationTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/SendAosPackToRespondentTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/SetPostIssueStateTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/AcknowledgementOfServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/validation/CaseValidationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1433

#1442 NFDIV-1583
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenAddPaymentIT.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSubmittedNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/CommonContent.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolConfirmJointApplication.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSubmittedNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1442

#1444 Nfdiv-1507 Add 2 joint jurisdiction connections
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/JurisdictionConnections.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1444

#1443 NFDIV-1230 : Corrected format for application date on Bailiff refusal order
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerMakeBailiffDecisionIT.java
  src/main/java/uk/gov/hmcts/divorce/document/content/BailiffNotApprovedOrderContent.java
  src/test/java/uk/gov/hmcts/divorce/document/content/BailiffNotApprovedOrderContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1443

#1445 NFDIV-1437 : Caseworker Update contact details
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateContactDetails.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/UpdateContactDetails.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateContactDetailsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1445

#1448 Correct logging name and add default access to finalOrderReminderSent fields
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/FinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemNotifyRespondentApplyFinalOrderTask.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1448

#1450 Remove case state from workbasket
  src/main/java/uk/gov/hmcts/divorce/divorcecase/workbasket/WorkBasketInputFields.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/workbasket/WorkBasketInputFieldsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1450

#1451 Refactor SystemNotifyRespondentApplyFinalOrderTask
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemNotifyRespondentApplyFinalOrderTask.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemNotifyRespondentApplyFinalOrderTaskTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1451

#1452 NFDIV-1703: Update content to correspond with updated docmosis template
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisTemplateConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/RespondentAnswersTemplateContent.java
  src/test/java/uk/gov/hmcts/divorce/document/content/RespondentAnswersTemplateContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1452

#1453 Updated NOP generation condition and order of documents before sending to bulk print
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/resources/caseworker-issue-sole-citizen-application-about-to-submit-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SendAosPackToRespondent.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/SendAosPackToRespondentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1453

#1449 Nfdiv 1736 notification when service application received
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAlternativeServiceApplication.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/GeneralApplicationReceivedNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAlternativeServiceApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAlternativeServiceReceivedTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/GeneralApplicationReceivedNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1449

#1441 Change permissions for SystemRemindApplicantsApplyForFinalOrder event
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemNotifyRespondentApplyFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemindApplicantsApplyForFinalOrder.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1441

#1456 Add getCorrespondenceAddress and getPostalAddress to Applicant
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-issue-application-about-to-submit.json
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-reject-application-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-app2-not-sol-rep-response.json
  src/integrationTest/resources/caseworker-reissue-application-about-to-submit-app2-not-sol-rep-offline-aos-response.json
  src/integrationTest/resources/caseworker-reissue-application-about-to-submit-app2-not-sol-rep-reissue-case-response.json
  src/integrationTest/resources/caseworker-reissue-application-about-to-submit-app2-not-sol-rep-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerNoticeOfChange.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFields.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/ApplicationTab.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationJointTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationSoleTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DraftApplicationTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/RespondentSolicitorAosInvitationTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/provider/ApplicantTemplateDataProvider.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/ApplicantTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/ApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationJointTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationSoleTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DraftDivorceApplicationSoleTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/RespondentSolicitorAosInvitationTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/provider/ApplicantTemplateDataProviderTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestConstants.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1456

#1455 NFDIV-1794 : Changes done to hide Warnings tab if there are no warnings
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1455

#1457 Updated notice of proceeding template to include address and email confirmation
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContentIT.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisTemplateConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContent.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1457

#1454 nfdiv-1738: add Bailiff service unsuccessful notification
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerAddBailiffReturnIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAddBailiffReturn.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/BailiffServiceUnsuccessfulNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAddBailiffReturnTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/BailiffServiceUnsuccessfulNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1454

#1458 NFDIV-1230 : Bailiff service refusal order
  src/main/java/uk/gov/hmcts/divorce/document/content/BailiffNotApprovedOrderContent.java
  src/test/java/uk/gov/hmcts/divorce/document/content/BailiffNotApprovedOrderContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1458

#1459 NFDIV-1776 Clean up handling of 20 week holding period
  src/functionalTest/resources/application.yaml
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/wiremock/responses/about-to-submit-citizen-submit-aos-without-dispute.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/IssueApplicationService.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SetDueDateAfterIssue.java
  src/main/java/uk/gov/hmcts/divorce/common/service/HoldingPeriodService.java
  src/main/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContent.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressHeldCasesTask.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/SetDueDateAfterIssueTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/HoldingPeriodServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressHeldCasesTaskTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1459

#1460 NFDIV-1723 Allow linking of applicant2 when case is in AosOverdue
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemLinkApplicant2.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1460

#1461 Remove sending notification to applicant 2 / respondent
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAlternativeServiceApplication.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/GeneralApplicationReceivedNotification.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAlternativeServiceApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/GeneralApplicationReceivedNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1461

#1465 Fix ocr validation response during transformation if there are validation errors- D8 & D8S
  src/main/java/uk/gov/hmcts/divorce/bulkscan/exception/InvalidOcrDataException.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/D8FormToCaseTransformer.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/D8sFormToCaseTransformer.java
  src/main/java/uk/gov/hmcts/divorce/common/config/advice/GlobalExceptionHandler.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/transformation/D8FormToCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/transformation/D8sFormToCaseTransformerTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1465

#1464 Change Applicant isBasedOverseas to check isRepresented
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/ApplicantTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1464

#1415 NFDIV 1572 and 1622 - Notifications after final order is applied for
  src/integrationTest/java/uk/gov/hmcts/divorce/common/ApplyForFinalOrderIT.java
  src/main/java/uk/gov/hmcts/divorce/common/event/ApplyForFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/SoleAppliedForFinalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/common/event/ApplyForFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/SoleAppliedForFinalOrderNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1415

#1468 add placeholder welsh template (in english) for application issued notification
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1468

#1469 add all missing welsh placeholder templates
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1469

#1470 Update ReIssueApplicationService to mirror IssueApplicationService ch…
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/integrationTest/resources/caseworker-reissue-application-about-to-submit-app2-not-sol-rep-reissue-case-response.json
  src/integrationTest/resources/caseworker-reissue-application-about-to-submit-app2-sol-rep-reissue-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/ReIssueApplicationService.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/ReIssueApplicationServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1470

#1471 NFDIV-1772 make sure the SoT is selected when submitting CO
  src/integrationTest/java/uk/gov/hmcts/divorce/common/SubmitConditionalOrderIT.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitConditionalOrder.java
  src/test/java/uk/gov/hmcts/divorce/common/event/SubmitConditionalOrderTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1471

#1472 Remove ocr validation during transformation as it is already done by bulk scan service
  src/main/java/uk/gov/hmcts/divorce/bulkscan/exception/InvalidOcrDataException.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/BulkScanFormTransformer.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/CommonFormToCaseTransformer.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/D8FormToCaseTransformer.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/D8sFormToCaseTransformer.java
  src/main/java/uk/gov/hmcts/divorce/common/config/advice/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/divorce/endpoint/model/ExceptionRecord.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/transformation/CommonFormToCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/transformation/D8FormToCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/transformation/D8sFormToCaseTransformerTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1472

#1475 nfdiv-1771: do not notify to sole respondent if solicitor service
  src/main/java/uk/gov/hmcts/divorce/common/notification/ApplicationIssuedNotification.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1475

#1432 clean up sol details in sole document
  src/main/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationSoleTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisTemplateConstants.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationSoleTemplateContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1432

#1473 consider app2 for HWF conditions
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/JointApplicationApprovedReminder.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SetStateAfterSubmission.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/JointApplicationApprovedReminderTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SetStateAfterSubmissionTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1473

#1476 NFDIV-1722 : Send notification when service application (Deemed/Dispensed/Bailiff) is rejected
  src/functionalTest/resources/request/casedata/ccd-callback-make-service-decision-not-granted.json
  src/functionalTest/resources/responses/response-la-make-service-decision-deemed-refused.json
  src/functionalTest/resources/responses/response-la-make-service-decision-dispensed-with-refused.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerMakeBailiffDecisionIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/legaladvisor/LegalAdvisorMakeServiceDecisionIT.java
  src/integrationTest/resources/legal-advisor-service-decision-deemed-not-granted-response.json
  src/integrationTest/resources/legal-advisor-service-decision-dispensed-not-granted-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerMakeBailiffDecision.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/ServiceApplicationNotification.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeServiceDecision.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerMakeBailiffDecisionTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/ServiceApplicationNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeServiceDecisionTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1476

#1480 NFDIV-1796 add app2 HWF to payment tab
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1480

#1479 NFDIV-1822 Remove verify marriage certficate event
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorVerifyMarriageCertificate.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorVerifyMarriageCertificateDetailsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1479

#1477 prevent NPE when sending AwaitingFinalOrderReminderNotification
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemNotifyRespondentApplyFinalOrderFT.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindApplicantsApplyForFinalOrderTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchService.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindApplicantsApplyForFinalOrderTaskTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1477

#1478 NFDIV-1739 add offline status to application tab
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/Applicant2Transformer.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/ApplicationTab.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/main/resources/data/joint.json
  src/main/resources/data/sole.json
  src/test/java/uk/gov/hmcts/divorce/bulkscan/transformation/Applicant2TransformerTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1478

#1481 NFDIV-1801 check case has been issued when returning from alternative service
  src/functionalTest/resources/request/casedata/ccd-callback-make-service-decision.json
  src/functionalTest/resources/responses/response-la-make-service-decision-deemed.json
  src/functionalTest/resources/responses/response-la-make-service-decision-dispensed.json
  src/integrationTest/java/uk/gov/hmcts/divorce/legaladvisor/LegalAdvisorMakeServiceDecisionIT.java
  src/integrationTest/resources/legal-advisor-service-decision-deemed-response.json
  src/integrationTest/resources/legal-advisor-service-decision-dispensed-response.json
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeServiceDecision.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeServiceDecisionTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1481

#1483 Rename exception record model as for auto case creation there is no exception record
  src/integrationTest/java/uk/gov/hmcts/divorce/endpoint/BulkScanCaseTransformationControllerIT.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/BulkScanFormTransformer.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/BulkScanService.java
  src/main/java/uk/gov/hmcts/divorce/endpoint/BulkScanCaseTransformationController.java
  src/main/java/uk/gov/hmcts/divorce/endpoint/model/TransformationInput.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/transformation/BulkScanServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/transformation/D8FormToCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/transformation/D8sFormToCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/divorce/endpoint/BulkScanCaseTransformationControllerTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1483

#1482 Remove retired fields
  src/functionalTest/resources/responses/response-caseworker-general-order-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-general-order-mid-event.json
  src/functionalTest/resources/responses/response-caseworker-issue-bailiff-pack.json
  src/functionalTest/resources/responses/response-caseworker-issue-sole-citizen-application-about-to-submit.json
  src/functionalTest/resources/responses/response-la-make-service-decision-deemed-refused.json
  src/functionalTest/resources/responses/response-la-make-service-decision-deemed.json
  src/functionalTest/resources/responses/response-la-make-service-decision-dispensed-with-refused.json
  src/functionalTest/resources/responses/response-la-make-service-decision-dispensed.json
  src/functionalTest/resources/responses/response-solicitor-payment-mid-event.json
  src/functionalTest/resources/responses/response-solicitor-submit-aos.json
  src/functionalTest/resources/responses/response-system-notify-respondent-apply-final-order.json
  src/integrationTest/resources/caseworker-answers-received-response.json
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-solicitor-service-response.json
  src/integrationTest/resources/caseworker-issue-sole-citizen-application-about-to-submit-response.json
  src/integrationTest/resources/legal-advisor-service-decision-deemed-not-granted-response.json
  src/integrationTest/resources/legal-advisor-service-decision-deemed-response.json
  src/integrationTest/resources/legal-advisor-service-decision-dispensed-not-granted-response.json
  src/integrationTest/resources/legal-advisor-service-decision-dispensed-response.json
  src/integrationTest/resources/solicitor-submit-aos-response.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-citizen-submit-aos-with-dispute.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-citizen-submit-aos-without-dispute.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-system-progress-case-to-aos-overdue.json
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFields.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/ApplicationTab.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFieldsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1482

#1486 Nfdiv 1677 update email and address
  src/functionalTest/resources/application.yaml
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/GeneralOrderTemplateContentIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContentIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/ServiceOrderTemplateContentIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisTemplateConstants.java
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1486

#1487 NFDIV-1771 Add missing fields to application tab
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/ApplicationTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1487

#1466 NFDIV-900: Set up event and pages for General Application
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorGeneralApplicationIT.java
  src/integrationTest/resources/solicitor-general-application-errors-response.json
  src/integrationTest/resources/solicitor-general-application-response.json
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/GeneralApplication.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/GeneralApplicationFee.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/GeneralApplicationType.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/main/java/uk/gov/hmcts/divorce/payment/PaymentService.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorGeneralApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/GeneralApplicationPaymentConfirmation.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/GeneralApplicationPaymentSummary.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/GeneralApplicationSelectApplicationType.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/GeneralApplicationSelectFee.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/GeneralApplicationUploadDocument.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorGeneralApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/page/GeneralApplicationSelectFeeTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1466

#1488 NFDIV-1798 : Solicitor content changes
  build.gradle
  src/main/java/uk/gov/hmcts/divorce/common/event/page/Applicant2HowToRespondToApplication.java
  src/main/java/uk/gov/hmcts/divorce/common/event/page/Applicant2SolAosJurisdiction.java
  src/main/java/uk/gov/hmcts/divorce/common/event/page/Applicant2SolAosOtherProceedings.java
  src/main/java/uk/gov/hmcts/divorce/common/event/page/Applicant2SolConfirmContactDetails.java
  src/main/java/uk/gov/hmcts/divorce/common/event/page/Applicant2SolReviewApplicant1Application.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/HowToRespondApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/Applicant2ServiceDetails.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1488

#1490 Restrict user id passed during test case creation to being only a valid uuid
  src/main/java/uk/gov/hmcts/divorce/common/event/CreateTestCase.java
  src/test/java/uk/gov/hmcts/divorce/common/event/CreateTestCaseTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1490

#1496 NFDIV-1824 Reset SoR on solicitor submit application
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplication.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1496

#1495 NFDIV-1808 remove app2 solicitor2 access from applicant2 approve event
  src/main/java/uk/gov/hmcts/divorce/common/event/Applicant2Approve.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1495

#1497 NFDIV-1796 add titles to HWF fields on payments tab
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1497

#1494 Format postal address so that address can fit in envelope window
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-issue-joint-citizen-application-about-to-submit.json
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-issue-sole-citizen-application-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-issue-sole-citizen-application-about-to-submit.json
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/ApplicantTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/RespondentSolicitorAosInvitationTemplateContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1494

#1498 more content updates
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1498

#1491 NFDIV-1677 Add new util class to allow us to retrieve all email templates that match a search criteria
  build.gradle
  src/main/java/uk/gov/hmcts/divorce/notification/GetAllTemplatesFromNotify.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1491

#1492 add app2 documents to case tab documents
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1492

#1500 Add AOS Response pack for applicant - offline case and Disputed AOS
  src/integrationTest/java/uk/gov/hmcts/divorce/common/SubmitAosIT.java
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/solicitor-submit-aos-disputed-offline-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SendAosResponseLetterPackToApplicant.java
  src/main/java/uk/gov/hmcts/divorce/common/service/SubmitAosService.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/GenerateAosResponseLetterDocument.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentUtil.java
  src/main/java/uk/gov/hmcts/divorce/document/content/AosResponseLetterTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/model/DocumentType.java
  src/main/java/uk/gov/hmcts/divorce/document/print/BulkPrintService.java
  src/main/java/uk/gov/hmcts/divorce/document/print/model/Letter.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/SendAosResponseLetterPackToApplicantTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/SubmitAosServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/GenerateAosResponseLetterDocumentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/AosResponseLetterTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/print/BulkPrintServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1500

#1501 NFDIV-1758
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAddNote.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1501

#1503 NFDIV-1539: Update tab content for marriage vs civil partnership
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/LabelContent.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/MarriageDetails.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/ApplicationTab.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolHowDoYouWantToApplyForDivorce.java
  src/main/resources/data/joint.json
  src/main/resources/data/sole.json
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerCreatePaperCaseTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1503

#1504 Added missing ocr validation for financial order prayer(app1/app2)
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/Applicant1Transformer.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/Applicant2Transformer.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/transformation/Applicant1TransformerTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/transformation/Applicant2TransformerTest.java
  src/test/resources/transformation/input/valid-applicant1-ocr.json
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1504

#1505 Fix final order requested state transition
  src/main/java/uk/gov/hmcts/divorce/common/event/ApplyForFinalOrder.java
  src/test/java/uk/gov/hmcts/divorce/common/event/ApplyForFinalOrderTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1505

#1511 NFDIV-1632: Make changes to AoS tab
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1511

#1509 Integrate cftlib gradle plugin
  build.gradle
  settings.gradle
  src/cftlib/java/uk/gov/hmcts/divorce/cftlib/CftLibConfig.java
  src/cftlib/java/uk/gov/hmcts/divorce/cftlib/RunWithCFT.java
  src/cftlibTest/java/uk/gov/hmcts/divorce/cftlib/TestWithCCD.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1509

#1515 changes to various event and state permissions
  build.gradle
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAwaitingApplicant.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRejected.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerServeByAlternativeMethod.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerWithdrawn.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant1Resubmit.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateApplication.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemAttachScannedDocuments.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemoveBulkCase.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerifiedTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/AwaitingConditionalOrderNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1515

#1518 fix missing address when doing NoC
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerNoticeOfChange.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1518

#1510 NFDIV-1719 : BP Notification AoS Overdue
  src/functionalTest/resources/application.yaml
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressCaseToAosOverdueIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/testutil/FeesWireMock.java
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/wiremock/responses/about-to-submit-system-progress-case-to-aos-overdue-offline.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/AosOverduePrinter.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/AosReminderNotifications.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/GenerateAosOverdueLetterDocument.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentUtil.java
  src/main/java/uk/gov/hmcts/divorce/document/content/AosOverdueLetterTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisTemplateConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/model/DocumentType.java
  src/main/java/uk/gov/hmcts/divorce/payment/FeesAndPaymentsUtil.java
  src/main/java/uk/gov/hmcts/divorce/payment/PaymentService.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressCaseToAosOverdue.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/AosOverduePrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/AosReminderNotificationsTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/GenerateAosOverdueLetterDocumentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/DocumentUtilTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/AosOverdueLetterTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/payment/FeesAndPaymentsUtilTest.java
  src/test/java/uk/gov/hmcts/divorce/payment/PaymentServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressCaseToAosOverdueTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1510

#1519 Use isRepresented to resolve NPE being thrown for null represented field
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateNoticeOfProceeding.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1519

#1516 NFDIV-1834
  src/functionalTest/java/uk/gov/hmcts/divorce/citizen/Applicant1ResubmitFT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/Applicant1ResubmitIT.java
  src/main/java/uk/gov/hmcts/divorce/common/event/Applicant1Resubmit.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/Applicant1ResubmitTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1516

#1523 Update HWF number validation to have minimum 9 characters
  src/integrationTest/resources/d8-transformation-success-response.json
  src/integrationTest/resources/d8s-transformation-success-response.json
  src/integrationTest/resources/transformation-success-warning-response.json
  src/integrationTest/resources/valid-d8-ocr.json
  src/integrationTest/resources/valid-d8s-ocr.json
  src/integrationTest/resources/valid-ocr-with-warnings.json
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/ApplicationTransformer.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/CommonFormToCaseTransformer.java
  src/test/resources/transformation/input/invalid-application-ocr.json
  src/test/resources/transformation/input/valid-application-ocr-with-null-values.json
  src/test/resources/transformation/input/valid-application-ocr.json
  src/test/resources/transformation/output/application-transformed-warnings.json
  src/test/resources/transformation/output/application-transformed.json
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1523

#1524 Only set applicant1 as offline when case is created via bulkscan
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerCreatePaperCase.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerCreatePaperCaseTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1524

#1526 NFDIV-1847
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/ServiceOrderTemplateContentIT.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/validation/ValidationUtil.java
  src/main/java/uk/gov/hmcts/divorce/notification/CommonContent.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/validation/CaseValidationTest.java
  src/test/java/uk/gov/hmcts/divorce/notification/CommonContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1526

#1493 Nfdiv-1831 fix dispute notifications due date
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/SoleApplicationDisputedNotification.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/SoleApplicationDisputedNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1493

#1528 NFDIV-1719 : reverted sort by doc added date
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/AosOverduePrinter.java
  src/test/java/uk/gov/hmcts/divorce/document/DocumentUtilTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1528

#1530 give access to citizens and solicitors to all states
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/DefaultStateAccess.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/access/DefaultStateAccessTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1530

#1512 Nfdiv-1733 Add field to conditional order tab
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1512

#1536 Fix path for loading D10 Pdf document from resources folder
  build.gradle
  src/main/java/uk/gov/hmcts/divorce/document/print/BulkPrintService.java
  src/test/java/uk/gov/hmcts/divorce/document/print/BulkPrintServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1536

#1534 NFDIV-1632: Remove applicant 2 user id from aos tab
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1534

#1537 Update app2 prayer label and add scanned docs to correct paper case event
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/CorrectPaperCase.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1537

#1538 Update use of .forAllStates so that caseworkers only get access to post submission states
  build.gradle
  src/main/java/uk/gov/hmcts/divorce/bulkscan/ccd/event/CompleteAwaitingPaymentDcnProcessing.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAddNote.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerCreateGeneralOrder.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralApplicationReceived.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralEmail.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralReferral.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerNoticeOfChange.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateContactDetails.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateDueDate.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadConfidentialDocument.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadDocument.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorGeneralApplication.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemHandleSupplementaryEvidence.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1538

#1540 Added country of marriage to issue application event
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueApplication.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1540

#1539 Re classify bootWithCcd
  build.gradle
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1539

#1533 Nfdiv 1433 add application tab dynamic labels
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/ApplicationTab.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolHowDoYouWantToApplyForDivorce.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1533

#1535 NFDIV-1823 Move case into correct state when aboutToSubmit is triggered for SolicitorSubmitJointApp event
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitJointApplication.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitJointApplicationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1535

#1543 Update permissions
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenUpdateCaseStateAat.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeServiceDecision.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1543

#1544 NFDIV-1842 Update library and add example shutter
  build.gradle
  src/main/java/uk/gov/hmcts/divorce/divorcecase/NoFaultDivorce.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1544

#1545 Added event for caseworker to set respondent solicitor organisation
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerSetRespondentSolicitorOrganisation.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerSetTestRespondentSolicitorOrganisationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1545

#1546 nfdiv-1054: add Applicant2RequestChanges solicitor Notification
  src/integrationTest/java/uk/gov/hmcts/divorce/common/Applicant2RequestChangesNotificationIT.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2RequestChangesNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/CommonContent.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2RequestChangesNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1546

#1549 NFDIV-1728 Unify work basket and search result fields and add ordering
  build.gradle
  src/main/java/uk/gov/hmcts/divorce/divorcecase/search/CaseFieldsConstants.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/search/SearchCasesResultFields.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/search/SearchResultFields.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/workbasket/WorkBasketResultFields.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1549

#1552 Update respondent telephone email and scanned documents optional
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/CorrectPaperCase.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1552

#1553 NFDIV-1873,1877 : screen content changes
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/CorrectPaperCase.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1553

#1554 Add offline checks for additional gender validation in validateApplicant1BasicCase()
  src/main/java/uk/gov/hmcts/divorce/divorcecase/validation/ValidationUtil.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/validation/CaseValidationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1554

#1555 NFDIV-1850: Sign and submit to only be seen by app1 solicitor
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplication.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1555

#1557 Fix NPE when generating AOS invitation for respondent based on applicant knows respondent address
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateRespondentAosInvitation.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SendAosPackToRespondent.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateRespondentAosInvitationTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/SendAosPackToRespondentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1557

#1559 Fix DateTimeParseException on create paper case event
  build.gradle
  src/integrationTest/resources/d8-transformation-success-response.json
  src/integrationTest/resources/d8s-transformation-success-response.json
  src/integrationTest/resources/transformation-success-warning-response.json
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1559

#1532 NFDIV-1717 : BP Notification when respondent has responded without dispute
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SendAosResponseLetterPackToApplicant.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/GenerateAosResponseLetterDocument.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentUtil.java
  src/main/java/uk/gov/hmcts/divorce/document/content/AosUndefendedResponseLetterTemplateContent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/SendAosResponseLetterPackToApplicantTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/GenerateAosResponseLetterDocumentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/AosUndefendedResponseLetterTemplateContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1532

#1564 Fix create test case missing dynamic field
  src/main/resources/data/joint.json
  src/main/resources/data/sole.json
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1564

#1563 NFDIV-1876 : Correct paper case screen content changes
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/CorrectPaperCase.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/LabelContent.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerCorrectPaperCaseTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerCreatePaperCaseTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1563

#1565 Update parsing of marriage month as month name is received rather than integer month
  src/integrationTest/resources/valid-d8-ocr.json
  src/integrationTest/resources/valid-d8s-ocr.json
  src/integrationTest/resources/valid-ocr-with-warnings.json
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/MarriageDetailsTransformer.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/transformation/MarriageDetailsTransformerTest.java
  src/test/resources/transformation/input/invalid-marriage-details-ocr.json
  src/test/resources/transformation/input/valid-marriage-details-ocr.json
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1565

#1568 NFDIV-1788 Add payment history tab
  build.gradle
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1568

#1571 Restore CAA tab
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseAccessAdministratorSearchTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1571

#1572 NFDIV-1847
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/Applicant1ResubmitIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplicationIT.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/validation/ValidationUtil.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/InviteApplicant2Test.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/validation/CaseValidationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1572

#1566 NFDIV-1400: Add paper case payment method and new paper case flag field
  src/integrationTest/resources/d8-transformation-success-response.json
  src/integrationTest/resources/d8s-transformation-success-response.json
  src/integrationTest/resources/transformation-success-warning-response.json
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/PaperFormDetailsTransformer.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerCreatePaperCase.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/PaperCasePaymentMethod.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/transformation/PaperFormDetailsTransformerTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerCreatePaperCaseTest.java
  src/test/resources/transformation/input/valid-paper-form-ocr.json
  src/test/resources/transformation/output/paper-form-transformed-warnings.json
  src/test/resources/transformation/output/paper-form-transformed.json
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1566

#1513 include more app2 info to tabs
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/ApplicationTab.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1513

#1574 NFDIV-1899 Shutter for solicitors in prod
  Jenkinsfile_CNP
  bin/add-roles.sh
  build.gradle
  src/cftlib/java/uk/gov/hmcts/divorce/cftlib/CftLibConfig.java
  src/main/java/uk/gov/hmcts/divorce/common/ccd/HighLevelDataSetupApp.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/NoFaultDivorce.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1574

#1575 Nfdiv 1160 change service request
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerChangeServiceRequest.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerChangeServiceRequestTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1575

#1576 Add general email collection to correspondence tab
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerGeneralEmailIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralEmail.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/GeneralEmailDetails.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralEmailTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1576

#1577 Fix marriage date parsing and include empty check for solicitor name
  src/integrationTest/resources/d8-transformation-success-response.json
  src/integrationTest/resources/d8s-transformation-success-response.json
  src/integrationTest/resources/transformation-success-warning-response.json
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/Applicant2Transformer.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/MarriageDetailsTransformer.java
  src/test/resources/transformation/output/applicant2-transformed-warnings.json
  src/test/resources/transformation/output/applicant2-transformed.json
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1577

#1580 nfdiv-1833: send email when either applicant missing docs
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationOutstandingActionNotification.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationOutstandingActionNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1580

#1578 Updated condition to set applicant 2 status offline to include org policy
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SetApplicantOfflineStatus.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SetApplicantOfflineStatusTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1578

#1551 NFDIV-1830: Bulk Print Notifications - Notice of Proceedings (Joint Application)
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingJointContentIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/ApplicationPrinter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/NoticeOfProceedingsPrinter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateNoticeOfProceeding.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/ApplicationIssuedNotification.java
  src/main/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingJointContent.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/ApplicationPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/NoticeOfProceedingsPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateNoticeOfProceedingTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/ApplicationIssuedNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1551

#1579 NFDIV-1910: Remove warnings once the paper case is corrected
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerCorrectPaperCase.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerCorrectPaperCaseTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/SubmitClarificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1579

#1583 Send notification to applicant1 when bailiff service is successful
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerAddBailiffReturnFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-add-bailiff-return.json
  src/functionalTest/resources/responses/response-caseworker-add-bailiff-return.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerAddBailiffReturnIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAddBailiffReturn.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/BailiffServiceSuccessfulNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAddBailiffReturnTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/BailiffServiceSuccessfulNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1583

#1585 NFDIV-1891: Remove prayer from correct paper case
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/CorrectPaperCase.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/page/CorrectPaperCaseTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1585

#1586 Added caseworker confirm service event
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerConfirmServiceIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerConfirmService.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerConfirmServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1586

#1587 Revert changes made to aboutToSubmit method as submit method already …
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitJointApplication.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitJointApplicationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1587

#1588 nfdiv-1833: prevent awaitingHWFDecision state notification
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplicationIT.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SendCitizenSubmissionNotifications.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SendCitizenSubmissionNotificationsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1588

#1591 Update Divorce Service wording
  src/main/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingJointContent.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1591

#1589 nfdiv-1849 Move applicant2 HWF to applicant1 solicitor for joint applications
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitJointApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/HelpWithFeesPage.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/HelpWithFeesPageForApplicant2.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolPaymentSummary.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitJointApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/page/HelpWithFeesPageForApplicant2Test.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1589

#1599 fix pba test
  src/functionalTest/resources/responses/response-solicitor-payment-mid-event.json
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1599

#1594 Merge the payment history and payment tab
  build.gradle
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1594

#1602 Remove unused field
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFields.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1602

#1600 Fix validation errors on correct paper case D8 form
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/CorrectPaperCase.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1600

#1604 Fix marriage broken down and certificate/translation details
  src/integrationTest/resources/d8-transformation-success-response.json
  src/integrationTest/resources/d8s-transformation-success-response.json
  src/integrationTest/resources/transformation-success-warning-response.json
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/Applicant1Transformer.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/Applicant2Transformer.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/MarriageDetailsTransformer.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/transformation/MarriageDetailsTransformerTest.java
  src/test/resources/transformation/output/applicant1-transformed-invalid-sol-warnings.json
  src/test/resources/transformation/output/applicant1-transformed.json
  src/test/resources/transformation/output/applicant2-transformed.json
  src/test/resources/transformation/output/marriage-details-transformed.json
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1604

#1601 Fix marriage broken down validation for sole application
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/CorrectPaperCase.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/page/CorrectPaperCaseTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1601

#1603 Consolidate documents into CaseDocuments class
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerAnswerReceivedIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/common/SubmitAosIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorGeneralApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorSubmitUpdateDraftAosIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorUpdateApplicationIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAnswerReceived.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerConfirmService.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadConfidentialDocument.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadDocument.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadDocumentsAndSubmit.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/AnswerReceivedUploadDocument.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/CorrectPaperCase.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/AosOverduePrinter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/ApplicationPrinter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/NoticeOfProceedingsPrinter.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSole.java
  src/main/java/uk/gov/hmcts/divorce/common/event/Applicant2Approve.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/AddRespondentAnswersLink.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseDocuments.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/document/CaseDataDocumentService.java
  src/main/java/uk/gov/hmcts/divorce/document/model/ConfidentialDivorceDocument.java
  src/main/java/uk/gov/hmcts/divorce/document/task/DivorceApplicationRemover.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeDecision.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeServiceDecision.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorGeneralApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitJointApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/UploadDocument.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/task/AddMiniApplicationLink.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemAttachScannedDocuments.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAnswerReceivedTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadConfidentialDocumentTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadDocumentTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadDocumentsAndSubmitTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/page/AnswerReceivedUploadDocumentTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/AosOverduePrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/ApplicationPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/NoticeOfProceedingsPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSoleTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/Applicant2ApproveTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/AddRespondentAnswersLinkTest.java
  src/test/java/uk/gov/hmcts/divorce/document/CaseDataDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/document/task/DivorceApplicationRemoverTest.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeServiceDecisionTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorGeneralApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitJointApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/task/AddMiniApplicationLinkTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1603

#1607 Rename CaseworkerBeta
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/AcknowledgementOfService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/AlternativeService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseDocuments.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/GeneralOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseworkerAccessBetaOnlyAccess.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseworkerAccessOnlyAccess.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseworkerAccessBetaOnlyAccessTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseworkerAccessOnlyAccessTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1607

#1605 nfdiv-1833: send applicationSubmitted notification in awaitingHwfDecision state
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationOutstandingActionNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SendCitizenSubmissionNotifications.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SendCitizenSubmissionNotificationsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1605

#1606 Validate gender for applicant 2 when respondent email is present and is not a paper case
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/validation/ValidationUtil.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/validation/CaseValidationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1606

#1608 Consolidate bulkscan paper fields
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerCorrectPaperCase.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerCreatePaperCase.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/BulkScanMetaInfo.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/validation/ValidationUtil.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemAttachScannedDocuments.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemHandleSupplementaryEvidence.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerCorrectPaperCaseTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerCreatePaperCaseTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/validation/CaseValidationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1608

#1597 Fix application tab financialOrder label
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/CorrectPaperCase.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/ApplicationTab.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/FinancialOrders.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1597

#1598 Change when applicant2 answers are generated
  src/main/java/uk/gov/hmcts/divorce/common/event/Applicant2Approve.java
  src/test/java/uk/gov/hmcts/divorce/common/event/Applicant2ApproveTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1598

#1611 Hide applicant 2/respondent name changed question for joint applications
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutApplicant2.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1611

#1613 Updated permissions so that LA can trigger make bailiff decision event
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerMakeBailiffDecision.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1613

#1612 Fix logging as service method may be null depending on case state when event is triggered
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerConfirmService.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1612

#1614 Removed place of marriage from correct paper case as it is not on D8 form
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/CorrectPaperCase.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1614

#1581 NFDIV-1278 - Notification when the service application is successful
  src/functionalTest/resources/request/casedata/ccd-callback-make-service-decision.json
  src/functionalTest/resources/responses/response-la-make-service-decision-deemed.json
  src/functionalTest/resources/responses/response-la-make-service-decision-dispensed.json
  src/integrationTest/java/uk/gov/hmcts/divorce/legaladvisor/LegalAdvisorMakeServiceDecisionIT.java
  src/integrationTest/resources/legal-advisor-service-decision-deemed-response.json
  src/integrationTest/resources/legal-advisor-service-decision-dispensed-response.json
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/ConditionalOrderPronouncedNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/ServiceApplicationNotification.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/AlternativeService.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeServiceDecision.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/common/notification/ServiceApplicationNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/util/AlternativeServiceUtilTest.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeServiceDecisionTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1581

#1618 Change app2 email check from isNull to isBlank
  src/main/java/uk/gov/hmcts/divorce/notification/NotificationDispatcher.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1618

#1620 Corrections for application review notification for applicant 2
  src/main/java/uk/gov/hmcts/divorce/notification/NotificationDispatcher.java
  src/test/java/uk/gov/hmcts/divorce/notification/NotificationDispatcherTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1620

#1623 NFDIV-1937
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1623

#1621 Update template content for solicitor service solicitor notification
  charts/nfdiv-case-api/Chart.yaml
  charts/nfdiv-case-api/values.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/common/notification/ApplicationIssuedNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/CommonContent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/common/notification/ApplicationIssuedNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1621

#1626 NFDIV-1278 - Notification when the service application is successful (part 2)
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerMakeBailiffDecision.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerMakeBailiffDecisionTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1626

#1619 NFDIV-1910: Remove warnings after correct paper case event triggered
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerCorrectPaperCase.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerCorrectPaperCaseTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1619

#1624 NFDVI-1896,1876, 1890 : Correct paper screen changes
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/CorrectPaperCase.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1624

#1625 NFDIV-1081 - Update applicant 1 solicitor email notification for case issue
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/integrationTest/resources/caseworker-issue-applicant1-represented-by-solicitor-about-to-submit-response.json
  src/main/java/uk/gov/hmcts/divorce/common/notification/ApplicationIssuedNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/CommonContent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/common/notification/ApplicationIssuedNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1625

#1631 NFDIV-1911
  src/functionalTest/resources/responses/response-caseworker-issue-application-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-offline-aos-application-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-reissue-application-about-to-submit-reissue-case.json
  src/functionalTest/resources/responses/response-caseworker-reissue-application-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-app2-sol-rep-response.json
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-solicitor-service-response.json
  src/integrationTest/resources/caseworker-issue-joint-citizen-application-about-to-submit-response.json
  src/integrationTest/resources/caseworker-reissue-application-about-to-submit-app2-sol-rep-offline-aos-response.json
  src/integrationTest/resources/caseworker-reissue-application-about-to-submit-app2-sol-rep-reissue-response.json
  src/integrationTest/resources/caseworker-reissue-application-about-to-submit-app2-sol-rep-response.json
  src/integrationTest/resources/caseworker-reissue-joint-citizen-application-about-to-submit-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/NoticeOfProceedingsPrinter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateNoticeOfProceeding.java
  src/main/java/uk/gov/hmcts/divorce/document/model/DocumentType.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/NoticeOfProceedingsPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateNoticeOfProceedingTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1631

#1642 Suppress CVE for POI package
  config/owasp/suppressions.xml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1642

#1637 NFDIV-1962: Ensure app2 solicitor address is pulled through correctly
  src/integrationTest/resources/valid-d8-ocr.json
  src/integrationTest/resources/valid-d8s-ocr.json
  src/integrationTest/resources/valid-ocr-with-warnings.json
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/Applicant2Transformer.java
  src/test/resources/transformation/input/invalid-applicant2-ocr.json
  src/test/resources/transformation/input/valid-applicant2-ocr.json
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1637

#1627 Nfdiv-1237 Update jurisdiction
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/ApplicationTransformer.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Jurisdiction.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/JurisdictionConnections.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationJointTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationSoleTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DraftApplicationTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/provider/ApplicationTemplateDataProvider.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/transformation/ApplicationTransformerTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/JurisdictionTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationJointTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationSoleTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DraftDivorceApplicationSoleTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/provider/ApplicationTemplateDataProviderTest.java
  src/test/resources/transformation/input/valid-application-ocr-with-null-values.json
  src/test/resources/transformation/input/valid-application-ocr.json
  src/test/resources/transformation/output/application-transformed.json
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1627

#1641 test PR
  README.md
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1641

#1632 Nfdiv 1193 joint solicitor email issue notification
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/integrationTest/resources/caseworker-issue-joint-application-app1-represented-about-to-submit-response.json
  src/integrationTest/resources/caseworker-issue-joint-application-app2-represented-about-to-submit-response.json
  src/integrationTest/resources/caseworker-reissue-joint-application-applicant1-solicitor-about-to-submit-response.json
  src/integrationTest/resources/caseworker-reissue-joint-application-applicant2-solicitor-about-to-submit-response.json
  src/main/java/uk/gov/hmcts/divorce/common/notification/ApplicationIssuedNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/common/notification/ApplicationIssuedNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1632

#1633 NFDIV-1963 : Correct paper case - solicitor details made optional
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/CorrectPaperCase.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1633

#1644 Bump notifications-java-client from 3.17.2-RELEASE to 3.17.3-RELEASE
  build.gradle
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1644
