Repository hmcts/nfdiv-case-api, pull requests merged in 2022-01, with the labels that each got.

#1150 Add missing retired field
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFields.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1150

#1153 Remove Awaiting AOS as pre state for issue application
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueApplication.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1153

#1154 Update event conditions for submit and update case
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateApplication.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1154

#1152 NFDIV-1556 Collapse citizen update events
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant2UpdateApplication.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenUpdateApplication.java
  src/main/java/uk/gov/hmcts/divorce/common/event/UpdateAos.java
  src/main/java/uk/gov/hmcts/divorce/common/event/UpdateConditionalOrder.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant2UpdateApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/UpdateAosTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1152

#1156 Nfdiv 1568 refactor remaining notifications
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant2Approve.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2ApprovedNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/AppliedForConditionalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/notification/ApplicantSubmittedNotification.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/notification/SolicitorSubmittedNotification.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/task/SolicitorSubmitNotification.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant2ApproveTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2ApprovedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/SubmitConditionalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/notification/ApplicantSubmittedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/notification/SolicitorSubmittedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/task/SolicitorSubmitNotificationsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1156

#1158 WhoDivorcing and gender fixes for solicitor cases
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/MarriageDetails.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/MarriageFormation.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFields.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutApplicant1.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutApplicant2.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutApplicant1Test.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1158

#1159 Move Invite applicant2 to common event package
  src/functionalTest/java/uk/gov/hmcts/divorce/common/InviteApplicant2FT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/common/InviteApplicant2IT.java
  src/main/java/uk/gov/hmcts/divorce/common/event/InviteApplicant2.java
  src/test/java/uk/gov/hmcts/divorce/common/event/InviteApplicant2Test.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1159

#1160 Fix gender2
  src/functionalTest/resources/request/casedata/ccd-callback-casedata.json
  src/functionalTest/resources/responses/response-caseworker-add-notes-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-issue-bailiff-pack.json
  src/functionalTest/resources/responses/response-solicitor-create-about-to-submit.json
  src/functionalTest/resources/responses/response-solicitor-payment-mid-event.json
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorCreateApplicationIT.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/MarriageDetails.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/MarriageFormation.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFields.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorCreateApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutApplicant1.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutApplicant2.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorCreateApplicationService.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/task/SetApplicantGender.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorCreateApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorCreateApplicationApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/task/SetApplicantGenderTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1160

#1162 Clean deps
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1162

#1163 Added solicitor submit joint application event
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitJointApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/FinancialOrdersForApplicant2.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/HelpWithFeesPageForApplicant2.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/MarriageIrretrievablyBroken.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/MarriageIrretrievablyBrokenForApplicant2.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitJointApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/page/MarriageIrretrievablyBrokenForApplicant2Test.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1163

#1164 Fix certificate of entitlement null pointer
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/CertificateOfEntitlementContentIT.java
  src/main/java/uk/gov/hmcts/divorce/document/content/CertificateOfEntitlementContent.java
  src/test/java/uk/gov/hmcts/divorce/document/content/CertificateOfEntitlementContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1164

#1166 Fixed a bug where not having solicitor reference prevented PBA payment
  src/main/java/uk/gov/hmcts/divorce/payment/PaymentService.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1166

#1165 Nfdiv 1568 refactor awaiting conditional order notification
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/AosReminderNotifications.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/Applicant1ResubmitNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationOutstandingActionNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationRemindApplicant2Notification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSentForReviewNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/ApplicationIssuedNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/AwaitingConditionalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/AwaitingConditionalOrderReminderNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/ConditionalOrderPendingReminderNotification.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/notification/AwaitingConditionalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/CommonContent.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressHeldCase.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemindApplicantsApplyForCOrder.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/AwaitingConditionalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/AwaitingConditionalOrderReminderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/ConditionalOrderPendingReminderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/CaseDataTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/notification/AwaitingConditionalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/notification/CommonContentTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressHeldCaseTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemindApplicantsApplyForCOrderTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1165

#1168 Add temp logging to trace certificate of entitlement document
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/service/CcdUpdateServiceIT.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/document/model/DivorceDocument.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdUpdateService.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1168

#1169 Implemented pages for applicant 2 solicitor joint app to check applicant 1 solicitor answer
  src/functionalTest/java/uk/gov/hmcts/divorce/common/Applicant2ApproveFT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/common/Applicant2ApproveIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/common/Applicant2RequestChangesNotificationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/CertificateOfEntitlementContentIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/CertificateOfServiceContentIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/GeneralOrderTemplateContentIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContentIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/ServiceOrderTemplateContentIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/common/event/Applicant2Approve.java
  src/main/java/uk/gov/hmcts/divorce/common/event/Applicant2RequestChanges.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CtscContactDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitJointApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/CheckApplicant1SolicitorAnswers.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/HelpWithFeesPageForApplicant2.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitApplicationService.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitJointApplicationService.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/Applicant2ApproveTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/Applicant2RequestChangesTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/CertificateOfServiceContentTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitJointApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/page/HelpWithFeesPageForApplicant2Test.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitJointApplicationServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1169

#1170 Address review comments for pr 1169
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CtscContactDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitJointApplicationService.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1170

#1172 Add more logging to trace document field issue
  src/main/java/uk/gov/hmcts/divorce/bulkaction/task/UpdateCasePronouncementJudgeProvider.java
  src/main/java/uk/gov/hmcts/divorce/common/config/jackson/JacksonConfiguration.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CaseDetailsUpdater.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdUpdateService.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1172

#1174 Use Fee account reference entered by user as customer reference
  src/main/java/uk/gov/hmcts/divorce/payment/PaymentService.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1174

#1175 nfdiv-1050: fix notification flag
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemindApplicantsApplyForCOrderFT.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/conditionalorder/SystemRemindApplicantsApplyForCOrderTask.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1175

#1179 Use new object mapper for class conversion
  src/main/java/uk/gov/hmcts/divorce/common/config/jackson/JacksonConfiguration.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CaseDetailsUpdater.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/CaseDetailsUpdaterTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1179

#1180 NFDIV-1535: Update Sign and Submit for Joint applications
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/HelpWithFeesPage.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolConfirmJointApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolPaymentSummary.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1180

#1182 App2 solicitor check answers no correction needed
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-applicant1-joint-application.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-applicant1-resubmit-application.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-applicant2-approved.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-joint-application-help-with-fees-awaiting-documents.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-joint-application-payment-made-awaiting-documents.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-system-application-not-reviewed.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-system-notify-applicant-dispute-form-overdue.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-system-progress-case-to-aos-overdue.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-system-progress-held-cases.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-system-remind-applicant2.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-system-remind-applicants-conditional-order.json
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-issue-joint-citizen-application-about-to-submit.json
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-issue-sole-citizen-application-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-issue-joint-citizen-application-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-issue-sole-citizen-application-about-to-submit.json
  src/functionalTest/resources/responses/response-joint-application-help-with-fees-awaiting-documents.json
  src/functionalTest/resources/responses/response-system-progress-case-to-aos-overdue.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-applicant-2-approved.json
  src/integrationTest/resources/wiremock/responses/applicant-1-resubmit-application.json
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSole.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFields.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/Applicant2ReadAccess.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/validation/ValidationUtil.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitJointApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/CheckApplicant1SolicitorAnswers.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolStatementOfTruthApplicant2.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSoleTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/Applicant2ApproveTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFieldsTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/access/Applicant2ReadAccessTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1182

#1185 Feature/nfdiv 1199 notify respondent co pronounced
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemPronounceCaseFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-system-pronounce-case.json
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/ConditionalOrderPronouncedNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemPronounceCase.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/ConditionalOrderPronouncedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemPronounceCaseTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1185

#1181 Fix blank conditional order document
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/service/CaseDetailsUpdaterIT.java
  src/main/java/uk/gov/hmcts/divorce/document/model/DivorceDocument.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CaseDetailsUpdater.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/CaseDetailsUpdaterTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1181

#1190 NFDIV-1606
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateDivorceApplication.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationJointTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationSoleTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisTemplateConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DraftApplicationTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/task/DivorceApplicationDraft.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateDivorceApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationJointTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationSoleTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DraftDivorceApplicationSoleTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/task/DivorceApplicationDraftTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1190

#1192 Move HttpServletRequest to SolicitorSubmitJointApplication as we cannot autowire it in service
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitJointApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitJointApplicationService.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitJointApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitJointApplicationServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1192

#1191 NFDIV-1196
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-system-pronounce-case.json
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/ConditionalOrderPronouncedNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemPronounceCase.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/ConditionalOrderPronouncedNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1191

#1195 Rename dropdown events to present tense
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueApplication.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerReissueApplication.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerWithdrawn.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1195

#1198 NFDIV-1463: Configure confidential tab roles
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1198

#1200 Added applicant 2 solicitor access to approve and request changes events
  src/main/java/uk/gov/hmcts/divorce/common/event/Applicant2Approve.java
  src/main/java/uk/gov/hmcts/divorce/common/event/Applicant2RequestChanges.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/FinancialOrdersForApplicant2.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1200

#1193 Remove temp logging and add extra logging
  src/main/java/uk/gov/hmcts/divorce/bulkaction/task/LinkBulkCaseProvider.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/task/PronounceCaseProvider.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/task/UnlinkBulkCaseProvider.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/task/UpdateCaseCourtHearingProvider.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/task/UpdateCasePronouncementJudgeProvider.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CaseDetailsUpdater.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdUpdateService.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1193

#1201 Add conditional order court labels to definition.ts generation
  package.json
  src/integrationTest/java/uk/gov/hmcts/divorce/bulkaction/service/PronouncementListDocServiceIT.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/constant/ConditionalOrderCourtConstants.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrderCourt.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/service/CasePronouncementServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/service/CaseRemovalServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/task/UpdateCaseCourtHearingProviderTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/ConditionalOrderPronouncedNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1201

#1203 Use system user to trigger async event and remove financial order hidden field
  src/main/java/uk/gov/hmcts/divorce/common/event/Applicant2Approve.java
  src/main/java/uk/gov/hmcts/divorce/common/event/Applicant2RequestChanges.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitJointApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolStatementOfTruthApplicant2.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitJointApplicationService.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitJointApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitJointApplicationServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1203

#1204 Add check to see if applicant 1 represented to determine which jurisdiction validation used
  src/main/java/uk/gov/hmcts/divorce/divorcecase/validation/ValidationUtil.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/validation/CaseValidationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1204

#1206 Added read access to app1 solicitor for app2 approve/request changes
  src/main/java/uk/gov/hmcts/divorce/common/event/Applicant2Approve.java
  src/main/java/uk/gov/hmcts/divorce/common/event/Applicant2RequestChanges.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1206

#1207 Added legal advisor general consideration event
  src/integrationTest/java/uk/gov/hmcts/divorce/legaladvisor/LegalAdvisorGeneralConsiderationIT.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/GeneralReferral.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/GeneralReferralDecision.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorGeneralConsideration.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorGeneralConsiderationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1207

#1205 Update states for citizen update events
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant2UpdateApplication.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenUpdateApplication.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1205

#1210 NFDIV-1136
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemUpdateCaseWithCourtHearingFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-system-update-case-with-court-hearing-joint.json
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemUpdateCaseWithCourtHearingIT.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/ConditionalOrderPronouncedNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/EntitlementGrantedConditionalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/CommonContent.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/ConditionalOrderPronouncedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/EntitlementGrantedConditionalOrderNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1210

#1208 Added caseworker request dwp disclosure event
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRequestDwpDisclosure.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRequestDwpDisclosureTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1208

#1212 Dependabot/gradle/com.GitHub.hmcts ccd client 4.8.4
  build.gradle
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1212

#1213 Update befta client jar which uses jitpack for s2s dependency
  build.gradle
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1213

#1211 NFDIV-1629: Add set gender task to update application service
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-solicitor-update.json
  src/functionalTest/resources/responses/response-solicitor-update-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorUpdateApplicationIT.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorUpdateApplicationService.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorUpdateApplicationApplicationServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1211

#1215 Nfdiv 1585 tidy solicitor notifications
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/AosReminderNotifications.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/ApplicationIssuedNotification.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/notification/LegalAdvisorClarificationSubmittedNotification.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/AosReminderNotificationsTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/ApplicationIssuedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/notification/LegalAdvisorClarificationSubmittedNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1215

#1219 NFDIV-1383
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerRemoveCasesFromBulkList.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerScheduleCase.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1219

#1218 Added missing labels for app2 solicitor SOT page
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolStatementOfTruthApplicant2.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1218

#1216 Updated additional information type to text area for app2 solicitor correction needed
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1216

#1221 NFDIV-1157 Update states for submit-conditional-order
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitConditionalOrder.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1221

#1222 Remove solicitor from disputed and undisputed event names
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitAos.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemIssueAosDisputed.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemIssueAosUnDisputed.java
  src/test/java/uk/gov/hmcts/divorce/common/event/SubmitAosTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemIssueAosDisputedTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemIssueAosUnDisputedTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1222

#1223 Display SOT page when no corrections are needed and update content
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolStatementOfTruthApplicant2.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1223

#1187 NFDIV-1250 - Conditional order entitlement granted notification (Respondent)
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemUpdateCaseWithCourtHearingFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-system-update-case-with-court-hearing-joint.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-system-update-case-with-court-hearing.json
  src/functionalTest/resources/responses/response-system-update-case-with-court-hearing.json
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemUpdateCaseWithCourtHearingIT.java
  src/integrationTest/resources/wiremock/responses/about-to-submit-system-update-case-court-hearing.json
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/ConditionalOrderPronouncedNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/EntitlementGrantedConditionalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/CommonContent.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemUpdateCaseWithCourtHearing.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/ConditionalOrderPronouncedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/EntitlementGrantedConditionalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemUpdateCaseWithCourtHearingTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1187

#1217 NFDIV-1529
  src/integrationTest/java/uk/gov/hmcts/divorce/common/Applicant2ApproveIT.java
  src/main/java/uk/gov/hmcts/divorce/common/event/Applicant2Approve.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/test/java/uk/gov/hmcts/divorce/common/event/Applicant2ApproveTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1217

#1224 Add app2 role to submit conditional order
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitConditionalOrder.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1224

#1214 NFDIV-1251 Conditional Order refused notification (Sole, Applicant1)
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-legal-advisor-make-decision.json
  src/functionalTest/resources/responses/response-legal-advisor-make-decision.json
  src/integrationTest/java/uk/gov/hmcts/divorce/legaladvisor/LegalAdvisorMakeDecisionIT.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeDecision.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/notification/LegalAdvisorMoreInfoDecisionNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeDecisionTest.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/notification/LegalAdvisorMoreInfoDecisionNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1214

#1226 Add caseworker serve by alternative method event
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerServeByAlternativeMethod.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerServeByAlternativeMethodTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1226

#1228 Added exception record ccd definitions for bulk scan
  bin/process-and-import-ccd-definition.sh
  config/checkstyle/checkstyle.xml
  src/main/java/uk/gov/hmcts/divorce/bulkscan/ccd/ExceptionRecordCaseTypeConfig.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/ccd/ExceptionRecordPageBuilder.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/ccd/ExceptionRecordState.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/ccd/event/AttachExceptionRecordToCase.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/ccd/event/CompleteAwaitingPaymentDcnProcessing.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/ccd/event/CreateCaseFromExceptionRecord.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/ccd/event/CreateExceptionRecord.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/ccd/event/ManuallyHandleExceptionRecord.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/ccd/event/RejectExceptionRecord.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/data/ExceptionRecord.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/data/KeyValue.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/data/ScannedDocument.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/data/ScannedDocumentType.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/search/ExceptionRecordSearchInputFields.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/search/ExceptionRecordSearchResultFields.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/workbasket/ExceptionRecordWorkBasketInputFields.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/workbasket/ExceptionRecordWorkBasketResultFields.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/UserRole.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/ccd/event/AttachExceptionRecordToCaseTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/ccd/event/CompleteAwaitingPaymentDcnProcessingTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/ccd/event/CreateCaseFromExceptionRecordTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/ccd/event/CreateExceptionRecordTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/ccd/event/ManuallyHandleExceptionRecordTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/ccd/event/RejectExceptionRecordTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/ccd/search/ExceptionRecordSearchInputFieldsTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/ccd/search/ExceptionRecordSearchResultFieldsTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/ccd/workbasket/ExceptionRecordWorkBasketInputFieldsTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/ccd/workbasket/ExceptionRecordWorkBasketResultFieldsTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/ConfigTestUtil.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1228

#1227 NFDIV-1596: Create general referral payment event
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerAnswerReceivedIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerConfirmServicePaymentIT.java
  src/integrationTest/resources/caseworker-answers-received-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAlternativeServicePayment.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAnswerReceived.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralReferralPayment.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/AlternativeServicePaymentConfirmation.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/AlternativeServicePaymentSummary.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/AnswerReceivedPaymentConfirmation.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/AnswerReceivedPaymentSummary.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/GeneralReferralPaymentConfirmation.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/GeneralReferralPaymentSummary.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/AcknowledgementOfService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/AlternativeService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/FeeDetails.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/GeneralReferral.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFields.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerConfirmServicePaymentTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralReferralPaymentTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralReferralTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFieldsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1227

#1229 Add confirm alternative service event
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerConfirmAlternativeServiceIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerConfirmAlternativeService.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerConfirmAlternativeServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1229

#1235 Switch dm client to jitpack
  build.gradle
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1235

#1237 Update exception record case type
  src/main/java/uk/gov/hmcts/divorce/bulkscan/ccd/ExceptionRecordCaseTypeConfig.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/ccd/event/AttachExceptionRecordToCase.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/ccd/event/CompleteAwaitingPaymentDcnProcessing.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/ccd/event/CreateCaseFromExceptionRecord.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/ccd/event/CreateExceptionRecord.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/ccd/event/ManuallyHandleExceptionRecord.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/ccd/event/RejectExceptionRecord.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1237

#1231 NFDIV-1529: Action comments and issues raised during QA
  src/main/java/uk/gov/hmcts/divorce/common/event/Applicant2Approve.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/util/SolicitorAddressPopulator.java
  src/main/java/uk/gov/hmcts/divorce/document/content/provider/ApplicationTemplateDataProvider.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolConfirmJointApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitJointApplicationService.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/task/SetApplicant1SolicitorAddress.java
  src/test/java/uk/gov/hmcts/divorce/common/event/Applicant2ApproveTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitJointApplicationServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1231

#1239 Add fee payment method to general referral tab
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1239

#1240 NFDIV-1636
  src/main/java/uk/gov/hmcts/divorce/bulkscan/ccd/event/OfflineDocumentVerified.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/ccd/event/OfflineDocumentVerifiedTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1240

#1230 Feature/nfdiv 1133 co submitted notification
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-citizen-submit-conditional-order.json
  src/integrationTest/java/uk/gov/hmcts/divorce/common/SubmitConditionalOrderIT.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/Applicant1ResubmitNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/AppliedForConditionalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/notification/CommonContent.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant1ResubmitNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/AppliedForConditionalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/SubmitConditionalOrderTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1230

#1242 Nfdiv 1639 add caseworker progress paper case
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerProgressPaperCase.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ProgressPaperCase.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerProgressPaperCaseTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1242

#1225 Remove payment ref generated
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPaymentRefGenerated.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPaymentRefGeneratedTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1225

#1243 NFDIV-1636: Move offline doc verified into caseworker folder
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerified.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerifiedTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1243

#1250 NFDIV-1636: Change from initial state to forState
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerified.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1250

#1252 Add event to create test cases
  build.gradle
  src/main/java/uk/gov/hmcts/divorce/common/event/CreateTestCase.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/CcdAccessService.java
  src/main/resources/data/joint.json
  src/main/resources/data/sole.json
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1252

#1253 NFDIV-1635
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemAttachScannedDocuments.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemAttachScannedDocumentsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1253

#1254 Use correct roles for system update and fail build when uploads fails
  bin/add-roles.sh
  src/main/java/uk/gov/hmcts/divorce/common/ccd/HighLevelDataSetupApp.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/UserRole.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemAttachScannedDocuments.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemHandleSupplementaryEvidence.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1254

#1255 Add defensive code to CertificateOfEntitlementContent
  src/main/java/uk/gov/hmcts/divorce/document/content/CertificateOfEntitlementContent.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateCertificateOfEntitlement.java
  src/test/java/uk/gov/hmcts/divorce/document/content/CertificateOfEntitlementContentTest.java
  src/test/java/uk/gov/hmcts/divorce/notification/CommonContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1255

#1244 Remove unneeded solicitor notifications
  src/main/java/uk/gov/hmcts/divorce/common/notification/ConditionalOrderPendingReminderNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/notification/SolicitorSubmittedNotification.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/task/SolicitorSubmitNotification.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/common/notification/AwaitingConditionalOrderReminderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/ConditionalOrderPendingReminderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/notification/SolicitorSubmittedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/task/SolicitorSubmitNotificationsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1244

#1257 NFDIV-1653
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralReferralPayment.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1257

#1260 Serve by alternative method event available from any state
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerServeByAlternativeMethod.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1260

#1246 Appinsights v3
  .gitignore
  Dockerfile
  charts/nfdiv-case-api/Chart.yaml
  charts/nfdiv-case-api/values.yaml
  infrastructure/appinsights.tf
  infrastructure/variables.tf
  lib/AI-Agent.xml
  lib/applicationinsights.json
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1246

#1261 Confirm alternative serive has holding end state
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerConfirmAlternativeService.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1261

#1262 Use model classes and event config from config generator
  build.gradle
  src/main/java/uk/gov/hmcts/divorce/bulkscan/ccd/ExceptionRecordCaseTypeConfig.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/ccd/ExceptionRecordPageBuilder.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/ccd/event/AttachExceptionRecordToCase.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/ccd/event/CompleteAwaitingPaymentDcnProcessing.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/ccd/event/CreateCaseFromExceptionRecord.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/ccd/event/CreateExceptionRecord.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/ccd/event/ManuallyHandleExceptionRecord.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/ccd/event/RejectExceptionRecord.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/data/ExceptionRecord.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/data/ExceptionRecordScannedDocument.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/data/KeyValue.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/data/ScannedDocumentType.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/search/ExceptionRecordSearchInputFields.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/search/ExceptionRecordSearchResultFields.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/tab/ExceptionRecordTab.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/workbasket/ExceptionRecordWorkBasketInputFields.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/workbasket/ExceptionRecordWorkBasketResultFields.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ScannedDocument.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemAttachScannedDocuments.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemHandleSupplementaryEvidence.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/ccd/event/AttachExceptionRecordToCaseTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/ccd/event/CompleteAwaitingPaymentDcnProcessingTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/ccd/event/CreateCaseFromExceptionRecordTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/ccd/event/CreateExceptionRecordTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/ccd/event/ManuallyHandleExceptionRecordTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/ccd/event/RejectExceptionRecordTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/ccd/search/ExceptionRecordSearchInputFieldsTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/ccd/search/ExceptionRecordSearchResultFieldsTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/ccd/workbasket/ExceptionRecordWorkBasketInputFieldsTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/ccd/workbasket/ExceptionRecordWorkBasketResultFieldsTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemAttachScannedDocumentsTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemHandleSupplementaryEvidenceTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/ConfigTestUtil.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1262

#1251 nfdiv-1157 update conditional order tab
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1251

#1236 Java 17
  Dockerfile
  build.gradle
  config/checkstyle/checkstyle.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1236

#1266 General referral payment event transitions to AwaitingGeneralConsider…
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralReferralPayment.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1266

#1271 Added delete access to system update user role used by bulkscan
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemAttachScannedDocuments.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemHandleSupplementaryEvidence.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1271

#1270 Add caseworker role to citizen-update-case-state-aat
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenUpdateCaseStateAat.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1270

#1272 Create a field to determine whether an applicant is offline
  src/main/java/uk/gov/hmcts/divorce/common/service/SubmissionService.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SetApplicantOfflineStatus.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/notification/NotificationDispatcher.java
  src/test/java/uk/gov/hmcts/divorce/common/service/SubmissionServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SetApplicantOfflineStatusTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/ApplicantTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/ApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/notification/NotificationDispatcherTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1272

#1273 Update CitizenUpdateCaseStateAAT to allow other case data update
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenUpdateCaseStateAat.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenUpdateCaseStateAatTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1273

#1269 Add support for multiple General Considerations
  src/integrationTest/java/uk/gov/hmcts/divorce/legaladvisor/LegalAdvisorGeneralConsiderationIT.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/GeneralReferral.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorGeneralConsideration.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorGeneralConsiderationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1269

#1274 Added bulk scan fields required by bulk scan service during case update and create
  build.gradle
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseworkerBulkScanAccess.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseworkerBulkScanAccessTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1274

#1276 Nfdiv 1604 add general referrals to general referral tab
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1276

#1279 Use latest config generator which includes fix for date formats
  build.gradle
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1279

#1263 NFDIV-1332
  src/functionalTest/java/uk/gov/hmcts/divorce/endpoint/ValidationControllerFT.java
  src/functionalTest/resources/responses/response-bulk-scan-d8-validation-error.json
  src/functionalTest/resources/responses/response-bulk-scan-d8-validation-success.json
  src/functionalTest/resources/responses/response-bulk-scan-d8-validation-warning.json
  src/integrationTest/java/uk/gov/hmcts/divorce/endpoint/ValidationControllerIT.java
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/bulk-scan-d8-validation-error-response.json
  src/integrationTest/resources/bulk-scan-d8-validation-success-response.json
  src/integrationTest/resources/bulk-scan-d8-validation-warning-response.json
  src/main/java/uk/gov/hmcts/divorce/bulkscan/validation/OcrValidator.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/validation/data/OcrDataFields.java
  src/main/java/uk/gov/hmcts/divorce/endpoint/ValidationController.java
  src/main/java/uk/gov/hmcts/divorce/endpoint/data/FormType.java
  src/main/java/uk/gov/hmcts/divorce/endpoint/data/OcrDataValidationRequest.java
  src/main/java/uk/gov/hmcts/divorce/endpoint/data/OcrValidationResponse.java
  src/main/java/uk/gov/hmcts/divorce/endpoint/data/ValidationStatus.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/bulkscan/validation/OcrValidatorTest.java
  src/test/java/uk/gov/hmcts/divorce/endpoint/ValidationControllerTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1263

#1280 NFDIV-1654 Notice of change
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerNoticeOfChange.java
  src/main/java/uk/gov/hmcts/divorce/common/event/CreateTestCase.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/NoticeOfChange.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/UserRole.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/CcdAccessService.java
  src/main/resources/data/joint.json
  src/main/resources/data/sole.json
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerNoticeOfChangeTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/CcdAccessServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1280

#1291 Use config generator with latest formatter changes
  build.gradle
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1291
