Repository hmcts/nfdiv-case-api, pull requests merged in 2022-12, with the labels that each got.

#2704 NFDIV 3196 - Double FO submission of issue
  src/functionalTest/java/uk/gov/hmcts/divorce/common/Applicant2ApplyForFinalOrderFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/common/ApplyForFinalOrderFT.java
  src/main/java/uk/gov/hmcts/divorce/common/event/Applicant2ApplyForFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/ApplyForFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/service/ApplyForFinalOrderService.java
  src/test/java/uk/gov/hmcts/divorce/common/event/Applicant2ApplyForFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/ApplyForFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/ApplyForFinalOrderServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2704

#2705 NFDIV-3217: added IT Dforms utility
  src/integrationTest/java/uk/gov/hmcts/divorce/testutil/DocumentUploadDFormsMocker.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2705

#2689 NFDIV-3207 - Add show conditions for Apply for final order events
  src/main/java/uk/gov/hmcts/divorce/common/event/Applicant2ApplyForFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/ApplyForFinalOrder.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2689

#2668 NFDIV-1095 HWF part payment required
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHwfPartPaymentRequired.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHwfPartPaymentRequiredTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2668

#2662 NFDIV-1578 HWF Evidence Requested
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHwfEvidenceRequested.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHwfEvidenceRequestedTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2662

#2724 Add extra logging to trace pronounce cases
  src/main/java/uk/gov/hmcts/divorce/bulkaction/service/CasePronouncementService.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/service/filter/CaseProcessingStateFilter.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2724

#2669 NFDIV-1116 - Caseworker HWF Part Payment Made event
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHWFPartPaymentMade.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHWFPartPaymentMadeTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2669

#2677 Nfdiv 2885 new states hwf refused
  src/cftlibTest/java/uk/gov/hmcts/divorce/cftlib/SoleApplicationCreateAndIssueTest.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHwfRefused.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2677

#2727 Move away from depreciated after() call to afterAlways() call
  Jenkinsfile_CNP
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2727

#2600 NFDIV-2642 : rescind co update
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerRescindConditionalOrderFT.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerRemoveCasesFromBulkList.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRescindConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseDocuments.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentUtil.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchService.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRescindConditionalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/CaseDocumentsTest.java
  src/test/java/uk/gov/hmcts/divorce/document/DocumentUtilTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2600

#2742 Log list of all double linked case to bulk case
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/CreateDoubleLinkedCasesListMigration.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchService.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/CreateDoubleLinkedCasesListMigrationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2742

#2744 Fix create double linked cases list exception
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/CreateDoubleLinkedCasesListMigration.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/CreateDoubleLinkedCasesListMigrationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2744

#2693 Make pronouncement judge editable in retry pronouncement list for super users
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerRetryPronounceList.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/service/CasePronouncementService.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/service/filter/CaseProcessingStateFilter.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/task/PronounceCaseProvider.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemPronounceCase.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerRetryPronounceListTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/service/CasePronouncementServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/service/filter/CaseProcessingStateFilterTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/task/PronounceCaseProviderTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2693

#2729 NFDIV-3223: Fix issue with service type setting
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SendAosPackToRespondent.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SetServiceType.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/SendAosPackToRespondentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2729
