Repository hmcts/nfdiv-case-api, pull requests merged in 2022-09, with the labels that each got.

#2271 NFDIV-2701
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerOfflineDocumentVerifiedFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-offline-document-verified-d84-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-offline-document-verified-d84-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerOfflineDocumentVerifiedIT.java
  src/integrationTest/resources/caseworker-offline-document-verified-d84-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerified.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseDocuments.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerifiedTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2271

#2310 Add delete access rights to case document fields for systemupdate
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/Applicant2Access.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/DefaultAccess.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/SystemUpdateAndSuperUserAccess.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/access/Applicant2AccessTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/access/DefaultAccessTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/access/SystemUpdateAndSuperUserAccessTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2310

#2313 Remove access code for joint application post issue application
  charts/nfdiv-case-api/Chart.yaml
  charts/nfdiv-case-api/values.yaml
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemMigrateCasesTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchService.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemMigrateCasesTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2313

#2315 Fix joint app migration search query and removal of access code
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemMigrateCasesTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchService.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2315

#2316 Update migration query and removing of access code
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemMigrateCasesTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchService.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2316

#2206 NFDIV-2207
  src/functionalTest/java/uk/gov/hmcts/divorce/citizen/CitizenPaymentMadeFT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenPaymentMadeIT.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenAddPayment.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenPaymentMade.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenAddPaymentTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenPaymentMadeTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2206

#2327 Refactored joint app migration query to exclude empty values
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchService.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2327

#2212 Feature/nfdiv 1502 switch to sole co notification
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSoleCoIT.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSoleCo.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/Applicant1SwitchToSoleCoNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2SwitchToSoleCoNotification.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/notification/CommonContent.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSoleCoTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant1SwitchToSoleCoNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2SwitchToSoleCoNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2212

#2260 NFDIV-2373
  config/owasp/suppressions.xml
  config/pmd/ruleset.xml
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSoleCoIT.java
  src/integrationTest/resources/switch-to-sole-co-applicant1-response.json
  src/integrationTest/resources/switch-to-sole-co-applicant2-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerified.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSole.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSoleCo.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/AppliedForConditionalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/service/SwitchToSoleService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/SwitchedToSole.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/CcdAccessService.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerifiedTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSoleCoTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/service/SwitchToSoleServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/CcdAccessServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2260

#2306 NFDIV-2436
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/Applicant1SolicitorSwitchToSoleCoIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/Applicant2SolicitorSwitchToSoleCoIT.java
  src/integrationTest/resources/solicitor-applicant2-switch-to-sole-co-response.json
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSoleCo.java
  src/main/java/uk/gov/hmcts/divorce/citizen/service/SwitchToSoleService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrderQuestions.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/Applicant1SolicitorSwitchToSoleCo.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/Applicant2SolicitorSwitchToSoleCo.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemNotifyJointApplicantCanSwitchToSole.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/conditionalorder/SystemNotifyJointApplicantCanSwitchToSoleTask.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSoleCoTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/service/SwitchToSoleServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/Applicant1SolicitorSwitchToSoleCoTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/Applicant2SolicitorSwitchToSoleCoTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemNotifyJointApplicantCanSwitchToSoleTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressCasesToAwaitingFinalOrderTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/conditionalorder/SystemNotifyJointApplicantCanSwitchToSoleTaskTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2306

#2321 Add CO switch to sole notifications
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/Applicant1SolicitorSwitchToSoleCoIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/Applicant2SolicitorSwitchToSoleCoIT.java
  src/integrationTest/resources/solicitor-applicant2-switch-to-sole-co-response.json
  src/integrationTest/resources/switch-to-sole-co-applicant1-response.json
  src/integrationTest/resources/switch-to-sole-co-applicant2-response.json
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/Applicant1SolicitorSwitchToSoleCo.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/Applicant2SolicitorSwitchToSoleCo.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/notification/SolicitorSwitchToSoleCoNotification.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/Applicant1SolicitorSwitchToSoleCoTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/Applicant2SolicitorSwitchToSoleCoTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/notification/SolicitorSwitchToSoleCoNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2321

#2317 NFDIV-2789
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSoleCoIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/Applicant1SolicitorSwitchToSoleCoIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/Applicant2SolicitorSwitchToSoleCoIT.java
  src/integrationTest/resources/switch-to-sole-co-applicant1-response.json
  src/integrationTest/resources/switch-to-sole-co-applicant2-response.json
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSoleCo.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/Applicant1SwitchToSoleCoNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2SwitchToSoleCoNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/AppliedForConditionalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/ClarificationSubmittedNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/service/SwitchToSoleService.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitJointConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/GenerateConditionalOrderAnswersDocument.java
  src/main/java/uk/gov/hmcts/divorce/notification/CommonContent.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/Applicant1SolicitorSwitchToSoleCo.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/Applicant2SolicitorSwitchToSoleCo.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSoleCoTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant1SwitchToSoleCoNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2SwitchToSoleCoNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/Applicant1AppliedForConditionalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/Applicant2AppliedForConditionalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/ClarificationSubmittedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/service/SwitchToSoleServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/SubmitConditionalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/SubmitJointConditionalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/GenerateConditionalOrderAnswersDocumentTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/Applicant1SolicitorSwitchToSoleCoTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/Applicant2SolicitorSwitchToSoleCoTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2317

#2337 NFDIV-2701: Reclassify D84 to the correct doc type
  src/functionalTest/resources/responses/response-caseworker-offline-document-verified-d84-about-to-submit.json
  src/integrationTest/resources/caseworker-offline-document-verified-d84-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerified.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2337

#2331 NFDIV-2799
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSoleCo.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/Applicant1SolicitorSwitchToSoleCo.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/Applicant2SolicitorSwitchToSoleCo.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2331

#2329 NFDIV-2308
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSoleCoIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/SwitchToSoleCoPrinter.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSoleCo.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/model/DocumentType.java
  src/main/java/uk/gov/hmcts/divorce/notification/CommonContent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/SwitchToSoleCoPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSoleCoTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2329

#2296 NFDIV-2267: changes for welsh template - CO refused for clarification
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderRefusedForClarificationContentIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/legaladvisor/LegalAdvisorMakeDecisionIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderRefusedForClarificationContent.java
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2296

#2330 NFDIV-2741 Clean up submit CO event and fix validation
  src/main/java/uk/gov/hmcts/divorce/common/event/DraftConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitConditionalOrder.java
  src/test/java/uk/gov/hmcts/divorce/common/event/DraftConditionalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/SubmitConditionalOrderTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2330

#2343 Load JSON definition directly
  build.gradle
  src/cftlib/java/uk/gov/hmcts/divorce/cftlib/CftLibConfig.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2343

#2346 Added solicitor notification when app2 switches to sole and app1 is represented
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSoleCoIT.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2SwitchToSoleCoNotification.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2SwitchToSoleCoNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2346

#2322 NFDIV-1573 : Added final order granted notification for citizens
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerGrantFinalOrderFT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerGrantFinalOrderIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGrantFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/GrantFinalOrderService.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/notification/FinalOrderGrantedNotification.java
  src/main/java/uk/gov/hmcts/divorce/document/content/FinalOrderGrantedTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGrantFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/GrantFinalOrderServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/FinalOrderGrantedTemplateContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2322

#2204 Create XUI test with CFT Lib
  .github/workflows/ci.yml
  Jenkinsfile_CNP
  build.gradle
  src/cftlib/java/uk/gov/hmcts/divorce/cftlib/CftLibConfig.java
  src/cftlibTest/java/uk/gov/hmcts/divorce/cftlib/CaseworkerAddNoteTest.java
  src/cftlibTest/java/uk/gov/hmcts/divorce/cftlib/CaseworkerUpdateContactDetailsTest.java
  src/cftlibTest/java/uk/gov/hmcts/divorce/cftlib/SoleApplicationCreateAndIssueTest.java
  src/cftlibTest/java/uk/gov/hmcts/divorce/cftlib/XuiTest.java
  src/cftlibTest/java/uk/gov/hmcts/divorce/cftlib/util/PlaywrightHelpers.java
  src/cftlibTest/java/uk/gov/hmcts/divorce/cftlib/util/Wiremock.java
  src/cftlibTest/resources/wiremock/__files/payment/accountOnHoldResponse.json
  src/cftlibTest/resources/wiremock/__files/payment/successResponse.json
  src/cftlibTest/resources/wiremock/__files/prd/activeOrganisations.json
  src/cftlibTest/resources/wiremock/__files/prd/organisation1.json
  src/cftlibTest/resources/wiremock/__files/prd/organisation1PbasResponse.json
  src/cftlibTest/resources/wiremock/__files/prd/organisation2.json
  src/cftlibTest/resources/wiremock/__files/prd/users.json
  src/cftlibTest/resources/wiremock/mappings/dmstore/document.json
  src/cftlibTest/resources/wiremock/mappings/docassembly/render.json
  src/cftlibTest/resources/wiremock/mappings/fees/lookup.json
  src/cftlibTest/resources/wiremock/mappings/payments/failedNotFound.json
  src/cftlibTest/resources/wiremock/mappings/payments/failedOnHold.json
  src/cftlibTest/resources/wiremock/mappings/payments/successful.json
  src/cftlibTest/resources/wiremock/mappings/prd/activeOrganisations.json
  src/cftlibTest/resources/wiremock/mappings/prd/organisation1ByInternalApi.json
  src/cftlibTest/resources/wiremock/mappings/prd/organisation1Pbas.json
  src/cftlibTest/resources/wiremock/mappings/prd/organisation2ByInternalApi.json
  src/cftlibTest/resources/wiremock/mappings/prd/userOrganisationByExternalApi.json
  src/cftlibTest/resources/wiremock/mappings/prd/users.json
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemLinkApplicant2IT.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2204

#2338 NFDIV-2673 : Solicitor notification when other part applied for FO
  src/functionalTest/java/uk/gov/hmcts/divorce/common/Applicant2ApplyForFinalOrderFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/common/ApplyForFinalOrderFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-app1-apply-for-final-order-joint-solicitor.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-app1-apply-for-final-order.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-app2-apply-for-final-order-joint-solicitor.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-app2-apply-for-final-order.json
  src/functionalTest/resources/responses/response-app1-apply-for-final-order-joint-solicitor.json
  src/functionalTest/resources/responses/response-app1-apply-for-final-order.json
  src/functionalTest/resources/responses/response-app2-apply-for-final-order-joint-solicitor.json
  src/functionalTest/resources/responses/response-app2-apply-for-final-order.json
  src/integrationTest/java/uk/gov/hmcts/divorce/common/Applicant2ApplyForFinalOrderIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/common/ApplyForFinalOrderIT.java
  src/main/java/uk/gov/hmcts/divorce/common/event/Applicant2ApplyForFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/ApplyForFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/Applicant1AppliedForFinalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/Applicant2AppliedForFinalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/task/ProgressFinalOrderState.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/common/notification/Applicant1AppliedForFinalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/Applicant2AppliedForFinalOrderNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2338

#2351 Add null check for Alt Service List
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerResponseToServiceApplication.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/CaseworkerResponseToServiceApplicationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2351

#2352 Removed feature toggle for joint application migration
  charts/nfdiv-case-api/Chart.yaml
  charts/nfdiv-case-api/values.yaml
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemMigrateCasesTask.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemMigrateCasesTaskTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2352

#2349 NFDIV-2770 NFDIV-2772 NFDIV-2775 NFDIV-2776
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/integrationTest/resources/application.yaml
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2349

#2366 Allow AwaitingApplicant2Response as pre state for return to previous state
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2366

#2319 NFDIV-1468
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressCaseToAwaitingFinalOrderFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-system-progress-case-to-awaiting-final-order-joint-represented.json
  src/main/java/uk/gov/hmcts/divorce/common/notification/AwaitingFinalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/common/notification/AwaitingFinalOrderNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2319

#2369 Revert "Allow AwaitingApplicant2Response as pre state for return to previous state"
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2369

#2344 NFDIV-2431 NFDIV-2771 NFDIV-2773 NFDIV-2774
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingSolicitorContent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingSolicitorContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2344

#2235 NFDIV-2528 : Update Edit Bulk Case Event
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerEditBulkCase.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerEditBulkCaseTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2235

#2288 NFDIV-2737
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerified.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemAttachScannedDocuments.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2288

#2373 Add class to set common content for docmosis templates
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisCommonContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisTemplateConstants.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DocmosisCommonContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2373

#2347 NFDIV-2767: Updated Hearing content on CoE and Cover letter
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerRegenerateCourtOrdersIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemUpdateCaseWithCourtHearingIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/document/content/CertificateOfEntitlementContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisTemplateConstants.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/print/CertificateOfEntitlementPrinter.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/document/content/CertificateOfEntitlementContentTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/print/CertificateOfEntitlementPrinterTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2347

#2382 Filter out null document values when mapping to letters
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralLetter.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralLetterTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2382

#2391 Add header content to docmosis common content
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisCommonContent.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DocmosisCommonContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2391

#2394 Fix welsh phone number and opening times
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisTemplateConstants.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2394

#2364 NFDIV-2471 - Welsh notification for joint apply for final order
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressCaseToAwaitingFinalOrderFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemindApplicantsApplyForFinalOrderFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-system-progress-case-to-awaiting-final-order-welsh.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-system-remind-applicants-apply-for-final-order-welsh.json
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/common/notification/AwaitingFinalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/AwaitingFinalOrderReminderNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2364

#2357 NFDIV-2827 - Change Reissue show condition
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerReissueApplication.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2357

#2412 Revert "Change Reissue show condition (#2357)"
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerReissueApplication.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2412

#2410 Remove personal information from logging into app insights
  src/main/java/uk/gov/hmcts/divorce/document/content/PronouncementListTemplateContent.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2410

#2408 Include offline document verified as prestate to allow updating court details
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemUpdateCaseWithCourtHearing.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2408

#2363 NFDIV-2768
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2363

#2365 NFDIV-2788 : Changes to move co notifications to submitted callback
  src/integrationTest/java/uk/gov/hmcts/divorce/common/SubmitConditionalOrderIT.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitJointConditionalOrder.java
  src/test/java/uk/gov/hmcts/divorce/common/event/SubmitConditionalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/SubmitJointConditionalOrderTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2365

#2385 NFDIV-2834:
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/FinalOrder.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2385

#2372 NFDIV-2833:
  src/main/java/uk/gov/hmcts/divorce/common/event/page/Applicant2ApplyForFinalOrderDetails.java
  src/main/java/uk/gov/hmcts/divorce/common/event/page/ApplyForFinalOrderDetails.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/FinalOrder.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2372

#2244 NFDIV-2532 : Unlink case from bulk case on remove from bulk case event
  src/integrationTest/java/uk/gov/hmcts/divorce/bulkaction/service/PronouncementListDocServiceIT.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerEditBulkCase.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerPrintPronouncement.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerRemoveCasesFromBulkList.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/data/BulkActionCaseData.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/service/PronouncementListDocService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/document/content/PronouncementListTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemoveBulkCase.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerEditBulkCaseTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerRemoveCasesFromBulkListTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/PronouncementListDocServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/PronouncementListTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemoveBulkCaseTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2244

#2370 NFDIV-1748
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerGrantFinalOrderFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-grant-final-order-offline.json
  src/functionalTest/resources/responses/response-caseworker-grant-final-order-offline.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerGrantFinalOrderIT.java
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/caseworker-grant-final-order-offline-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGrantFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/notification/FinalOrderGrantedNotification.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/FinalOrderGrantedPrinter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateFinalOrderCoverLetter.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/model/DocumentType.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGrantFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/notification/FinalOrderGrantedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/FinalOrderGrantedPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateFinalOrderCoverLetterTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2370

#2353 NFDIV-2820 - Add ResetAosFields task
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/ReIssueApplicationService.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/ResetAosFields.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/ReIssueApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/ResetAosFieldsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2353

#2407 NFDIV-2864 - Migrate the applicant2Offline field
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/PaperApplicationMigration.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchService.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/PaperApplicationMigrationTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2407

#2411 Nfdiv 2492 add migration for aos is drafted set to yes
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerReissueApplication.java
  src/main/java/uk/gov/hmcts/divorce/common/event/DraftAos.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitAos.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/HasAosDraftedEventPredicate.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/SetAosIsDraftedToYesMigration.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/HasAosDraftedEventPredicateTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/SetAosIsDraftedToYesMigrationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2411

#2418 NFDIV-2878 - Use professional signin URL for solicitors
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/notification/FinalOrderGrantedNotification.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/notification/FinalOrderGrantedNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2418

#2427 nfdiv-2895: add event to enable superuser unlink applicant2 from case
  build.gradle
  charts/nfdiv-case-api/Chart.yaml
  charts/nfdiv-case-api/values.yaml
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/event/AdminUnlinkApplicant2FromCaseIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/testutil/IdamWireMock.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/AdminUnlinkApplicant2FromCase.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/AdminUnlinkApplicant2FromCaseTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestConstants.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2427

#2359 Nfdiv 2757
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/ReIssueApplicationService.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/ReIssueApplicationServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2359

#2426 NFDIV-2851 : updated new NOP email template for applicant when respondent is overseas
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2426

#2431 Removed history access for solicitors for attach scanned docs to restrict viewing confidential docs
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemAttachScannedDocuments.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2431

#2414 NFDIV-2758 - Migration for cases stuck in AwaitingAos
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/ConfirmReadPetitionMigration.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchService.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/ConfirmReadPetitionMigrationTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2414

#2436 nfdiv-2895: add env var to jenkins
  Jenkinsfile_CNP
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2436

#2422 Add overseas respondent NOP template
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplicant2NoticeOfProceedings.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplicant2NoticeOfProceedingsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2422

#2374 NFDIV-2466
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerGrantFinalOrderIT.java
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2374

#2438 Cache idam system user tokens to prevent rate limiting of tokens
  src/functionalTest/java/uk/gov/hmcts/divorce/testutil/IdamTokenGenerator.java
  src/functionalTest/resources/application.yaml
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorCreateApplicationIT.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2438

#2397 NFDIV-2272 - Add welsh version of conditional order answers document
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2397

#2448 Added suppression for snake yaml CVE
  config/owasp/suppressions.xml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2448

#2360 Preserve general referral urgent case flag when LA approves general referral
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorGeneralConsideration.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorGeneralConsiderationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2360
