Repository hmcts/nfdiv-case-api, pull requests merged in 2022-10, with the labels that each got.

#2461 Added suppression for tomcat web socket
  config/owasp/suppressions.xml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2461

#2420 NFDIV-2439
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerRegenerateCourtOrdersIT.java
  src/integrationTest/resources/wiremock/responses/about-to-submit-system-regenerate-court-orders.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRegenerateCourtOrders.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/page/WithdrawingJointApplicationApplicant1.java
  src/main/java/uk/gov/hmcts/divorce/document/content/FinalOrderGrantedTemplateContent.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRegenerateCourtOrdersTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/FinalOrderGrantedTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateConditionalOrderPronouncedDocumentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2420

#2458 Add logging to bulk action event callbacks
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerEditBulkCase.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerPrintPronouncement.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerPronounceList.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerRemoveCasesFromBulkList.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerScheduleCase.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2458

#2383 NFDIV-2556
  src/integrationTest/java/uk/gov/hmcts/divorce/common/Applicant2ApplyForFinalOrderIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/common/ApplyForFinalOrderIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/common/SubmitConditionalOrderIT.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/Applicant1AppliedForConditionalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/Applicant2AppliedForConditionalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/event/Applicant2ApplyForFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/ApplyForFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/Applicant1AppliedForFinalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/Applicant2AppliedForFinalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisTemplateConstants.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/task/ProgressFinalOrderState.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/Applicant1AppliedForConditionalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/Applicant2AppliedForConditionalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/Applicant2ApplyForFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/ApplyForFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/Applicant1AppliedForFinalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/Applicant2AppliedForFinalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/task/ProgressFinalOrderStateTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2383

#2474 Add method to generate basic docmosis template content for testing
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2474

#2466 Use system user creds for pronounce case and add retry event for pronounce list
  src/integrationTest/java/uk/gov/hmcts/divorce/bulkaction/service/CasePronouncementServiceIT.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerPronounceList.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerRetryPronounceList.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/service/CasePronouncementService.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerPronounceListTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerRetryPronounceListTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/service/CasePronouncementServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2466

#2476 Added offline document verified as prestate for system pronounce case
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemPronounceCase.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2476

#2439 NFDIV-2844 NFDIV-2845
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContentIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplicant1NoticeOfProceeding.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/util/AddressUtil.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplicant1NoticeOfProceedingTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/util/AddressUtilTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2439

#2478 Correct incorrect logging (weeks when should be days)
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressHeldCase.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressHeldCasesTask.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2478

#2462 NFDIV-2632 - Email validation
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorCreateApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorUpdateContactDetailsIT.java
  src/integrationTest/resources/solicitor-mid-event-email-error-response.json
  src/integrationTest/resources/solicitor-mid-event-response.json
  src/main/java/uk/gov/hmcts/divorce/common/event/page/Applicant2SolConfirmContactDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/Applicant2ServiceDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutApplicant1.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutTheSolicitor.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolUpdateContactDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorCreateApplicationService.java
  src/test/java/uk/gov/hmcts/divorce/common/event/page/Applicant2SolConfirmContactDetailsTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/page/Applicant2ServiceDetailsTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutApplicant1Test.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorCreateApplicationApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestConstants.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2462

#2468 Regenerate CoE cover letter on caseworker-edit-bulk-case
  src/main/java/uk/gov/hmcts/divorce/bulkaction/task/UpdateCaseCourtHearingProvider.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/task/UpdateCaseCourtHearingProviderTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2468

#2473 NFDIV-2827 - Add validation for starting Reissue event (attempt 2) (or NFDIV-2873)
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerReissueApplication.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerReissueApplicationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2473

#2421 NFDIV-2232 : Added notification for both applicants applied for FO (joint citizen)
  src/functionalTest/java/uk/gov/hmcts/divorce/common/Applicant2ApplyForFinalOrderFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/common/ApplyForFinalOrderFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-app2-apply-for-final-order-joint-solicitor.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-app2-apply-for-final-order.json
  src/integrationTest/java/uk/gov/hmcts/divorce/common/Applicant2ApplyForFinalOrderIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/common/ApplyForFinalOrderIT.java
  src/main/java/uk/gov/hmcts/divorce/common/event/Applicant2ApplyForFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/ApplyForFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/FinalOrderRequestedNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/common/event/Applicant2ApplyForFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/ApplyForFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/FinalOrderRequestedNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2421

#2495 Added AwaitingService as prestate for system link applicant 2
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemLinkApplicant2.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2495

#2498 Add logging of state to system cron tasks
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemAlertApplicationNotReviewedTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressCasesToAosOverdueTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/conditionalorder/SystemRemindApplicantsApplyForCOrderTask.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2498

#2254 NFDIV-2430: Added new template for Respondent NOP when reissued as offline AOS
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReissueApplicationFT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/caseworker-reissue-application-about-to-submit-app2-not-sol-rep-offline-aos-response.json
  src/integrationTest/resources/caseworker-reissue-sole-citizen-application-offlineAos-about-to-submit-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplicant2NoticeOfProceedings.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplicant2NoticeOfProceedingsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2254

#2499 Update prestate for draft and submit aos
  src/main/java/uk/gov/hmcts/divorce/common/event/DraftAos.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitAos.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2499

#2490 Replaced D10 with updated pdf
  src/main/resources/D10.pdf
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2490

#2463 NFDIV-2577 | NFDIV-2602 - Update templateContents for CO cover letters
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/service/task/GenerateCoRefusedCoverLetter.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/service/task/GenerateCoRefusedCoverLetterTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2463

#2494 NFDIV-1607-BE Fix for Nightly Test
  src/integrationTest/java/uk/gov/hmcts/divorce/common/Applicant2ApplyForFinalOrderIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/common/ApplyForFinalOrderIT.java
  src/main/java/uk/gov/hmcts/divorce/common/event/Applicant2ApplyForFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/ApplyForFinalOrder.java
  src/test/java/uk/gov/hmcts/divorce/common/event/Applicant2ApplyForFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/ApplyForFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2494

#2514 Add logging and narrow search aosisdrafted migration
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/SetAosIsDraftedToYesMigration.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/SetAosIsDraftedToYesMigrationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2514

#2509 NFDIV-1362
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAwaitingAmendedApplication.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAwaitingAmendedApplicationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2509

#2517 Enable idam token caching for preview and AAT
  src/main/java/uk/gov/hmcts/divorce/idam/IdamService.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2517

#2520 Update solicitors email
  src/main/resources/data/joint.json
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2520

#2523 Remove spring boot cache and use local map cache for preview environment
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerRejectedFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/testutil/IdamTokenGenerator.java
  src/main/java/uk/gov/hmcts/divorce/idam/IdamService.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2523

#2522 Fix elastic search paging
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchService.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2522

#2521 Fix migration search query for PaperApplicationMigration
  src/main/java/uk/gov/hmcts/divorce/bulkaction/service/CasePronouncementService.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchService.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/service/CasePronouncementServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2521

#2531 Combine dependency upgrade prs into single pr to reduce effort of merging and rebasing
  build.gradle
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2531

#2465 Nfdiv 1618 notification fo granted joint
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/notification/FinalOrderGrantedNotification.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/notification/FinalOrderGrantedNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2465

#2504 NFDIV-2473 : Welsh Joint FO notifications - One applicant applied for FO
  charts/nfdiv-case-api/Chart.yaml
  src/functionalTest/java/uk/gov/hmcts/divorce/common/Applicant2ApplyForFinalOrderFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/common/ApplyForFinalOrderFT.java
  src/functionalTest/resources/responses/response-app1-apply-for-final-order-joint-welsh.json
  src/integrationTest/java/uk/gov/hmcts/divorce/common/Applicant2ApplyForFinalOrderIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/common/ApplyForFinalOrderIT.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/task/ProgressFinalOrderState.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/task/ProgressFinalOrderStateTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2504

#2533 Use Idam cache for system user for all environments except prod
  src/main/java/uk/gov/hmcts/divorce/idam/IdamService.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2533

#2508 NFDIV-2476: Welsh email template added for Joint FO submitted by both applicants
  src/functionalTest/java/uk/gov/hmcts/divorce/common/Applicant2ApplyForFinalOrderFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/common/ApplyForFinalOrderFT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/common/Applicant2ApplyForFinalOrderIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/common/ApplyForFinalOrderIT.java
  src/main/java/uk/gov/hmcts/divorce/common/event/Applicant2ApplyForFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/ApplyForFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/FinalOrderRequestedNotification.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/common/notification/FinalOrderRequestedNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2508

#2535 NFDIV-2792
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2535

#2392 Nfdiv 2574 new letter content
  src/integrationTest/java/uk/gov/hmcts/divorce/common/SubmitAosIT.java
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/solicitor-submit-aos-disputed-offline-response.json
  src/main/java/uk/gov/hmcts/divorce/document/content/AosResponseLetterTemplateContent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/document/content/AosResponseLetterTemplateContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2392

#2444 NFDIV-2896 - Only send app2 notification in joint cases
  src/main/java/uk/gov/hmcts/divorce/common/notification/AwaitingConditionalOrderReminderNotification.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/AwaitingConditionalOrderReminderNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2444

#2543 Migrate aos is drafted using list of references query
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/SetAosIsDraftedToYesMigration.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/SetAosIsDraftedToYesMigrationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2543

#2192 NFDIV-2423: Move notifications code to submitted callback
  src/integrationTest/java/uk/gov/hmcts/divorce/common/SubmitAosIT.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitAos.java
  src/main/java/uk/gov/hmcts/divorce/common/service/SubmitAosService.java
  src/test/java/uk/gov/hmcts/divorce/common/service/SubmitAosServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2192

#2216 Nfdiv 2622 fix caseworker offline doc notifications
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerOfflineDocumentVerifiedFT.java
  src/functionalTest/resources/responses/response-caseworker-offline-document-verified-d84-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerOfflineDocumentVerifiedIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerified.java
  src/main/java/uk/gov/hmcts/divorce/common/service/SubmitAosService.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerifiedTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/SubmitAosServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2216

#2487 NFDIV-2364
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/UpdateContactDetails.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/page/UpdateContactDetailsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2487

#2551 Use expiring caffeine cache to remove expired tokens
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/divorce/testutil/IdamTokenGenerator.java
  src/main/java/uk/gov/hmcts/divorce/idam/IdamService.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2551

#2497 NFDIV-3056 update Heading in CO pronounced document
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerRegenerateCourtOrdersIT.java
  src/integrationTest/resources/application.yaml
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2497

#2477 NFDIV-2604 - CO pronounced doc; add new contents
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateConditionalOrderPronouncedCoversheet.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateConditionalOrderPronouncedCoversheetTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2477

#2540 NFDIV-3093 - Stop generating coversheets for online applicants
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGrantFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateConditionalOrderPronouncedCoversheet.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGrantFinalOrderTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2540

#2541 NFDIV-3100 - Remove welsh state from happy path events for final order
  src/functionalTest/java/uk/gov/hmcts/divorce/common/Applicant2ApplyForFinalOrderFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/common/ApplyForFinalOrderFT.java
  src/functionalTest/resources/responses/response-app1-apply-for-final-order-joint-welsh.json
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/task/ProgressFinalOrderState.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/task/ProgressFinalOrderStateTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2541

#2484 NFDIV-2961
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/FinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2484

#2482 NFDIV-2603: Add template vars for common header and footer
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/print/CertificateOfEntitlementPrinter.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/print/CertificateOfEntitlementPrinterTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2482

#2464 NFDIV-2576: Add common header and footer to conditional order template
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemUpdateCaseWithCourtHearingIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateApplyForConditionalOrderDocument.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateApplyForConditionalOrderDocumentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2464

#2398 NFDIV-2687 :
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemUpdateCaseWithCourtHearingFT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemUpdateCaseWithCourtHearingIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/EntitlementGrantedConditionalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/print/CertificateOfEntitlementPrinter.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/print/ConditionalOrderPronouncedPrinter.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateConditionalOrderPronouncedCoversheet.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/EntitlementGrantedConditionalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/ConditionalOrderPronouncedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/print/CertificateOfEntitlementPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateConditionalOrderPronouncedCoversheetTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2398

#2553 NFDIV-2465, 2459 : Welsh notification for sole final order submission
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenFinalOrderDelayReasonIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/common/Applicant2ApplyForFinalOrderIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/common/ApplyForFinalOrderIT.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/common/event/Applicant2ApplyForFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/ApplyForFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/Applicant1AppliedForFinalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/Applicant2AppliedForFinalOrderNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2553

#2556 Add super user to remove bulk case link from NFD case
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemoveBulkCase.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2556

#2534 NFDIV-1359
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueAmendedApplication.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueAmendedApplicationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2534

#2555 NFDIV-2865
  src/functionalTest/java/uk/gov/hmcts/divorce/citizen/CitizenApplicant2NotBrokenFT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant2NotBrokenIT.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2NotBrokenNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2555

#2496 NFDIV-2195
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralReferralPayment.java
  src/main/java/uk/gov/hmcts/divorce/payment/PaymentService.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralReferralPaymentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2496

#2467 NFDIV-2484
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContentIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContent.java
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2467

#2355 NFDIV-2821
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSoleCoIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/Applicant1SolicitorSwitchToSoleCoIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/Applicant2SolicitorSwitchToSoleCoIT.java
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/switch-to-sole-co-applicant1-response.json
  src/integrationTest/resources/switch-to-sole-co-applicant2-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/SwitchToSoleCoPrinter.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSoleCo.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2SwitchToSoleCoNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/SwitchToSoleCoNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/GenerateSwitchToSoleConditionalOrderLetter.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/Applicant1SolicitorSwitchToSoleCo.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/Applicant2SolicitorSwitchToSoleCo.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/SwitchToSoleCoPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSoleCoTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant1SwitchToSoleCoNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/SwitchToSoleCoNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/GenerateSwitchToSoleConditionalOrderLetterTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/Applicant1SolicitorSwitchToSoleCoTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/Applicant2SolicitorSwitchToSoleCoTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2355

#2565 Allow Offline document verified state as prestate for update pronouncement judge event
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemUpdateCaseWithPronouncementJudge.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2565

#2564 Update constant name as it was named incorrectly
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerFinalOrderPending.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerFinalOrderPendingTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2564

#2559 NFDIV-3095 - Add extra states to CaseworkerGrantFinaLOrder
  src/functionalTest/resources/responses/response-caseworker-grant-final-order.json
  src/integrationTest/resources/caseworker-grant-final-order-offline-response.json
  src/integrationTest/resources/caseworker-grant-final-order-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGrantFinalOrder.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2559

#2456 Remove general consideration email
  src/integrationTest/java/uk/gov/hmcts/divorce/legaladvisor/LegalAdvisorGeneralConsiderationIT.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorGeneralConsideration.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/notification/LegalAdvisorGeneralReferralDecisionNotification.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorGeneralConsiderationTest.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/notification/LegalAdvisorGeneralReferralDecisionNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2456

#2562 Use system user credentials to trigger system event remove bulk case
  src/integrationTest/java/uk/gov/hmcts/divorce/bulkaction/service/CaseRemovalServiceIT.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerRemoveCasesFromBulkList.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/service/CaseRemovalService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/BulkCaseRemovalAccess.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerRemoveCasesFromBulkListTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/service/CaseRemovalServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/access/BulkCaseRemovalAccessTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2562

#2574 Fix build issue with launch darkly downloading from jcenter
  build.gradle
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2574
