Repository hmcts/nfdiv-case-api, pull requests merged in 2022-08, with the labels that each got.

#2138 NFDIV-2379 : LA - Refusal CO draft document
  src/functionalTest/java/uk/gov/hmcts/divorce/legaladvisor/LegalAdvisorMakeDecisionFT.java
  src/functionalTest/resources/responses/response-legal-advisor-make-decision-co-more-info-mid-event.json
  src/functionalTest/resources/responses/response-legal-advisor-make-decision-co-rejected-mid-event.json
  src/integrationTest/java/uk/gov/hmcts/divorce/legaladvisor/LegalAdvisorMakeDecisionIT.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeDecision.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeDecisionTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestConstants.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2138

#2090 Nfdiv 2307 - Conditional order reminder bulk print notification for offline applicants
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemindApplicantsApplyForCOrderFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-system-remind-applicants-conditional-order-offline-applicants.json
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderReminderContentIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplicant2NoticeOfProceedings.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateCoversheet.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateD10Form.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/AwaitingConditionalOrderReminderNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/GenerateFormHelper.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderReminderContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/CoversheetApplicant1TemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/CoversheetApplicantTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/model/DocumentType.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/print/ConditionalOrderReminderPrinter.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateConditionalOrderReminderDocument.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateD84Form.java
  src/main/resources/D84.pdf
  src/main/resources/application.yaml
  src/main/resources/data/joint.json
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplicant2NoticeOfProceedingsTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateCoversheetTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateD10FormTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/AwaitingConditionalOrderReminderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/GenerateFormHelperTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/CoversheetApplicant2TemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/CoversheetApplicantTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/print/ConditionalOrderReminderPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateConditionalOrderReminderDocumentTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateD84FormTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2090

#2191 NFDIV-2593 : removed previously uploaded docs from confirm service
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerConfirmServiceIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerConfirmService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseDocuments.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerConfirmServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2191

#2174 NFDIV-1575 : Added new notification to joint applicant to indicate they can switch to sole
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemNotifyJointApplicantCanSwitchToSoleFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-system-notify-joint-applicant-can-switch-to-sole.json
  src/functionalTest/resources/responses/response-system-notify-joint-applicant-can-switch-to-sole.json
  src/main/java/uk/gov/hmcts/divorce/common/notification/Applicant1CanSwitchToSoleNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/Applicant2CanSwitchToSoleNotification.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemNotifyJointApplicantCanSwitchToSole.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/conditionalorder/SystemNotifyJointApplicantCanSwitchToSoleTask.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/common/notification/Applicant1CanSwitchToSoleNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/Applicant2CanSwitchToSoleNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemNotifyJointApplicantCanSwitchToSoleTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/conditionalorder/SystemNotifyJointApplicantCanSwitchToSoleTaskTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2174

#2123 NFDIV-850
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerRescindConditionalOrderFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-rescind-conditional-order.json
  src/functionalTest/resources/responses/response-caseworker-rescind-conditional-order.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRescindConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseDocuments.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRescindConditionalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/CaseDocumentsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2123

#2103 NFDIV-1740
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressHeldCasesFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-system-progress-held-cases-offline.json
  src/functionalTest/resources/responses/response-system-progress-held-cases-offline.json
  src/main/java/uk/gov/hmcts/divorce/common/notification/AwaitingConditionalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/model/DocumentType.java
  src/main/java/uk/gov/hmcts/divorce/notification/CommonContent.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/print/ApplyForConditionalOrderPrinter.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateApplyForConditionalOrderDocument.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateConditionalOrderReminderDocument.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/common/notification/AwaitingConditionalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/print/ApplyForConditionalOrderPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateApplyForConditionalOrderDocumentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2103

#2161 NFDIV-1992 : Welsh-notification-CO refused response (sole and joint)
  src/functionalTest/java/uk/gov/hmcts/divorce/common/SubmitClarificationFT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/common/SubmitClarificationIT.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/ClarificationSubmittedNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2161

#2210 NFDIV-2507
  src/main/java/uk/gov/hmcts/divorce/divorcecase/search/CaseFieldsConstants.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/search/SearchInputFields.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/workbasket/WorkBasketInputFieldsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2210

#2190 Nfdiv 2592 set due date alternative service
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerAddBailiffReturnIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerConfirmAlternativeServiceIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAddBailiffReturn.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerConfirmAlternativeService.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SetHoldingDueDate.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAddBailiffReturnTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerConfirmAlternativeServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/SetHoldingDueDateTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2190

#2202 Nfdiv 2437 - Applicant solicitor switch to sole notification
  src/main/java/uk/gov/hmcts/divorce/common/notification/Applicant1CanSwitchToSoleNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/Applicant2CanSwitchToSoleNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/common/notification/Applicant1CanSwitchToSoleNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/Applicant2CanSwitchToSoleNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2202

#2217 Updated AOS tab to display applicant2/app2 solicitor email conditionally
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2217

#2215 NFDIV-2514
  src/main/java/uk/gov/hmcts/divorce/bulkaction/search/BulkActionSearchResultFields.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/workbasket/BulkActionWorkBasketResultFields.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/search/CaseFieldsConstants.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/search/SearchResultFields.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/search/BulkActionSearchResultFieldsTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/workbasket/BulkActionWorkBasketResultFieldsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2215

#2214 NFDIV-2412
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerSetRespondentSolicitorOrganisation.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerSetTestRespondentSolicitorOrganisationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2214

#2228 NFDIV-2185 - V2 : Changes added
  src/functionalTest/java/uk/gov/hmcts/divorce/citizen/CitizenAddPaymentFT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenAddPaymentIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHwfApplicationAccepted.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPaymentMade.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenAddPayment.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/ApplicationTab.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHwfApplicationAcceptedTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPaymentMadeTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenAddPaymentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2228

#2196 NFDIV-2573 - Update to use new version of document NFD_Respondent_Respondented_Undefended
  src/integrationTest/resources/application.yaml
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2196

#2172 Add translation
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAddTranslation.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRequestTranslationFromWLU.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/CorrectPaperCase.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/AcknowledgementOfService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrderQuestions.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/FinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/TranslatedToLanguage.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAddTranslationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2172

#2238 Use https and svc urls as Traefik v2 upgrade enforces https
  Jenkinsfile_CNP
  charts/nfdiv-case-api/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerRejectedFT.java
  src/functionalTest/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2238

#2223 NFDIV-2643
  src/main/java/uk/gov/hmcts/divorce/common/event/page/ConditionalOrderReviewAoS.java
  src/main/java/uk/gov/hmcts/divorce/common/event/page/ConditionalOrderReviewAoSApplicant2.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrderQuestions.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2223

#2226 NFDIV-2549 : CO answers template changes
  src/integrationTest/java/uk/gov/hmcts/divorce/common/SubmitConditionalOrderIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderAnswersTemplateContent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderAnswersTemplateContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2226

#2220 NFDIV-2640
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrder.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeDecisionTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2220

#2236 Add null check to documents uploaded on confirm service
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerConfirmService.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerConfirmServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2236

#2233 NFDIV 2553 - Submit AOS issue v3
  charts/nfdiv-case-api/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/divorce/common/event/UpdateAos.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2233

#2128 NFDIV-2417 : applicants notification added when co refused for amendments
  src/functionalTest/java/uk/gov/hmcts/divorce/legaladvisor/LegalAdvisorMakeDecisionFT.java
  src/functionalTest/resources/responses/response-legal-advisor-make-decision-co-rejected-joint.json
  src/integrationTest/java/uk/gov/hmcts/divorce/legaladvisor/LegalAdvisorMakeDecisionIT.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/notification/LegalAdvisorAmendApplicationDecisionNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/notification/LegalAdvisorAmendApplicationDecisionNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2128

#2221 NFDIV-2615 : corrected date time format for CO date of hearing
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-system-pronounce-case-applicant-represented.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-system-pronounce-case-joint-application.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-system-pronounce-case.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-system-update-case-with-court-hearing-joint.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-system-update-case-with-court-hearing-represented.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-system-update-case-with-court-hearing.json
  src/functionalTest/resources/responses/response-system-pronounce-case-applicant-represented.json
  src/functionalTest/resources/responses/response-system-pronounce-case-joint.json
  src/functionalTest/resources/responses/response-system-pronounce-case.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-system-update-case-court-hearing.json
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrder.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2221

#2243 Use service url to connect between pods
  charts/nfdiv-case-api/values.preview.template.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2243

#2234 Use system update user credentials when triggering system events
  src/integrationTest/java/uk/gov/hmcts/divorce/bulkaction/service/ScheduleCaseServiceIT.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerEditBulkCase.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerPrintPronouncement.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerScheduleCase.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/service/ScheduleCaseService.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerEditBulkCaseTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerPrintPronouncementTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerScheduleCaseTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/service/ScheduleCaseServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2234

#2229 NFDIV-2645 : added notification for joint solicitor when other party applied for CO
  src/integrationTest/java/uk/gov/hmcts/divorce/common/SubmitConditionalOrderIT.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/Applicant1AppliedForConditionalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/Applicant2AppliedForConditionalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/AppliedForConditionalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitJointConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/Applicant1AppliedForConditionalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/Applicant2AppliedForConditionalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/SubmitJointConditionalOrderTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2229

#2240 Add case id logging for PBA numbers retrieval
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolPayment.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/page/SolPaymentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2240

#2178 NFDIV-1743
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemUpdateCaseWithCourtHearingFT.java
  src/functionalTest/resources/responses/response-system-update-case-with-court-hearing-offline.json
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemUpdateCaseWithCourtHearingIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/EntitlementGrantedConditionalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/model/DocumentType.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemUpdateCaseWithCourtHearing.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/print/CertificateOfEntitlementPrinter.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/EntitlementGrantedConditionalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/print/CertificateOfEntitlementPrinterTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2178

#2245 NFDIV-2549: Reverted changes
  src/integrationTest/java/uk/gov/hmcts/divorce/common/SubmitConditionalOrderIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderAnswersTemplateContent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderAnswersTemplateContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2245

#2248 Fix reliability rating master pipeline
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/print/CertificateOfEntitlementPrinter.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2248

#2246 Nfdiv 2549 2
  src/integrationTest/java/uk/gov/hmcts/divorce/common/SubmitConditionalOrderIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderAnswersTemplateContent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderAnswersTemplateContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2246

#2092 NFDIV-1744
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemPronounceCaseFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-system-pronounce-case-offline-represented.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-system-pronounce-case-offline.json
  src/functionalTest/resources/responses/response-system-pronounce-case-offline-represented.json
  src/functionalTest/resources/responses/response-system-pronounce-case-offline.json
  src/main/java/uk/gov/hmcts/divorce/common/notification/ConditionalOrderPronouncedNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/ServiceApplicationNotification.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/model/DocumentType.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemPronounceCase.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/print/ConditionalOrderPronouncedPrinter.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateConditionalOrderPronouncedCoversheet.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/common/notification/ConditionalOrderPronouncedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemPronounceCaseTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/print/ConditionalOrderPronouncedPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateConditionalOrderPronouncedCoversheetTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2092

#2171 Welsh Go Live - Updated config with Welsh template ids
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2171

#2113 NFDIV-1742
  src/functionalTest/java/uk/gov/hmcts/divorce/legaladvisor/LegalAdvisorMakeDecisionFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-legal-advisor-make-decision-offline-rejected.json
  src/functionalTest/resources/responses/response-legal-advisor-make-decision-co-rejected-offline-joint.json
  src/functionalTest/resources/responses/response-legal-advisor-make-decision-co-rejected-offline-sole.json
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderRefusalContentIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/legaladvisor/LegalAdvisorMakeDecisionIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderRefusalContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisTemplateConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/model/DocumentType.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeDecision.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/notification/LegalAdvisorRejectedDecisionNotification.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/service/printer/AwaitingAmendedApplicationPrinter.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/service/task/GenerateCoRefusedCoverLetter.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/print/ApplyForConditionalOrderPrinter.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateCoversheetTest.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeDecisionTest.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/notification/LegalAdvisorRejectedDecisionNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/service/printer/AwaitingAmendedApplicationPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/service/task/GenerateCoRefusedCoverLetterTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2113

#2251 correction
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2251

#2218 NFDIV-2579
  src/main/java/uk/gov/hmcts/divorce/common/event/DraftConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/DraftJointConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/page/ConditionalOrderReviewAoS.java
  src/main/java/uk/gov/hmcts/divorce/common/event/page/ConditionalOrderReviewAoSApplicant2.java
  src/main/java/uk/gov/hmcts/divorce/common/event/page/ConditionalOrderReviewApplicant1.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SetLatestBailiffApplicationStatus.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrder.java
  src/test/java/uk/gov/hmcts/divorce/common/event/DraftConditionalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/DraftJointConditionalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SetLatestBailiffApplicationStatusTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2218

#2157 Handle confirm service and confirm alternative service in draft CO
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerConfirmAlternativeService.java
  src/main/java/uk/gov/hmcts/divorce/common/event/DraftConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/UpdateConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/page/ConditionalOrderReviewAoS.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SetServiceConfirmed.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseDocuments.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitConfirmService.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/task/AddOfflineRespondentAnswersLink.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerConfirmAlternativeServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/DraftConditionalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/UpdateConditionalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SetServiceConfirmedTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/CaseDocumentsTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitConfirmServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/task/AddOfflineRespondentAnswersLinkTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2157

#2197 Nfdiv 2551 welsh language requested
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SetSubmitAosState.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SetSubmitAosStateTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/CaseDataTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2197

#2227 Nfdiv 2613 fix solicitor notifications for conditional order
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/EntitlementGrantedConditionalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/ConditionalOrderPronouncedNotification.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/EntitlementGrantedConditionalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/ConditionalOrderPronouncedNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2227

#2249 NFDIV-2672 [Bug] - Add Applicant1 solicitor to history grant of applicant2 approve event
  src/main/java/uk/gov/hmcts/divorce/common/event/Applicant2Approve.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2249

#2031 Add general application received Welsh email translation
  src/integrationTest/java/uk/gov/hmcts/divorce/common/GeneralApplicationReceivedNotificationIT.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/GeneralApplicationReceivedNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2031

#2239 NFDIV-2587
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerOfflineDocumentVerifiedFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-offline-document-verified-d84-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-offline-document-verified-d84-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerOfflineDocumentVerifiedIT.java
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/caseworker-offline-document-verified-d84-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerified.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/AppliedForCoPrinter.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/Applicant1AppliedForConditionalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/AcknowledgementOfService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseDocuments.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/model/DocumentType.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerifiedTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/AppliedForCoPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/Applicant1AppliedForConditionalOrderNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2239

#2253 NFDIV-2676 - Solicitor notification showing citizen URL
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/EntitlementGrantedConditionalOrderNotification.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/EntitlementGrantedConditionalOrderNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2253

#2263 Add aosIsDrafted field
  src/main/java/uk/gov/hmcts/divorce/common/event/DraftAos.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/AcknowledgementOfService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/test/java/uk/gov/hmcts/divorce/common/event/DraftAosTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2263

#2222 NFDIV-2638
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerEditBulkCase.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerPrintPronouncement.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CreateBulkList.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/SystemUpdateCase.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/ccd/event/CreateCaseFromExceptionRecord.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerified.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPendingHearingOutcome.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenAddPayment.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenUpdateCaseStateAat.java
  src/main/java/uk/gov/hmcts/divorce/common/event/Applicant2Approve.java
  src/main/java/uk/gov/hmcts/divorce/common/event/Applicant2RequestChanges.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemAttachScannedDocuments.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2222

#2242 Nfdiv 2618 [Bug] - Fix show conditions for all conditional order events
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitJointConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/UpdateConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/UpdateJointConditionalOrder.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2242

#2275 Fix switch to sole
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSole.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSoleTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2275

#2274 Nfdiv 2675 set app2 offline to no on system link applicant2
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemLinkApplicant2IT.java
  src/integrationTest/resources/wiremock/responses/about-to-submit-link-applicant-2.json
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemLinkApplicant2.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemLinkApplicant2Test.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2274

#2279 NFDIV-1575 : Added null check to CO submitted date
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/conditionalorder/SystemNotifyJointApplicantCanSwitchToSoleTask.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/conditionalorder/SystemNotifyJointApplicantCanSwitchToSoleTaskTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2279

#2281 NFDIV-2547
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2281

#2261 NFDIV-2483 : Update CO refusal order (Amend Application)
  src/functionalTest/java/uk/gov/hmcts/divorce/legaladvisor/LegalAdvisorMakeDecisionFT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderRefusedForAmendmentContentIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderRefusedForClarificationContentIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/legaladvisor/LegalAdvisorMakeDecisionIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderRefusedForAmendmentContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderRefusedForClarificationContent.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeDecision.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/service/task/GenerateCoRefusedCoverLetter.java
  src/main/java/uk/gov/hmcts/divorce/notification/CommonContent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeDecisionTest.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/service/task/GenerateCoRefusedCoverLetterTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2261

#2287 Added remove document for super users
  Jenkinsfile_CNP
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRemoveDocument.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRemoveDocumentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2287

#2291 NFDIV-2483 : corrected template name in config
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2291

#2270 NFDIV-2488 : Added welsh doc changes for CO refusal order (Amend Application)
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderRefusedForAmendmentContentIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/legaladvisor/LegalAdvisorMakeDecisionIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderRefusedForAmendmentContent.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeDecision.java
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2270

#2295 Update system cancel invite event prestate to include conditional order pending
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemCancelCaseInvite.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2295

#2283 NFDIV-2520: Set offline to No for digital AoS
  src/integrationTest/resources/caseworker-reissue-application-about-to-submit-app2-not-sol-rep-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/ReIssueApplicationService.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/ReIssueApplicationServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2283

#2164 NFDIV-2420 Solicitor Update Content for Draft conditional order event
  src/main/java/uk/gov/hmcts/divorce/common/event/page/ConditionalOrderReviewAoS.java
  src/main/java/uk/gov/hmcts/divorce/common/event/page/ConditionalOrderReviewAoSApplicant2.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrderQuestions.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2164

#2155 Nfdiv 1459 co fo submitted sol
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenFinalOrderDelayReason.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/ClarificationSubmittedNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/event/ApplyForFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitJointConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/FinalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/SoleAppliedForFinalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/notification/SolicitorAppliedForConditionalOrderNotification.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenFinalOrderDelayReasonTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/ClarificationSubmittedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/ApplyForFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/SubmitConditionalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/SubmitJointConditionalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/FinalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/notification/SolicitorAppliedForConditionalOrderNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2155

#2269 NFDIV-2695
  src/main/java/uk/gov/hmcts/divorce/common/event/page/ConditionalOrderReviewAoS.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2269

#2187 NFDIV-2028 : Welsh notification for Joint CO overdue
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemNotifyJointApplicantCanSwitchToSoleFT.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/common/notification/Applicant1CanSwitchToSoleNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/Applicant2CanSwitchToSoleNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2187

#2280 NFDIV-2688
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/AlternativeService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemLinkApplicant2.java
  src/test/java/uk/gov/hmcts/divorce/common/event/SubmitConditionalOrderTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2280

#2294 nfdiv-2588: set aos statementOfTruth to YES for offline response
  charts/nfdiv-case-api/values.preview.template.yaml
  src/integrationTest/resources/caseworker-offline-document-verified-d10-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerified.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerifiedTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2294

#2267 NFDIV-2567: Update Court response duration
  src/functionalTest/java/uk/gov/hmcts/divorce/common/SubmitClarificationFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/testutil/FunctionalTestSuite.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-submit-clarification-documents-uploaded-joint.json
  src/functionalTest/resources/responses/response-submit-clarification-documents-uploaded-joint.json
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/AppliedForConditionalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/ClarificationSubmittedNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/event/Applicant1Resubmit.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/Applicant1AppliedForConditionalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/Applicant2AppliedForConditionalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/ClarificationSubmittedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SetDateSubmittedTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/ApplicationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2267

#2301 Add missing field access rights to systemupdate role
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/AcknowledgementOfService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseDocuments.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/FinalOrder.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2301

#2285 NFDIV-2686
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemUpdateCaseWithCourtHearingIT.java
  src/integrationTest/resources/application.yaml
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2285

#2250 NFDIV-2623
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerCreateGeneralOrderIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/GeneralOrderTemplateContentIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisTemplateConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/GeneralOrderTemplateContent.java
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2250

#2284 NFDIV-1470
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerGrantFinalOrderFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-grant-final-order-about-to-submit.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGrantFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/notification/FinalOrderGrantedNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGrantFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/notification/FinalOrderGrantedNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2284
