Repository hmcts/nfdiv-case-api, pull requests merged in 2022-04, with the labels that each got.

#1698 NFDIV-2030 Add solicitor access to presubmission states
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/SolicitorAccess.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/access/SolicitorAccessTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1698

#1692 NFDIV-1930 : Applicant solicitor NOP
  src/functionalTest/resources/responses/response-caseworker-issue-application-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-offline-aos-application-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-reissue-application-about-to-submit-reissue-case.json
  src/functionalTest/resources/responses/response-caseworker-reissue-application-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/caseworker-issue-applicant1-represented-by-registered-solicitor-about-to-submit-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/NoticeOfProceedingsPrinter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateNoticeOfProceeding.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/ApplicationIssuedNotification.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Solicitor.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisTemplateConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingApplicantSolicitorContent.java
  src/main/java/uk/gov/hmcts/divorce/notification/CommonContent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/NoticeOfProceedingsPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateNoticeOfProceedingTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/ApplicationIssuedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingApplicantSolicitorContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1692

#1699 update states for aos disputed/undisputed events
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemIssueAosDisputed.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemIssueAosUnDisputed.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1699

#1701 Send NOP to solicitor when applicant 2 is represented
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContentIT.java
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/caseworker-issue-joint-application-app2-represented-about-to-submit-response.json
  src/integrationTest/resources/caseworker-reissue-joint-application-applicant2-solicitor-about-to-submit-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateNoticeOfProceeding.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisTemplateConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingSolicitorContent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateNoticeOfProceedingTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingSolicitorContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1701

#1702 Send letter to applicant 2 when application is issued for joint applications
  src/main/java/uk/gov/hmcts/divorce/common/notification/ApplicationIssuedNotification.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/ApplicationIssuedNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1702

#1703 Added missing applicant 2 address for respondent NOP
  src/main/java/uk/gov/hmcts/divorce/document/content/CitizenRespondentAosInvitationTemplateContent.java
  src/test/java/uk/gov/hmcts/divorce/document/content/CitizenRespondentAosInvitationTemplateContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1703

#1704 consider solicitor payment method for app2 as well
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SetStateAfterSubmissionTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1704

#1715 General application event changes
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/GeneralApplicationUploadDocument.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1715

#1716 NFDIV-1973
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReissueApplicationFT.java
  src/functionalTest/resources/responses/response-caseworker-issue-application-with-d10-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-reissue-application-with-d10-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/IssueApplicationService.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/ReIssueApplicationService.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateD10Form.java
  src/main/java/uk/gov/hmcts/divorce/common/config/RestTemplateConfiguration.java
  src/main/java/uk/gov/hmcts/divorce/common/config/jackson/InternalHealthDeserializer.java
  src/main/java/uk/gov/hmcts/divorce/common/config/jackson/JacksonConfiguration.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentUtil.java
  src/main/java/uk/gov/hmcts/divorce/document/model/DocumentType.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/CaseworkerIssueApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/ReIssueApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateD10FormTest.java
  src/test/java/uk/gov/hmcts/divorce/document/DocumentUtilTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1716

#1705 NFDIV-2045 :
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/common/Applicant2ApproveIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationJointTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationSoleTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisTemplateConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DraftApplicationTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/provider/ApplicantTemplateDataProvider.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationJointTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationSoleTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DraftDivorceApplicationSoleTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/provider/ApplicantTemplateDataProviderTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestConstants.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1705

#1708 update NOP document names
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-solicitor-service-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateNoticeOfProceeding.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateRespondentAosInvitation.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateNoticeOfProceedingTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateRespondentAosInvitationTest.java
  src/test/java/uk/gov/hmcts/divorce/document/CaseDataDocumentServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1708

#1718 Fix missing condition to display applicant 2 financial orders on correct paper case
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/CorrectPaperCase.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1718

#1693 NFDIV-2049 - Stop case state being set to draft when payment cancelled
  src/functionalTest/resources/responses/response-payment-cancelled.json
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenAddPayment.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenAddPaymentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1693

#1714 Use the document type NOTICE_OF_PROCEEDINGS_APP_2 instead of RESPONDENT_INVITATION
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReissueApplicationFT.java
  src/functionalTest/resources/responses/response-caseworker-issue-application-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-issue-application-with-d10-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-issue-sole-citizen-application-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-offline-aos-application-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-reissue-application-about-to-submit-reissue-case.json
  src/functionalTest/resources/responses/response-caseworker-reissue-application-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-reissue-application-with-d10-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorSubmitUpdateDraftAosIT.java
  src/integrationTest/resources/caseworker-issue-applicant1-represented-by-registered-solicitor-about-to-submit-response.json
  src/integrationTest/resources/caseworker-issue-applicant1-represented-by-solicitor-about-to-submit-response.json
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-app2-not-sol-rep-response.json
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-app2-sol-rep-response.json
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-solicitor-service-response.json
  src/integrationTest/resources/caseworker-issue-application-draft-application-removal-response.json
  src/integrationTest/resources/caseworker-issue-joint-application-app1-represented-about-to-submit-response.json
  src/integrationTest/resources/caseworker-issue-joint-application-app2-contact-private-about-to-submit-response.json
  src/integrationTest/resources/caseworker-issue-joint-application-app2-represented-about-to-submit-response.json
  src/integrationTest/resources/caseworker-issue-joint-application-both-applicant-offline-about-to-submit-response.json
  src/integrationTest/resources/caseworker-issue-sole-citizen-application-about-to-submit-response.json
  src/integrationTest/resources/caseworker-issue-sole-citizen-uk-based-application-about-to-submit-response.json
  src/integrationTest/resources/caseworker-reissue-application-about-to-submit-app2-not-sol-rep-offline-aos-response.json
  src/integrationTest/resources/caseworker-reissue-application-about-to-submit-app2-not-sol-rep-reissue-case-response.json
  src/integrationTest/resources/caseworker-reissue-application-about-to-submit-app2-not-sol-rep-response.json
  src/integrationTest/resources/caseworker-reissue-application-about-to-submit-app2-sol-rep-offline-aos-response.json
  src/integrationTest/resources/caseworker-reissue-application-about-to-submit-app2-sol-rep-reissue-response.json
  src/integrationTest/resources/caseworker-reissue-application-about-to-submit-app2-sol-rep-response.json
  src/integrationTest/resources/caseworker-reissue-joint-application-applicant1-solicitor-about-to-submit-response.json
  src/integrationTest/resources/caseworker-reissue-joint-application-applicant2-solicitor-about-to-submit-response.json
  src/integrationTest/resources/caseworker-reissue-sole-citizen-application-offlineAos-about-to-submit-response.json
  src/integrationTest/resources/caseworker-reissue-sole-citizen-application-personal-service-about-to-submit-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/IssueApplicationService.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/ReIssueApplicationService.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplicant1NoticeOfProceeding.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplicant2NoticeOfProceedings.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/model/DocumentType.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/CaseworkerIssueApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/ReIssueApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplicant1NoticeOfProceedingTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplicant2NoticeOfProceedingsTest.java
  src/test/resources/transformation/output/joint-application-transformed.json
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1714

#1722 Send notice of proceeding to applicant 1 via bulk print for joint applications
  src/main/java/uk/gov/hmcts/divorce/common/notification/ApplicationIssuedNotification.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/ApplicationIssuedNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1722

#1723 Remove CAA access from draft state
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/DefaultStateAccessExcludingCAA.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/access/DefaultStateAccessExcludingCAATest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1723

#1727 Hide cases from CAA in manage org unassigned cases
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1727

#1721 NoP tidy up
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReissueApplicationFT.java
  src/functionalTest/resources/responses/response-caseworker-issue-application-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-issue-application-with-d10-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-issue-sole-citizen-application-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-offline-aos-application-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-reissue-application-about-to-submit-reissue-case.json
  src/functionalTest/resources/responses/response-caseworker-reissue-application-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-reissue-application-with-d10-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/caseworker-issue-applicant1-represented-by-solicitor-about-to-submit-response.json
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-app2-not-sol-rep-response.json
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-app2-sol-rep-response.json
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-solicitor-service-response.json
  src/integrationTest/resources/caseworker-issue-joint-application-app1-represented-about-to-submit-response.json
  src/integrationTest/resources/caseworker-issue-joint-application-app2-contact-private-about-to-submit-response.json
  src/integrationTest/resources/caseworker-issue-joint-application-app2-represented-about-to-submit-response.json
  src/integrationTest/resources/caseworker-issue-joint-application-both-applicant-offline-about-to-submit-response.json
  src/integrationTest/resources/caseworker-issue-sole-citizen-application-about-to-submit-response.json
  src/integrationTest/resources/caseworker-reissue-application-about-to-submit-app2-not-sol-rep-offline-aos-response.json
  src/integrationTest/resources/caseworker-reissue-application-about-to-submit-app2-not-sol-rep-reissue-case-response.json
  src/integrationTest/resources/caseworker-reissue-application-about-to-submit-app2-not-sol-rep-response.json
  src/integrationTest/resources/caseworker-reissue-application-about-to-submit-app2-sol-rep-offline-aos-response.json
  src/integrationTest/resources/caseworker-reissue-application-about-to-submit-app2-sol-rep-reissue-response.json
  src/integrationTest/resources/caseworker-reissue-application-about-to-submit-app2-sol-rep-response.json
  src/integrationTest/resources/caseworker-reissue-joint-application-applicant1-solicitor-about-to-submit-response.json
  src/integrationTest/resources/caseworker-reissue-joint-application-applicant2-solicitor-about-to-submit-response.json
  src/integrationTest/resources/caseworker-reissue-sole-citizen-application-offlineAos-about-to-submit-response.json
  src/integrationTest/resources/caseworker-reissue-sole-citizen-application-personal-service-about-to-submit-response.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-citizen-submit-aos-with-dispute.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-citizen-submit-aos-without-dispute.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-system-progress-case-to-aos-overdue-offline.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-system-progress-case-to-aos-overdue.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/IssueApplicationService.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/ReIssueApplicationService.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplicant1NoticeOfProceeding.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplicant2NoticeOfProceedings.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateD10Form.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SendAosPackToApplicant.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SendAosPackToRespondent.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SetServiceType.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplicant1NoticeOfProceedingTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplicant2NoticeOfProceedingsTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/SendAosPackToApplicantTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/SendAosPackToRespondentTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/SetServiceTypeTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1721

#1731 Remove obsolete NoP Printer and associated code
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/NoticeOfProceedingsPrinter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplicant1NoticeOfProceeding.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplicant2NoticeOfProceedings.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/ApplicationIssuedNotification.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/NoticeOfProceedingsPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/ApplicationIssuedNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1731

#1733 NFDIV-1999
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/CorrectPaperCase.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1733

#1735 Only set HWF number if value passed is non empty
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/ApplicationTransformer.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/transformation/ApplicationTransformerTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1735

#1724 NFDIV-2044 - Send applicant2 solicitor notification when InviteApplicant2 event triggered.
  src/functionalTest/java/uk/gov/hmcts/divorce/common/InviteApplicant2FT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-applicant1-invite-applicant2-solicitor.json
  src/functionalTest/resources/responses/response-applicant1-invite-applicant2-solicitor.json
  src/integrationTest/java/uk/gov/hmcts/divorce/common/InviteApplicant2IT.java
  src/integrationTest/resources/wiremock/responses/about-to-submit-invite-applicant-2-represented.json
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSentForReviewNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/event/InviteApplicant2.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSentForReviewNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/InviteApplicant2Test.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1724

#1737 Ensure respondent citizen nop pointing at correct template content file
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplicant2NoticeOfProceedings.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplicant2NoticeOfProceedingsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1737

#1738 NFDIV-2074
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolStatementOfTruth.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/page/SolStatementOfTruthTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1738

#1739 return an error if applicationType is null (xui refresh issue), to avoid NPE
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorCreateApplication.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorCreateApplicationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1739

#1736 Nfdiv-2052 Update solicitor jurisdiction text
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/JurisdictionConnections.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1736

#1741 NFDIV-2096 remove history for joint patch
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant2UpdateApplication.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1741

#1745 NFDIV-2089: Add new content values for offline respondent NOP
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContentIT.java
  src/main/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContent.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1745

#1719 lets see if integration tests are faster with more threads
  Jenkinsfile_CNP
  build.gradle
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1719

#1740 Add applicant 1 and applicant 2 marragiage name field to application …
  src/integrationTest/java/uk/gov/hmcts/divorce/common/Applicant2ApproveIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationJointTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationSoleTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisTemplateConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DraftApplicationTemplateContent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationJointTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationSoleTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DraftDivorceApplicationSoleTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestConstants.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1740

#1749 NFDIV-2089: Point at new version of offline doc
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/integrationTest/resources/application.yaml
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1749

#1744 revert NFDIV-1668 changes
  src/functionalTest/java/uk/gov/hmcts/divorce/solicitor/SubmitAosFT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/common/SubmitAosIT.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant2UpdateApplication.java
  src/main/java/uk/gov/hmcts/divorce/common/event/DraftAos.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitAos.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SetSubmissionAndDueDate.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SetSubmitAosState.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemIssueAosDisputed.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemIssueAosUnDisputed.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemLinkApplicant2.java
  src/test/java/uk/gov/hmcts/divorce/common/event/DraftAosTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SetSubmissionAndDueDateTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SetSubmitAosStateTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1744

#1742 NFDIV-1921 - Updates to summary PDFs
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
  src/main/java/uk/gov/hmcts/divorce/document/content/provider/ApplicantTemplateDataProvider.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/ApplicantTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/provider/ApplicantTemplateDataProviderTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1742

#1751 Don't add solcitor pack event on personal service
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueApplication.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueApplicationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1751

#1752 NFDIV-2053
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/integrationTest/resources/caseworker-issue-joint-application-app1-represented-about-to-submit-response.json
  src/integrationTest/resources/caseworker-issue-joint-application-app2-contact-private-about-to-submit-response.json
  src/integrationTest/resources/caseworker-issue-joint-application-app2-represented-about-to-submit-response.json
  src/integrationTest/resources/caseworker-reissue-joint-application-applicant1-solicitor-about-to-submit-response.json
  src/integrationTest/resources/caseworker-reissue-joint-application-applicant2-solicitor-about-to-submit-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SendAosPackToRespondent.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinterTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1752

#1754 Remove HWF number from transformed case data if invalid
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/ApplicationTransformer.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/transformation/ApplicationTransformerTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1754

#1700 NFDIV-909: Add dynamic content changes to General Order document
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerCreateGeneralOrderFT.java
  src/functionalTest/resources/responses/response-caseworker-general-order-mid-event.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerCreateGeneralOrderIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/GeneralOrderTemplateContentIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/CreateGeneralOrder.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisTemplateConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/GeneralOrderTemplateContent.java
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1700

#1753 Fix personal service reissue notifications
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SendApplicationIssueNotifications.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/ApplicationIssuedNotification.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/SendApplicationIssueNotificationsTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/ApplicationIssuedNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1753

#1757 NFDIV-2089: Add content for v2 of R2 NOP
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerCreateGeneralOrderIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContentIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/common/config/DocmosisTemplatesConfig.java
  src/main/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContent.java
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1757

#1706 nfdiv-1946: notify applicant2solicitor of applicant1 changes
  src/functionalTest/java/uk/gov/hmcts/divorce/citizen/Applicant1ResubmitFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-applicant1-resubmit-application-applicant2-represented.json
  src/functionalTest/resources/responses/response-applicant1-resubmit-application-applicant2-represented.json
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/Applicant1ResubmitIT.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/Applicant1ResubmitNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2ApprovedNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSentForReviewNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/ApplicationIssuedNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/CommonContent.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant1ResubmitNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/ApplicationIssuedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/notification/CommonContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1706

#1770 Add missing bracket to jurisdiction text
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/JurisdictionConnections.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1770

#1763 NFDIV-2131 - Add applicantLastNameChangedWhenMarried fields to Application tab
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/ApplicationTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1763

#1761 Remove access for awaiting documents event for everyone
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAwaitingDocuments.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1761

#1774 NFDIV-1943
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1774

#1769 NFDIV-2124
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContentIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContent.java
  src/main/java/uk/gov/hmcts/divorce/notification/CommonContent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/notification/CommonContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1769

#1776 NFDIV-2134
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadDocument.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1776

#1764 Improve development efficiency - fast reload
  build.gradle
  src/cftlib/java/uk/gov/hmcts/divorce/cftlib/CftLibConfig.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1764

#1750 Add Applicant 2 to the label text of respondent to account for joint cases
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/GeneralOrderDivorceParties.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1750

#1730 NFDIV-2057 - Make applicant2 solicitor org optional instead of mandatory.
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/Applicant2ServiceDetails.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1730

#1765 Nfdiv 2132
  src/main/java/uk/gov/hmcts/divorce/divorcecase/util/AddressUtil.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/util/AddressUtilTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1765

#1766 Update NoP R1 respondent online templates
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContentIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContent.java
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1766

#1791 NFDIV-2143 Bug - Joint jurisdictions being added to sole case
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/ApplicationTransformer.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/transformation/ApplicationTransformerTest.java
  src/test/resources/transformation/input/valid-application-ocr.json
  src/test/resources/transformation/output/application-transformed.json
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1791

#1802 Added suppression for elasticsearch and spring retry as new version not yet available
  config/owasp/suppressions.xml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1802

#1793 Move general letters to confidential tab if applicant contact details is private
  src/functionalTest/resources/responses/response-caseworker-general-letter-about-to-submit.json
  src/main/java/uk/gov/hmcts/divorce/document/CaseDataDocumentService.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentUtil.java
  src/main/java/uk/gov/hmcts/divorce/document/model/ConfidentialDocumentsReceived.java
  src/test/java/uk/gov/hmcts/divorce/document/CaseDataDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/document/DocumentUtilTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1793

#1777 NFDIV-1965 Updates to applicationTab
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/ApplicationTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1777

#1783 nfdiv-1959 app2 request changes notification
  src/integrationTest/java/uk/gov/hmcts/divorce/common/Applicant2RequestChangesNotificationIT.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2RequestChangesNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2RequestChangesNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1783

#1812 Add suppresssion for new CVE for spring retry as latest is not available
  config/owasp/suppressions.xml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1812

#1790 Nfdiv 1234 response to service application event
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerResponseToServiceApplication.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/CaseworkerResponseToServiceApplicationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1790

#1792 Update contact details
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/UpdateContactDetails.java
  src/main/resources/data/joint.json
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/CaseDetailsUpdaterTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1792

#1775 NFDIV-1960 - Add "Other applicant has approved (other applicant is represented)"
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-applicant1-resubmit-application.json
  src/functionalTest/resources/responses/response-applicant1-resubmit-application.json
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/Applicant1ResubmitNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant1ResubmitNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1775

#1784 Feature/nfdiv 1865 Applicant 1 Solicitor answer received notification
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerAnswerReceivedFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-answer-received-submitted.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerAnswerReceivedIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAnswerReceived.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/DisputedApplicationAnswerReceivedNotification.java
  src/main/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContent.java
  src/main/java/uk/gov/hmcts/divorce/notification/CommonContent.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAnswerReceivedTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/DisputedApplicationAnswerReceivedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/notification/CommonContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1784

#1788 NFDIV-1602 Caseworker pending hearing outcome event
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPendingHearingOutcome.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPendingHearingOutcomeTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1788

#1780 NFDIV-1961 & 1960 - Add "You have confirmed; your partner needs to confirm (other app is represented)" notification
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-applicant1-resubmit-application.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-applicant2-approved.json
  src/functionalTest/resources/responses/response-applicant1-resubmit-application.json
  src/functionalTest/resources/responses/response-applicant2-approved.json
  src/integrationTest/java/uk/gov/hmcts/divorce/common/Applicant2ApproveIT.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/Applicant1ResubmitNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2ApprovedNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant1ResubmitNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2ApprovedNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1780

#1789 NFD-2118 - Duplicate line in a joint citizen NoP
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/integrationTest/resources/application.yaml
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1789

#1818 NFDIV-2124: Fix issues around respondent represented personal service content
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContentIT.java
  src/main/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContent.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1818

#1826 Upgrade cftlib, exclude logback binding, remove deprecation warning
  build.gradle
  src/main/java/uk/gov/hmcts/divorce/common/config/jackson/JacksonConfiguration.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1826

#1829 Added aos overdue as prestate for draft aos
  src/main/java/uk/gov/hmcts/divorce/common/event/DraftAos.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1829

#1768 NFDIV-1735 - On ExUI, show whether supporting documents have been uploaded
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadDocumentsAndSubmit.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSole.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/ApplicationTab.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadDocumentsAndSubmitTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSoleTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1768

#1828 Added new fields to display on unassigned cases tab for CAA
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Solicitor.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseworkerWithCAAAccess.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseAccessAdministratorSearchTab.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseworkerAccessWithCAATest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1828

#1782 NFDIV-1864 and NFDIV-1872 - Solicitor notification - other party responded
  src/functionalTest/java/uk/gov/hmcts/divorce/common/SubmitAosFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-solicitor-submit-aos.json
  src/functionalTest/resources/responses/response-solicitor-submit-aos.json
  src/integrationTest/java/uk/gov/hmcts/divorce/common/SubmitAosIT.java
  src/integrationTest/resources/wiremock/responses/about-to-submit-citizen-submit-aos-represented-respondent.json
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/SoleApplicationDisputedNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/SoleApplicationNotDisputedNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/SoleApplicationDisputedNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/SoleApplicationNotDisputedNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/service/SubmitAosService.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SendAosNotifications.java
  src/main/java/uk/gov/hmcts/divorce/notification/CommonContent.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant1ResubmitNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/SoleApplicationDisputedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/SoleApplicationNotDisputedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/SubmitAosServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SendAosNotificationsTest.java
  src/test/java/uk/gov/hmcts/divorce/payment/PaymentServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestConstants.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1782

#1824 Fix AcknowledgementOfService setNoticeOfProceedings null pointer
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/AcknowledgementOfService.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/AcknowledgementOfServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1824

#1821 Fix divorce application solicitor address null pointer
  src/main/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationSoleTemplateContent.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationSoleTemplateContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1821

#1836 NFDIV-1769: Remove disputed state as not required
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerReissueApplication.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1836

#1837 Rearrange applicant 1 statement of truth questions
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/CorrectPaperCase.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1837

#1838 NFDIV-1845: Rename the marriage certificate in the UI
  src/main/java/uk/gov/hmcts/divorce/document/model/DocumentType.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1838

#1839 Remove handle supplementary evidence as it is not required in NFD
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemHandleSupplementaryEvidence.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemHandleSupplementaryEvidenceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1839

#1831 NFDIV-2183: Point to new version of R1 NOP document
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/integrationTest/resources/application.yaml
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1831

#1841 Add creator CRU in CaseworkerWithCAAAccess
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseworkerWithCAAAccess.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseworkerAccessWithCAATest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1841

#1842 NFDIV-2091: Add awaiting dwp response to pre states for issue and reissue
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueApplication.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerReissueApplication.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1842

#1847 Add more permissions to CaseworkerAccessWithCAA
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseworkerWithCAAAccess.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseworkerAccessWithCAATest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1847

#1848 Access control changes
  build.gradle
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Solicitor.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseworkerWithCAAAccess.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseworkerAccessWithCAATest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1848

#1804 Show firm name when application type is joint and app2 is represented
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/CorrectPaperCase.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1804

#1827 NFDIV-2008: Update offline document verified event
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerOfflineDocumentVerifiedIT.java
  src/integrationTest/resources/caseworker-offline-document-verified-d10-response.json
  src/integrationTest/resources/caseworker-offline-document-verified-other-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerified.java
  src/main/java/uk/gov/hmcts/divorce/common/service/SubmitAosService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/AcknowledgementOfService.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerifiedTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/SubmitAosServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1827
