Repository hmcts/nfdiv-case-api, pull requests merged in 2022-02, with the labels that each got.

#1286 Add full CCD error to the logs
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/service/CcdUpdateServiceIT.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdUpdateService.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1286

#1285 Nfd 1464 create refusal document
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderRefusalContentIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/legaladvisor/LegalAdvisorMakeDecisionIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderRefusalContent.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeDecision.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeDecisionTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1285

#1281 Example Java 17 record class
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchToSoleApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemLinkApplicant2IT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressCaseToAosOverdueIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateCitizenRespondentAosInvitation.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateRespondentSolicitorAosInvitation.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSole.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/AosReminderNotifications.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationRemindApplicant2Notification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSentForReviewNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/SaveAndSignOutNotificationHandler.java
  src/main/java/uk/gov/hmcts/divorce/common/event/CreateTestCase.java
  src/main/java/uk/gov/hmcts/divorce/common/event/InviteApplicant2.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/ApplicationIssuedNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SetApplicant2Email.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseInvite.java
  src/main/java/uk/gov/hmcts/divorce/document/content/RespondentSolicitorAosInvitationTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemLinkApplicant2.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindApplicant2Task.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateCitizenRespondentAosInvitationTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateRespondentSolicitorAosInvitationTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/SendApplicationIssueNotificationsTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSoleTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/AosReminderNotificationsTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2RequestChangesNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/SaveAndSignOutNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/AppliedForConditionalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/InviteApplicant2Test.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/ApplicationIssuedOverseasNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemLinkApplicant2Test.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressCaseToAosOverdueTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1281

#1290 Remove temporary logging for general referrals
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralReferral.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralReferralPayment.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorGeneralConsideration.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1290

#1267 NFDIV-1652 - Refused Conditional Order notification (joint)
  src/integrationTest/java/uk/gov/hmcts/divorce/legaladvisor/LegalAdvisorMakeDecisionIT.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/notification/LegalAdvisorMoreInfoDecisionNotification.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/notification/LegalAdvisorMoreInfoDecisionNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1267

#1292 Use state transition method to update state rather than callback
  build.gradle
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemAttachScannedDocuments.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemAttachScannedDocumentsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1292

#1293 NFDIV-1529: Bring app2 answers filename in line with app1 answers filename
  src/main/java/uk/gov/hmcts/divorce/common/event/Applicant2Approve.java
  src/test/java/uk/gov/hmcts/divorce/common/event/Applicant2ApproveTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1293

#1294 Execute xlsx build in parallel
  bin/ccd-build-definition.sh
  bin/generate-ccd-definition.sh
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1294

#1275 Add 2 tests for CitizenUpdateCaseStateAAT event
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenUpdateCaseStateAatTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestConstants.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1275

#1296 remove label
  build.gradle
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemAttachScannedDocuments.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemHandleSupplementaryEvidence.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1296

#1300 Clean up CaseInvite example
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseInvite.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1300

#1298 Remove due date setting for confirm alternative service event
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerConfirmAlternativeServiceIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerConfirmAlternativeService.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerConfirmAlternativeServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1298

#1304 Update and format case reference for conditional order refusal doc
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderRefusalContentIT.java
  src/main/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderRefusalContent.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1304

#1297 NFDIV-1662
  src/integrationTest/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerPronounceListIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/bulkaction/service/CasePronouncementServiceIT.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerPronounceList.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/service/CasePronouncementService.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemLinkWithBulkCase.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemPronounceCase.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemoveBulkCase.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemUpdateCaseWithCourtHearing.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchService.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerPronounceListTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/service/CasePronouncementServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1297

#1305 Library based local development environment
  .gitignore
  README.md
  build.gradle
  src/cftlib/java/uk/gov/hmcts/divorce/cftlib/CftLibConfig.java
  src/cftlib/java/uk/gov/hmcts/divorce/cftlib/RunWithCFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/common/ServiceAuthValidationFT.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/BulkActionCaseTypeConfig.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/NoFaultDivorce.java
  src/main/resources/cftlib-am-role-assignments.json
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1305

#1310 Fix Gradle up-to-date checks on buildCCDXlsx
  build.gradle
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1310

#1308 Nfdiv-1655 applicant1IsApplicant2Represented field
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant2Represented.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1308

#1318 add solicitor firm name field for FE
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Solicitor.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1318

#1301 NFDIV-1570 - Apply for final order applicant notification
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressCaseToAwaitingFinalOrderFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-system-progress-case-to-awaiting-final-order.json
  src/main/java/uk/gov/hmcts/divorce/common/notification/AwaitingFinalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/CommonContent.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressCaseToAwaitingFinalOrder.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/common/notification/AwaitingFinalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressCaseToAwaitingFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1301

#1323 Refine Remind Applicant 2 Task ES Query
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindApplicant2Task.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindApplicant2TaskTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1323

#1322 NFDIV-1305: Update validation errors
  src/functionalTest/resources/responses/response-bulk-scan-d8-validation-warning.json
  src/integrationTest/resources/bulk-scan-d8-validation-warning-response.json
  src/main/java/uk/gov/hmcts/divorce/bulkscan/validation/OcrValidator.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/validation/OcrValidatorTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1322

#1307 Revert removal of financial order for field
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFields.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationJointTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationSoleTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisTemplateConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DraftApplicationTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/provider/ApplicantTemplateDataProvider.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/FinancialOrders.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationJointTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationSoleTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DraftDivorceApplicationSoleTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/provider/ApplicantTemplateDataProviderTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1307

#1302 nfdiv-1133: use roles to determine app1 or 2
  src/functionalTest/java/uk/gov/hmcts/divorce/citizen/CitizenSaveAndCloseFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/common/SubmitConditionalOrderFT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenSaveAndCloseIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchToSoleApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSoleIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenUpdateContactDetailsIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/common/SubmitConditionalOrderIT.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSaveAndClose.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSole.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenUpdateContactDetails.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/SaveAndSignOutNotificationHandler.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/Applicant1AppliedForConditionalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/Applicant2AppliedForConditionalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/AppliedForConditionalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/CcdAccessService.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSaveAndCloseTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSoleTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenUpdateContactDetailsTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/SaveAndSignOutNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/Applicant1AppliedForConditionalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/Applicant2AppliedForConditionalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/SubmitConditionalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/CcdAccessServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1302

#1328 Nfdiv 1540
  build.gradle
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/GeneralReferral.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/workbasket/WorkBasketInputFields.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/workbasket/WorkBasketResultFields.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/workbasket/WorkBasketInputFieldsTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/workbasket/WorkBasketResultFieldsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1328

#1335 Use system user to remove case roles
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerNoticeOfChange.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/CcdAccessService.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerNoticeOfChangeTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/CcdAccessServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1335

#1334 update dev env
  build.gradle
  src/cftlib/java/uk/gov/hmcts/divorce/cftlib/RunWithCFT.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1334

#1338 Nfdiv 1656 doc and access
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-issue-sole-citizen-application-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-issue-sole-citizen-application-about-to-submit.json
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Solicitor.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationSoleTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisTemplateConstants.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationSoleTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestConstants.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1338

#1347 Add missing CAA access
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1347

#1345 nfdiv-1707: enable applicant2 to submit switch-to-sole event
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSole.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1345

#1343 NFDIV-1647 Fix draft conditional order sole application
  src/main/java/uk/gov/hmcts/divorce/common/event/DraftConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/page/ConditionalOrderReviewAoS.java
  src/main/java/uk/gov/hmcts/divorce/common/event/page/ConditionalOrderReviewApplicant1.java
  src/test/java/uk/gov/hmcts/divorce/common/event/page/ConditionalOrderReviewAoSTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1343

#1348 Update CitizenSwitchedToSole.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSole.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1348

#1346 NFDIV-1649
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitJointConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrderQuestions.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFields.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolHowDoYouWantToApplyForDivorce.java
  src/main/resources/data/joint.json
  src/main/resources/data/sole.json
  src/test/java/uk/gov/hmcts/divorce/common/event/SubmitConditionalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/SubmitJointConditionalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFieldsTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/page/SolHowDoYouWantToApplyForDivorceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1346

#1349 Update NFD_Refusal_Order_Clarficiation doc to NFD_Refusal_Order
  src/integrationTest/java/uk/gov/hmcts/divorce/legaladvisor/LegalAdvisorMakeDecisionIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeDecision.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeDecisionTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1349

#1350 Nfd 1647 add joint draft cond order app1
  src/main/java/uk/gov/hmcts/divorce/common/event/DraftConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/UpdateConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrderQuestions.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolHowDoYouWantToApplyForDivorce.java
  src/main/resources/data/joint.json
  src/main/resources/data/sole.json
  src/test/java/uk/gov/hmcts/divorce/common/event/DraftConditionalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/page/SolHowDoYouWantToApplyForDivorceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1350

#1353 Add ability for applicant 2 to draft a conditional order for joint application
  src/main/java/uk/gov/hmcts/divorce/common/event/DraftJointConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/UpdateJointConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/page/ConditionalOrderReviewAoSApplicant2.java
  src/main/java/uk/gov/hmcts/divorce/common/event/page/ConditionalOrderReviewApplicant2.java
  src/test/java/uk/gov/hmcts/divorce/common/event/DraftJointConditionalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/UpdateJointConditionalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/page/ConditionalOrderReviewAoSApplicant2Test.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1353

#1351 NFDIV-1725
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateApplicant2ContactDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/UpdateApplicant2ContactDetails.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateApplicant2ContactDetailsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1351

#1360 NFDIV-1649: Add readonly accessor for conditional order fields
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolHowDoYouWantToApplyForDivorce.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1360

#1352 NFDIV-1649: Remove check before setting is co submitted for app1
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitConditionalOrder.java
  src/test/java/uk/gov/hmcts/divorce/common/event/SubmitConditionalOrderTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1352

#1354 Add null check to pronounce case data update
  src/main/java/uk/gov/hmcts/divorce/bulkaction/task/BulkActionCaseTaskException.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/task/PronounceCaseProvider.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdUpdateService.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/task/PronounceCaseProviderTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1354

#1362 CftLib with CCD ElasticSearch 7
  build.gradle
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1362

#1365 Bump tomcat-embed-core to 9.0.58
  build.gradle
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1365

#1363 Revert the revert of financialOrderFor field
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFields.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DraftApplicationTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/provider/ApplicantTemplateDataProvider.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/FinancialOrders.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DraftDivorceApplicationSoleTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/provider/ApplicantTemplateDataProviderTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1363

#1366 nfdiv-1355 add final order late fields
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/FinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1366

#1364 clean up
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant2Represented.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1364

#1361 NFDIV-1332: Update validation for D8S prayer fields
  src/functionalTest/resources/responses/response-bulk-scan-d8-validation-warning.json
  src/integrationTest/resources/bulk-scan-d8-validation-warning-response.json
  src/main/java/uk/gov/hmcts/divorce/bulkscan/validation/OcrValidator.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/validation/data/OcrDataFields.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/validation/OcrValidatorTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1361

#1369 Nfdiv 330 & 1355 citizen FO events
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenFinalOrderDelayReason.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenFinalOrderRequested.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenUpdateContactDetails.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenFinalOrderDelayReasonTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenFinalOrderRequestedTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1369

#1342 Check for not found status before setting version to zero
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemMigrateCasesTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/bulkaction/SystemMigrateBulkCasesTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdCreateService.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdManagementException.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdUpdateService.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/service/BulkCaseProcessingServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemAlertApplicationNotReviewedTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemFinalOrderOverdueTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemMigrateCasesTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemNotifyApplicantDisputeFormOverdueTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemNotifyRespondentApplyFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressCasesToAosOverdueTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressCasesToAwaitingFinalOrderTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressHeldCasesTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindApplicant1ApplicationApprovedTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindApplicant2TaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/bulkaction/FailedBulkCaseRemoverTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/bulkaction/SystemCreateBulkCaseListTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/bulkaction/SystemMigrateBulkCasesTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/conditionalorder/SystemRemindApplicantsApplyForCOrderTaskTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1342

#1355 nfdiv-1707: delay unlinking user until case updates are made
  src/functionalTest/java/uk/gov/hmcts/divorce/testutil/IdamTokenGenerator.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSole.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseInvite.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSoleTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1355

#1372 NFDIV-1667 Update statement of truth pages for joint applications
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolStatementOfTruth.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolStatementOfTruthApplicant2.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1372

#1374 NFDIV-1725
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateApplicant1ContactDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateApplicant2ContactDetails.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1374

#1376 Add financialOrdersFor to application tab
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/ApplicationTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1376

#1378 NFDIV-1606: Make changes after sole document review with Lalita
  src/main/java/uk/gov/hmcts/divorce/document/content/DraftApplicationTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/provider/ApplicantTemplateDataProvider.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/MarriageCertificateDetails.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DraftDivorceApplicationSoleTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/provider/ApplicantTemplateDataProviderTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/page/MarriageCertificateDetailsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1378

#1380 NFDIV-1282 : CCD API pre-state validation failure
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueApplication.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueApplicationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1380

#1379 Temporary fix for S2S url
  src/cftlib/java/uk/gov/hmcts/divorce/cftlib/RunWithCFT.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1379

#1382 NFDIV-1649
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitJointConditionalOrder.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1382

#1375 NFDIV-1376
  config/pmd/ruleset.xml
  src/integrationTest/resources/transformation-success-response.json
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/D8FormToCaseTransformer.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAmendCase.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerCorrectPaperCase.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/CorrectPaperCase.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/PaperFormDetails.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerCorrectPaperCaseTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/page/CorrectPaperCaseTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1375

#1384 Nfdiv-330 add Applicant label to FO tab
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1384

#1385 Define model classes for transformation which includes date formatter
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/BulkScanFormTransformer.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/BulkScanFormTransformerFactory.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/BulkScanService.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/D8FormToCaseTransformer.java
  src/main/java/uk/gov/hmcts/divorce/endpoint/BulkScanCaseTransformationController.java
  src/main/java/uk/gov/hmcts/divorce/endpoint/model/ExceptionRecord.java
  src/main/java/uk/gov/hmcts/divorce/endpoint/model/InputScannedDoc.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/transformation/BulkScanServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/transformation/D8FormToCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/divorce/endpoint/BulkScanCaseTransformationControllerTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1385

#1386 Fix draft cond order app link
  src/main/java/uk/gov/hmcts/divorce/common/event/DraftConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/DraftJointConditionalOrder.java
  src/test/java/uk/gov/hmcts/divorce/common/event/DraftConditionalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/DraftJointConditionalOrderTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1386

#1388 Ignore unknown properties sent during exception record transformation
  src/main/java/uk/gov/hmcts/divorce/endpoint/model/ExceptionRecord.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1388

#1387 Update service details page
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/Applicant2ServiceDetails.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1387

#1389 Remove logging annotation from Applicant2ServiceDetails
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/Applicant2ServiceDetails.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1389

#1391 Updated access for system update for bulk scan case creation
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Solicitor.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1391

#1395 clean up to use correct app2 term
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1395

#1394 Added temporarily logging of transformed case to see fields sent to bulk scan
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/D8FormToCaseTransformer.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1394

#1397 Added missing access to transformation warnings fields
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1397

#1396 NFDIV-1702 : Update the content of Certificate of service document
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueBailiffIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/CertificateOfServiceContentIT.java
  src/main/java/uk/gov/hmcts/divorce/document/content/CertificateOfServiceContent.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1396

#1401 NFDIV-1217
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerMakeBailiffDecisionIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerMakeBailiffDecision.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/BailiffApprovedOrderContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisTemplateConstants.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerMakeBailiffDecisionTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/BailiffApprovedOrderContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1401

#1402 Update appinsights
  Dockerfile
  charts/nfdiv-case-api/Chart.yaml
  charts/nfdiv-case-api/values.yaml
  infrastructure/appinsights.tf
  lib/applicationinsights.json
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1402

#1405 Added scanned doc transformation and display warnings on tab
  src/integrationTest/java/uk/gov/hmcts/divorce/endpoint/BulkScanCaseTransformationControllerIT.java
  src/integrationTest/resources/transformation-success-response.json
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/BulkScanFormTransformer.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/transformation/D8FormToCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1405

#1408 add aboutToStart to draftJointConditionalOrder event
  src/main/java/uk/gov/hmcts/divorce/common/event/DraftJointConditionalOrder.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1408

#1409 Merging apply for final order events into one "apply-for-final-order" event
  src/integrationTest/java/uk/gov/hmcts/divorce/common/ApplyForFinalOrderIT.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenFinalOrderRequested.java
  src/main/java/uk/gov/hmcts/divorce/common/event/ApplyForFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/page/ApplyForFinalOrderDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorApplyForFinalOrder.java
  src/test/java/uk/gov/hmcts/divorce/common/event/ApplyForFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/page/ApplyForFinalOrderDetailsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1409

#1410 Use collection structure and date format as per ccd requirements
  build.gradle
  src/functionalTest/resources/responses/response-caseworker-general-order-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-general-order-mid-event.json
  src/functionalTest/resources/responses/response-caseworker-issue-bailiff-pack.json
  src/functionalTest/resources/responses/response-caseworker-issue-sole-citizen-application-about-to-submit.json
  src/functionalTest/resources/responses/response-la-make-service-decision-deemed-refused.json
  src/functionalTest/resources/responses/response-la-make-service-decision-deemed.json
  src/functionalTest/resources/responses/response-la-make-service-decision-dispensed-with-refused.json
  src/functionalTest/resources/responses/response-la-make-service-decision-dispensed.json
  src/functionalTest/resources/responses/response-solicitor-payment-mid-event.json
  src/functionalTest/resources/responses/response-solicitor-submit-aos.json
  src/functionalTest/resources/responses/response-system-notify-respondent-apply-final-order.json
  src/integrationTest/resources/caseworker-answers-received-response.json
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-solicitor-service-response.json
  src/integrationTest/resources/caseworker-issue-sole-citizen-application-about-to-submit-response.json
  src/integrationTest/resources/legal-advisor-service-decision-deemed-not-granted-response.json
  src/integrationTest/resources/legal-advisor-service-decision-deemed-response.json
  src/integrationTest/resources/legal-advisor-service-decision-dispensed-not-granted-response.json
  src/integrationTest/resources/legal-advisor-service-decision-dispensed-response.json
  src/integrationTest/resources/solicitor-submit-aos-response.json
  src/integrationTest/resources/transformation-success-response.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-citizen-submit-aos-with-dispute.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-citizen-submit-aos-without-dispute.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-system-progress-case-to-aos-overdue.json
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/Applicant1Transformer.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/Applicant2Transformer.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/ApplicationTransformer.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/BulkScanFormTransformer.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/D8FormToCaseTransformer.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/MarriageDetailsTransformer.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/PaperFormDetailsTransformer.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/TransformationDetails.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFields.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/endpoint/model/InputScannedDoc.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/transformation/Applicant1TransformerTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/transformation/Applicant2TransformerTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/transformation/ApplicationTransformerTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/transformation/D8FormToCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/transformation/MarriageDetailsTransformerTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/transformation/PaperFormDetailsTransformerTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1410

#1414 Fix nullpointer during transformation and added missing fields
  charts/nfdiv-case-api/Chart.yaml
  src/integrationTest/java/uk/gov/hmcts/divorce/endpoint/BulkScanCaseTransformationControllerIT.java
  src/integrationTest/resources/transformation-success-response.json
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/PaperFormDetailsTransformer.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/validation/data/OcrDataFields.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/PaperFormDetails.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/transformation/ApplicationTransformerTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/validation/OcrValidatorTest.java
  src/test/resources/transformation/input/valid-application-ocr-with-null-values.json
  src/test/resources/transformation/input/valid-paper-form-ocr.json
  src/test/resources/transformation/output/paper-form-transformed.json
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1414

#1418 Remove accept headers as bulk scan service fails with 500 error
  src/main/java/uk/gov/hmcts/divorce/endpoint/BulkScanCaseTransformationController.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1418

#1421 Add bearer prefix if it missing in service auth as s2s requires it
  src/integrationTest/java/uk/gov/hmcts/divorce/common/config/interceptors/RequestInterceptorIT.java
  src/main/java/uk/gov/hmcts/divorce/common/config/interceptors/RequestInterceptor.java
  src/test/java/uk/gov/hmcts/divorce/common/config/interceptors/RequestInterceptorTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1421

#1423 Disabled Elastic search functional test due to ccd limitation of 10K cases
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressHeldCasesFT.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1423

#1424 NFDIV-1670 update name of citizen submit event
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplication.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1424

#1403 NFDIV-1630/1650 - CO clarification is submitted for postal document
  src/functionalTest/java/uk/gov/hmcts/divorce/common/SubmitClarificationFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-submit-clarification.json
  src/integrationTest/java/uk/gov/hmcts/divorce/common/SubmitClarificationIT.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/PostInformationToCourtNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitClarification.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/PostInformationToCourtNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/SubmitClarificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1403

#1422 NFDIV-1606: Make changes after PO review session comments
  src/main/java/uk/gov/hmcts/divorce/document/content/DraftApplicationTemplateContent.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DraftDivorceApplicationSoleTemplateContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1422

#1413 NFDIV-1721 : NOC event issue
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerNoticeOfChange.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1413

#1428 Fix json mapping exception due to incorrect type being set in response
  src/integrationTest/java/uk/gov/hmcts/divorce/endpoint/BulkScanCaseTransformationControllerIT.java
  src/integrationTest/resources/transformation-success-warning-response.json
  src/integrationTest/resources/valid-ocr-with-warnings.json
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/BulkScanFormTransformer.java
  src/main/java/uk/gov/hmcts/divorce/common/config/advice/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/divorce/endpoint/BulkScanCaseTransformationController.java
  src/test/java/uk/gov/hmcts/divorce/endpoint/BulkScanCaseTransformationControllerTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1428

#1430 Revert "Disabled Elastic search functional test due to ccd limitation of 10K cases"
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressHeldCasesFT.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1430

#1431 Set app2 and respondent content in about to submit
  src/integrationTest/resources/transformation-success-response.json
  src/integrationTest/resources/transformation-success-warning-response.json
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/D8FormToCaseTransformer.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerCreatePaperCase.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerCreatePaperCaseTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1431
