Repository hmcts/nfdiv-case-api, pull requests merged in 2022-07, with the labels that each got.

#2102 Added suppression for log4j as newer version is not available
  config/owasp/suppressions.xml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2102

#2071 Reduce CVEs
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SetApplicant2Email.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerNoticeOfChangeTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerWithdrawnTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2071

#2080 Upgrade CCD config generator
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseWorkerAlternativeServicePaymentFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerRejectedFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorGeneralApplicationFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorSubmitApplicationFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemindApplicantsApplyForCOrderFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/testutil/FunctionalTestSuite.java
  src/integrationTest/java/uk/gov/hmcts/divorce/bulkaction/service/CasePronouncementServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerAddBailiffReturnIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerMakeBailiffDecisionIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerRejectedIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerUploadDocumentsAndSubmitIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/legaladvisor/LegalAdvisorMakeDecisionIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorGeneralApplicationIT.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/BulkActionState.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/service/CasePronouncementService.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/ccd/ExceptionRecordState.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/TabShowCondition.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/service/CasePronouncementServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerifiedTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/StateTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/convert/CaseDetailsConverterTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2080

#2093 NFDIV-1342 : created new branch to avoid conflicts
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant2UpdateContactDetailsIT.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant2UpdateContactDetails.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant2UpdateContactDetailsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2093

#1958 Bailiff, deemed and dispensed conditional order changes
  src/main/java/uk/gov/hmcts/divorce/common/event/DraftConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/page/ConditionalOrderReviewAoS.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/AlternativeServiceOutcome.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseDocuments.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/task/AddLastAlternativeServiceDocumentLink.java
  src/test/java/uk/gov/hmcts/divorce/common/event/DraftConditionalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/AlternativeServiceOutcomeTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/CaseDataTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/CaseDocumentsTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/task/AddLastAlternativeServiceDocumentLinkTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1958

#2036 Add certificate of service Welsh transaltion
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueBailiffPackIT.java
  src/integrationTest/resources/application.yaml
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2036

#2089 NFDIV-2449 : updated due date for sole applications
  src/functionalTest/java/uk/gov/hmcts/divorce/legaladvisor/LegalAdvisorMakeServiceDecisionFT.java
  src/functionalTest/resources/responses/response-la-make-service-decision-deemed.json
  src/functionalTest/resources/responses/response-la-make-service-decision-dispensed.json
  src/integrationTest/java/uk/gov/hmcts/divorce/common/SubmitAosIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/legaladvisor/LegalAdvisorMakeServiceDecisionIT.java
  src/integrationTest/resources/legal-advisor-service-decision-deemed-response.json
  src/integrationTest/resources/legal-advisor-service-decision-dispensed-response.json
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SetSubmitAosState.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeServiceDecision.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SetSubmitAosStateTest.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeServiceDecisionTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2089

#2114 Configure update due date access for caseworkers
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateDueDate.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2114

#2035 NFDIV-2225 : updated doc version
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/integrationTest/resources/application.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplicant1NoticeOfProceedingTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2035

#2121 Remove exclusions for befta as it is required to upload definition files
  build.gradle
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2121

#2107 Fix display email confirmation for joint offline applications
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingJointContentIT.java
  src/main/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingJointContent.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2107

#2116 NFDIV-2497: updated document text
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/GeneralOrderTemplateContentIT.java
  src/main/java/uk/gov/hmcts/divorce/document/content/GeneralOrderTemplateContent.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2116

#2081 NFDIV-2389
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/AppliedForConditionalOrderNotificationIT.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/Applicant1AppliedForConditionalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/AppliedForConditionalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/CommonContent.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/Applicant1AppliedForConditionalOrderNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2081

#2077 NFDIV-2119: Add new search fields
  src/main/java/uk/gov/hmcts/divorce/divorcecase/search/CaseFieldsConstants.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/search/SearchInputFields.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2077

#2111 Update bulk case list reference to caselink
  src/functionalTest/resources/responses/response-caseworker-general-letter-about-to-submit.json
  src/functionalTest/resources/responses/response-system-pronounce-case-joint.json
  src/functionalTest/resources/responses/response-system-pronounce-case.json
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorGeneralApplicationIT.java
  src/integrationTest/resources/caseworker-offline-document-about-to-start-response.json
  src/integrationTest/resources/caseworker-offline-document-verified-d10-response.json
  src/integrationTest/resources/caseworker-offline-document-verified-other-response.json
  src/integrationTest/resources/solicitor-general-application-payment-response.json
  src/main/java/uk/gov/hmcts/divorce/bulkaction/task/LinkBulkCaseProvider.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/task/UnlinkBulkCaseProvider.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFields.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/ApplicationTab.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/document/content/PronouncementListTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorGeneralApplication.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchService.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/task/LinkBulkCaseProviderTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/task/UnlinkCaseProviderTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFieldsTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorGeneralApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2111

#2125 Nfdiv-2314 add cannot upload field to co outcome tab
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2125

#2028 NFDIV-2360: Update questions on Confirm Service event
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerConfirmService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/SolicitorService.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2028

#2041 NFDIV-2369 - Add permissions for applicant2 solicitor for submit clarification event
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitClarification.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2041

#2130 Add additional null check to stop offline cases throwing error
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/AcknowledgementOfService.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/AcknowledgementOfServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2130

#2087 NFDIV-2356 : Joint CO applied notifications
  src/integrationTest/java/uk/gov/hmcts/divorce/common/SubmitConditionalOrderIT.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/Applicant1AppliedForConditionalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/Applicant2AppliedForConditionalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/Applicant1AppliedForConditionalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/Applicant2AppliedForConditionalOrderNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2087

#2117 NFDIV-2425:
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderRefusalContentIT.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFields.java
  src/main/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderRefusalContent.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeDecision.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2117

#2118 NFDIV-2311 - CO more info bug
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitClarification.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeDecision.java
  src/test/java/uk/gov/hmcts/divorce/common/event/SubmitClarificationTest.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeDecisionTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2118

#2136 Remove aboutToStarts in LegalAdvisorMakeDecision and SubmitClarification
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitClarification.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeDecision.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2136

#2131 Update show condition put braces to split conditions as required by EXUI
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2131

#2120 NFDIV-2433 : Updated NOP notifications for sole applications with personal service or respondent overseas
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/ApplicationIssuedOverseasNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/common/notification/ApplicationIssuedOverseasNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2120

#2148 Remove additional DNS for frontend
  charts/nfdiv-case-api/values.preview.template.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2148

#2150 Suppress non updatable CVEs
  config/owasp/suppressions.xml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2150

#2086 Regenerate court orders(Conditional Order granted and COE docs) for digital case
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerRegenerateCourtOrdersIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemUpdateCaseWithCourtHearingIT.java
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/wiremock/responses/about-to-submit-system-regenerate-court-orders.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRegenerateCourtOrders.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseDocuments.java
  src/main/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderPronouncedTemplateContent.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRegenerateCourtOrdersTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderPronouncedTemplateContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2086

#2145 Added caseworker request translation from WLU event
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRequestTranslationFromWLU.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRequestTranslationFromWLUTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2145

#2146 NFDIV-2286 - NoP Online Sole Respondent Welsh Translation
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/integrationTest/resources/application.yaml
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2146

#2139 NFDIV-2438: Configure Clarification Submitted notifications
  src/integrationTest/java/uk/gov/hmcts/divorce/common/SubmitClarificationIT.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/ClarificationSubmittedNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitClarification.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/ClarificationSubmittedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/SubmitClarificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2139

#2043 NFDIV-2287: Welsh R2 Notice of Proceedings content
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContentIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingJointContentIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingJointContent.java
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2043

#2127 NFDIV-2270: Configure new Welsh Certificate of Entitlement
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/CertificateOfEntitlementContentIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemUpdateCaseWithCourtHearingIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/document/content/CertificateOfEntitlementContent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/document/content/CertificateOfEntitlementContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2127

#2079 NFDIV-2294
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/common/notification/ApplicationIssuedNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2079

#2163 NFDIV-2270: Use env var to set Welsh template to default
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2163

#2141 NFDIV-2512 : updated general order doc for all judge or LA types
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/GeneralOrderTemplateContentIT.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/GeneralOrderJudgeOrLegalAdvisorType.java
  src/main/java/uk/gov/hmcts/divorce/document/content/GeneralOrderTemplateContent.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2141

#2052 NFDIV-2395 : Notification applied for co to solicitor
  src/integrationTest/java/uk/gov/hmcts/divorce/common/SubmitConditionalOrderIT.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/Applicant1AppliedForConditionalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/Applicant2AppliedForConditionalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/AppliedForConditionalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/Applicant1AppliedForConditionalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/Applicant2AppliedForConditionalOrderNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2052

#2147 Nfdiv-2525 Add validation to submit aos event
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-solicitor-submit-aos.json
  src/functionalTest/resources/responses/response-solicitor-submit-aos.json
  src/integrationTest/java/uk/gov/hmcts/divorce/common/SubmitAosIT.java
  src/integrationTest/resources/solicitor-submit-aos-disputed-offline-response.json
  src/integrationTest/resources/solicitor-submit-aos-response.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-citizen-submit-aos-represented-respondent.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-citizen-submit-aos-with-dispute.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-citizen-submit-aos-without-dispute.json
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitAos.java
  src/test/java/uk/gov/hmcts/divorce/common/event/SubmitAosTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2147

#2169 NFDIV-2548: Update tab show conditions
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2169

#2048 NFDIV-2282 : added changes for welsh NOP doc for sole application when respondent is overseas
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContentIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContent.java
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2048

#2158 NFDIV-1446 : added event welsh translation resolved
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerResolveWelshTranslation.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerResolveWelshTranslationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2158

#2132 nfdiv-1444 welsh translation review state
  src/integrationTest/java/uk/gov/hmcts/divorce/common/SubmitAosIT.java
  src/integrationTest/resources/wiremock/responses/about-to-submit-citizen-submit-aos-with-dispute-welsh.json
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenFinalOrderDelayReason.java
  src/main/java/uk/gov/hmcts/divorce/common/event/ApplyForFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SendSubmissionNotifications.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SetDateSubmitted.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SetStateAfterSubmission.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SetSubmissionAndDueDate.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SetSubmitAosState.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenFinalOrderDelayReasonTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/ApplyForFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/SubmitConditionalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SendSubmissionNotificationsTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SetDateSubmittedTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SetStateAfterSubmissionTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SetSubmissionAndDueDateTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SetSubmitAosStateTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/CaseDataTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2132

#2124 NFDIV-1264: added co pronounced notification for solicitors
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemPronounceCaseFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-system-pronounce-case-applicant-represented.json
  src/functionalTest/resources/responses/response-system-pronounce-case-applicant-represented.json
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/ConditionalOrderPronouncedNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/CommonContent.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemPronounceCase.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/ConditionalOrderPronouncedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemPronounceCaseTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2124

#2180 Remove event history access for caseworker and LA for cancel invite event
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemCancelCaseInvite.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2180

#2154 NFDIV-2515 : changes to generate D10 only for sole cases
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateD10Form.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateD10FormTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2154

#2170 set case invite for only sole applications
  src/integrationTest/resources/caseworker-issue-joint-application-app1-represented-about-to-submit-response.json
  src/integrationTest/resources/caseworker-issue-joint-application-app2-contact-private-about-to-submit-response.json
  src/integrationTest/resources/caseworker-issue-joint-application-app2-represented-about-to-submit-response.json
  src/integrationTest/resources/caseworker-reissue-joint-application-applicant1-solicitor-about-to-submit-response.json
  src/integrationTest/resources/caseworker-reissue-joint-application-applicant2-solicitor-about-to-submit-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplicant2NoticeOfProceedings.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplicant2NoticeOfProceedingsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2170

#2108 NFDIV-2390: Corrected confidential documents flow with bulk print issue
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinter.java
  src/main/java/uk/gov/hmcts/divorce/common/service/ProcessConfidentialDocumentsService.java
  src/main/java/uk/gov/hmcts/divorce/document/CaseDataDocumentService.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentUtil.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/ProcessConfidentialDocumentsServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/document/CaseDataDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/document/DocumentUtilTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2108

#2179 Remove unused prayerHasBeenGiven field
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-solicitor-submit-aos.json
  src/functionalTest/resources/responses/response-solicitor-submit-aos.json
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/AcknowledgementOfService.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2179

#2175 NFDIV-2426 - Remove Confidential documents
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadConfidentialDocument.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2175

#2160 Remove resetting of solicitor and applicant details
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerNoticeOfChange.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerNoticeOfChangeTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2160

#2193 Fix for due date NPE when LA making decision
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/ServiceOrderTemplateContentIT.java
  src/main/java/uk/gov/hmcts/divorce/document/content/ServiceOrderTemplateContent.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2193

#2152 NFDIV-2550 - Fix bug where state was being reset to ConditionalOrderDrafted in joint cases
  src/main/java/uk/gov/hmcts/divorce/common/event/DraftConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/DraftJointConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/UpdateConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/UpdateJointConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/task/ProgressDraftConditionalOrderState.java
  src/test/java/uk/gov/hmcts/divorce/common/event/DraftConditionalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/DraftJointConditionalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/task/ProgressDraftConditionalOrderStateTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2152

#2199 Update ccd chart as ingress has been patched on Elasticsearch charts
  charts/nfdiv-case-api/Chart.yaml
  charts/nfdiv-case-api/values.preview.template.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2199
