Repository hmcts/nfdiv-case-api, pull requests merged in 2022-11, with the labels that each got.

#2570 NFDIV-2764 - Solicitor notification for switch to sole FO
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemNotifyApplicantPartnerNotAppliedForFinalOrderFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-system-notify-solicitor-other-applicant-not-applied-final-order.json
  src/main/java/uk/gov/hmcts/divorce/common/notification/PartnerNotAppliedForFinalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/common/notification/PartnerNotAppliedForFinalOrderNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2570

#2554 NFDIV-2867
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerWithdrawnIT.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/ApplicationWithdrawnNotification.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/common/notification/ApplicationWithdrawnNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2554

#2573 NFDIV-3133 - Add ApplyForFinalOrder service
  Jenkinsfile_CNP
  src/integrationTest/java/uk/gov/hmcts/divorce/common/Applicant2ApplyForFinalOrderIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/common/ApplyForFinalOrderIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAddTranslation.java
  src/main/java/uk/gov/hmcts/divorce/common/event/Applicant2ApplyForFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/ApplyForFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/service/ApplyForFinalOrderService.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/ProgressFinalOrderState.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SetFinalOrderFieldsAsApplicant1.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SetFinalOrderFieldsAsApplicant2.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/FinalOrder.java
  src/test/java/uk/gov/hmcts/divorce/common/event/Applicant2ApplyForFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/ApplyForFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/ApplyForFinalOrderServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SetFinalOrderFieldsAsApplicant1Test.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SetFinalOrderFieldsAsApplicant2Test.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/task/ProgressFinalOrderStateTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2573

#2548 NFDIV-3110 - Bugfix for CO haveBothApplicantsSubmitted bug
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitConditionalOrder.java
  src/test/java/uk/gov/hmcts/divorce/common/event/SubmitConditionalOrderTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2548

#2571 NFDIV-2761
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/FinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/LabelContent.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/Applicant1SolicitorIntendsSwitchToSoleFo.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/Applicant2SolicitorIntendsSwitchToSoleFo.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemNotifyApplicantPartnerNotAppliedForFinalOrder.java
  src/main/resources/data/joint.json
  src/main/resources/data/sole.json
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerCorrectPaperCaseTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerCreatePaperCaseTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/Applicant1SolicitorIntendsSwitchToSoleFoTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/Applicant2SolicitorIntendsSwitchToSoleFoTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemNotifyApplicantPartnerNotAppliedForFinalOrderTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2571

#2582 NFDIV-2705 Withdraw notification updates
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerWithdrawnIT.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/ApplicationWithdrawnNotification.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/ApplicationWithdrawnNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2582

#2591 Fix CVE and suppress CVEs with no current fixes
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2591

#2594 NFDIV-2766
  config/pmd/ruleset.xml
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemPronounceCaseFT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerOfflineDocumentVerifiedIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/common/SwitchedToSoleCoIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/common/SwitchedToSoleFinalOrderIT.java
  src/integrationTest/resources/switch-to-sole-fo-applicant1-response.json
  src/integrationTest/resources/switch-to-sole-fo-applicant2-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerified.java
  src/main/java/uk/gov/hmcts/divorce/citizen/service/SwitchToSoleService.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SwitchedToSoleCo.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SwitchedToSoleFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseDocuments.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/FinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/OfflineApplicationType.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/OfflineWhoApplying.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/document/model/DocumentType.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerifiedTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/service/SwitchToSoleServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/SwitchedToSoleCoTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/SwitchedToSoleFinalOrderTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2594

#2457 NFDIV-2971 : Changes to handle confidential AOS response letter
  src/functionalTest/java/uk/gov/hmcts/divorce/common/SubmitAosFT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/common/SubmitAosIT.java
  src/integrationTest/resources/solicitor-submit-aos-offline-response-with-private-contact.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinter.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentUtil.java
  src/main/java/uk/gov/hmcts/divorce/document/model/ConfidentialDocumentsReceived.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinterTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2457

#2371 Transform applicant 1 email bulk scan during bulk scan transformation
  src/integrationTest/resources/d8-transformation-success-response.json
  src/integrationTest/resources/d8s-transformation-success-response.json
  src/integrationTest/resources/transformation-success-warning-response.json
  src/integrationTest/resources/valid-d8-ocr.json
  src/integrationTest/resources/valid-d8s-ocr.json
  src/integrationTest/resources/valid-ocr-with-warnings.json
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/Applicant1Transformer.java
  src/test/resources/transformation/input/valid-applicant1-ocr.json
  src/test/resources/transformation/output/applicant1-transformed.json
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2371

#2558 NFDIV-2243 - Coversheet amended application
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueAmendedApplication.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateCoversheet.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueAmendedApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateCoversheetTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2558

#2597 Add migration for setting court hearing on bulk action cases
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemMigrateCaseWithCoEGeneration.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/CaseCourtHearingMigration.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/SetAosIsDraftedToYesMigration.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/SetCaseCourtHearingBulkAction.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/predicate/CaseCourtHearingPredicate.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/predicate/HasAosDraftedEventPredicate.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/task/CaseCourtHearingTaskProvider.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemMigrateCaseWithCoEGenerationTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/CaseCourtHearingMigrationTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/SetAosIsDraftedToYesMigrationTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/SetCaseCourtHearingBulkActionTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/predicate/CaseCourtHearingPredicateTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/predicate/HasAosDraftedEventPredicateTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/task/CaseCourtHearingTaskProviderTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2597

#2606 Fix CoE generation when migrating court hearing
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemMigrateCaseWithCoEGeneration.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2606

#2580 NFDIV-2215 - Solicitor Archive Case event
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorArchiveCase.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateApplication.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorArchiveCaseTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2580

#2608 Allow superusers to trigger system pronounce case in case pronounce case events fails when triggered by system
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemPronounceCase.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2608

#2447 NFDIV-2970 : Confidential FO granted cover letter
  src/functionalTest/resources/responses/response-caseworker-grant-final-order-offline.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerGrantFinalOrderIT.java
  src/integrationTest/resources/caseworker-grant-final-order-offline-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/FinalOrderGrantedPrinter.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentUtil.java
  src/main/java/uk/gov/hmcts/divorce/document/model/ConfidentialDocumentsReceived.java
  src/main/java/uk/gov/hmcts/divorce/document/model/DocumentType.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/FinalOrderGrantedPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/document/DocumentUtilTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2447

#2583 NFDIV-2869
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/Applicant1AppliedForConditionalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/Applicant2AppliedForConditionalOrderNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2583

#2589 NFDIV-2857 : updated divorce application pdf
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/common/Applicant2ApproveIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationJointTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DraftApplicationTemplateContent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationJointTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DraftDivorceApplicationSoleTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestConstants.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2589

#2542 Set conditional order default fields so that event is visible in dropdown list for solicitors
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerNoticeOfChange.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerNoticeOfChangeTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2542

#2557 Fix unprocessed or errored bulk case query
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchService.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2557

#2601 NFDIV-3150 - Remove unnecessary grants "Partner not applied for FO event"
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemNotifyApplicantPartnerNotAppliedForFinalOrder.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2601

#2544 NFDiv-2966 incorrect hub when co refused for admin clarification
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAddAdminClarification.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeDecision.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAddAdminClarificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2544

#2596 NFDIV-2860: added FO policy changes
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationSoleTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisTemplateConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DraftApplicationTemplateContent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationSoleTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DraftDivorceApplicationSoleTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestConstants.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2596

#2598 NFDIV-2204
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/divorce/legaladvisor/LegalAdvisorMakeDecisionFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorUpdateApplicationFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/testutil/CaseDocumentAMDocument.java
  src/functionalTest/java/uk/gov/hmcts/divorce/testutil/CaseDocumentAccessManagement.java
  src/functionalTest/resources/application.yaml
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2598

#2621 NFDIV-2204: Remove unused client as using rest template instead
  src/functionalTest/java/uk/gov/hmcts/divorce/testutil/CaseDocumentAccessManagement.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2621

#2626 Exclude CAA access from offline document received state
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2626

#2627 NFDIV-3140
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGrantFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateOfflineStatus.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplicant2NoticeOfProceedings.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateD10Form.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SendAosResponseLetterPackToApplicant.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/GenerateAosResponseLetterDocument.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/validation/ValidationUtil.java
  src/main/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderRefusedForAmendmentContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingJointContent.java
  src/main/java/uk/gov/hmcts/divorce/notification/NotificationDispatcher.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressCaseToAosOverdue.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressCaseToAwaitingFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateConditionalOrderPronouncedCoversheet.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerNoticeOfChangeTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerifiedTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateOfflineStatusTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/SubmitConditionalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/ApplicantTest.java
  src/test/java/uk/gov/hmcts/divorce/notification/NotificationDispatcherTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2627

#2633 Added update final order fields event for super users
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateFinalOrderFields.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateFinalOrderFieldsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2633

#2635 Remove date final order eligible from update fo event
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateFinalOrderFields.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2635

#2638 Added suppression for snake yaml vulnerability
  config/owasp/suppressions.xml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2638

#2611 NFDIV-2822 - Solicitor notification to apply switch to sole 14 days after intention
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemNotifyApplicantCanSwitchToSoleAfterIntentionFOFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-system-notify-applicant1-can-switch-to-sole-after-intention-fo.json
  src/main/java/uk/gov/hmcts/divorce/common/notification/ApplicantSwitchToSoleAfterIntentionFONotification.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/FinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemNotifyApplicantCanSwitchToSoleAfterIntentionFO.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemNotifyApplicantCanSwitchToSoleAfterIntentionFOTask.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/common/notification/ApplicantSwitchToSoleAfterIntentionFONotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemNotifyApplicantCanSwitchToSoleAfterIntentionFOTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemNotifyApplicantCanSwitchToSoleAfterIntentionFOTaskTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2611

#2605 NFDIV-2238 - Add OfflineDocumentReceived to list of pre states for SYSTEM_LINK_APPLICANT_2
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemLinkApplicant2.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2605

#2617 NFDIV-3117 : changes to update solicitor NOP header and footer text
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingSolicitorContent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingSolicitorContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2617

#2576 NFDIV-2763
  src/functionalTest/java/uk/gov/hmcts/divorce/solicitor/Applicant1SolicitorIntendsSwitchToSoleFoFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/solicitor/Applicant2SolicitorIntendsSwitchToSoleFoFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-applicant-1-solicitor-intend-switch-to-sole-fo.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-applicant-2-solicitor-intend-switch-to-sole-fo.json
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/Applicant1SolicitorIntendsSwitchToSoleFo.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/Applicant2SolicitorIntendsSwitchToSoleFo.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/notification/SolicitorIntendsToSwitchToSoleFoNotification.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/Applicant1SolicitorIntendsSwitchToSoleFoTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/Applicant2SolicitorIntendsSwitchToSoleFoTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/notification/SolicitorIntendsToSwitchToSoleFoNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2576

#2618 NFDIV-2409
  src/functionalTest/resources/responses/response-system-update-case-with-court-hearing-offline.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerOfflineDocumentVerifiedIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerRegenerateCourtOrdersIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemUpdateCaseWithCourtHearingIT.java
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/wiremock/responses/about-to-submit-system-regenerate-court-orders-offline.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGrantFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerified.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRegenerateCourtOrders.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/RegenerateCourtOrdersPrinter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateFinalOrderCoverLetter.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/EntitlementGrantedConditionalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SwitchedToSoleFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/RegenerateCourtOrdersNotification.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemUpdateCaseWithCourtHearing.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/print/CertificateOfEntitlementPrinter.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateCertificateOfEntitlement.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateConditionalOrderPronouncedCoversheet.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGrantFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerifiedTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRegenerateCourtOrdersTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/RegenerateCourtOrdersPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateFinalOrderCoverLetterTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/EntitlementGrantedConditionalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/RegenerateCourtOrdersNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/print/CertificateOfEntitlementPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateCertificateOfEntitlementTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2618

#2646 Fix failing to update bulkcase after pronouncing cases
  src/main/java/uk/gov/hmcts/divorce/bulkaction/service/CasePronouncementService.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/service/CasePronouncementServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2646

#2552 NFDIV-2537
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerified.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseDocuments.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/search/CaseFieldsConstants.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/search/SearchInputFields.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemAttachScannedDocuments.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerifiedTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/CaseDocumentsTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemAttachScannedDocumentsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2552

#2651 Add null pointer protection after errors in logs
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorGeneralApplication.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2651

#2505 NFDIV-2657
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenIntendToSwitchToSoleFOIT.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenIntendToSwitchToSoleFO.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/Applicant1IntendToSwitchToSoleFoNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2IntendToSwitchToSoleFoNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/IntendToSwitchToSoleFoNotification.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/FinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/notification/CommonContent.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenIntendToSwitchToSoleFOTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant1IntendToSwitchToSoleFoNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2IntendToSwitchToSoleFoNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2505

#2641 NFDIV-1617
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerGrantFinalOrderFT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGrantFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/notification/FinalOrderGrantedNotification.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SendFinalOrderGrantedNotifications.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGrantFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/notification/FinalOrderGrantedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/SendFinalOrderGrantedNotificationsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2641

#2620 NFDIV-2666 NFDIV-2753
  src/functionalTest/java/uk/gov/hmcts/divorce/common/SwitchedToSoleFinalOrderFT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/Applicant1SolicitorSwitchToSoleFoIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/Applicant2SolicitorSwitchToSoleFoIT.java
  src/integrationTest/resources/solicitor-applicant2-switch-to-sole-fo-response.json
  src/main/java/uk/gov/hmcts/divorce/citizen/service/SwitchToSoleService.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SwitchedToSoleFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/SwitchedToSoleFoNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/Applicant1SolicitorSwitchToSoleFo.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/Applicant2SolicitorSwitchToSoleFo.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/service/SwitchToSoleServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/SwitchedToSoleFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/SwitchedToSoleFoNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/Applicant1SolicitorSwitchToSoleFoTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/Applicant2SolicitorSwitchToSoleFoTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2620

#2265 Add aosIsDrafted show condition to DraftAos and SubmitAos
  src/main/java/uk/gov/hmcts/divorce/common/event/DraftAos.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitAos.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2265

#2658 NFDIV-3188 : Make AwaitingService state accessible for CAA to assign cases to solicitors
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2658

#2628 NFDIV-2863: Added solicitor notification for switch to sole FO
  src/functionalTest/java/uk/gov/hmcts/divorce/common/SwitchedToSoleFinalOrderFT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/common/SwitchedToSoleFinalOrderIT.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/SwitchedToSoleFoNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/common/notification/SwitchedToSoleFoNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2628

#2648 NFDIV-3141 : Added welsh joint divorce doc
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/caseworker-issue-joint-application-in-welsh-about-to-submit-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateDivorceApplication.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationJointTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisTemplateConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/provider/ApplicantTemplateDataProvider.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateDivorceApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationJointTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/provider/ApplicantTemplateDataProviderTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2648

#2615 NFDIV-2665 : Applicants notification switch to sole FO
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemNotifyApplicantCanSwitchToSoleAfterIntentionFOFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-system-notify-app1-can-switch-to-sole-after-intention-fo.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-system-notify-app1-solicitor-can-switch-to-sole-after-intention-fo.json
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemNotifyApplicantCanSwitchToSoleAfterIntentionFOIT.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/ApplicantSwitchToSoleAfterIntentionFONotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/common/notification/ApplicantSwitchToSoleAfterIntentionFONotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemNotifyApplicantCanSwitchToSoleAfterIntentionFOTaskTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2615

#2670 Skip subtype reclassification
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemAttachScannedDocuments.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemAttachScannedDocumentsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2670

#2683 Fix SoleApplicationCreateAndIssueTest
  src/cftlibTest/java/uk/gov/hmcts/divorce/cftlib/SoleApplicationCreateAndIssueTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2683

#2616 NFDIV-2765
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/Applicant2SolicitorSwitchToSoleFoIT.java
  src/integrationTest/resources/solicitor-applicant2-switch-to-sole-fo-response.json
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/FinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/Applicant1SolicitorSwitchToSoleFo.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/Applicant2SolicitorSwitchToSoleFo.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2616

#2691 Nfdiv 3189 fix bulk pronounce cron v2
  src/main/java/uk/gov/hmcts/divorce/bulkaction/service/CasePronouncementService.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/service/filter/CaseFilterProcessingState.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/service/filter/CaseProcessingStateFilter.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/bulkaction/SystemProcessFailedPronouncedCasesTask.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/service/CasePronouncementServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/service/filter/CaseProcessingStateFilterTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/bulkaction/SystemProcessFailedPronouncedCasesTaskTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2691

#2692 Nfdiv 3191 fix cases linked to two bulk cases v2
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchService.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2692
