Repository hmcts/nfdiv-case-api, pull requests merged in 2022-05, with the labels that each got.

#1798 NFDIV-1759 rename applicant2 to include respondent
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/NoticeOfChange.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1798

#1830 NFDIV-2140 Change access and states for Refund event.
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRefund.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1830

#1834 NFDIV-2138 Stop NOP email sending to respondent when based overseas
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/AosReminderNotifications.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/ApplicationIssuedNotification.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/AosReminderNotificationsTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/ApplicationIssuedNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1834

#1853 Add name for Draft state
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1853

#1854 Show service method only for sole applications
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/ApplicationTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1854

#1849 NFDIV-1917
  src/integrationTest/java/uk/gov/hmcts/divorce/common/InviteApplicant2IT.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSentForReviewNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/CommonContent.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSentForReviewNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestConstants.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1849

#1858 Populate scanned document names for offline verified event
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerOfflineDocumentVerifiedIT.java
  src/integrationTest/resources/caseworker-offline-document-about-to-start-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerified.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseDocuments.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerifiedTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1858

#1859 Show scanned document names drop down only for AOS
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerified.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1859

#1819 NFDIV-1945 Send solicitor notification if joint application is submitted
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSubmittedNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/service/SubmissionService.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SendSubmissionNotifications.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplication.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSubmittedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/SubmissionServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SendSubmissionNotificationsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1819

#1863 Add show condition on scanned documents and not on state transition dropdown
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerified.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1863

#1851 NFDIV-2167: Alter confidential documents tab configuration
  src/main/java/uk/gov/hmcts/divorce/common/service/ProcessConfidentialDocumentsService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/test/java/uk/gov/hmcts/divorce/common/service/ProcessConfidentialDocumentsServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1851

#1867 NFDIV-2164
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerReissueApplication.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1867

#1866 NFDIV-1843 - Update service order doc V2
  src/functionalTest/resources/request/casedata/ccd-callback-make-service-decision-not-granted.json
  src/functionalTest/resources/request/casedata/ccd-callback-make-service-decision.json
  src/functionalTest/resources/responses/response-la-make-service-decision-deemed-refused.json
  src/functionalTest/resources/responses/response-la-make-service-decision-deemed.json
  src/functionalTest/resources/responses/response-la-make-service-decision-dispensed-with-refused.json
  src/functionalTest/resources/responses/response-la-make-service-decision-dispensed.json
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/ServiceOrderTemplateContentIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/legaladvisor/LegalAdvisorMakeServiceDecisionIT.java
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/legal-advisor-service-decision-deemed-not-granted-response.json
  src/integrationTest/resources/legal-advisor-service-decision-deemed-response.json
  src/integrationTest/resources/legal-advisor-service-decision-dispensed-not-granted-response.json
  src/integrationTest/resources/legal-advisor-service-decision-dispensed-response.json
  src/main/java/uk/gov/hmcts/divorce/document/content/ServiceOrderTemplateContent.java
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1866

#1803 Update RS1 RS2 and AS2 templates
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplicant2NoticeOfProceedings.java
  src/main/java/uk/gov/hmcts/divorce/document/content/CoversheetSolicitorTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisTemplateConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingSoleApplicant2SolicitorOffline.java
  src/main/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingSolicitorContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingsWithAddressContent.java
  src/main/resources/application.yaml
  src/main/resources/data/sole.json
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplicant2NoticeOfProceedingsTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/CoversheetSolicitorTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingSoleApplicant2SolicitorOfflineTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingSolicitorContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1803

#1873 Alter call to get previous documents to fallback to new empty list if get returns null
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseDocuments.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1873

#1868 Send aos disputed print notification
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerOfflineDocumentVerifiedIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/common/SubmitAosIT.java
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/caseworker-offline-document-verified-d10-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerified.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinter.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentUtil.java
  src/main/java/uk/gov/hmcts/divorce/document/content/AosResponseLetterTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/print/BulkPrintService.java
  src/main/java/uk/gov/hmcts/divorce/document/print/model/Letter.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerifiedTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/AosResponseLetterTemplateContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1868

#1896 Fix template name for NFDIV-1959
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1896

#1893 NFDIV-1904: Remove state transition from answer received event
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAnswerReceived.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1893

#1892 NFDIV-2164
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReissueApplicationFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-reissue-offline-aos-application-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-offline-aos-application-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/resources/caseworker-reissue-application-about-to-submit-app2-not-sol-rep-offline-aos-response.json
  src/integrationTest/resources/caseworker-reissue-sole-citizen-application-offlineAos-about-to-submit-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/ReIssueApplicationService.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplicant2NoticeOfProceedings.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateD10Form.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1892

#1864 NFDIV-2016 [Bug] - Add certificate of service pdf to documents tab
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueBailiffPackFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-issue-bailiff-pack.json
  src/functionalTest/resources/responses/response-caseworker-issue-bailiff-pack.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueBailiffIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueBailiffPack.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueBailiffPackTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1864

#1843 NFDIV-2180 - AOS Overdue triggering after 16 days not 17 days
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressCasesToAosOverdueTask.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressCasesToAosOverdueTaskTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1843

#1903 NFDIV-2229: Remove request clarification event
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorRequestClarification.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorRequestClarificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1903

#1908 Bump config generator library to include scanned and delivery date format
  build.gradle
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1908

#1905 Make amend case available for all post issue states
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAmendCase.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1905

#1811 NFDIV-1612 Return to previous state
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerReturnToPreviousState.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerReturnToPreviousStateTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1811

#1914 NFDIV-2230: Add show condition for free text box on make decision event
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeDecision.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1914

#1919 Nfdiv 1600
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerResponseToJudge.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerResponseToJudgeTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1919

#1921 Nfdiv 1839
  src/functionalTest/java/uk/gov/hmcts/divorce/legaladvisor/LegalAdvisorGeneralConsiderationFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-general-consideration.json
  src/integrationTest/java/uk/gov/hmcts/divorce/legaladvisor/LegalAdvisorGeneralConsiderationIT.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorGeneralConsideration.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/notification/LegalAdvisorGeneralReferralDecisionNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorGeneralConsiderationTest.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/notification/LegalAdvisorGeneralReferralDecisionNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1921

#1920 Nfdiv 1704
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralReferral.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/GeneralReferral.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1920

#1925 NFDIV-1844 update divorce application doc
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationJointTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationSoleTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisTemplateConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/provider/ApplicationTemplateDataProvider.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationJointTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DivorceApplicationSoleTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestConstants.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1925

#1923 NFDIV-2234: Only set due date on reissue if sole application
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SetReIssueAndDueDate.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/SetReIssueAndDueDateTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1923

#1881 Add remove scanned document event
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerRemoveScannedDocumentIT.java
  src/integrationTest/resources/caseworker-remove-scanned-document-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRemoveScannedDocument.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseDocuments.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRemoveScannedDocumentTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/CaseDocumentsTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1881

#1900 NDFIV-1711 & NFDIV-1384
  src/functionalTest/java/uk/gov/hmcts/divorce/common/SubmitClarificationFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/legaladvisor/LegalAdvisorMakeDecisionFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-submit-clarification-cannot-upload.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-submit-clarification-documents-uploaded.json
  src/functionalTest/resources/responses/response-legal-advisor-make-decision-co-more-info.json
  src/functionalTest/resources/responses/response-legal-advisor-make-decision-co-rejected.json
  src/functionalTest/resources/responses/response-legal-advisor-make-decision.json
  src/functionalTest/resources/responses/response-submit-clarification-cannot-upload.json
  src/functionalTest/resources/responses/response-submit-clarification-documents-uploaded.json
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderRefusalContentIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/legaladvisor/LegalAdvisorMakeDecisionIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitClarification.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderRefusalContent.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeDecision.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/common/event/SubmitClarificationTest.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeDecisionTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1900

#1941 Update tomcat dependencies CVE-2022-29885
  build.gradle
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1941

#1918 Remove heading for joint draft conditional order event
  src/main/java/uk/gov/hmcts/divorce/common/event/page/ConditionalOrderReviewAoS.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1918

#1898 NFDIV-1863 : send applicant solicitor notification on re-issue
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReissueApplicationFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-reissue-sole-application-applicant-represented-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-reissue-sole-application-applicant-represented-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/ApplicationIssuedNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/common/notification/ApplicationIssuedNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1898

#1940 Add readonly never show for cannot upload field used by FE
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitClarification.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1940

#1860 NFDIV-2211
  src/functionalTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorGeneralApplicationFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-solicitor-general-application-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-general-letter-about-to-submit.json
  src/functionalTest/resources/responses/response-solicitor-general-application-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorGeneralApplicationIT.java
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-app2-sol-rep-response.json
  src/integrationTest/resources/caseworker-offline-document-about-to-start-response.json
  src/integrationTest/resources/caseworker-offline-document-verified-d10-response.json
  src/integrationTest/resources/caseworker-offline-document-verified-other-response.json
  src/integrationTest/resources/solicitor-general-application-payment-response.json
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/FeeDetails.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFields.java
  src/main/java/uk/gov/hmcts/divorce/payment/PaymentService.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/client/pba/PbaService.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorGeneralApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/GeneralApplicationPaymentConfirmation.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/GeneralApplicationPaymentSummary.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/GeneralApplicationSelectFee.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolPayment.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/RetiredFieldsTest.java
  src/test/java/uk/gov/hmcts/divorce/payment/PaymentServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/client/pba/PbaServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorGeneralApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/page/GeneralApplicationSelectFeeTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/page/SolPaymentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1860

#1888 Update change service method event(remove state transition and update prestates)
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerChangeServiceRequest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerChangeServiceRequestTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1888

#1891 NFDIV-1867 : Reminder for respondent solicitor
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemindRespondentSolicitorToRespondTaskFT.java
  src/functionalTest/resources/application.yaml
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-system-remind-respondent-solicitor.json
  src/functionalTest/resources/responses/response-system-remind-respondent-solicitor.json
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/RespondentSolicitorReminderNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/exception/InvalidOperationException.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemindRespondentSolicitor.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindRespondentSolicitorToRespondTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/RespondentSolicitorReminderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemindRespondentSolicitorTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindRespondentSolicitorToRespondTaskTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1891

#1886 Nfdiv 1668
  src/functionalTest/java/uk/gov/hmcts/divorce/common/SubmitAosFT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerOfflineDocumentVerifiedIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/common/SubmitAosIT.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant2UpdateApplication.java
  src/main/java/uk/gov/hmcts/divorce/common/event/DraftAos.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitAos.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SetSubmissionAndDueDate.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SetSubmitAosState.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemIssueAosDisputed.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemIssueAosUnDisputed.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemLinkApplicant2.java
  src/test/java/uk/gov/hmcts/divorce/common/event/DraftAosTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/SubmitAosTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SetSubmissionAndDueDateTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SetSubmitAosStateTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1886

#1870 NFDIV-2156 - Change validation for isBasedOverseas()
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReissueApplicationFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-reissue-sole-application-applicant-represented-about-to-submit.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SetServiceType.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/util/AddressUtil.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/ApplicantTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/util/AddressUtilTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1870

#1922 Nfdiv-2261 fix withdrawn notification for app2
  src/main/java/uk/gov/hmcts/divorce/common/notification/ApplicationWithdrawnNotification.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/ApplicationWithdrawnNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1922

#1906 Bug/nfdiv 2189 retain previous state
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemAttachScannedDocumentsFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/testutil/FunctionalTestSuite.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemAttachScannedDocuments.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemAttachScannedDocumentsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1906

#1917 NFDIV-2157 - Add Last state modified date column to ExUI
  src/main/java/uk/gov/hmcts/divorce/divorcecase/search/CaseFieldsConstants.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/search/SearchResultFields.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1917

#1928 Nfdiv-2160 Update resp solicitor details on app tab
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/ApplicationTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1928

#1924 NFDIV-2253 Displaying 'changes needed' details in CO on XUI
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1924

#1952 NFDIV-2306: Use app1 and app2 solicitor roles for tabs
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1952

#1948 Fix state transition when AOS documents is received and classified by caseworker
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerOfflineDocumentVerifiedIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerified.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1948

#1954 Temporarily disable callback to allow auto attaching of supplementary evidence
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemAttachScannedDocumentsFT.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemAttachScannedDocuments.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1954

#1897 For paper cases only check if jurisdiction connections exists and not validate them
  src/main/java/uk/gov/hmcts/divorce/divorcecase/validation/ValidationUtil.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/validation/CaseValidationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1897

#1955 NFDIV-2248: Update cron job for Aos overdue task and logging for multiple states
  src/functionalTest/java/uk/gov/hmcts/divorce/testutil/FunctionalTestSuite.java
  src/main/java/uk/gov/hmcts/divorce/document/content/PronouncementListTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemAlertApplicationNotReviewedTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemFinalOrderOverdueTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemNotifyApplicantDisputeFormOverdueTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemNotifyRespondentApplyFinalOrderTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressCasesToAosOverdueTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressCasesToAwaitingFinalOrderTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressHeldCasesTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindApplicant1ApplicationApprovedTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindApplicant2Task.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindApplicantsApplyForFinalOrderTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindRespondentSolicitorToRespondTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/conditionalorder/SystemRemindApplicantsApplyForCOrderTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchService.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemAlertApplicationNotReviewedTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemFinalOrderOverdueTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemNotifyApplicantDisputeFormOverdueTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemNotifyRespondentApplyFinalOrderTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressCasesToAosOverdueTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressCasesToAwaitingFinalOrderTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressHeldCasesTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindApplicant1ApplicationApprovedTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindApplicant2TaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindApplicantsApplyForFinalOrderTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindRespondentSolicitorToRespondTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/conditionalorder/SystemRemindApplicantsApplyForCOrderTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1955

#1957 NFDIV-2306
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1957

#1937 NFDIV-1661
  src/integrationTest/java/uk/gov/hmcts/divorce/common/SubmitClarificationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/legaladvisor/LegalAdvisorMakeDecisionIT.java
  src/integrationTest/resources/legal-advisor-make-decision-response.json
  src/integrationTest/resources/solicitor-submit-clarification-response.json
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitClarification.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ClarificationResponse.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/LegalAdvisorDecision.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeDecision.java
  src/test/java/uk/gov/hmcts/divorce/common/event/SubmitClarificationTest.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeDecisionTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1937

#1956 NFDIV-1356: Add new event to upload amended application
  config/pmd/ruleset.xml
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadAmendedApplication.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseDocuments.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadAmendedApplicationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1956

#1938 Nfdiv-2210 Updates to reject event
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerRejectedFT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerRejectedIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRefund.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerReissueApplication.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRejected.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemMigrateCase.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemUpdateIssueDate.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRejectedTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1938

#1953 NFDIV-2322 : Remind respondent solicitor cron error
  src/main/java/uk/gov/hmcts/divorce/common/exception/InvalidOperationException.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemindRespondentSolicitor.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindRespondentSolicitorToRespondTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchService.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemindRespondentSolicitorTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindRespondentSolicitorToRespondTaskTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1953

#1966 Add case id logging to callback events
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAddNote.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAlternativeServiceApplication.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAlternativeServicePayment.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAnswerReceived.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerConfirmService.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerCorrectPaperCase.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerCreateGeneralOrder.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerCreatePaperCase.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralEmail.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralLetter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGrantFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerMakeBailiffDecision.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerNoticeOfChange.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerified.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerProgressPaperCase.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRejected.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerResponseToServiceApplication.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerReturnToPreviousState.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateContactDetails.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadConfidentialDocument.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadDocument.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadDocumentsAndSubmit.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerWithdrawn.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant2NotBroken.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant2UpdateApplication.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenCreateApplication.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenFinalOrderDelayReason.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplication.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSole.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenUpdateCaseStateAat.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenUpdateContactDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorConfirmService.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorCreateApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorGeneralApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitJointApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateApplicant1ContactDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateApplicant2ContactDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateContactDetails.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1966

#1961 Fix due date when state is moved to holding state
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerOfflineDocumentVerifiedIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerified.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerifiedTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1961

#1949 NFDIV-2156 - isBasedOverseas changes V2
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReissueApplicationFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-reissue-sole-application-applicant-represented-about-to-submit.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SetServiceType.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/util/AddressUtil.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/ApplicantTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/util/AddressUtilTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1949

#1970 Import bulk cases definition in cft lib
  src/cftlib/java/uk/gov/hmcts/divorce/cftlib/CftLibConfig.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1970

#1946 NFDIV-2216 - AOS SOT for unrepresented respondent changes
  src/main/java/uk/gov/hmcts/divorce/common/event/page/SolicitorDetailsWithStatementOfTruth.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/AcknowledgementOfService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-1946
