Repository hmcts/nfdiv-case-api, pull requests merged in 2023-06, with the labels that each got.

#2946 NFDiv-3425 Showing FO Date after "Separation Order Granted" state
  src/main/java/uk/gov/hmcts/divorce/bulkaction/task/PronounceCaseProvider.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/ApplicationTab.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/task/PronounceCaseProviderTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2946

#2990 NFDIV-3465 - Add applicant2 JS and Separation prayers
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/CorrectPaperCase.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2990

#3011 NFDiv-3423 Fix event for JS/Sep cases
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAmendApplicationType.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAmendApplicationTypeTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3011

#2997 NFDiv-3471 Certificate of Entitlement Order - Add dynamic content for [judicial]
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerRegenerateCourtOrdersIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemUpdateCaseWithCourtHearingIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/document/content/CertificateOfEntitlementContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisTemplateConstants.java
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2997

#3014 NFDiv-3449 Add missing Pertner var to joint JS content generation
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateCertificateOfEntitlement.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3014

#3008 NFDiv-3443 Old D84 form in Document tab
  src/main/resources/D84.pdf
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3008

#3017 NFDIV-3487 - Fix marriage date validation for judicial separation cases
  src/main/java/uk/gov/hmcts/divorce/divorcecase/validation/ValidationUtil.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/validation/CaseValidationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3017

#3019 NFDIV-3475 - Add show condition to keep final order tab visible
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3019

#3015 Fix Broken CoE Unit Tests
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateCertificateOfEntitlement.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateCertificateOfEntitlementHelper.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateCertificateOfEntitlementHelperTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateCertificateOfEntitlementTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3015

#3021 NFDIV-3490 - Fix serviceMethod functionality during application issue
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SetServiceType.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/ApplicationIssuedNotification.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3021

#3056 Sync demo with master now that JS is complete in demo env
  Jenkinsfile_CNP
  config/owasp/suppressions.xml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3056
