Repository hmcts/nfdiv-case-api, pull requests merged in 2023-05, with the labels that each got.

#2931 Remove states to hide event
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/SuperuserRemoveCaseFromBulkList.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2931

#2874 NFDIV-3315
  src/integrationTest/java/uk/gov/hmcts/divorce/bulkaction/service/CasePronouncementServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/bulkaction/service/CaseRemovalServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/bulkaction/service/ScheduleCaseServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/service/CcdUpdateServiceIT.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerDropCase.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerRemoveCasesFromBulkList.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/service/BulkCaseProcessingService.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/service/CasePronouncementService.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/service/CaseRemovalService.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/service/ScheduleCaseService.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/task/BulkCaseTask.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/task/DropCaseTask.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/task/ProcessFailedScheduledCasesTask.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/task/ProcessFailedToUnlinkBulkCaseTask.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/task/PronounceCasesTask.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/task/RemoveCasesTask.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/task/RetryPronounceCasesTask.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/task/UpdateCasesToBeRemovedTask.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/task/UpdateCourtHearingDetailsTask.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/task/UpdatePronouncementJudgeDetailsTask.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRescindConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/bulkaction/FailedBulkCaseRemover.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/bulkaction/SystemMigrateBulkCasesTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/bulkaction/SystemProcessCasesToBeRemovedTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/bulkaction/SystemProcessFailedScheduledCasesTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/bulkaction/SystemProcessFailedToUnlinkBulkCaseTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/task/MigrateBulkCaseRetiredFields.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/task/SetFailedBulkCaseMigrationVersionToZero.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/BulkCaseDetailsUpdater.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdUpdateService.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerDropCaseTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerRemoveCasesFromBulkListTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/service/BulkCaseProcessingServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/service/CasePronouncementServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/service/CaseRemovalServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/service/ScheduleCaseServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/task/DropCaseTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/task/ProcessFailedScheduledCasesTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/task/ProcessFailedToUnlinkBulkCaseTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/task/PronounceCasesTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/task/RemoveCasesTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/task/RetryPronounceCasesTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/task/UpdateCasesToBeRemovedTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/task/UpdateCourtHearingDetailsTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/task/UpdatePronouncementJudgeDetailsTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRescindConditionalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/bulkaction/FailedBulkCaseRemoverTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/bulkaction/SystemMigrateBulkCasesTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/bulkaction/SystemProcessCasesToBeRemovedTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/bulkaction/SystemProcessFailedScheduledCasesTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/bulkaction/SystemProcessFailedToUnlinkBulkCaseTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/CcdUpdateServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2874

#2926 NFDiv-3396
  src/integrationTest/resources/d8s-transformation-success-response.json
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/D8SPrayerTransformer.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/CorrectPaperCase.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/CorrectRelationshipDetails.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ApplicantPrayer.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/SupplementaryCaseType.java
  src/main/java/uk/gov/hmcts/divorce/document/content/PronouncementListTemplateContent.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/transformation/D8SPrayerTransformerTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/ApplicantPrayerTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/CaseDataTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/PronouncementListTemplateContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2926

#2871 NFDIV-3367
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/integrationTest/resources/application.yaml
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2871

#2933 NFDiv-3422 Fix country field for non-UK respondents
  src/integrationTest/resources/d8-transformation-success-response.json
  src/integrationTest/resources/d8s-transformation-success-response.json
  src/integrationTest/resources/transformation-success-warning-response.json
  src/integrationTest/resources/valid-d8-ocr.json
  src/integrationTest/resources/valid-d8s-ocr.json
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/Applicant2Transformer.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SetServiceType.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/transformation/Applicant2TransformerTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/SetServiceTypeTest.java
  src/test/resources/transformation/input/valid-applicant2-ocr.json
  src/test/resources/transformation/output/applicant2-transformed-warnings.json
  src/test/resources/transformation/output/applicant2-transformed.json
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2933

#2910 NFDIV 3293: remove the caseDocumentAccessManagementEnabled flag
  src/functionalTest/java/uk/gov/hmcts/divorce/legaladvisor/LegalAdvisorMakeDecisionFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorUpdateApplicationFT.java
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/document/DocAssemblyService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/document/DocAssemblyServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2910

#2861 NFDIV-3144
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueBailiffPackIT.java
  src/integrationTest/resources/application.yaml
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2861

#2941 NFDIV-3455 - Don't show AoS tab if switched to sole has happened
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2941

#2944 NFDiv-3424 Alternate service types defaulting back to "20WeekHolding" state
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAddBailiffReturn.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerConfirmAlternativeService.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerConfirmService.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeServiceDecision.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAddBailiffReturnTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerConfirmServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeServiceDecisionTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2944

#2961 DTSPO-13810 reschedule jenkins nightly builds
  Jenkinsfile_nightly
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2961

#2951 Bump multiple dependencies
  build.gradle
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2951

#2973 DTSPO-13810 reschedule nightlybuilds to start at 8am
  Jenkinsfile_nightly
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2973

#2943 NFDiv-3428 Update show conditions for CO tabs
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2943, no-changes

#2942 NFDiv-3429 Set app1 & app2 Offline for D8s
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerCreatePaperCase.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerCreatePaperCaseTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2942

#2955 NFDiv-3446 Remove 20 week date for CO application from Deemed Service letter
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisTemplateConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/ServiceOrderTemplateContent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/document/content/ServiceOrderTemplateContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2955

#2974 NFDiv-3438 New event "addResponseToClarification"
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAddResponseToClarification.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAddResponseToClarificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2974
