Repository hmcts/nfdiv-case-api, pull requests merged in 2023-07, with the labels that each got.

#3062 Fix generate-ccd-definition.sh
  bin/generate-ccd-definition.sh
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3062

#3005 NFDIV 3399 added a show condition for Update AoS event
  src/main/java/uk/gov/hmcts/divorce/common/event/UpdateAos.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3005

#3009 NFDIV-3439: Move CO related code in relevant block
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerified.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SwitchedToSoleCo.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerifiedTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3009

#3085 NFDIV-3285 - undo accidental update of welsh doc
  src/integrationTest/resources/application.yaml
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3085

#3084 Fix Dynamic List serialisation issue
  src/functionalTest/resources/responses/response-solicitor-payment-mid-event.json
  src/integrationTest/resources/caseworker-offline-document-about-to-start-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerified.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/client/pba/PbaService.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3084

#3089 3568 - Replace thrown runtime exception with ccd error if pba list empty
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolPayment.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/page/SolPaymentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3089

#3078 NFDiv-3447 Remove "reply online" section from Refusal Order
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderRefusedForClarificationContentIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/legaladvisor/LegalAdvisorMakeDecisionIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderRefusedForClarificationContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisTemplateConstants.java
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3078

#3091 Remove CaseCourtHearingMigration
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemMigrateCaseWithCoEGeneration.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/CaseCourtHearingMigration.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/SetCaseCourtHearingBulkAction.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/predicate/CaseCourtHearingPredicate.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/task/CaseCourtHearingTaskProvider.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemMigrateCaseWithCoEGenerationTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/CaseCourtHearingMigrationTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/SetCaseCourtHearingBulkActionTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/predicate/CaseCourtHearingPredicateTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/task/CaseCourtHearingTaskProviderTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3091

#3083 NFDIV-3452: Correct email address used in ReplyTo header, and in body of emails sent from CaseworkerGeneralEmail event
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/notification/NotificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/notification/NotificationServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3083

#3094 Allow cases rejected and withdrawn to be removed from bulk cases
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemoveBulkCase.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3094

#3093 NFDIV-3578 - Remove SetAosIsDraftedToYesMigration
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/SetAosIsDraftedToYesMigration.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/predicate/HasAosDraftedEventPredicate.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/task/UpdateAosIsDrafted.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/SetAosIsDraftedToYesMigrationTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/predicate/HasAosDraftedEventPredicateTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/task/UpdateAosIsDraftedTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3093

#3095 NFDIV-3578 - Remove CreateDoubleLinkedCasesListMigration migration
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/CreateDoubleLinkedCasesListMigration.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/CreateDoubleLinkedCasesListMigrationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3095

#2588 NFDIV-3138 - Fix FO final steps for FE
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenFinalOrderDelayReasonIT.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant2UpdateApplication.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenFinalOrderDelayReason.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenUpdateApplication.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/FinalOrder.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenFinalOrderDelayReasonTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2588

#3020 NFDiv-3126 Change service request for solicitors
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorChangeServiceRequest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorChangeServiceRequestTest.java
Labels: ns:nfdiv, prd:nfdiv, no-changes, rel:nfdiv-case-api-pr-3020

#3108 Fix/final overdue state change
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant2UpdateApplication.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenUpdateApplication.java
  src/main/java/uk/gov/hmcts/divorce/common/service/ApplyForFinalOrderService.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/ProgressApplicant1FinalOrderState.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/ProgressApplicant2FinalOrderState.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SetFinalOrderFieldsAsApplicant1.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SetFinalOrderFieldsAsApplicant2.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SetFinalOrderFieldsAsApplicant1Test.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SetFinalOrderFieldsAsApplicant2Test.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/task/ProgressApplicant1FinalOrderStateTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/task/ProgressApplicant2FinalOrderStateTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3108

#3055 NFDIV-3463 INC5510831 - new feature: expediting cases
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerExpediteFinalOrderFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-expedite-final-order-offline.json
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-expedite-final-order-solicitor.json
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-expedite-final-order.json
  src/functionalTest/resources/responses/response-caseworker-expedite-final-order-offline.json
  src/functionalTest/resources/responses/response-caseworker-expedite-final-order.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerExpediteFinalOrderIT.java
  src/integrationTest/resources/caseworker-expedite-final-order-offline-response.json
  src/integrationTest/resources/caseworker-expedite-final-order-response.json
  src/integrationTest/resources/caseworker-expedite-final-order-solicitor-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerExpediteFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseDocuments.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ExpeditedFinalOrderAuthorisation.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/FinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerExpediteFinalOrderTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3055

#2774 NFDiv-3084 Confirm service if AoS has been submitted
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerConfirmServiceFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorConfirmServiceFT.java
  src/functionalTest/resources/responses/response-submit-confirm-service.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerConfirmServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorConfirmServiceIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerConfirmService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorConfirmService.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/task/SetConfirmServiceState.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/task/SetConfirmServiceStateTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2774

#3121 NFDIV-3593: Fix Bad Request (400) errors being logged in appinsights.…
  src/integrationTest/java/uk/gov/hmcts/divorce/endpoint/ValidationControllerIT.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/validation/data/OcrDataFields.java
  src/main/java/uk/gov/hmcts/divorce/endpoint/ValidationController.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/validation/data/OcrDataFieldsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3121
