Repository hmcts/nfdiv-case-api, pull requests merged in 2023-12, with the labels that each got.

#3403 CCD clean up chart
  Jenkinsfile_CNP
  bin/remove-case-type-from-data-store.sql
  bin/remove-case-type-from-def-store.sql
  bin/remove-case-type.sh
  charts/nfdiv-case-api/Chart.yaml
  charts/nfdiv-case-api/values.preview.template.yaml
  charts/nfdiv-case-api/values.yaml
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/BulkActionCaseTypeConfig.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/NoFaultDivorce.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3403

#3401 NFDIV-3822: Add boolean potentiallyConfidential property to DocType enum
  src/functionalTest/resources/responses/response-caseworker-expedite-final-order-offline.json
  src/functionalTest/resources/responses/response-caseworker-grant-final-order-offline.json
  src/functionalTest/resources/responses/response-caseworker-issue-sole-citizen-application-about-to-submit.json
  src/functionalTest/resources/responses/response-system-progress-case-to-awaiting-final-order-offline.json
  src/functionalTest/resources/responses/response-system-pronounce-case-offline-with-private-contract.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerUpdateContactDetailsMoveConfidentialDocsIT.java
  src/integrationTest/resources/caseworker-expedite-final-order-offline-response.json
  src/integrationTest/resources/caseworker-grant-final-order-offline-response.json
  src/integrationTest/resources/caseworker-grant-final-order-overdue-response.json
  src/integrationTest/resources/caseworker-issue-joint-application-app2-contact-private-about-to-submit-response.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-system-progress-case-to-awaiting-final-order-response.json
  src/main/java/uk/gov/hmcts/divorce/document/DocumentUtil.java
  src/main/java/uk/gov/hmcts/divorce/document/model/DocumentType.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/ProcessConfidentialDocumentsServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/document/DocumentUtilTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3401

#3425 NFDIV-3811: Update D36 document with D36_1022_bulkprint.pdf
  src/main/resources/D36.pdf
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3425

#3390 NFDIV- 3785 - Rework the existing AOS Overdue offline document functionality to use new DocumentPack
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/UniqueTemplateContentProvisionIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/UniqueTemplateContentProvisionTestConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressCaseToAosOverdueIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/AosOverduePrinter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SetDueDateAfterIssue.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/AosReminderNotifications.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/GenerateAosOverdueLetterDocument.java
  src/main/java/uk/gov/hmcts/divorce/document/content/templatecontent/AosOverdueLetterTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/print/documentpack/AosOverdueDocumentPack.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressCaseToAosOverdue.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/AosOverduePrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/AosReminderNotificationsTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/GenerateAosOverdueLetterDocumentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/AosOverdueLetterTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/print/documentpack/AosOverdueDocumentPackTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressCaseToAosOverdueTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3390

#3432 Bump springboot version to fix CVEs
  build.gradle
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3432

#3439 Fix: Error creating bean with name 'uk.gov.hmcts.divorce.payment.Pay…
  src/main/java/uk/gov/hmcts/divorce/payment/PaymentClient.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3439

#3441 moving notification to about to submit due to document generation for…
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerCreateGeneralLetterFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-general-letter-submitted.json
  src/functionalTest/resources/responses/response-caseworker-general-letter-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-offline-document-verified-d84-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerCreateGeneralLetterIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerOfflineDocumentVerifiedIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/UniqueTemplateContentProvisionIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/UniqueTemplateContentProvisionTestConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressCaseToAosOverdueIT.java
  src/integrationTest/resources/caseworker-general-letter-confidential-response.json
  src/integrationTest/resources/caseworker-general-letter-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralLetter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerified.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/AosOverduePrinter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/GeneralLetterDocumentPack.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/GeneralLetterPrinter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateGeneralLetter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SendGeneralLetter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SetDueDateAfterIssue.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/AosReminderNotifications.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/GenerateAosOverdueLetterDocument.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentGenerator.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentUtil.java
  src/main/java/uk/gov/hmcts/divorce/document/content/GeneralLetterTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/templatecontent/AosOverdueLetterTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/print/LetterPrinter.java
  src/main/java/uk/gov/hmcts/divorce/document/print/documentpack/AosOverdueDocumentPack.java
  src/main/java/uk/gov/hmcts/divorce/payment/PaymentClient.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressCaseToAosOverdue.java
  src/main/resources/D10.pdf
  src/main/resources/D36.pdf
  src/main/resources/D84.pdf
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralLetterTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerifiedTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/AosOverduePrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/GeneralLetterDocumentPackTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/GeneralLetterPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateGeneralLetterTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/SendGeneralLetterTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/AosReminderNotificationsTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/GenerateAosOverdueLetterDocumentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/DocumentUtilTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/AosOverdueLetterTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/GeneralLetterTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/templatecontent/GeneralLetterTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/print/documentpack/AosOverdueDocumentPackTest.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/service/printer/LetterPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressCaseToAosOverdueTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3441

#3434 NFDiv-3817 Service Admin Refusal should not generate documents
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeServiceDecision.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeServiceDecisionTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3434

#3376 NFDiv-3789 conditional order app doc pack
  src/main/java/uk/gov/hmcts/divorce/common/notification/AwaitingConditionalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/print/documentpack/ApplyForConditionalOrderDocumentPack.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressHeldCase.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/print/ApplyForConditionalOrderPrinter.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/task/ApplyForConditionalOrderTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateD84Form.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/ApplyForConditionalOrderDocumentPackTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/AwaitingConditionalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/print/ApplyForConditionalOrderPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/task/ApplyForConditionalOrderTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateApplyForFinalOrderDocumentTest.java
Labels: ns:nfdiv, prd:nfdiv, no-changes, rel:nfdiv-case-api-pr-3376

#3396 Nfdiv 3787 switch to sole
  src/integrationTest/java/uk/gov/hmcts/divorce/common/SwitchedToSoleCoIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/SwitchToSoleCoPrinter.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SwitchedToSoleCo.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/GenerateSwitchToSoleConditionalOrderJSLetter.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentGenerator.java
  src/main/java/uk/gov/hmcts/divorce/document/content/templatecontent/JSSwitchToSoleCoSolicitorTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/templatecontent/SwitchToSoleCoJSTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/templatecontent/SwitchToSoleCoTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/print/documentpack/SwitchToSoleCODocumentPack.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/SwitchToSoleCoPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/SwitchedToSoleCoTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/GenerateSwitchToSoleConditionalOrderJSLetterTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/GenerateSwitchToSoleConditionalOrderLetterTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/JudicialSeparationSwitchToSoleSolicitorContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/templatecontent/JSSwitchToSoleCoSolicitorTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/templatecontent/SwitchToSoleCoJSTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/templatecontent/SwitchToSoleCoTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/print/documentpack/SwitchToSoleCODocumentPackTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3396

#3391 Nfdiv 3787 Conditional Order Response Pack
  src/functionalTest/resources/responses/response-caseworker-offline-document-verified-d84-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerOfflineDocumentVerifiedIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/common/SubmitConditionalOrderIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/common/SwitchedToSoleCoIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/Applicant2SolicitorSwitchToSoleCoIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/Applicant2SolicitorSwitchToSoleFoIT.java
  src/integrationTest/resources/solicitor-applicant2-switch-to-sole-co-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerified.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/AppliedForCoPrinter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/SwitchToSoleCoPrinter.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/Applicant1AppliedForConditionalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/Applicant2AppliedForConditionalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/AppliedForConditionalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitJointConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SwitchedToSoleCo.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/GenerateConditionalOrderAnswersDocument.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/GenerateSwitchToSoleConditionalOrderJSLetter.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentGenerator.java
  src/main/java/uk/gov/hmcts/divorce/document/content/templatecontent/AppliedForCoTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/templatecontent/ConditionalOrderAnswersTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/templatecontent/JSSwitchToSoleCoSolicitorTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/templatecontent/SwitchToSoleCoJSTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/templatecontent/SwitchToSoleCoTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/print/documentpack/AppliedForConditionalOrderDocumentPack.java
  src/main/java/uk/gov/hmcts/divorce/document/print/documentpack/SwitchToSoleCODocumentPack.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/Applicant1SolicitorSwitchToSoleCo.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/Applicant2SolicitorSwitchToSoleCo.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerifiedTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/AppliedForCoPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/SwitchToSoleCoPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/Applicant1AppliedForConditionalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/SubmitConditionalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/SubmitJointConditionalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/SwitchedToSoleCoTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/GenerateConditionalOrderAnswersDocumentTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/GenerateSwitchToSoleConditionalOrderJSLetterTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/GenerateSwitchToSoleConditionalOrderLetterTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/JudicialSeparationSwitchToSoleSolicitorContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/templatecontent/AppliedForCoTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/templatecontent/ConditionalOrderAnswersTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/templatecontent/JSSwitchToSoleCoSolicitorTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/templatecontent/SwitchToSoleCoJSTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/templatecontent/SwitchToSoleCoTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/print/documentpack/AppliedForConditionalOrderDocumentPackTest.java
  src/test/java/uk/gov/hmcts/divorce/document/print/documentpack/SwitchToSoleCODocumentPackTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/Applicant1SolicitorSwitchToSoleCoTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/Applicant2SolicitorSwitchToSoleCoTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3391

#3440 NFDIV-3786: Aos Response Document Pack
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerOfflineDocumentVerifiedFT.java
  src/functionalTest/resources/responses/response-caseworker-offline-document-verified-d84-about-to-submit.json
  src/functionalTest/resources/responses/response-solicitor-submit-aos.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerOfflineDocumentVerifiedIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/common/SubmitAosIT.java
  src/integrationTest/resources/solicitor-submit-aos-disputed-offline-response.json
  src/integrationTest/resources/solicitor-submit-aos-offline-response-with-private-contact.json
  src/integrationTest/resources/solicitor-submit-aos-response.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-citizen-submit-aos-represented-respondent.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-citizen-submit-aos-with-dispute-welsh.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-citizen-submit-aos-with-dispute.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-citizen-submit-aos-without-dispute.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerified.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateD10Form.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SendAosResponseLetterPackToApplicant.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitAos.java
  src/main/java/uk/gov/hmcts/divorce/common/service/SubmitAosService.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/GenerateAndLinkRespondentAnswers.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/GenerateAosResponseLetterDocument.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/GenerateRespondentAnswersDoc.java
  src/main/java/uk/gov/hmcts/divorce/document/content/templatecontent/AosResponseLetterTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/templatecontent/AosUndefendedResponseLetterTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/templatecontent/RespondentAnswersTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/print/documentpack/AosResponseDocumentPack.java
  src/main/java/uk/gov/hmcts/divorce/document/print/model/Letter.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateD84Form.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerifiedTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/SendAosResponseLetterPackToApplicantTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/SubmitAosServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/GenerateAndLinkRespondentAnswersTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/GenerateAosResponseLetterDocumentTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/GenerateRespondentAnswersDocTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/AosResponseLetterTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/AosUndefendedResponseLetterTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/RespondentAnswersTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/print/documentpack/AosResponseDocumentPackTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3440

#3461 NFD Error - Allow cases to be re-scheduled from the listed state
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerScheduleCase.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemUpdateCaseWithCourtHearing.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3461

#3472 Revert "NFDIV-2674"
  src/main/java/uk/gov/hmcts/divorce/common/notification/RespondentApplyForFinalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/common/notification/RespondentApplyForFinalOrderNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3472

#3475 Revert "NFDIV-3784: General letter document pack"
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerCreateGeneralLetterFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-general-letter-submitted.json
  src/functionalTest/resources/responses/response-caseworker-general-letter-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerCreateGeneralLetterIT.java
  src/integrationTest/resources/caseworker-general-letter-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralLetter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/GeneralLetterDocumentPack.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/GeneralLetterPrinter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateGeneralLetter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SendGeneralLetter.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentGenerator.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentUtil.java
  src/main/java/uk/gov/hmcts/divorce/document/content/GeneralLetterTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/print/LetterPrinter.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralLetterTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/GeneralLetterDocumentPackTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/GeneralLetterPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateGeneralLetterTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/SendGeneralLetterTest.java
  src/test/java/uk/gov/hmcts/divorce/document/DocumentUtilTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/GeneralLetterTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/templatecontent/GeneralLetterTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/service/printer/LetterPrinterTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3475

#3453 Revert "NFDIV-3795: move to Holding state and set 20 wk dueDate
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerConfirmServiceFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorConfirmServiceFT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerConfirmServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorConfirmServiceIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerConfirmService.java
  src/main/java/uk/gov/hmcts/divorce/common/service/SubmitConfirmService.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorConfirmService.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/task/SetConfirmServiceDueDate.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/task/SetConfirmServiceState.java
  src/test/java/uk/gov/hmcts/divorce/common/service/SubmitConfirmServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/task/SetConfirmServiceDueDateTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/task/SetConfirmServiceStateTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3453

#3460 NFDIV-3839: Do not set dueDate if AOS already submitted
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerConfirmServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorConfirmServiceIT.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/task/SetConfirmServiceDueDate.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/task/SetConfirmServiceDueDateTest.java
Labels: ns:nfdiv, prd:nfdiv, no-changes, rel:nfdiv-case-api-pr-3460

#3459 NFDIV - Super delete general emails event
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralEmail.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRemoveGeneralEmails.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRemoveGeneralEmailsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3459
