Repository hmcts/nfdiv-case-api, pull requests merged in 2023-01, with the labels that each got.

#2607 NFDiv-2607 update can apply final order template
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressCaseToAwaitingFinalOrderIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/notification/CommonContent.java
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2607

#2684 NFDIV-3118: Add common header and footer and update template versions
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerCreateGeneralOrderIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderRefusedForClarificationContentIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/GeneralOrderTemplateContentIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContentIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingJointContentIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/ServiceOrderTemplateContentIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateGeneralLetter.java
  src/main/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderRefusedForClarificationContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisCommonContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisTemplateConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/GeneralLetterTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/GeneralOrderTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingJointContent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateGeneralLetterTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderRefusedForClarificationContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/GeneralLetterTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/GeneralOrderTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContentTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2684

#2761 NFDIV-2824: debugging existing
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/CcdAccessService.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/CcdAccessServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2761

#2686 NFDIV-3200: Update code to have one reference to the email address
  src/functionalTest/resources/application.yaml
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/AppliedForConditionalOrderNotificationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/common/Applicant2RequestChangesNotificationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/common/GeneralApplicationReceivedNotificationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/common/SoleApplicationDisputedNotificationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/common/SoleApplicationNotDisputedNotificationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/CertificateOfEntitlementContentIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/GeneralOrderTemplateContentIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContentIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingJointContentIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/ServiceOrderTemplateContentIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/document/content/AosResponseLetterTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisCommonContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisTemplateConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingJointContent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/document/content/AosResponseLetterTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/CertificateOfEntitlementContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderPronouncedTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DocmosisCommonContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingJointContentTest.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/service/task/GenerateCoRefusedCoverLetterTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/print/CertificateOfEntitlementPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/task/ConditionalOrderPronouncedCoverLetterHelperTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateCertificateOfEntitlementTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2686

#2778 Suppress CVE-2021-4277 - No fix available yet
  config/owasp/suppressions.xml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2778

#2782 suppress snakeyaml cves for now no update
  config/owasp/suppressions.xml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2782

#2665 NFDIV-2649: Added new applicant NOP template for sole judicial separation
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReissueApplicationFT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContentIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplicant1NoticeOfProceeding.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SendAosPackToApplicant.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplicant1NoticeOfProceedingTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/SendAosPackToApplicantTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2665

#2788 Bump tomcat-embed-core version to fix cve
  build.gradle
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2788

#2685 NFDIV-2902: AOS overdue doc changes for Judicial Separation
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressCaseToAosOverdueFT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressCaseToAosOverdueIT.java
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/wiremock/responses/about-to-submit-system-progress-case-to-aos-overdue-offline-js.json
  src/main/java/uk/gov/hmcts/divorce/common/service/task/GenerateAosOverdueLetterDocument.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/AosOverdueLetterTemplateContent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/common/service/task/GenerateAosOverdueLetterDocumentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/AosOverdueLetterTemplateContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2685

#2712 NFDIV-2918: changes for JS CO pronounced doc and cover letter
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemPronounceCaseFT.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/task/ConditionalOrderPronouncedCoverLetterHelper.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateConditionalOrderPronouncedDocument.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/task/ConditionalOrderPronouncedCoverLetterHelperTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateConditionalOrderPronouncedDocumentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2712

#2690 Nfdiv 2654 nop respondent
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationFT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContentIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplicant2NoticeOfProceedings.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateD10Form.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplicant2NoticeOfProceedingsTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateD10FormTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2690

#2760 Update condition to display who is submitting only for switch to sole option
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerified.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2760

#2758 NFDIV-3166 Legal Advisor Review
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeDecision.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorReview.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorReviewTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2758

#2797 Bump java chart to 4.0.9 as 4.0.6 is now depreciated
  charts/nfdiv-case-api/Chart.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2797

#2805 Bump java chart to latest
  charts/nfdiv-case-api/Chart.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2805

#2809 Fix NPE issue with JS
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderRefusedForClarificationContentIT.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SetSubmitAosState.java
  src/main/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderRefusedForClarificationContent.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2809

#2810 Add terraform to manager to auto get update PRs
  .github/renovate.json
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2810

#2807 Nfdiv 2410 awaiting js nullity state
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationFT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingJointJudicialSeparationContentIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/testutil/DocAssemblyWireMock.java
  src/integrationTest/java/uk/gov/hmcts/divorce/testutil/DocumentUploadDFormsMocker.java
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/caseworker-issue-application-joint-js-about-to-submit-respondent-response.json
  src/integrationTest/resources/caseworker-reissue-application-joint-js-about-to-submit-respondent-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerReissueApplication.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/IssueApplicationService.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/ReIssueApplicationService.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplicant1NoticeOfProceeding.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplicant2NoticeOfProceedings.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SetPostIssueState.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/util/FileNameUtil.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingJointJudicialSeparationContent.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateD84Form.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/CaseworkerIssueApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/ReIssueApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplicant1NoticeOfProceedingTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplicant2NoticeOfProceedingsTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateD84FormTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/SetPostIssueStateTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingJointJudicialSeparationContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2807

#2671 NFDIV-2651 : JS offline notification applicant solicitor NOP
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReissueApplicationFT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/caseworker-issue-js-applicant1-represented-by-solicitor-about-to-submit-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplicant1NoticeOfProceeding.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingSolicitorContent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplicant1NoticeOfProceedingTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2671

#2695 NFDIV-2910 : Added change for new JS template for COE cover letters
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemUpdateCaseWithCourtHearingIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateCertificateOfEntitlement.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/document/content/DocmosisCommonContentTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateCertificateOfEntitlementTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2695

#2820 Change use of toBoolean to equals method to handle null values
  src/main/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderRefusedForAmendmentContent.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/service/printer/AwaitingAmendedApplicationPrinter.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2820

#2818 Update to latest 1.x terraform version
  infrastructure/.terraform-version
Labels: ns:nfdiv, prd:nfdiv, add-or-update, rel:nfdiv-case-api-pr-2818

#2823 Revert "Update to latest 1.x terraform version"
  infrastructure/.terraform-version
Labels: ns:nfdiv, prd:nfdiv, add-or-update, rel:nfdiv-case-api-pr-2823
