Repository hmcts/nfdiv-case-api, pull requests merged in 2023-11, with the labels that each got.

#3306 Fix: Update Respondent FO application received notification
  src/main/java/uk/gov/hmcts/divorce/common/notification/Applicant2AppliedForFinalOrderNotification.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3306

#3267 Feature: Final Order Tab Enhancements
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SetFinalOrderFieldsAsApplicant1.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SetFinalOrderFieldsAsApplicant2.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/FinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3267

#3326 update to java21 again
  Dockerfile
  charts/nfdiv-case-api/Chart.yaml
  charts/nfdiv-case-api/values.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3326

#3328 Check cases are issued before sending to post issued state
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerReturnToPreviousState.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerReturnToPreviousStateTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3328

#3313 NFDIV-3795: move to Holding state and set 20 wk dueDate after …
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerConfirmServiceFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorConfirmServiceFT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerConfirmServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorConfirmServiceIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerConfirmService.java
  src/main/java/uk/gov/hmcts/divorce/common/service/SubmitConfirmService.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorConfirmService.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/task/SetConfirmServiceDueDate.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/task/SetConfirmServiceState.java
  src/test/java/uk/gov/hmcts/divorce/common/service/SubmitConfirmServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/task/SetConfirmServiceDueDateTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/task/SetConfirmServiceStateTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3313

#3331 NFDIV-3751: move divorce payment domain model objects
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenPaymentMadeIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorGeneralApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorSubmitApplicationIT.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenPaymentMade.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Payment.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/PaymentStatus.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadDocumentsAndSubmitTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenPaymentMadeTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SetStateAfterSubmissionTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/ApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorGeneralApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3331

#3318 NFD - Super user event to hard delete docs from case data and case event history
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerRemoveDocumentFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-remove-document-before-data.json
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-remove-document-data.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRemoveDocument.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentRemovalService.java
  src/main/java/uk/gov/hmcts/divorce/document/DraftApplicationRemovalService.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRemoveDocumentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/DocumentRemovalServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/document/DraftApplicationRemovalServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, enable_keep_helm, rel:nfdiv-case-api-pr-3318

#3334 Clean up state condition for event
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemPronounceCase.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3334

#3335 Add event to remove errored cases from list
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/SuperuserRemoveErroredCases.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/SuperuserRemoveErroredCasesTest.java
Labels: ns:nfdiv, prd:nfdiv, enable_keep_helm, rel:nfdiv-case-api-pr-3335

#3336 NFDIV-3779 - Add logging to help track what caseworkers are doing for event
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerified.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3336

#3338 Add super user delete to errors access
  src/main/java/uk/gov/hmcts/divorce/bulkaction/data/BulkActionCaseData.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3338

#3340 Quick fix for confidentiality
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/AosOverduePrinter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/AppliedForCoPrinter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/FinalOrderGrantedPrinter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/RegenerateCourtOrdersPrinter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/SwitchToSoleCoPrinter.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentUtil.java
  src/main/java/uk/gov/hmcts/divorce/document/print/BulkPrintService.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/print/ApplyForConditionalOrderPrinter.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/print/ApplyForFinalOrderPrinter.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/print/ConditionalOrderPronouncedPrinter.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/print/ConditionalOrderReminderPrinter.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/document/DocumentUtilTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3340

#3342 Pronounce cases synchrounsly from system task to prevent tomcat shutt…
  src/main/java/uk/gov/hmcts/divorce/bulkaction/service/CasePronouncementService.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/bulkaction/SystemProcessFailedPronouncedCasesTask.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/bulkaction/SystemProcessFailedPronouncedCasesTaskTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3342

#3322 confirm full name field for applicants
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
Labels: ns:nfdiv, prd:nfdiv, no-changes, rel:nfdiv-case-api-pr-3322

#3343 Remove errored cases in callback
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/SuperuserRemoveErroredCases.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/SuperuserRemoveErroredCasesTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3343

#3333 Cron task to log case id's where case is in AwaitingPayment state but has successful payment
  src/main/java/uk/gov/hmcts/divorce/CaseApiApplication.java
  src/main/java/uk/gov/hmcts/divorce/payment/PaymentClient.java
  src/main/java/uk/gov/hmcts/divorce/payment/PaymentStatusService.java
  src/main/java/uk/gov/hmcts/divorce/payment/model/Payment.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemFindCasesWithSuccessfulPaymentsTask.java
  src/test/java/uk/gov/hmcts/divorce/payment/PaymentStatusServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemFindCasesWithSuccessfulPaymentsTaskTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3333

#3344 More logging for offline doc verified
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerified.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3344

#3358 NFDIV-3751: update log message
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemFindCasesWithSuccessfulPaymentsTask.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3358

#3348 Remove dm-store and use cdam
  build.gradle
  charts/nfdiv-case-api/Chart.yaml
  charts/nfdiv-case-api/values.yaml
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerCreateGeneralLetterFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerOfflineDocumentVerifiedFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReissueApplicationFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerRemoveDocumentFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/legaladvisor/LegalAdvisorMakeDecisionFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorUpdateApplicationFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressCaseToAwaitingFinalOrderFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressHeldCasesFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemResendCOPronouncedCoverLetterFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/testutil/CaseDocumentAMDocument.java
  src/functionalTest/java/uk/gov/hmcts/divorce/testutil/CaseDocumentAccessManagement.java
  src/functionalTest/java/uk/gov/hmcts/divorce/testutil/DocumentManagementStore.java
  src/functionalTest/resources/application.yaml
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerOfflineDocumentVerifiedIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/common/SubmitAosIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorGeneralApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorUpdateApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressCaseToAwaitingFinalOrderIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/testutil/CdamWireMock.java
  src/integrationTest/java/uk/gov/hmcts/divorce/testutil/DocumentUploadDFormsMocker.java
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/caseworker-issue-js-applicant1-applicant2-represented-by-solicitor-joint-about-to-submit-response.json
  src/integrationTest/resources/caseworker-reissue-sole-citizen-application-offlineAos-about-to-submit-response.json
  src/main/java/uk/gov/hmcts/divorce/CaseApiApplication.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRemoveDocument.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateOfflineStatus.java
  src/main/java/uk/gov/hmcts/divorce/common/config/RestTemplateConfiguration.java
  src/main/java/uk/gov/hmcts/divorce/common/config/jackson/InternalHealthDeserializer.java
  src/main/java/uk/gov/hmcts/divorce/common/config/jackson/JacksonConfiguration.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/GenerateFormHelper.java
  src/main/java/uk/gov/hmcts/divorce/document/CaseDocumentAccessManagement.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentManagementClient.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentRemovalService.java
  src/main/java/uk/gov/hmcts/divorce/document/DraftApplicationRemovalService.java
  src/main/java/uk/gov/hmcts/divorce/document/print/BulkPrintService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRemoveDocumentTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateD84FormTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/GenerateFormHelperTest.java
  src/test/java/uk/gov/hmcts/divorce/document/CaseDocumentAccessManagementTest.java
  src/test/java/uk/gov/hmcts/divorce/document/DocumentRemovalServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/document/DraftApplicationRemovalServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/document/print/BulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/print/ConditionalOrderReminderPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateD36FormTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateD84FormTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3348

#3329 NFDIV-3808 - Stop caseworkers removing emails from online cases
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/UpdateContactDetails.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/page/UpdateContactDetailsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3329

#3364 NFDIV-3751: refactor to use parallel stream
  src/main/java/uk/gov/hmcts/divorce/payment/PaymentStatusService.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemFindCasesWithSuccessfulPaymentsTask.java
  src/test/java/uk/gov/hmcts/divorce/payment/PaymentStatusServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemFindCasesWithSuccessfulPaymentsTaskTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3364

#3332 NFDIV-3802 - Super document removal extension - Scanned docs & Applicant2 Uploaded docs
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerRemoveDocumentFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-remove-scanned-document-before-data.json
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-remove-scanned-document-data.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRemoveDocument.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentRemovalService.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRemoveDocumentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/DocumentRemovalServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, enable_keep_helm, rel:nfdiv-case-api-pr-3332

#3369 Fix enum jsonProperty which was duplicated
  src/main/java/uk/gov/hmcts/divorce/document/model/ConfidentialDocumentsReceived.java
  src/main/java/uk/gov/hmcts/divorce/document/model/DocumentType.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3369

#3371 Ignore 404 returned from CDAM as document already deleted
  src/main/java/uk/gov/hmcts/divorce/document/CaseDocumentAccessManagement.java
  src/test/java/uk/gov/hmcts/divorce/document/CaseDocumentAccessManagementTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3371

#3372 NFDIV-3751: use case insensitive match
  src/main/java/uk/gov/hmcts/divorce/payment/PaymentStatusService.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3372

#3373 NFDIV-3751: Add logging
  src/main/java/uk/gov/hmcts/divorce/payment/PaymentStatusService.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3373

#3377 NFDIV-3751: filter out current day to reduce number in-progress cases
  src/main/java/uk/gov/hmcts/divorce/payment/PaymentStatusService.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemFindCasesWithSuccessfulPaymentsTask.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemFindCasesWithSuccessfulPaymentsTaskTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3377

#3379 update cft lib
  build.gradle
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3379

#3383 NFDIV-3751: move log message to make it easier to find relevant logs …
  src/main/java/uk/gov/hmcts/divorce/payment/PaymentStatusService.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemFindCasesWithSuccessfulPaymentsTask.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3383

#3385 NFDIV-3751: Amend search criteria
  src/main/java/uk/gov/hmcts/divorce/payment/PaymentStatusService.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemFindCasesWithSuccessfulPaymentsTask.java
  src/test/java/uk/gov/hmcts/divorce/payment/PaymentStatusServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemFindCasesWithSuccessfulPaymentsTaskTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3385

#3386 Bump cft lib to latest for new env var secrets
  build.gradle
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3386

#3319 Refactor FO Granted Document Pack
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerExpediteFinalOrderFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerGrantFinalOrderFT.java
  src/functionalTest/resources/responses/response-caseworker-grant-final-order.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerExpediteFinalOrderIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerGrantFinalOrderIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerRegenerateCourtOrdersIT.java
  src/integrationTest/resources/caseworker-expedite-final-order-offline-response.json
  src/integrationTest/resources/caseworker-expedite-final-order-response.json
  src/integrationTest/resources/caseworker-expedite-final-order-solicitor-response.json
  src/integrationTest/resources/caseworker-grant-final-order-offline-response.json
  src/integrationTest/resources/caseworker-grant-final-order-overdue-response.json
  src/integrationTest/resources/caseworker-grant-final-order-response.json
  src/integrationTest/resources/caseworker-grant-final-order-solicitor-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerExpediteFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGrantFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRegenerateCourtOrders.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/notification/FinalOrderGrantedNotification.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/FinalOrderGrantedPrinter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateFinalOrderCoverLetter.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentGenerator.java
  src/main/java/uk/gov/hmcts/divorce/document/content/templatecontent/FinalOrderGrantedCoverLetterTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/templatecontent/FinalOrderGrantedTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/print/documentpack/FinalOrderGrantedDocumentPack.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/task/ConditionalOrderPronouncedCoverLetterHelper.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerExpediteFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGrantFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRegenerateCourtOrdersTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/notification/FinalOrderGrantedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/FinalOrderGrantedPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateFinalOrderCoverLetterTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/document/DocumentGeneratorTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/FinalOrderGrantedTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/templatecontent/FinalOrderGrantedCoverLetterTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/print/documentpack/ConditionalOrderRefusalDocumentPackTest.java
  src/test/java/uk/gov/hmcts/divorce/document/print/documentpack/FinalOrderGrantedDocumentPackTest.java
Labels: ns:nfdiv, prd:nfdiv, no-changes, rel:nfdiv-case-api-pr-3319

#3402 NFDIV-3826: Doc Pack QA Tab
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseDocuments.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/document/model/LetterPack.java
  src/main/java/uk/gov/hmcts/divorce/document/print/LetterPrinter.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3402

#3408 fix QA letter pack tab
  src/integrationTest/resources/caseworker-expedite-final-order-offline-response.json
  src/integrationTest/resources/caseworker-grant-final-order-offline-response.json
  src/integrationTest/resources/caseworker-grant-final-order-overdue-response.json
  src/main/java/uk/gov/hmcts/divorce/document/print/LetterPrinter.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3408

#3397 NFDIV-3784: Add template content and document pack for General Letter
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerCreateGeneralLetterFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-general-letter-submitted.json
  src/functionalTest/resources/responses/response-caseworker-general-letter-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerCreateGeneralLetterIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/UniqueTemplateContentProvisionIT.java
  src/integrationTest/resources/caseworker-general-letter-confidential-response.json
  src/integrationTest/resources/caseworker-general-letter-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralLetter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/GeneralLetterDocumentPack.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/GeneralLetterPrinter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateGeneralLetter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SendGeneralLetter.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentGenerator.java
  src/main/java/uk/gov/hmcts/divorce/document/content/templatecontent/GeneralLetterTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/print/LetterPrinter.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralLetterTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/GeneralLetterDocumentPackTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/GeneralLetterPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateGeneralLetterTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/SendGeneralLetterTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/GeneralLetterTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/templatecontent/GeneralLetterTemplateContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3397

#3414 test clean on v15
  Jenkinsfile_CNP
Labels: ns:nfdiv, prd:nfdiv, no-changes, rel:nfdiv-case-api-pr-3414

#3410 Nfdiv 3790 apply for final order document pack
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressCaseToAwaitingFinalOrderFT.java
  src/functionalTest/resources/responses/response-system-progress-case-to-awaiting-final-order-offline.json
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressCaseToAwaitingFinalOrderIT.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/AwaitingFinalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/document/content/templatecontent/FinalOrderCanApplyTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/print/documentpack/ApplyForFinalOrderDocumentPack.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressCaseToAwaitingFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/print/ApplyForFinalOrderPrinter.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateD36Form.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/AwaitingFinalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/templatecontent/FinalOrderCanApplyTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/print/documentpack/ApplyForFinalOrderDocumentPackTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressCaseToAwaitingFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/print/ApplyForFinalOrderPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateD36FormTest.java
Labels: ns:nfdiv, prd:nfdiv, no-changes, rel:nfdiv-case-api-pr-3410
