Repository hmcts/nfdiv-case-api, pull requests merged in 2023-04, with the labels that each got.

#2894 Temporary suppression for CVE-2023-20860
  config/owasp/suppressions.xml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2894

#2898 Add field which was removed as it exists in case data in production
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2898

#2868 NFDIV-2849
  src/integrationTest/java/uk/gov/hmcts/divorce/legaladvisor/LegalAdvisorMakeServiceDecisionIT.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/AlternativeService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/AlternativeServiceOutcome.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ServiceApplicationRefusalReason.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeServiceDecision.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeServiceDecisionTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2868

#2750 Add superuser removal of case from bulk case
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/SuperuserRemoveCaseFromBulkList.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/SuperuserRemoveCaseFromBulkListTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2750

#2927 Hide event in production
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/SuperuserRemoveCaseFromBulkList.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2927
