Repository hmcts/nfdiv-case-api, pull requests merged in 2023-02, with the labels that each got.

#2826 Nfdiv add logging bulk cases cron
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/bulkaction/SystemCreateBulkCaseListTask.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2826

#2827 Update to latest terraform version as requested by platops
  infrastructure/.terraform-version
  infrastructure/variables.tf
Labels: ns:nfdiv, prd:nfdiv, add-or-update, rel:nfdiv-case-api-pr-2827

#2764 NFDIV-3256 - Draft Conditional Order event not showing
  src/main/java/uk/gov/hmcts/divorce/common/event/DraftConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/DraftJointConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitJointConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/UpdateConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/UpdateJointConditionalOrder.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2764

#2822 Add LAReview state for outcome of conditional order tab
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, add-or-update, rel:nfdiv-case-api-pr-2822

#2835 NFDiv-3307 FO tab not visible after general referral
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2835

#2527 NFDIV-2749
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenIntendToSwitchToSoleFOIT.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant1IntendToSwitchToSoleFoNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2IntendToSwitchToSoleFoNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2527

#2749 Ndfiv 2877 welsh notify app who did not switch co 2
  src/integrationTest/java/uk/gov/hmcts/divorce/common/SwitchedToSoleCoIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/Applicant1SolicitorSwitchToSoleCoIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/Applicant2SolicitorSwitchToSoleCoIT.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/SwitchToSoleCoNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/notification/SolicitorSwitchToSoleCoNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2749

#2739 Nfdiv 2900 disputed respondent js
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerOfflineDocumentVerifiedFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-offline-document-verified-js-disputed-about-to-submit.json
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-offline-document-verified-js-disputed-submitted.json
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinter.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/GenerateAosResponseLetterDocument.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/AosResponseLetterTemplateContent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/GenerateAosResponseLetterDocumentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/AosResponseLetterTemplateContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2739

#2575 NFDiv-2609 update applied for switch to sole template
  src/main/java/uk/gov/hmcts/divorce/common/service/task/GenerateSwitchToSoleConditionalOrderLetter.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/common/service/task/GenerateSwitchToSoleConditionalOrderLetterTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2575

#2714 NFDIV-2652: Add Personal service solicitor template for judicial separation
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplicant1NoticeOfProceeding.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SendAosPackToApplicant.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisTemplateConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingSolicitorContent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplicant1NoticeOfProceedingTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/SendAosPackToApplicantTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingSolicitorContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2714

#2844 NFDIV-3041: Add new state for final order tab
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2844

#2841 NFDIV-3308: Add parentheses in the correct place for conditionals
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerified.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerifiedTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2841

#2846 NFDiv-3297 Update label text
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/CorrectRelationshipDetails.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2846

#2741 NfDiv-2916 and NFDiv-2955
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/CoversheetSolicitorTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisTemplateConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/GenerateJudicialSeparationCORefusedForAmendmentCoverLetter.java
  src/main/java/uk/gov/hmcts/divorce/document/model/DocumentType.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/service/printer/AwaitingAmendedApplicationPrinter.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/document/content/CoversheetSolicitorTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/GenerateJudicialSeparationCORefusedForAmendmentCoverLetterTest.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/service/printer/AwaitingAmendedApplicationPrinterTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2741

#2751 Nfdiv 2904 solicitor js disputed
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerOfflineDocumentVerifiedFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-offline-document-verified-js-sol-disputed-about-to-submit.json
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-offline-document-verified-js-sol-disputed-submitted.json
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinter.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/GenerateAosResponseLetterDocument.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/AosResponseLetterTemplateContent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/common/service/task/GenerateAosResponseLetterDocumentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/AosResponseLetterTemplateContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2751

#2849 Add suppression for CVE-2022-45688
  config/owasp/suppressions.xml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2849
