Repository hmcts/nfdiv-case-api, pull requests merged in 2023-03, with the labels that each got.

#2852 Add suppression for CVE-2023-24998
  config/owasp/suppressions.xml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2852

#2824 NFDiv-2920 Add JS Order Granted Solicitor Cover Letter
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemPronounceCaseFT.java
  src/functionalTest/resources/responses/response-system-pronounce-case-judicial-separation-represented.json
  src/functionalTest/resources/responses/response-system-pronounce-case-judicial-separation.json
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/task/ConditionalOrderPronouncedCoverLetterHelper.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateConditionalOrderPronouncedDocument.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/task/ConditionalOrderPronouncedCoverLetterHelperTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateConditionalOrderPronouncedDocumentTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2824

#2816 NFDIV-3277- Certificate of Entitlement Order - Judicial Separation
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/CertificateOfEntitlementContentIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemUpdateCaseWithCourtHearingIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/CertificateOfEntitlementContent.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateCertificateOfEntitlement.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/document/content/CertificateOfEntitlementContentTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateCertificateOfEntitlementTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2816

#2475 NFDiv-2605 Update Final Order Cover Letter
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerGrantFinalOrderIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerRegenerateCourtOrdersIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateFinalOrderCoverLetter.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateFinalOrderCoverLetterTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2475

#2745 NFDIV-2591 - Update name change reason fields
  build.gradle
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-issue-application-about-to-submit.json
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-reject-application-about-to-submit.json
  src/integrationTest/resources/d8-transformation-success-response.json
  src/integrationTest/resources/d8s-transformation-success-response.json
  src/integrationTest/resources/transformation-success-warning-response.json
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/Applicant1Transformer.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/Applicant2Transformer.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/CorrectPaperCase.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationOutstandingActionNotification.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/ApplicationTab.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutApplicant1.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutApplicant2.java
  src/test/resources/transformation/output/applicant1-transformed-invalid-sol-warnings.json
  src/test/resources/transformation/output/applicant1-transformed-warnings.json
  src/test/resources/transformation/output/applicant1-transformed.json
  src/test/resources/transformation/output/applicant2-transformed-warnings.json
  src/test/resources/transformation/output/applicant2-transformed.json
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2745

#2836 NFDIV-3284: Add common header and footer and remove family court logo
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerRegenerateCourtOrdersIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemUpdateCaseWithCourtHearingIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/document/content/CertificateOfEntitlementContent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/document/content/CertificateOfEntitlementContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2836

#2862 Fix outdated .internal preview URL for jenkins
  Jenkinsfile_CNP
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2862

#2785 NFDIV-2913 - Switch to Sole Solicitor Judicial Separation
  src/integrationTest/java/uk/gov/hmcts/divorce/common/SwitchedToSoleCoIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/common/event/SwitchedToSoleCo.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/JudicialSeparationSwitchToSoleSolicitorContent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/common/event/SwitchedToSoleCoTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/JudicialSeparationSwitchToSoleSolicitorContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2785

#2828 NFDIV-2650 - NoP for Personal Service - Judicial Separation
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationFT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContentIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplicant1NoticeOfProceeding.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplicant1NoticeOfProceedingTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2828

#2854 NFD - Test sendLetter client update for bulk print
  build.gradle
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2854

#2848 NFDiv-3286-Final-Order
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerGrantFinalOrderIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerRegenerateCourtOrdersIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/document/content/FinalOrderGrantedTemplateContent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/document/content/FinalOrderGrantedTemplateContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2848

#2723 NFDIV-2899: added new letter to aos pack
  charts/nfdiv-case-api/Chart.yaml
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerOfflineDocumentVerifiedFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-offline-document-verified-js-undisputed-about-to-submit.json
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/common/service/task/GenerateAosResponseLetterDocument.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/AosResponseLetterTemplateContent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/common/service/task/GenerateAosResponseLetterDocumentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2723

#2728 NFDIV-2911: added JS COE documents for solicitor
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemUpdateCaseWithCourtHearingFT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerRegenerateCourtOrdersIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemUpdateCaseWithCourtHearingIT.java
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/wiremock/responses/about-to-submit-system-regenerate-court-orders-offline-js.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-system-regenerate-court-orders-offline-solicitor-js.json
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisCommonContent.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/print/CertificateOfEntitlementPrinter.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateCertificateOfEntitlement.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/document/content/DocmosisCommonContentTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateCertificateOfEntitlementTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2728

#2857 NFDIV-3290: Add Judicial Separation Application Sole Template
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant2UpdateContactDetailsIT.java
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/caseworker-issue-js-applicant1-represented-by-solicitor-about-to-submit-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/IssueApplicationService.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/ReIssueApplicationService.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplication.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant2UpdateContactDetails.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/ApplicationSoleTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisTemplateConstants.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/CaseworkerIssueApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/ReIssueApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant2UpdateContactDetailsTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/ApplicationSoleTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DraftApplicationSoleTemplateContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2857

#2851 NFDiv-2912 BP Notification - Switch to Sole - Judicial Separation
  src/integrationTest/java/uk/gov/hmcts/divorce/common/SwitchedToSoleCoIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/common/event/SwitchedToSoleCo.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/GenerateSwitchToSoleConditionalOrderJSLetter.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/common/event/SwitchedToSoleCoTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/GenerateSwitchToSoleConditionalOrderJSLetterTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2851

#2858 NFDIV-3291: Add judicial separation NOP application joint
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/caseworker-issue-application-joint-js-about-to-submit-respondent-response.json
  src/integrationTest/resources/caseworker-issue-js-applicant1-applicant2-represented-by-solicitor-joint-about-to-submit-response.json
  src/integrationTest/resources/caseworker-reissue-application-joint-js-about-to-submit-respondent-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplication.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/ApplicationJointTemplateContent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/ApplicationJointTemplateContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2858

#2867 NFDIV-3310
  src/main/resources/D10.pdf
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2867

#2872 NFDIV-2798
  src/main/java/uk/gov/hmcts/divorce/bulkaction/search/BulkActionSearchResultFields.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/search/BulkActionSearchResultFieldsTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/workbasket/BulkActionWorkBasketResultFieldsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2872

#2845 NFDIV-3318 - Fix migrations ccd issue
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/BaseMigration.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/ConfirmReadPetitionMigration.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/JointApplicationMigration.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/PaperApplicationMigration.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/SetAosIsDraftedToYesMigration.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/task/MigrateRetiredFields.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/task/RemoveAccessCode.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/task/SetFailedMigrationVersionToZero.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/task/UpdateAosIsDrafted.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/task/UpdateApplicant2Offline.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/task/UpdateConfirmReadPetitionFields.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/BaseMigrationTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/ConfirmReadPetitionMigrationTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/JointApplicationMigrationTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/PaperApplicationMigrationTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/SetAosIsDraftedToYesMigrationTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/task/MigrateRetiredFieldsTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/task/RemoveAccessCodeTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/task/SetFailedMigrationVersionToZeroTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/task/UpdateAosIsDraftedTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/task/UpdateApplicant2OfflineTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/migration/task/UpdateConfirmReadPetitionFieldsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2845

#2873 Update PR template after dev discussions
  .github/PULL_REQUEST_TEMPLATE.md
  build.gradle
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2873

#2878 Update app insights to 3.4.10
  .github/renovate.json
  Dockerfile
  config/owasp/suppressions.xml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2878

#2880 NFDIV-3389: Fix issue with coversheet generation for non JS applications
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinter.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinterTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2880

#2889 Testing code deployment in production
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplication.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitAos.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-2889
