Repository hmcts/nfdiv-case-api, pull requests merged in 2023-08, with the labels that each got.

#3124 Nfdiv concurrency old code rework
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/common/SubmitAosIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/service/CcdUpdateServiceIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueApplication.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerified.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitAos.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorChangeServiceRequest.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitJointApplicationService.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/AbstractTaskEventSubmit.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemAlertApplicationNotReviewedTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemFinalOrderOverdueTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemJsDisputedAnswerOverdueTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemNotifyApplicantCanSwitchToSoleAfterIntentionFOTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemNotifyApplicantDisputeFormOverdueTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemNotifyApplicantThatPartnerNotAppliedForFOTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemNotifyRespondentApplyFinalOrderTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressCasesToAosOverdueTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressCasesToAwaitingFinalOrderTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressHeldCasesTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindApplicant1ApplicationApprovedTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindApplicant2Task.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindApplicantsApplyForFinalOrderTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindAwaitingJointFinalOrderTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindRespondentSolicitorToRespondTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/conditionalorder/SystemNotifyJointApplicantCanSwitchToSoleTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/conditionalorder/SystemRemindApplicantsApplyForCOrderTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/conditionalorder/SystemResendCOPronouncedCoverLettersTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdUpdateService.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerifiedTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/SubmitAosTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorChangeServiceRequestTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorSubmitJointApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemAlertApplicationNotReviewedTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemFinalOrderOverdueTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemJsDisputedAnswerOverdueTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemNotifyApplicantCanSwitchToSoleAfterIntentionFOTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemNotifyApplicantDisputeFormOverdueTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemNotifyApplicantThatPartnerNotAppliedForFOTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemNotifyRespondentApplyFinalOrderTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressCasesToAosOverdueTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressCasesToAwaitingFinalOrderTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemProgressHeldCasesTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindApplicant1ApplicationApprovedTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindApplicant2TaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindApplicantsApplyForFinalOrderTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindAwaitingJointFinalOrderTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRemindRespondentSolicitorToRespondTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/conditionalorder/SystemNotifyJointApplicantCanSwitchToSoleTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/conditionalorder/SystemRemindApplicantsApplyForCOrderTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/conditionalorder/SystemResendCOPronouncedCoverLettersTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/CcdUpdateServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3124

#3133 NFDIV-3607: Prevent NPE
  src/main/java/uk/gov/hmcts/divorce/common/notification/ServiceApplicationNotification.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/ServiceApplicationNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3133

#3118 Nfdiv 3580 final order overdue state progression
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralReferral.java
  src/main/java/uk/gov/hmcts/divorce/common/event/Applicant2ApplyForFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/ApplyForFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/service/GeneralReferralService.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SetGeneralReferralDetails.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/FinalOrder.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralReferralTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/Applicant2ApplyForFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/ApplyForFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/GeneralReferralServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SetGeneralReferralDetailsTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/FinalOrderTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3118

#3135 NFDIV-3593: Prevent 400 errors in appinsights from validate-ocr endpoint
  src/integrationTest/java/uk/gov/hmcts/divorce/endpoint/ValidationControllerIT.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/validation/OcrValidator.java
  src/main/java/uk/gov/hmcts/divorce/endpoint/ValidationController.java
  src/main/java/uk/gov/hmcts/divorce/endpoint/data/OcrDataValidationRequest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3135

#3136 add app2 sot field and show answers in fo tab.
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/FinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3136

#3137 Move endpoint package into bulkscan package
  src/functionalTest/java/uk/gov/hmcts/divorce/bulkscan/endpoint/ValidationControllerFT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/bulkscan/endpoint/BulkScanCaseTransformationControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/bulkscan/endpoint/ValidationControllerIT.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/endpoint/BulkScanCaseTransformationController.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/endpoint/ValidationController.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/endpoint/data/FormType.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/endpoint/data/OcrDataValidationRequest.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/endpoint/data/OcrValidationResponse.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/endpoint/data/ValidationStatus.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/endpoint/model/CaseCreationDetails.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/endpoint/model/input/InputScannedDoc.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/endpoint/model/input/InputScannedDocUrl.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/endpoint/model/input/OcrDataField.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/endpoint/model/input/TransformationInput.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/endpoint/model/output/BspErrorResponse.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/endpoint/model/output/SuccessfulTransformationResponse.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/BulkScanFormTransformer.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/BulkScanFormTransformerFactory.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/BulkScanService.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/D8FormToCaseTransformer.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/transformation/D8sFormToCaseTransformer.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/validation/OcrValidator.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/validation/data/OcrDataFields.java
  src/main/java/uk/gov/hmcts/divorce/common/config/advice/GlobalExceptionHandler.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/endpoint/BulkScanCaseTransformationControllerTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/endpoint/ValidationControllerTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/transformation/Applicant1TransformerTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/transformation/Applicant2TransformerTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/transformation/ApplicationTransformerTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/transformation/BulkScanServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/transformation/CommonFormToCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/transformation/D8FormToCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/transformation/D8PrayerTransformerTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/transformation/D8SPrayerTransformerTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/transformation/D8sFormToCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/transformation/MarriageDetailsTransformerTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/transformation/PaperFormDetailsTransformerTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/validation/OcrValidatorTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3137

#3138 Set graceful shutdown with a 2m timeout
  charts/nfdiv-case-api/Chart.yaml
  charts/nfdiv-case-api/values.yaml
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3138

#3134 Nfdiv 3600 service change state
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorChangeServiceRequest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorChangeServiceRequestTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3134

#3145 Nfdiv 3611 fix general letters confidential issue
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerCreateGeneralLetterFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-general-letter-submitted.json
  src/functionalTest/resources/responses/response-caseworker-general-letter-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerCreateGeneralLetterIT.java
  src/integrationTest/resources/caseworker-general-letter-confidential-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralLetter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/GeneralLetterService.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateGeneralLetter.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralLetterTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/GeneralLetterServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateGeneralLetterTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3145

#3128 Nfdiv 2304 solicitor explain delay
  src/main/java/uk/gov/hmcts/divorce/common/event/Applicant2ApplyForFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/ApplyForFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/page/Applicant2FinalOrderExplainTheDelay.java
  src/main/java/uk/gov/hmcts/divorce/common/event/page/FinalOrderExplainTheDelay.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/FinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemNotifyFinalOrderOverdue.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemNotifyFinalOrderOverdueTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3128

#3155 Fix 429 errors in preview and local envs
  src/main/java/uk/gov/hmcts/divorce/idam/IdamService.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3155

#3159 Fix Sot labels
  README.md
  src/main/java/uk/gov/hmcts/divorce/common/event/page/Applicant2FinalOrderExplainTheDelay.java
  src/main/java/uk/gov/hmcts/divorce/common/event/page/FinalOrderExplainTheDelay.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3159

#3157 Remove old feature flag
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemAttachScannedDocuments.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemAttachScannedDocumentsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3157

#3161 Alter show condition
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerCreateGeneralLetterFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerOfflineDocumentVerifiedFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/legaladvisor/LegalAdvisorMakeDecisionFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressCaseToAosOverdueFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressHeldCasesFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemResendCOPronouncedCoverLetterFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemUpdateCaseWithCourtHearingFT.java
  src/main/java/uk/gov/hmcts/divorce/common/event/page/Applicant2FinalOrderExplainTheDelay.java
  src/main/java/uk/gov/hmcts/divorce/common/event/page/FinalOrderExplainTheDelay.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3161

#3162 Fix Noc Npe
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerNoticeOfChange.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerNoticeOfChangeTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3162

#3164 Add Validation errors for Noc when user not exists and mismatched organisation
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerNoticeOfChange.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/NoticeOfChange.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorValidationService.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerNoticeOfChangeTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorValidationServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3164

#3163 Nfdiv 3569 fix scanned document queues
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemAttachScannedDocuments.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemAttachScannedDocumentsTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3163

#3169 guess
  .github/renovate.json
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3169

#3141 Nfdiv 3068 d36 offline document verified
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerified.java
  src/main/java/uk/gov/hmcts/divorce/common/service/GeneralReferralService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/FinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/OfflineWhoApplying.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerifiedTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/GeneralReferralServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/CaseDataTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3141

#3173 Avoid NPE when generating NoP for case that hasn't been issued
  src/main/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContent.java
  src/test/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3173

#3176 Add Check for Joint Application when sending Application Issue Letters
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SendAosPackToApplicant.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/SendAosPackToApplicantTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3176
