Repository hmcts/nfdiv-case-api, pull requests merged in 2023-09, with the labels that each got.

#3131 Nfdiv 2925 fo applied during fo overdue
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/FinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3131

#3167 NFDIV-3621: Fix CaseworkerOfflineDocumentVerified submitted actions
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerified.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerifiedTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3167

#3183 Bump tomcat version to fix CVE-2020-23064
  build.gradle
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3183

#3179 Joint applications should always be court service
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/integrationTest/resources/caseworker-offline-document-verified-other-response.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-cancel-case-invite.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SendAosPackToApplicant.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SetServiceType.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerCreatePaperCaseTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/SendAosPackToApplicantTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/SetServiceTypeTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3179

#3182 NFDIV-3593: Expect List<OcrDataField> rather than List<KeyValue> in OcrDataValidationRequest
  src/functionalTest/java/uk/gov/hmcts/divorce/bulkscan/endpoint/ValidationControllerFT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/bulkscan/endpoint/ValidationControllerIT.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/endpoint/data/OcrDataValidationRequest.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/validation/data/OcrDataFields.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/validation/OcrValidatorTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3182

#3106 NFDIV-3567 - Bulk Print duplicate request tracking
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerCreateGeneralLetterFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerOfflineDocumentVerifiedFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/legaladvisor/LegalAdvisorMakeDecisionFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressCaseToAosOverdueFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressHeldCasesFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemResendCOPronouncedCoverLetterFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemUpdateCaseWithCourtHearingFT.java
  src/functionalTest/java/uk/gov/hmcts/divorce/testutil/FunctionalTestSuite.java
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-offline-document-verified-js-disputed-submitted.json
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-offline-document-verified-js-sol-disputed-submitted.json
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-offline-document-verified-js-sol-undisputed-submitted.json
  src/functionalTest/resources/request/casedata/ccd-callback-general-letter-submitted.json
  src/functionalTest/resources/responses/response-solicitor-create-about-to-submit.json
  src/functionalTest/resources/responses/response-solicitor-update-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/common/SwitchedToSoleCoIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressCaseToAosOverdueIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/notification/FinalOrderGrantedNotification.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/AosOverduePrinter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/AppliedForCoPrinter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/FinalOrderGrantedPrinter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/GeneralLetterPrinter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/RegenerateCourtOrdersPrinter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/SwitchToSoleCoPrinter.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/AosReminderNotifications.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/EntitlementGrantedConditionalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SwitchedToSoleCo.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/AwaitingConditionalOrderReminderNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/ConditionalOrderPronouncedNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/ResendConditionalOrderPronouncedNotification.java
  src/main/java/uk/gov/hmcts/divorce/document/print/BulkPrintService.java
  src/main/java/uk/gov/hmcts/divorce/document/print/model/Print.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/service/printer/AwaitingAmendedOrClarificationApplicationCommonPrinter.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/print/ApplyForConditionalOrderPrinter.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/print/ApplyForFinalOrderPrinter.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/print/CertificateOfEntitlementPrinter.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/print/ConditionalOrderPronouncedPrinter.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/print/ConditionalOrderReminderPrinter.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/notification/FinalOrderGrantedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/AosOverduePrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/FinalOrderGrantedPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/GeneralLetterPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/SwitchToSoleCoPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/AosReminderNotificationsTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/EntitlementGrantedConditionalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/SwitchedToSoleCoTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/AwaitingConditionalOrderReminderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/ConditionalOrderPronouncedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/ResendConditionalOrderPronouncedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/document/print/BulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/document/print/model/PrintTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/print/ConditionalOrderPronouncedPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/print/CertificateOfEntitlementPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/print/ConditionalOrderReminderPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, no-changes, rel:nfdiv-case-api-pr-3106

#3186 Add debug logging for ocr validation
  src/main/java/uk/gov/hmcts/divorce/bulkscan/endpoint/ValidationController.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3186

#3158 NFDIV-3616: Add New page to Grant Final order when fo is overdue
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerGrantFinalOrderIT.java
  src/integrationTest/resources/caseworker-grant-final-order-overdue-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerExpediteFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGrantFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/FinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGrantFinalOrderTest.java
Labels: ns:nfdiv, prd:nfdiv, no-changes, rel:nfdiv-case-api-pr-3158

#3174 Nfdiv 3231 personal service confidentiality
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerChangeServiceRequest.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueApplication.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/validation/ApplicationValidation.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/validation/ValidationUtil.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorChangeServiceRequest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerChangeServiceRequestTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerReissueApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorChangeServiceRequestTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3174

#3193 Revert "NFDIV-3593: Expect List<OcrDataField> rather than List<KeyVal…
  src/functionalTest/java/uk/gov/hmcts/divorce/bulkscan/endpoint/ValidationControllerFT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/bulkscan/endpoint/ValidationControllerIT.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/endpoint/data/OcrDataValidationRequest.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/validation/data/OcrDataFields.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/validation/OcrValidatorTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, no-changes, rel:nfdiv-case-api-pr-3193

#3192 Protect against NPE
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/CorrectRelationshipDetails.java
  src/main/java/uk/gov/hmcts/divorce/notification/CommonContent.java
  src/test/java/uk/gov/hmcts/divorce/notification/CommonContentTest.java
Labels: ns:nfdiv, prd:nfdiv, no-changes, rel:nfdiv-case-api-pr-3192

#3151 NFDIV-3609 - Confidential Docs Fixes
  src/functionalTest/resources/responses/response-caseworker-issue-sole-citizen-application-app2-overseas-about-to-submit.json
  src/functionalTest/resources/responses/response-system-progress-case-to-awaiting-final-order-offline.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerUpdateContactDetailsMoveConfidentialDocsIT.java
  src/integrationTest/resources/wiremock/responses/about-to-submit-system-progress-case-to-awaiting-final-order-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/ReIssueApplicationService.java
  src/main/java/uk/gov/hmcts/divorce/common/service/ProcessConfidentialDocumentsService.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/GenerateFormHelper.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentUtil.java
  src/main/java/uk/gov/hmcts/divorce/document/model/ConfidentialDocumentsReceived.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateApplicant1ContactDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateApplicant2ContactDetails.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/ProcessConfidentialDocumentsServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateApplicant1ContactDetailsTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateApplicant2ContactDetailsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3151

#3198 NFDIV-3648 - Respondent reason for applying for final order not showi…
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3198

#3203 revert gender change
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/CorrectRelationshipDetails.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3203

#3195 NFDIV-3624 - Update App Solicitor You Can Apply for FO Email
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-system-progress-case-to-awaiting-final-order-joint-represented.json
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressCaseToAwaitingFinalOrderIT.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/AwaitingFinalOrderNotification.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/common/notification/AwaitingFinalOrderNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3195

#3204 Remove FinalOrderOverdue state
  src/integrationTest/java/uk/gov/hmcts/divorce/common/Applicant2ApplyForFinalOrderIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/common/ApplyForFinalOrderIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerFinalOrderPending.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant2UpdateApplication.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenUpdateApplication.java
  src/main/java/uk/gov/hmcts/divorce/common/event/Applicant2ApplyForFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/ApplyForFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/ProgressApplicant1FinalOrderState.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/ProgressApplicant2FinalOrderState.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SetFinalOrderFieldsAsApplicant1.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SetFinalOrderFieldsAsApplicant2.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemNotifyFinalOrderOverdue.java
  src/test/java/uk/gov/hmcts/divorce/common/event/Applicant2ApplyForFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/ApplyForFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/task/ProgressApplicant1FinalOrderStateTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/task/ProgressApplicant2FinalOrderStateTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3204, enable_keep_helm

#3199 Fix ocr validation endpoint again and change errors to warnings
  src/functionalTest/java/uk/gov/hmcts/divorce/bulkscan/endpoint/ValidationControllerFT.java
  src/functionalTest/resources/responses/response-bulk-scan-d8-validation-warning.json
  src/functionalTest/resources/responses/response-bulk-scan-d8s-validation-warning.json
  src/integrationTest/java/uk/gov/hmcts/divorce/bulkscan/endpoint/ValidationControllerIT.java
  src/integrationTest/resources/bulk-scan-d8-validation-warning-response.json
  src/main/java/uk/gov/hmcts/divorce/bulkscan/endpoint/data/OcrDataValidationRequest.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/validation/OcrValidator.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/validation/data/OcrDataFields.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/validation/OcrValidatorTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3199

#3202 NFDIV-3630 - Add FO Overdue Content to JOINT_SOL_BOTH_APPLIED_CO_FO email template
  src/main/java/uk/gov/hmcts/divorce/common/notification/FinalOrderRequestedNotification.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/notification/SolicitorAppliedForConditionalOrderNotification.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/common/notification/FinalOrderRequestedNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3202

#3212 NFDIV-3662 - Fix Noc Removing Addresses
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerNoticeOfChange.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/NoticeOfChangeService.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerNoticeOfChangeTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3212

#3214 Change label wording for FOO authorisation
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerGrantFinalOrderIT.java
  src/integrationTest/resources/caseworker-grant-final-order-overdue-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGrantFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/FinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/FinalOrderAuthorisation.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGrantFinalOrderTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3214

#3215 NFDIV-3629 - Edit email template to add delay reason
  src/main/java/uk/gov/hmcts/divorce/common/notification/Applicant1AppliedForFinalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/Applicant2AppliedForFinalOrderNotification.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/common/notification/Applicant1AppliedForFinalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/Applicant2AppliedForFinalOrderNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3215

#3224 Enable logging when running locally (cftlib defaults to warn)
  build.gradle
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3224

#3209 Nfdiv 3625 update email template
  src/main/java/uk/gov/hmcts/divorce/common/notification/FinalOrderRequestedNotification.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/common/notification/FinalOrderRequestedNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3209

#3219 NFDIV-3596 - Update Joint Other Party Applied Template With Delay Reason
  src/main/java/uk/gov/hmcts/divorce/common/notification/Applicant1AppliedForFinalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/Applicant1RemindAwaitingJointFinalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/Applicant2AppliedForFinalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/Applicant2RemindAwaitingJointFinalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/FinalOrderNotificationCommonContent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/common/notification/Applicant1AppliedForFinalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/Applicant1JointFinalOrderOverdueNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/Applicant2AppliedForFinalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/Applicant2JointFinalOrderOverdueNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3219

#3220 NFDIV-3669 - Change FO Overdue Event Name
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemNotifyFinalOrderOverdue.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3220

#3226 Nfdiv 3622 3627 update final order notification sole and joint
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-system-remind-applicants-apply-for-final-order-welsh.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-system-remind-applicants-apply-for-final-order.json
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressCaseToAwaitingFinalOrderIT.java
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/wiremock/responses/about-to-submit-system-progress-case-to-awaiting-final-order-response.json
  src/main/java/uk/gov/hmcts/divorce/common/notification/AwaitingFinalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/AwaitingFinalOrderReminderNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/CommonContent.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateApplyForFinalOrderDocument.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/common/notification/AwaitingFinalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateApplyForFinalOrderDocumentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3226

#3232 NFDIV-3701: Switched to Sole FO only available when state is Awaiting…
  src/integrationTest/resources/wiremock/responses/about-to-submit-system-progress-case-to-awaiting-final-order-response.json
  src/main/java/uk/gov/hmcts/divorce/common/event/SwitchedToSoleFinalOrder.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3232

#3225 NFDIV-3671: Add Sol Statement of Truth for Overdue FO to FO tab
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3225

#3228 NFDIV-3668: Add FinalOrderExplainTheDelay
  src/main/java/uk/gov/hmcts/divorce/common/event/SwitchedToSoleFinalOrder.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3228

#3234 add general referral service to switch to sole fo event
  src/main/java/uk/gov/hmcts/divorce/common/event/SwitchedToSoleFinalOrder.java
  src/test/java/uk/gov/hmcts/divorce/common/event/SwitchedToSoleFinalOrderTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3234

#3237 Suppress CVE
  config/owasp/suppressions.xml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3237

#3235 NFDIV-3601: Update due date
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorChangeServiceRequest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorChangeServiceRequestTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3235

#3240 NFDIV-3742 - Fix FOO Cron Task
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemFinalOrderOverdueTask.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemFinalOrderOverdueTaskTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3240
