Repository hmcts/nfdiv-case-api, pull requests merged in 2024-06, with the labels that each got.

#3747 NFDIV-4076 Replace email address, plus additional content - Final order
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerExpediteFinalOrderIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerGrantFinalOrderIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/notification/FinalOrderGrantedNotification.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/notification/FinalOrderGrantedNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3747

#3771 NFDIV-4015 If app already issued, regen d8 during amendCase event
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAmendCase.java
  src/main/java/uk/gov/hmcts/divorce/common/event/RegenerateApplication.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAmendCaseTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/RegenerateApplicationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3771

#3749 NFDIV-3989 Add New Superuser Event To Update FR and Jurisdiction Answers
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateFinRemAndJurisdiction.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateFinRemAndJurisdictionJoint.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateFinRemAndJurisdictionJointTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateFinRemAndJurisdictionTest.java
Labels: ns:nfdiv, prd:nfdiv, aat/no-changes, prod/no-changes, rel:nfdiv-case-api-pr-3749

#3804 [NFDIV-4117] Revert D8 regeneration on update case
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAmendCase.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAmendCaseTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3804

#3780 NFDIV 3557 General email to allow attachments
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerGeneralEmailIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralEmail.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/notification/GeneralEmailNotification.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/GeneralEmail.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/GeneralEmailDetails.java
  src/main/java/uk/gov/hmcts/divorce/notification/NotificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralEmailTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/notification/GeneralEmailNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3780

#3763 NFDIV-4053 POC to save serviceRequestReference received from nfdiv-frontend
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Payment.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3763

#3702 [NFDIV-3972] Hide contact details from solicitors in the application tab
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/ApplicationTab.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorViewApplicant1ContactDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorViewApplicant2ContactDetails.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorViewApplicant1ContactDetailsTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorViewApplicant2ContactDetailsTest.java
Labels: ns:nfdiv, prd:nfdiv, enable_keep_helm, aat/no-changes, rel:nfdiv-case-api-pr-3702, prod/no-changes

#3698 [NFDIV-3946] Apply Notice Of Change Event
  build.gradle
  ccd-definitions/AuthorisationComplexType.json
  ccd-definitions/ChallengeQuestion.json
  src/cftlib/java/uk/gov/hmcts/divorce/cftlib/CftLibConfig.java
  src/integrationTest/java/uk/gov/hmcts/divorce/noticeofchange/event/SystemApplyNoticeOfChangeIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/noticeofchange/event/SystemRequestNoticeOfChangeIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/testutil/ManageCaseAssignmentWireMock.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/DynamicListItem.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Solicitor.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/ChallengeQuestions.java
  src/main/java/uk/gov/hmcts/divorce/noticeofchange/client/AssignCaseAccessClient.java
  src/main/java/uk/gov/hmcts/divorce/noticeofchange/event/SystemApplyNoticeOfChange.java
  src/main/java/uk/gov/hmcts/divorce/noticeofchange/event/SystemRequestNoticeOfChange.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/client/organisation/OrganisationClient.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/SolicitorTest.java
  src/test/java/uk/gov/hmcts/divorce/noticeofchange/event/SystemApplyNoticeOfChangeTest.java
Labels: ns:nfdiv, prd:nfdiv, enable_keep_helm, aat/no-changes, rel:nfdiv-case-api-pr-3698, prod/no-changes

#3779 [NFDIV-4090] Hide citizen events in manage cases
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenAddPayment.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant2UpdateContactDetails.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenPaymentMade.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSaveAndClose.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplication.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenUpdateContactDetails.java
Labels: ns:nfdiv, prd:nfdiv, enable_keep_helm, rel:nfdiv-case-api-pr-3779

#3805 NFDIV-3659 update response to judge event
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerResponseToJudge.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3805

#3803 [NFDIV-4105] Set correct org policy case assigned roles during switch to sole
  src/main/java/uk/gov/hmcts/divorce/citizen/service/SwitchToSoleService.java
  src/test/java/uk/gov/hmcts/divorce/citizen/service/SwitchToSoleServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, enable_keep_helm, rel:nfdiv-case-api-pr-3803
