Repository hmcts/nfdiv-case-api, pull requests merged in 2024-09, with the labels that each got.

#3970 [NFDIV-4104] Allow respondents to pay online for Final Order EXUI updates
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SetFinalOrderFieldsAsApplicant2.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/FinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/search/CaseFieldsConstants.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/search/SearchInputFields.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, aat/no-changes, prod/no-changes, rel:nfdiv-case-api-pr-3970

#3984 [NFDIV-4312] Give caseworkers access to event history for regen D8 and update finrem
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateFinRemAndJurisdiction.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateFinRemAndJurisdictionJoint.java
  src/main/java/uk/gov/hmcts/divorce/common/event/RegenerateApplication.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3984

#3985 NFDIV-4308: Fix issue with missing court
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemPronounceCase.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemPronounceCaseTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3985

#3983 [NFDIV-4311] Handle docs without files attached in prepare email attachments
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPrepareGeneralEmailAttachments.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPrepareGeneralEmailAttachmentsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3983

#3990 NFDIV-4308: Remove system update case with court hearing event call
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemPronounceCase.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemPronounceCaseTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3990

#3989 NFDIV-4301 Add General Order documents for selection in general email.
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralEmail.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPrepareGeneralEmailAttachments.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/GeneralEmail.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralEmailTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPrepareGeneralEmailAttachmentsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3989

#3934 NFDIV-4153 http2
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3934

#3967 [NFDIV-4274] Stop sending paper D10s when respondents have email addresses
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplicant2NoticeOfProceedings.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplicant2NoticeOfProceedingsTest.java
Labels: ns:nfdiv, prd:nfdiv, aat/no-changes, prod/no-changes, rel:nfdiv-case-api-pr-3967

#3988 NFDIV-4313: Fix issue with switching user roles
  src/main/java/uk/gov/hmcts/divorce/common/event/SwitchedToSoleFinalOrder.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3988

#3926 [NFDIV-3599] [NFDIV-4098] Allow respondents to pay online for final orders
  src/integrationTest/java/uk/gov/hmcts/divorce/common/Applicant2ApplyForFinalOrderIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/common/RespondentApplyForFinalOrderIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/common/RespondentFinalOrderPaymentMadeIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerFinalOrderPending.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRescindConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenAddPayment.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant2UpdateApplication.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenPaymentMade.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenUpdateApplication.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/RespondentApplyForFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/RespondentFinalOrderPaymentMade.java
  src/main/java/uk/gov/hmcts/divorce/common/event/Applicant2SolicitorApplyForFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/ApplyForFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/Applicant2AppliedForFinalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/service/ApplyForFinalOrderService.java
  src/main/java/uk/gov/hmcts/divorce/common/service/PaymentValidatorService.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SetFinalOrderFieldsAsApplicant1.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SetFinalOrderFieldsAsApplicant2.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/FinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/search/CaseFieldsConstants.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/search/SearchInputFields.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemNotifyFinalOrderOverdue.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemindApplicantsApplyForFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemoveBulkCase.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemFinalOrderOverdueTask.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenPaymentMadeTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/RespondentApplyForFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/RespondentFinalOrderPaymentMadeTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/Applicant2AppliedForFinalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/ApplyForFinalOrderServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/PaymentValidatorServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SetFinalOrderFieldsAsApplicant2Test.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemFinalOrderOverdueTaskTest.java
Labels: ns:nfdiv, prd:nfdiv, enable_keep_helm, aat/no-changes, prod/no-changes, rel:nfdiv-case-api-pr-3926

#3991 NFDIV-4303 Remove access to certain case tabs for respondent solicitor
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/ApplicationEventHistoryTab.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3991

#3992 NFDIV-4307 Remove certain events from history for solicitors.
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerRetryPronounceList.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerFinalOrderPending.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueAmendedApplication.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRescindConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerResetConditionalOrderFlags.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/ConditionalOrderReviewCaseworker.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3992

#4000 [NFDIV-4326] Revert "Update log4j2 monorepo to v2.24.0"
  build.gradle
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4000

#4001 [NFDIV-4326] Update log4j to 2.24.0
  build.gradle
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4001

#4002 NFDIV-4289 Update to Caseworker Response to service application
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerResponseToServiceApplication.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/AlternativeService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/CaseworkerResponseToServiceApplicationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4002

#4010 NFDIV-4334 Fix value for partner field in apply for final order letter
  src/main/java/uk/gov/hmcts/divorce/document/content/templatecontent/FinalOrderCanApplyTemplateContent.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4010

#3996 NFDIV-4254 Solicitor Submit Response
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAddBailiffReturn.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAlternativeServiceApplication.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerApplicantResponded.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerChangeServiceRequest.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHWFPartPaymentMade.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHwfApplicationAccepted.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHwfEvidenceRequested.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHwfPartPaymentRequired.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHwfRefused.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueApplication.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPaymentMade.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerReissueApplication.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadDocumentsAndSubmit.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SetDateSubmitted.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RequestForInformation.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RequestForInformationList.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RequestForInformationResponse.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RequestForInformationResponseParties.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorRespondRequestForInformation.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorRespondRequestForInformationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3996

#4007 NFDIV-4197: Refactor code, use new Welsh templates
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationOutstandingActionNotification.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationOutstandingActionNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, aat/no-changes, prod/no-changes, rel:nfdiv-case-api-pr-4007

#4015 NFDIV-3992 Update template for applicant can apply for conditional order
  src/main/java/uk/gov/hmcts/divorce/notification/CommonContent.java
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4015

#4030 NFDIV-4354 Reorder documents tab
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4030

#4022 [NFDIV-4256] Set sol address from org policy in caseworker NoC
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerNoticeOfChange.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/NoticeOfChangeService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Solicitor.java
  src/main/java/uk/gov/hmcts/divorce/noticeofchange/service/ChangeOfRepresentativeService.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/NoticeOfChangeServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/SolicitorTest.java
Labels: ns:nfdiv, prd:nfdiv, aat/no-changes, prod/no-changes, rel:nfdiv-case-api-pr-4022
