Repository hmcts/nfdiv-case-api, pull requests merged in 2024-11, with the labels that each got.

#4047 NFDIV-4341 Update D36 form
  src/main/resources/D36.pdf
Labels: ns:nfdiv, prd:nfdiv, stale, enable_keep_helm, rel:nfdiv-case-api-pr-4047

#4084 NFDIV-4394 - Update notification to new sol when NOC is run
  src/main/java/uk/gov/hmcts/divorce/notification/CommonContent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/notification/CommonContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4084

#4133 [NFDIV-4483] Update state report cron to accept a list of email addresses
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/notification/StateReportNotification.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/notification/StateReportNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4133

#4097 NFDIV-3343: Remove event from Archive state
  src/main/java/uk/gov/hmcts/divorce/common/event/InviteApplicant2.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4097

#4112 NFDIV-4369: Add new template with NFD smart survey link
  src/functionalTest/resources/application.yaml
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerGeneralEmailIT.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSentForReviewNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/CommonContent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/notification/CommonContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4112

#4048 NFDIV-4330: Update status of payment for in progress payments
  src/main/java/uk/gov/hmcts/divorce/common/service/task/UpdateSuccessfulPaymentStatus.java
  src/main/java/uk/gov/hmcts/divorce/payment/PaymentStatusService.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemFindCasesWithSuccessfulPaymentsTask.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/UpdateSuccessfulPaymentStatusTest.java
  src/test/java/uk/gov/hmcts/divorce/payment/PaymentStatusServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemFindCasesWithSuccessfulPaymentsTaskTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4048

#4135 NFDIV-4371: Add new notifications with web form
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4135

#4086 NFDIV-4357 dont shift case nor send notifications if final order granted
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemPronounceCase.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemPronounceCaseTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4086

#4139 NFDIV-4372: Update notification template with web form
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4139

#4128 NFDIV-4370: Update notification templates
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4128

#4153 NFDIV-4512 expanding find matches query to match on spaces
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerFindMatches.java
Labels: ns:nfdiv, prd:nfdiv, enable_keep_helm, rel:nfdiv-case-api-pr-4153

#4083 NFDIV-4434
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RequestForInformation.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RequestForInformationAuthParty.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RequestForInformationList.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/Applicant1SolicitorRespondRequestForInformation.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/Applicant2SolicitorRespondRequestForInformation.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/Applicant1SolicitorRespondRequestForInformationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/Applicant2SolicitorRespondRequestForInformationTest.java
Labels: ns:nfdiv, prd:nfdiv, aat/no-changes, prod/no-changes, rel:nfdiv-case-api-pr-4083

#4104 NFDIV-4412 CW workflow - Applicant responds – cannot upload docs (Sole/Joint)
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerified.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRequestForInformationResponse.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/CitizenRequestForInformationResponseNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/CitizenRequestForInformationResponsePartnerNotification.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseDocuments.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RequestForInformationList.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RequestForInformationOfflineResponseDraft.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RequestForInformationOfflineResponseJointParties.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RequestForInformationOfflineResponseSoleParties.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RequestForInformationResponse.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RequestForInformationResponseDraft.java
  src/main/java/uk/gov/hmcts/divorce/document/model/DocumentType.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerifiedTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRequestForInformationResponseTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/CitizenRequestForInformationResponseNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/CitizenRequestForInformationResponsePartnerNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, aat/no-changes, prod/no-changes, rel:nfdiv-case-api-pr-4104

#4131 NFDIV-4401 Remove document also from general applications
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRemoveDocument.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRemoveDocumentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4131

#4136 [NFDIV-4491] Give caseworkers delete permissions for service payment fee
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/AlternativeService.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4136

#4085 NFDIV-4432 Block Request for Information for offline parties
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRequestForInformation.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Solicitor.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRequestForInformationTest.java
Labels: ns:nfdiv, prd:nfdiv, aat/no-changes, prod/no-changes, rel:nfdiv-case-api-pr-4085

#4159 NFDIV-4521 - Check for presence of document type
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRemoveDocument.java
  src/main/java/uk/gov/hmcts/divorce/common/ccd/HighLevelDataSetupApp.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRemoveDocumentTest.java
Labels: ns:nfdiv, prd:nfdiv, enable_keep_helm, rel:nfdiv-case-api-pr-4159

#4034 NFDIV-4177: Pre request for information feature branch
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationOutstandingActionNotification.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationOutstandingActionNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, aat/no-changes, prod/no-changes, rel:nfdiv-case-api-pr-4034

#4148 [NFDIV-4466] Replace D84 and D10
  src/main/resources/D10.pdf
  src/main/resources/D84.pdf
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4148

#4138 NFDIV-4471 Add docmosis references for grant of representation
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4138

#4145 NFDIV-4374: Add new template and opening times var
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerGeneralEmailIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/AppliedForConditionalOrderNotificationIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/notification/GeneralEmailNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/Applicant1ResubmitNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2ApprovedNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2RequestChangesNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSentForReviewNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSubmittedNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/DisputedApplicationAnswerReceivedNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/RespondentSolicitorReminderNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/Applicant1AppliedForConditionalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/AppliedForConditionalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/ApplicationIssuedNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/AwaitingConditionalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/AwaitingFinalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/FinalOrderRequestedNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/RespondentApplyForFinalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/SoleApplicationDisputedNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/SoleApplicationNotDisputedNotification.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisTemplateConstants.java
  src/main/java/uk/gov/hmcts/divorce/notification/CommonContent.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/notification/SolicitorAppliedForConditionalOrderNotification.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant1ResubmitNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/Applicant2RequestChangesNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSubmittedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/DisputedApplicationAnswerReceivedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/RespondentSolicitorReminderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/Applicant1AppliedForConditionalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/conditionalorder/Applicant2AppliedForConditionalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/ApplicationIssuedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/AwaitingConditionalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/AwaitingFinalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/FinalOrderRequestedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/RespondentApplyForFinalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/SoleApplicationDisputedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/SoleApplicationNotDisputedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/notification/CommonContentTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/notification/SolicitorAppliedForConditionalOrderNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4145

#4158 NFDIV-4514 Block Request for Information for Post Issue
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerified.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRequestForInformation.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRequestForInformationResponse.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Solicitor.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerifiedTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRequestForInformationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4158

#4031 NFDIV-4246 Applicant responds - Happy Path (Sole/Joint) BACKEND
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenSaveAndCloseIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAddBailiffReturn.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAlternativeServiceApplication.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerApplicantResponded.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerChangeServiceRequest.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHWFPartPaymentMade.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHwfApplicationAccepted.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHwfEvidenceRequested.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHwfPartPaymentRequired.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHwfRefused.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerified.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPaymentMade.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerReissueApplication.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRequestForInformation.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRequestForInformationResponse.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadDocumentsAndSubmit.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant2UpdateApplication.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenRespondToRequestForInformation.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSaveAndClose.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenUpdateApplication.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/CitizenRequestForInformationResponseNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/CitizenRequestForInformationResponsePartnerNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/SaveAndSignOutNotificationHandler.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SetDateSubmitted.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseDocuments.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RequestForInformation.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RequestForInformationAuthParty.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RequestForInformationList.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RequestForInformationOfflineResponseDraft.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RequestForInformationOfflineResponseJointParties.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RequestForInformationOfflineResponseSoleParties.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RequestForInformationResponse.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RequestForInformationResponseDraft.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/document/model/DocumentType.java
  src/main/java/uk/gov/hmcts/divorce/notification/CommonContent.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/java/uk/gov/hmcts/divorce/notification/NotificationDispatcher.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/Applicant1SolicitorRespondRequestForInformation.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/Applicant2SolicitorRespondRequestForInformation.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorRespondRequestForInformation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerifiedTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRequestForInformationResponseTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRequestForInformationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenRespondToRequestForInformationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSaveAndCloseTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/CitizenRequestForInformationResponseNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/CitizenRequestForInformationResponsePartnerNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/SaveAndSignOutNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/divorce/notification/NotificationDispatcherTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/Applicant1SolicitorRespondRequestForInformationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/Applicant2SolicitorRespondRequestForInformationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorRespondRequestForInformationTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, enable_keep_helm, aat/no-changes, prod/no-changes, rel:nfdiv-case-api-pr-4031

#4156 NFDIV-4388: Update notification templates
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4156

#4166 NFDIV-4373: Add new template with NFD smart survey link
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4166

#4169 NFDIV-4531: Fix Welsh save sign out, Add webform
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4169

#4164 NFDIV-4512 new
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerFindMatches.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerFindMatchesTest.java
Labels: ns:nfdiv, prd:nfdiv, enable_keep_helm, rel:nfdiv-case-api-pr-4164

#4080 NFDIV-4416
  Jenkinsfile_CNP
  build.gradle
  charts/nfdiv-case-api/Chart.yaml
  charts/nfdiv-case-api/values.preview.template.yaml
  charts/nfdiv-case-api/values.yaml
  gradle/wrapper/gradle-wrapper.jar
  gradlew
  gradlew.bat
  resources/ccd-OLD-DIVORCE.xlsx
  src/cftlib/java/uk/gov/hmcts/divorce/cftlib/CftLibConfig.java
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/CaseApiApplication.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerFindMatches.java
  src/main/java/uk/gov/hmcts/divorce/common/ccd/HighLevelDataSetupApp.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseDataOldDivorce.java
  src/main/java/uk/gov/hmcts/divorce/idam/IdamService.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerFindMatchesTest.java
  src/test/java/uk/gov/hmcts/divorce/idam/IdamServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, enable_keep_helm, rel:nfdiv-case-api-pr-4080

#4189 Revert "NFDIV-4416"
  Jenkinsfile_CNP
  build.gradle
  charts/nfdiv-case-api/Chart.yaml
  charts/nfdiv-case-api/values.preview.template.yaml
  charts/nfdiv-case-api/values.yaml
  gradle/wrapper/gradle-wrapper.jar
  gradlew
  gradlew.bat
  resources/ccd-OLD-DIVORCE.xlsx
  src/cftlib/java/uk/gov/hmcts/divorce/cftlib/CftLibConfig.java
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/CaseApiApplication.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerFindMatches.java
  src/main/java/uk/gov/hmcts/divorce/common/ccd/HighLevelDataSetupApp.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseDataOldDivorce.java
  src/main/java/uk/gov/hmcts/divorce/idam/IdamService.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerFindMatchesTest.java
  src/test/java/uk/gov/hmcts/divorce/idam/IdamServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4189

#4081 NFDIV-4338 Add additional questions to solicitor confirm service to get information of previous service attempts
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/SolicitorService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/ApplicationTab.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorConfirmService.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorConfirmServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, enable_keep_helm, rel:nfdiv-case-api-pr-4081

#4186 [NFDIV-4532] Only allow Common Component NoC post issue
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/main/java/uk/gov/hmcts/divorce/noticeofchange/event/SystemApplyNoticeOfChange.java
  src/main/java/uk/gov/hmcts/divorce/noticeofchange/event/SystemRequestNoticeOfChange.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4186

#4195 NFDIV-4549 Update CaseworkerGeneralEmail event to handle legacy incomplete generalEmails
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/GeneralEmail.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4195

#4187 NFDIV-4547 Failed SystemApplyNoticeOfChange leaves caseData invalid - Add superuser event
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRemoveFailedSolNoticeOfChange.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRemoveFailedSolNoticeOfChangeTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4187
