Repository hmcts/nfdiv-case-api, pull requests merged in 2024-07, with the labels that each got.

#3816 NFDIV 4000 Remove General Order event to caseworker super user
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRemoveGeneralOrder.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRemoveGeneralOrderTest.java
Labels: ns:nfdiv, prd:nfdiv, aat/no-changes, prod/no-changes, rel:nfdiv-case-api-pr-3816

#3814 [NFDIV-4087] Introduce validation to block NoC for some cases
  src/integrationTest/java/uk/gov/hmcts/divorce/noticeofchange/event/SystemApplyNoticeOfChangeIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/noticeofchange/event/SystemRequestNoticeOfChangeIT.java
  src/main/java/uk/gov/hmcts/divorce/noticeofchange/event/SystemRequestNoticeOfChange.java
  src/test/java/uk/gov/hmcts/divorce/noticeofchange/event/SystemRequestNoticeOfChangeTest.java
Labels: ns:nfdiv, prd:nfdiv, aat/no-changes, prod/no-changes, rel:nfdiv-case-api-pr-3814

#3772 [NFDIV-4079] Set default org policies on case submission
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerNoticeOfChange.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerProgressPaperCase.java
  src/main/java/uk/gov/hmcts/divorce/common/service/SubmissionService.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SetDefaultOrganisationPolicies.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Solicitor.java
  src/main/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderPronouncedTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/task/ConditionalOrderPronouncedCoverLetterHelper.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerNoticeOfChangeTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerProgressPaperCaseTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/SubmissionServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SetDefaultOrganisationPoliciesTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/SolicitorTest.java
Labels: ns:nfdiv, prd:nfdiv, aat/no-changes, prod/no-changes, rel:nfdiv-case-api-pr-3772

#3789 [NFDIV-4088] Stop caseworker NoC blanking out organisation policy fields
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerNoticeOfChange.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerNoticeOfChangeTest.java
Labels: ns:nfdiv, prd:nfdiv, aat/no-changes, prod/no-changes, rel:nfdiv-case-api-pr-3789

#3836 [NFDIV-4139] Stop confidential address check when getting address for CO pronounced template variables
  src/main/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderPronouncedTemplateContent.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3836

#3842 Update readme file
  README.md
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3842

#3832 NFDIV-4022-newdiff reset from NFDIV-4020 so no changes from nfdiv-3945
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerNoticeOfChange.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/NoticeType.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/NocCitizenToSolsNotifications.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/notification/ApplicantNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/CommonContent.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/java/uk/gov/hmcts/divorce/notification/NotificationDispatcher.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerNoticeOfChangeTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/NocCitizenToSolsNotificationsTest.java
  src/test/java/uk/gov/hmcts/divorce/notification/CommonContentTest.java
  src/test/java/uk/gov/hmcts/divorce/notification/NotificationDispatcherTest.java
Labels: ns:nfdiv, prd:nfdiv, aat/no-changes, prod/no-changes, rel:nfdiv-case-api-pr-3832

#3827 NFDIV-4002 Send service application accept/refused notification to Sol when applicant represented
  src/integrationTest/java/uk/gov/hmcts/divorce/legaladvisor/LegalAdvisorMakeServiceDecisionIT.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/ServiceApplicationNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/common/notification/ServiceApplicationNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3827

#3841 [NFDIV-4080] Add event for CCD case migration
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemMigrateOrgPolicies.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemMigrateOrgPoliciesTest.java
Labels: ns:nfdiv, prd:nfdiv, enable_keep_helm, rel:nfdiv-case-api-pr-3841

#3844 Nfdiv 3988 urgent flag general application
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateGeneralApplication.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/GeneralApplication.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/search/CaseFieldsConstants.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/search/SearchInputFields.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorGeneralApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/GeneralApplicationSelectApplicationType.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateGeneralApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorGeneralApplicationTest.java
Labels: ns:nfdiv, prd:nfdiv, aat/no-changes, prod/no-changes, rel:nfdiv-case-api-pr-3844

#3840 NFDIV-4097 Amend Application Type Event
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAmendApplicationType.java
  src/main/java/uk/gov/hmcts/divorce/common/event/RegenerateNoticeOfProceedings.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAmendApplicationTypeTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/RegenerateNoticeOfProceedingsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3840

#3855 NFDIV-4146 INC5627943 - limit citizen event visibility in EXUI
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAlternativeServicePayment.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant1ConfirmReceipt.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant2ConfirmReceipt.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant2NotBroken.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenApplicant2UpdateApplication.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenCreateApplication.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenIntendToSwitchToSoleFO.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenResendInvite.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSwitchedToSole.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenUpdateApplication.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3855

#3826 [NFDIV-4131] Create events to let solicitors view both applicants contact details
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/Applicant1SolicitorViewApplicant1ContactDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/Applicant1SolicitorViewApplicant2ContactDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/Applicant2SolicitorViewApplicant1ContactDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/Applicant2SolicitorViewApplicant2ContactDetails.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/Applicant1SolicitorViewApplicant1ContactDetailsTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/Applicant1SolicitorViewApplicant2ContactDetailsTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/Applicant2SolicitorViewApplicant1ContactDetailsTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/Applicant2SolicitorViewApplicant2ContactDetailsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3826

#3860 NFDIV-4168 check for not empty on old sols emails
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/NocCitizenToSolsNotifications.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3860

#3837 Update error returned for various HttpStatus codes
  src/main/java/uk/gov/hmcts/divorce/payment/PaymentService.java
  src/test/java/uk/gov/hmcts/divorce/payment/PaymentServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3837

#3871 NFDIV-4181 Improve NOC logging to include Case Id and appropriate Applicant
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerNoticeOfChange.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3871

#3873 NFDIV-4182 ServiceApplicationNotification.sentToApplicant1Solicitor pulls null date
  src/main/java/uk/gov/hmcts/divorce/common/notification/ServiceApplicationNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/CommonContent.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/ServiceApplicationNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3873

#3828 NFDIV-4118: Add notification when represented party is offline for solicitor NoC
  README.md
  build.gradle
  ccd-definitions/AuthorisationComplexType.json
  ccd-definitions/ChallengeQuestion.json
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/NocCitizenToSolsNotifications.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisTemplateConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/LitigantGrantOfRepresentationConfirmationTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/model/DocumentType.java
  src/main/java/uk/gov/hmcts/divorce/noticeofchange/event/SystemApplyNoticeOfChange.java
  src/main/java/uk/gov/hmcts/divorce/notification/NotificationDispatcher.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/NocCitizenToSolsNotificationsTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/LitigantGrantOfRepresentationConfirmationTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/noticeofchange/ChangeOfRepresentativeServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/noticeofchange/event/SystemApplyNoticeOfChangeTest.java
  src/test/java/uk/gov/hmcts/divorce/noticeofchange/event/SystemRequestNoticeOfChangeTest.java
  src/test/java/uk/gov/hmcts/divorce/notification/NotificationDispatcherTest.java
Labels: ns:nfdiv, prd:nfdiv, enable_keep_helm, aat/no-changes, prod/no-changes, rel:nfdiv-case-api-pr-3828

#3872 NFDIV-3998: Add a new event for caseworker
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAddAdminClarification.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/ConditionalOrderReviewCaseworker.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeDecision.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorReview.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/ConditionalOrderReviewCaseworkerTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3872

#3866 NFDIV-3869: Add functionality to add cases in bulk list
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerScheduleCase.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemLinkWithBulkCase.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerScheduleCaseTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3866

#3869 NFDIV-4148: Refactor code to set correct state for help with fees
  src/functionalTest/resources/responses/response-joint-application-help-with-fees-awaiting-documents.json
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SetStateAfterSubmission.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SetStateAfterSubmissionTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3869

#3867 [NFDIV-4006] Change submission button text for solicitors when they submit applications
  src/main/java/uk/gov/hmcts/divorce/common/event/Applicant2SolicitorApplyForFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/ApplyForFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitAos.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SubmitJointConditionalOrder.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorGeneralApplication.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3867

#3882 NFDIV-4190: Grant create permission to caseworker and superuser
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/BulkCaseListAccess.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/access/BulkCaseListAccessTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3882

#3880 NFDIV-4144 General Referral - New Fraud Case and Fraud Reason fields
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralReferral.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/GeneralReferral.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3880

#3835 [NFDIV-4107] Set custom case data fields during NoC
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerNoticeOfChange.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ConditionalOrderQuestions.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Solicitor.java
  src/main/java/uk/gov/hmcts/divorce/noticeofchange/event/SystemApplyNoticeOfChange.java
  src/main/java/uk/gov/hmcts/divorce/noticeofchange/service/ChangeOfRepresentativeService.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerNoticeOfChangeTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/SolicitorTest.java
  src/test/java/uk/gov/hmcts/divorce/noticeofchange/ChangeOfRepresentativeServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/noticeofchange/event/SystemApplyNoticeOfChangeTest.java
Labels: ns:nfdiv, prd:nfdiv, enable_keep_helm, aat/no-changes, prod/no-changes, rel:nfdiv-case-api-pr-3835

#3884 NFDIV-4183. Add a label to create general email event
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralEmail.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralEmailTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3884

#3888 [NFDIV-4192] Set OrgPolicyCaseAssignedRole for test cases
  src/main/resources/data/joint.json
  src/main/resources/data/sole.json
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3888

#3875 [NFDIV-3973] Stop removal of sol details in update contact details event
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/UpdateContactDetails.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/page/UpdateContactDetailsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3875

#3868 NFDIV-4142 INC5627697 - Back Fix: Address missing from CO cover letter
  src/main/java/uk/gov/hmcts/divorce/common/notification/RegenerateConditionalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRegenerateCoPronouncedCoverLetterOfflineConfidential.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/conditionalorder/SystemRegenerateCoPronouncedCoverLetterOfflineConfidentialTask.java
  src/main/resources/relevant_ids_changes.txt
  src/test/java/uk/gov/hmcts/divorce/common/notification/RegenerateConditionalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRegenerateCoPronouncedCoverLetterOfflineConfidentialTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/conditionalorder/SystemRegenerateCoPronouncedCoverLetterOfflineConfidentialTaskTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3868

#3891 [NFDIV-4186] Set default org policies in HWF events
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHWFPartPaymentMade.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHwfApplicationAccepted.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHwfApplicationAndPaymentHelper.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPaymentMade.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHWFPartPaymentMadeTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHwfApplicationAcceptedTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHwfApplicationAndPaymentHelperTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPaymentMadeTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3891

#3895 NFDIV-4212 Improve BulkPrintService call logging to include International
  src/main/java/uk/gov/hmcts/divorce/document/print/BulkPrintService.java
  src/test/java/uk/gov/hmcts/divorce/document/print/BulkPrintServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3895

#3883 [NFDIV-4188] Stop blank org policies from being visible in EXUI
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/ApplicationTab.java
Labels: ns:nfdiv, prd:nfdiv, enable_keep_helm, rel:nfdiv-case-api-pr-3883

#3887 NFDIV-4141 extra fields for Alternative Service
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAlternativeServiceApplication.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/AlternativeService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAlternativeServiceApplicationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3887

#3893 NFDIV-4195: Add missing template vars
  src/main/java/uk/gov/hmcts/divorce/document/content/templatecontent/FinalOrderCanApplyTemplateContent.java
  src/test/java/uk/gov/hmcts/divorce/document/content/templatecontent/FinalOrderCanApplyTemplateContentTest.java
Labels: ns:nfdiv, prd:nfdiv, aat/no-changes, prod/no-changes, rel:nfdiv-case-api-pr-3893

#3876 NFDIV-4019: Add new event for alternative service
  src/functionalTest/resources/responses/response-la-make-service-decision-dispensed-with-refused.json
  src/integrationTest/java/uk/gov/hmcts/divorce/legaladvisor/LegalAdvisorMakeServiceDecisionIT.java
  src/integrationTest/resources/legal-advisor-service-decision-deemed-not-granted-response.json
  src/integrationTest/resources/legal-advisor-service-decision-dispensed-not-granted-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerConfirmServiceRefusal.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeServiceDecision.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerConfirmServiceRefusalTest.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeServiceDecisionTest.java
Labels: ns:nfdiv, prd:nfdiv, enable_keep_helm, rel:nfdiv-case-api-pr-3876

#3902 [NFDIV-4221] Set solicitor firm address during common component NoC
  src/integrationTest/java/uk/gov/hmcts/divorce/noticeofchange/event/SystemApplyNoticeOfChangeIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/testutil/ManageCaseAssignmentWireMock.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Solicitor.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/util/SolicitorAddressPopulator.java
  src/main/java/uk/gov/hmcts/divorce/noticeofchange/service/ChangeOfRepresentativeService.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitJointApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/task/SetApplicant1SolicitorAddress.java
  src/test/java/uk/gov/hmcts/divorce/noticeofchange/ChangeOfRepresentativeServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, aat/no-changes, prod/no-changes, rel:nfdiv-case-api-pr-3902

#3894 NFDIV-4043 Update language preference
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateLanguagePreference.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateLanguagePreferenceTest.java
Labels: ns:nfdiv, prd:nfdiv, enable_keep_helm, rel:nfdiv-case-api-pr-3894

#3896 [NFDIV-4150] Open up HWF events to more states
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHWFPartPaymentMade.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHwfApplicationAccepted.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHwfEvidenceRequested.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHwfPartPaymentRequired.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHwfRefused.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPaymentMade.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3896

#3898 NFDIV-4160 Add a new tab for General Application
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, enable_keep_helm, rel:nfdiv-case-api-pr-3898

#3878 NFDIV-3990 General Application hearing
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerListForHearing.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPendingHearingDate.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Hearing.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/HearingAttendance.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerListForHearingTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPendingHearingDateTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3878

#3911 NFDIV-4142 Update CaseIds for Production
  src/main/resources/relevant_ids_changes.txt
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3911

#3907 NFDIV-4193: Fix issue with online Aos
  src/main/java/uk/gov/hmcts/divorce/common/service/task/GenerateAndLinkRespondentAnswers.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/GenerateAndLinkRespondentAnswersTest.java
Labels: ns:nfdiv, prd:nfdiv, aat/no-changes, prod/no-changes, rel:nfdiv-case-api-pr-3907

#3915 NFDIV-4193: Check if aos is drafted and equal to yes
  src/main/java/uk/gov/hmcts/divorce/common/service/task/GenerateAndLinkRespondentAnswers.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/GenerateAndLinkRespondentAnswersTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3915
