Repository hmcts/nfdiv-case-api, pull requests merged in 2024-02, with the labels that each got.

#3560 Update to latest to fix issue with booting cft lib
  build.gradle
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3560

#3522 NFDIV-3864 - Stop caseworkers from using the re-issue event if case hasnt been issued
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerReissueApplication.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerReissueApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3522

#3557 NFDIV-3881 - Allow to unlink from case when archived
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemCancelCaseInvite.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3557

#3561 NFDIV-3883 - Remove InBulkActionCase State
  src/main/java/uk/gov/hmcts/divorce/bulkaction/task/PronounceCasesTask.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/task/RetryPronounceCasesTask.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemPronounceCase.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemUpdateCaseWithCourtHearing.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemUpdateCaseWithPronouncementJudge.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/task/PronounceCasesTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/task/RetryPronounceCasesTaskTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3561

#3565 NFDIV-3877 - Split confidential check for NOP
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-issue-sole-citizen-application-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-issue-sole-citizen-application-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/resources/caseworker-issue-joint-application-app2-contact-private-about-to-submit-response.json
  src/main/java/uk/gov/hmcts/divorce/document/DocumentUtil.java
  src/main/java/uk/gov/hmcts/divorce/document/model/DocumentType.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/ProcessConfidentialDocumentsServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/document/DocumentUtilTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3565

#3474 Revert "Revert "NFDIV-2674""
  src/main/java/uk/gov/hmcts/divorce/common/notification/RespondentApplyForFinalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/common/notification/RespondentApplyForFinalOrderNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3474

#3572 add back as it's breaking stuff
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3572

#3573 Stop case being able to be moved into InBulkActionCase...
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerified.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerifiedTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3573

#3577 A case is failing to cancel invite as it's in state of AwaitingService
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemCancelCaseInvite.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3577

#3589 NFDIV-3874 Adding AwaitingClarification and AwaitingAmendedApplicatio…
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3589

#3584 [NFDIV-3832] Update service order template reference
  src/integrationTest/java/uk/gov/hmcts/divorce/legaladvisor/LegalAdvisorMakeServiceDecisionIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/document/content/ServiceOrderTemplateContent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/document/content/ServiceOrderTemplateContentTest.java
Labels: ns:nfdiv, prd:nfdiv, no-changes, rel:nfdiv-case-api-pr-3584
