Repository hmcts/nfdiv-case-api, pull requests merged in 2024-01, with the labels that each got.

#3426 NFDiv-3792 Conditional Order Overdue Pack
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderReminderTemplateContentIT.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/AwaitingConditionalOrderReminderNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/GenerateFormHelper.java
  src/main/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderReminderTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/print/documentpack/AwaitingConditionalOrderReminderNotificationDocumentPack.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemindApplicantsApplyForCOrder.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemUpdateNFDCase.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/conditionalorder/SystemRemindApplicantsApplyForCOrderTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/print/ConditionalOrderReminderPrinter.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateConditionalOrderReminderDocument.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/AwaitingConditionalOrderReminderNotificationDocumentPackTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/AwaitingConditionalOrderReminderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/GenerateFormHelperTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/templatecontent/ConditionalOrderReminderTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemindApplicantsApplyForCOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/conditionalorder/SystemRemindApplicantsApplyForCOrderTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/print/ConditionalOrderReminderPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateConditionalOrderReminderDocumentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3426

#3497 NFDIV - Fix broken switch to sole for offline cases
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerified.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerOfflineDocumentVerifiedTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3497

#3498 NFDIV - Hide letter pack tab
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3498

#3496 NFDIV-3847: Add statement of truth to the list of reset fields
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/ResetAosFields.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/ResetAosFieldsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3496

#3483 Stop Confidential general letters and general emails appearing in the correspondence tab
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralEmail.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateGeneralLetter.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentUtil.java
  src/main/java/uk/gov/hmcts/divorce/document/model/DocumentType.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralEmailTest.java
  src/test/java/uk/gov/hmcts/divorce/document/DocumentUtilTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3483

#3482 NFDIV-3784 - Move General Letter to use new Document Pack
  src/functionalTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerCreateGeneralLetterFT.java
  src/functionalTest/resources/responses/response-caseworker-general-letter-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerCreateGeneralLetterIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralEmail.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralLetter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/GeneralLetterDocumentPack.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/GeneralLetterPrinter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateGeneralLetter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SendGeneralLetter.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentGenerator.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentUtil.java
  src/main/java/uk/gov/hmcts/divorce/document/model/DocumentType.java
  src/main/java/uk/gov/hmcts/divorce/document/print/LetterPrinter.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralEmailTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralLetterTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/GeneralLetterDocumentPackTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/GeneralLetterPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/SendGeneralLetterTest.java
  src/test/java/uk/gov/hmcts/divorce/document/DocumentUtilTest.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/service/printer/LetterPrinterTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3482

#3512 Fix confidential approach to general letters
  src/main/java/uk/gov/hmcts/divorce/document/DocumentUtil.java
  src/main/java/uk/gov/hmcts/divorce/document/model/DocumentType.java
  src/test/java/uk/gov/hmcts/divorce/document/DocumentUtilTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3512

#3508 NFDIV-3853 - Move scanned documents to confidential tab if any applicant is confidential
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3508

#3400 NFDIV-3824 - Lock down cases in bulk list flow
  src/main/java/uk/gov/hmcts/divorce/bulkaction/task/PronounceCasesTask.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/task/RetryPronounceCasesTask.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/GenerateAndLinkRespondentAnswers.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemLinkWithBulkCase.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemPronounceCase.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemoveBulkCase.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemUpdateCaseWithCourtHearing.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemUpdateCaseWithPronouncementJudge.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/task/PronounceCasesTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/task/RetryPronounceCasesTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemoveBulkCaseTest.java
Labels: ns:nfdiv, prd:nfdiv, enable_keep_helm, rel:nfdiv-case-api-pr-3400

#3534 NFDIV-3836: Update docmosis template reference
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerRegenerateCourtOrdersIT.java
  src/integrationTest/resources/application.yaml
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3534

#3539 NFDIV-3824 - Revert to use AwaitingPronouncement
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemLinkWithBulkCase.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3539
