Repository hmcts/nfdiv-case-api, pull requests merged in 2024-08, with the labels that each got.

#3914 [NFDIV-4165] Block solicitor change service request unless issueDate is set
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorChangeServiceRequest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorChangeServiceRequestTest.java
Labels: ns:nfdiv, prd:nfdiv, enable_keep_helm, rel:nfdiv-case-api-pr-3914

#3908 [NFDIV-4220] Add events for sols to update their own contact details
  src/functionalTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorMidEventCallbackFT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/Applicant1SolicitorUpdateContactDetailsIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/Applicant2SolicitorUpdateContactDetailsIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorUpdateContactDetailsIT.java
  src/integrationTest/resources/app1-solicitor-update-contact-details-about-to-submit-response.json
  src/integrationTest/resources/solicitor-update-contact-details-mid-event-error-response.json
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/Applicant1SolicitorUpdateContactDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/Applicant2SolicitorUpdateContactDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateApplicant2ContactDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateContactDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutTheSolicitor.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolUpdateContactDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorCreateApplicationService.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/Applicant1SolicitorUpdateContactDetailsTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/Applicant2SolicitorUpdateContactDetailsTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateApplicationContactDetailsTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateContactDetailsTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorCreateApplicationApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestConstants.java
Labels: ns:nfdiv, prd:nfdiv, aat/no-changes, prod/no-changes, rel:nfdiv-case-api-pr-3908

#3916 NFDIV-4164 FO granted has no CO date on it
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerExpediteFinalOrderIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerGrantFinalOrderIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerExpediteFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGrantFinalOrder.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerExpediteFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGrantFinalOrderTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3916

#3903 NFDIV-3774 INC5556739: Certificate of entitlement cover letter is addressed to resp sol as though they are the respondent
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemUpdateCaseWithCourtHearingIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/templatecontent/CertificateOfEntitlementTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/print/documentpack/CertificateOfEntitlementDocumentPack.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/document/content/templatecontent/CertificateOfEntitlementTemplateContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3903

#3897 NFDIV-4215
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/print/documentpack/AosResponseDocumentPack.java
  src/test/java/uk/gov/hmcts/divorce/document/print/documentpack/AosResponseDocumentPackTest.java
Labels: ns:nfdiv, prd:nfdiv, aat/no-changes, prod/no-changes, rel:nfdiv-case-api-pr-3897

#3928 NFDIV-4257: Add caseworker access on field
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3928

#3931 NFDIV-4258 Add partner information for correct parter
  src/main/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderPronouncedTemplateContent.java
  src/test/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderPronouncedTemplateContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3931

#3924 NFDIV-4044 Update label value for General Referral Type.
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/GeneralReferralType.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3924

#3921 [NFDIV-4187] Update PronounceCases postStates to include successful JS state
  src/main/java/uk/gov/hmcts/divorce/bulkaction/task/PronounceCasesTask.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/task/PronounceCasesTaskTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3921

#3930 [NFDIV-4259] Hide change of representatives tab unless NoC fields are set
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3930

#3923 NFDIV-3996 Update NOP template references in application.yaml
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3923

#3919 NFDIV-4045 Add application type and details field in response to service app
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerResponseToServiceApplication.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/CaseworkerResponseToServiceApplicationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3919

#3933 NFDIV-4253: Remove AoS respondent answers for offline aos
  src/main/java/uk/gov/hmcts/divorce/common/service/SubmitAosService.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/GenerateAndLinkRespondentAnswers.java
  src/test/java/uk/gov/hmcts/divorce/common/service/SubmitAosServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/GenerateAndLinkRespondentAnswersTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3933

#3940 NFDIV-4226 Update caseworker general application received event
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralApplicationReceived.java
  src/main/java/uk/gov/hmcts/divorce/common/event/page/GeneralApplicationSelectApplicationType.java
  src/main/java/uk/gov/hmcts/divorce/common/event/page/GeneralApplicationUploadDocument.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/GeneralApplicationType.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorGeneralApplication.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralApplicationReceivedTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/page/GeneralApplicationUploadDocumentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3940

#3935 NFDIV-4237 Cron to resend AosResponseDocumentPack for affected cases
  src/main/java/uk/gov/hmcts/divorce/common/notification/ResendJudicialSeparationCitizenAosResponseNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/ResendJSCitizenAOSResponseLetters.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRegenerateJsCitizenAosResponseCoverLetter.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRegenerateJsCitizenAosResponseLetterTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/TaskHelper.java
  src/main/resources/NFDIV-4237.csv
  src/test/java/uk/gov/hmcts/divorce/common/notification/ResendJudicialSeparationCitizenAosResponseNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/ResendJSCitizenAOSResponseLettersTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRegenerateJsCitizenAosResponseCoverLetterTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemRegenerateJsCitizenAosResponseLetterTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/TaskHelperTest.java
  src/test/resources/TaskHelperTest.csv
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3935

#3946 NFDIV-4228 INC5634075 - Issue with update FR and Jurisdiction event
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateFinRemAndJurisdiction.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateFinRemAndJurisdictionJoint.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateFinRemAndJurisdictionJointTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateFinRemAndJurisdictionTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3946

#3925 NFDIV-3897: Update templates with new logo
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3925

#3950 Specify user in dockerfile
  Dockerfile
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3950

#3952 [NFDIV-4280] Get integration test login details from env variable
  src/integrationTest/java/uk/gov/hmcts/divorce/testutil/IdamWireMock.java
  src/integrationTest/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3952

#3929 Introduce Fortify for backend
  Jenkinsfile_nightly
  build.gradle
  fortify.client-properties
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3929

#3951 [NFDIV-4255] New event to reset conditional order drafted and submitted flags
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerResetConditionalOrderFlags.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/ResetConditionalOrderFlags.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerResetConditionalOrderFlagsTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/ResetConditionalOrderFlagsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3951

#3953 [NFDIV-4281] Add read permissions for old general application received event name
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralApplicationReceivedDummyOldEventName.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralApplicationReceivedDummyOldEventNameTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3953

#3936 [NFDIV-4269] Avoid attempting NoC notification to old sol if applicant was not represented before
  src/main/java/uk/gov/hmcts/divorce/notification/NotificationDispatcher.java
  src/test/java/uk/gov/hmcts/divorce/notification/NotificationDispatcherTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3936

#3956 [NFDIV-4282] Only move joint case to HWF state during submission if both applicants need HWF
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SetStateAfterSubmission.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SetStateAfterSubmissionTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3956

#3939 NFDIV-4225 Add new question to online AoS
  src/main/java/uk/gov/hmcts/divorce/common/event/DraftAos.java
  src/main/java/uk/gov/hmcts/divorce/common/event/page/Applicant2SolAosAskCourtToDelay.java
  src/main/java/uk/gov/hmcts/divorce/common/event/page/Applicant2SolStatementOfTruth.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/AcknowledgementOfService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, enable_keep_helm, rel:nfdiv-case-api-pr-3939

#3945 NFDIV-4213: Reorder filter fields
  src/main/java/uk/gov/hmcts/divorce/divorcecase/search/SearchInputFields.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3945

#3960 NFDIV-4279 Add states for which CW response to service application is available
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerResponseToServiceApplication.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3960

#3965 [NFDIV-4291] Change fortify client properties location
  config/fortify-client.properties
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3965

#3966 [NFDIV-4291] Use correct product and component names in nightly CI
  .github/renovate.json
  Jenkinsfile_nightly
  build.gradle
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3966

#3969 [NFDIV-4291] Add Fortify Version Classifier
  build.gradle
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3969

#3962 NFDIV-4266 Update general email into two stage process for attachments
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerGeneralEmailIT.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralEmail.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPrepareGeneralEmailAttachments.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/notification/GeneralEmailNotification.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/GeneralEmail.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/GeneralEmailDetails.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralEmailTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPrepareGeneralEmailAttachmentsTest.java
Labels: ns:nfdiv, prd:nfdiv, enable_keep_helm, rel:nfdiv-case-api-pr-3962

#3971 NFDIV-4229 Final Order Form D36 - Replace form for upload
  src/main/resources/D36.pdf
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3971

#3973 NFDIV-4237 Update ID List
  src/main/resources/NFDIV-4237.csv
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3973

#3974 [NFDIV-4290] Add new HWF events for general applications
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralApplicationHwfAccepted.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralApplicationHwfPartPaymentRequired.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralApplicationHwfRefused.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralApplicationHwfAcceptedTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralApplicationHwfPartPaymentRequiredTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralApplicationHwfRefusedTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3974

#3976 [NFDIV-4286] Make general application fields optional for caseworkers
  src/main/java/uk/gov/hmcts/divorce/common/event/page/GeneralApplicationUploadDocument.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3976

#3943 NFDIV-4127 added smartSurvey and generalFee vars
  src/main/java/uk/gov/hmcts/divorce/common/notification/RespondentApplyForFinalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/CommonContent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/common/notification/RespondentApplyForFinalOrderNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3943

#3957 NFDIV-4179: Add Welsh template for solicitor apply for FO
  src/main/java/uk/gov/hmcts/divorce/common/notification/Applicant1AppliedForFinalOrderNotification.java
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, aat/no-changes, prod/no-changes, rel:nfdiv-case-api-pr-3957

#3978 [NFDIV-4297] Remove stale general email data before each use of the event
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralEmail.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPrepareGeneralEmailAttachments.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/GeneralEmail.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralEmailTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPrepareGeneralEmailAttachmentsTest.java
Labels: ns:nfdiv, prd:nfdiv, aat/no-changes, prod/no-changes, rel:nfdiv-case-api-pr-3978
