Repository hmcts/nfdiv-case-api, pull requests merged in 2024-05, with the labels that each got.

#3713 NFDIV-4028 Update Case-Api FTs to expect new fee values
  src/functionalTest/resources/responses/response-caseworker-confirm-payment-deemed.json
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3713

#3708 NFDIV-3995
  src/functionalTest/resources/request/casedata/ccd-callback-casedata.json
  src/functionalTest/resources/responses/response-solicitor-payment-mid-event.json
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorCreateApplicationIT.java
  src/integrationTest/resources/solicitor-create-about-to-submit-response.json
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/UserRole.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/validation/ValidationUtil.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorCreateApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/MarriageCertificateDetails.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/validation/CaseValidationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorCreateApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/page/MarriageCertificateDetailsTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3708

#3682 [NFDIV-3634] Hide solStatementOfTruth in application tab when app1 is not represented
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/ApplicationTab.java
Labels: ns:nfdiv, prd:nfdiv, aat/no-changes, rel:nfdiv-case-api-pr-3682

#3721 reduce min replicas to 2
  charts/nfdiv-case-api/Chart.yaml
  charts/nfdiv-case-api/values.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3721

#3597 NFDIV-3879 Overseas Solicitor Address
  src/functionalTest/resources/responses/response-applicant1-invite-applicant2-solicitor.json
  src/functionalTest/resources/responses/response-applicant1-resubmit-application-applicant2-represented.json
  src/functionalTest/resources/responses/response-caseworker-issue-application-about-to-submit.json
  src/functionalTest/resources/responses/response-system-pronounce-case-applicant-represented.json
  src/functionalTest/resources/responses/solicitor-response-applicant2-approved.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerNoticeOfChange.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/CorrectPaperCase.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/UpdateContactDetails.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Solicitor.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/ApplicationTab.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/Applicant2ServiceDetails.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolUpdateContactDetails.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/task/ConditionalOrderPronouncedCoverLetterHelperTest.java
Labels: ns:nfdiv, prd:nfdiv, enable_keep_helm, rel:nfdiv-case-api-pr-3597

#3726 NFDIV-4031 Validate marriageDate vs application submittedDate in amendCase event
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-issue-application-about-to-submit.json
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-issue-joint-citizen-application-about-to-submit.json
  src/functionalTest/resources/request/casedata/ccd-callback-caseworker-issue-sole-citizen-application-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-issue-sole-citizen-application-about-to-submit.json
  src/integrationTest/resources/caseworker-issue-applicant1-represented-by-solicitor-about-to-submit-response.json
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-app2-not-sol-rep-response.json
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-solicitor-service-response.json
  src/integrationTest/resources/caseworker-issue-application-joint-js-about-to-submit-respondent-response.json
  src/integrationTest/resources/caseworker-issue-joint-application-app1-represented-about-to-submit-response.json
  src/integrationTest/resources/caseworker-issue-joint-application-app2-contact-private-about-to-submit-response.json
  src/integrationTest/resources/caseworker-issue-joint-application-app2-represented-about-to-submit-response.json
  src/integrationTest/resources/caseworker-issue-sole-citizen-application-about-to-submit-response.json
  src/integrationTest/resources/caseworker-issue-sole-citizen-uk-based-application-about-to-submit-response.json
  src/integrationTest/resources/caseworker-reissue-application-about-to-submit-app2-not-sol-rep-offline-aos-response.json
  src/integrationTest/resources/caseworker-reissue-application-about-to-submit-app2-not-sol-rep-reissue-case-response.json
  src/integrationTest/resources/caseworker-reissue-application-about-to-submit-app2-not-sol-rep-reissue-case-welsh-response.json
  src/integrationTest/resources/caseworker-reissue-application-about-to-submit-app2-not-sol-rep-response.json
  src/integrationTest/resources/caseworker-reissue-application-joint-js-about-to-submit-respondent-response.json
  src/integrationTest/resources/caseworker-reissue-joint-application-applicant1-solicitor-about-to-submit-response.json
  src/integrationTest/resources/caseworker-reissue-joint-application-applicant2-solicitor-about-to-submit-response.json
  src/integrationTest/resources/caseworker-reissue-sole-citizen-application-offlineAos-about-to-submit-response.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-citizen-submit-aos-represented-respondent.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-citizen-submit-aos-with-dispute-welsh.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-citizen-submit-aos-with-dispute.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-citizen-submit-aos-without-dispute.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-system-progress-case-to-aos-overdue-offline-js.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-system-progress-case-to-aos-overdue-offline.json
  src/integrationTest/resources/wiremock/responses/about-to-submit-system-progress-case-to-aos-overdue.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAmendCase.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/AmendCase.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/validation/ApplicationValidation.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/validation/ValidationUtil.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAmendCaseTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/validation/CaseValidationTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3726

#3735 NFDIV-4059 Add validation warning for null submittedDate
  src/main/java/uk/gov/hmcts/divorce/divorcecase/validation/ValidationUtil.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/validation/CaseValidationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3735

#3736 NFDIV-4060 Set dateSubmitted in CaseworkerPaymentMade and CaseworkerHwfApplicationAccepted events
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHwfApplicationAccepted.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPaymentMade.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHwfApplicationAcceptedTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPaymentMadeTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3736

#3737 Validate on currentdate when no date submitted
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAmendCase.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerIssueApplication.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerReissueApplication.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/validation/ValidationUtil.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorCreateApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/MarriageCertificateDetails.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/validation/CaseValidationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3737

#3729 Nfdiv 3979 old law link in new law email notification
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3729

#3688 NFDIV-3376
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/notification/FinalOrderGrantedNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/CommonContent.java
  src/main/java/uk/gov/hmcts/divorce/payment/PaymentService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/notification/FinalOrderGrantedNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3688

#3739 NFDIV-4060 Update: Make date set conditional, also set dueDate if null
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHwfApplicationAccepted.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHwfApplicationAndPaymentHelper.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPaymentMade.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHwfApplicationAcceptedTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHwfApplicationAndPaymentHelperTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPaymentMadeTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3739

#3704 NFDIV-3953
  src/integrationTest/java/uk/gov/hmcts/divorce/common/SwitchedToSoleCoIT.java
  src/integrationTest/resources/switch-to-sole-co-applicant1-response.json
  src/integrationTest/resources/switch-to-sole-co-applicant2-response.json
  src/main/java/uk/gov/hmcts/divorce/common/event/SwitchedToSoleCo.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SwitchedToSoleCoSendLetters.java
  src/test/java/uk/gov/hmcts/divorce/common/event/SwitchedToSoleCoSendLettersTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/SwitchedToSoleCoTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3704
