Repository hmcts/nfdiv-case-api, pull requests merged in 2024-03, with the labels that each got.

#3538 NFDIV-3788 document pack for conditionorderpronounced for conditional…
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemPronounceCaseFT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerRegenerateCourtOrdersIT.java
  src/integrationTest/resources/wiremock/responses/about-to-submit-system-regenerate-court-orders-offline.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRegenerateCourtOrders.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/notification/FinalOrderGrantedNotification.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/RegenerateCourtOrdersPrinter.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/ConditionalOrderPronouncedNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/RegenerateCourtOrdersNotification.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentGenerator.java
  src/main/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderPronouncedTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/print/documentpack/ConditionalOrderPronouncedDocumentPack.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemPronounceCase.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRegenerateCourtOrdersTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/RegenerateCourtOrdersPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/ConditionalOrderPronouncedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/RegenerateCourtOrdersNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/ResendConditionalOrderPronouncedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/document/print/documentpack/ConditionalOrderPronouncedDocumentPackTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemPronounceCaseTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/print/ConditionalOrderPronouncedPrinterTest.java
Labels: ns:nfdiv, prd:nfdiv, no-changes, rel:nfdiv-case-api-pr-3538

#3578 [NFDIV-3758] Update sole citizen NOP template
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3578

#3619 NFDIV-3935 template vars missing on the content class
  src/main/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderPronouncedTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateConditionalOrderPronouncedDocument.java
  src/test/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderPronouncedTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateConditionalOrderPronouncedDocumentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3619

#3598 [NFDIV-3904] Check for null representation in caseworker notice of change
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerNoticeOfChange.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerNoticeOfChangeTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3598

#3628 NFDIV-3899 - No retry on switch to sole events
  src/main/java/uk/gov/hmcts/divorce/common/event/SwitchedToSoleCo.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SwitchedToSoleFinalOrder.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3628

#3624 NFDIV-3935
  src/main/java/uk/gov/hmcts/divorce/common/notification/ConditionalOrderPronouncedNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/RegenerateCourtOrdersNotification.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRedoPronouncedCoverLetter.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/conditionalorder/SystemRedoPronouncedCoverLettersTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/task/ConditionalOrderPronouncedCoverLetterHelper.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/task/RegenerateConditionalOrderPronouncedCoverLetter.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/task/RegenerateConditionalOrderPronouncedCoverLetterOffline.java
  src/main/resources/relevant_ids.txt
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRedoPronouncedCoverLetterTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/conditionalorder/SystemRedoPronouncedCoverLettersTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/task/RegenerateConditionalOrderPronouncedCoverLetterOfflineTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3624

#3638 NFDIV-3935 713 cases in prod - might get cut down by the task itself …
  src/main/resources/relevant_ids.txt
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3638

#3632 NFDIV-3470 INC5502231 - amend footer on notice of proceedings document
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/integrationTest/resources/application.yaml
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3632

#3642 NFDIV-3930 Added Case ID in exception trace
  src/main/java/uk/gov/hmcts/divorce/notification/NotificationService.java
  src/main/java/uk/gov/hmcts/divorce/notification/exception/NotificationException.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3642

#3643 NFDIV-3935 207 cases with confidential docs need to get regenrated an…
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemPronounceCaseFT.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SendRegeneratedCOPronouncedCoverLetters.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseDocuments.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentUtil.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRedoPronouncedCoverLetter.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/conditionalorder/SystemRedoPronouncedCoverLettersTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/task/RegenerateConditionalOrderPronouncedCoverLetter.java
  src/main/resources/relevant_ids.txt
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SendRegeneratedCOPronouncedCoverLettersTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/CaseDocumentsTest.java
  src/test/java/uk/gov/hmcts/divorce/document/DocumentUtilTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRedoPronouncedCoverLetterTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/task/RegenerateConditionalOrderPronouncedCoverLetterOfflineTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/task/RegenerateConditionalOrderPronouncedCoverLetterTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3643

#3648 NFDIV-3935 seems the cron is still picking up the existing list of ids
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/conditionalorder/SystemRedoPronouncedCoverLettersTask.java
  src/main/resources/relevant_ids_new.txt
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3648

#3644 NFDIV-3635 International Cases - Parties domiciled in England & Wales
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/JurisdictionConnections.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3644

#3654 NFDIV-3935 new run to catch offline applicants who have their docs in…
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SendRegeneratedCOPronouncedCoverLetters.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRedoPronouncedCoverLetter.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/conditionalorder/SystemRedoPronouncedCoverLettersTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/task/RegenerateConditionalOrderPronouncedCoverLetterOffline.java
  src/main/resources/relevant_ids_new.txt
  src/main/resources/relevant_ids_outlier.txt
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SendRegeneratedCOPronouncedCoverLettersTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRedoPronouncedCoverLetterTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/task/RegenerateConditionalOrderPronouncedCoverLetterOfflineTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3654

#3653 NFDIV-3880 Apply Amended New Version of Paper D84
  src/main/resources/D84.pdf
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3653

#3655 NFDIV-3935 update flag
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/conditionalorder/SystemRedoPronouncedCoverLettersTask.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3655

#3656 NFDIV-3935 stop updates
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/conditionalorder/SystemRedoPronouncedCoverLettersTask.java
  src/main/resources/relevant_ids_none.txt
  src/main/resources/relevant_ids_outlier.txt
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3656

#3658 NFDIV-3935 20 outliers for app2 resends only
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SendRegeneratedCOPronouncedCoverLetters.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/conditionalorder/SystemRedoPronouncedCoverLettersTask.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/task/RegenerateConditionalOrderPronouncedCoverLetterOffline.java
  src/main/resources/relevant_ids_none.txt
  src/main/resources/relevant_ids_outliers.txt
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SendRegeneratedCOPronouncedCoverLettersTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/task/RegenerateConditionalOrderPronouncedCoverLetterOfflineTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-3658
