Repository hmcts/nfdiv-case-api, pull requests merged in 2024-12, with the labels that each got.

#4173 [NFDIV-4516] Update switch to sole to handle offline cases
  src/main/java/uk/gov/hmcts/divorce/citizen/service/SwitchToSoleService.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SwitchedToSoleCo.java
  src/main/java/uk/gov/hmcts/divorce/common/event/SwitchedToSoleFinalOrderOffline.java
  src/test/java/uk/gov/hmcts/divorce/citizen/service/SwitchToSoleServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4173

#4094 [NFDIV-4425] Rework pba payments to use service requests
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-app2-sol-apply-for-final-order.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata.json
  src/functionalTest/resources/responses/response-solicitor-final-order-payment-mid-event.json
  src/functionalTest/resources/responses/response-solicitor-payment-mid-event.json
  src/integrationTest/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/common/Applicant2SolicitorApplyForFinalOrderIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/common/RespondentApplyForFinalOrderIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/GeneralApplicationSelectFeeIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorGeneralApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorSubmitApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/testutil/PaymentWireMock.java
  src/integrationTest/resources/solicitor-general-application-payment-response.json
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenCreateServiceRequest.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplication.java
  src/main/java/uk/gov/hmcts/divorce/common/event/Applicant2SolicitorApplyForFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/FeeDetails.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/FinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/payment/PaymentPbaClient.java
  src/main/java/uk/gov/hmcts/divorce/payment/PaymentService.java
  src/main/java/uk/gov/hmcts/divorce/payment/PaymentSetupService.java
  src/main/java/uk/gov/hmcts/divorce/payment/model/CreditAccountPaymentRequest.java
  src/main/java/uk/gov/hmcts/divorce/payment/model/CreditAccountPaymentResponse.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorGeneralApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/GeneralApplicationPaymentSummary.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/GeneralApplicationSelectFee.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolFinalOrderPayment.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolFinalOrderPaymentSummary.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolPayment.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolPaymentSummary.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenCreateServiceRequestTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/Applicant2SolicitorApplyForFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/page/SolFinalOrderPaymentTest.java
  src/test/java/uk/gov/hmcts/divorce/payment/PaymentServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/payment/PaymentSetupServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorGeneralApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/page/GeneralApplicationSelectFeeTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/page/SolPaymentTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestConstants.java
Labels: ns:nfdiv, prd:nfdiv, enable_keep_helm, aat/no-changes, prod/no-changes, rel:nfdiv-case-api-pr-4094

#4193 NFDIV-4500: Add new user role to events
  src/cftlib/java/uk/gov/hmcts/divorce/cftlib/CftLibConfig.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadConfidentialDocument.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadDocument.java
  src/main/java/uk/gov/hmcts/divorce/common/ccd/HighLevelDataSetupApp.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/UserRole.java
Labels: ns:nfdiv, prd:nfdiv, aat/no-changes, prod/no-changes, rel:nfdiv-case-api-pr-4193

#4120 [NFDIV-4464] Create service requests in advance of pba payments
  src/functionalTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemNotifyRespondentApplyFinalOrderFT.java
  src/functionalTest/resources/responses/response-system-notify-respondent-solicitor-apply-final-order.json
  src/integrationTest/java/uk/gov/hmcts/divorce/solicitor/SolicitorCreateApplicationIT.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/RespondentApplyForFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/FinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/Applicant1DeleteAccess.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/Applicant2DeleteAccess.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolFinalOrderPayment.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolPayment.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorCreateApplicationService.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/task/SetApplicationFeeServiceRequest.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemNotifyRespondentApplyFinalOrder.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/RespondentApplyForFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorCreateApplicationApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/task/SetApplicationFeeServiceRequestTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemNotifyRespondentApplyFinalOrderTest.java
Labels: ns:nfdiv, prd:nfdiv, enable_keep_helm, aat/no-changes, prod/no-changes, rel:nfdiv-case-api-pr-4120

#4219 [NFDIV-4461] Update config generator to 5.5.14
  build.gradle
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4219

#4199 NFDIV-4493: Remove solicitor read access from case notes
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseworkerAndSuperUserAccess.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/access/CaseworkerAndSuperUserAccessTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4199

#4206 NFDIV-4375: Update notification templates with web form and survey link
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4206

#4218 NFDIV-4416 ccd fix under NFDIV-4557
  Jenkinsfile_CNP
  build.gradle
  charts/nfdiv-case-api/Chart.yaml
  charts/nfdiv-case-api/values.preview.template.yaml
  charts/nfdiv-case-api/values.yaml
  gradle/wrapper/gradle-wrapper.jar
  gradlew
  gradlew.bat
  resources/ccd-OLD-DIVORCE.xlsx
  src/cftlib/java/uk/gov/hmcts/divorce/cftlib/CftLibConfig.java
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/CaseApiApplication.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerFindMatches.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseDataOldDivorce.java
  src/main/java/uk/gov/hmcts/divorce/idam/IdamService.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerFindMatchesTest.java
  src/test/java/uk/gov/hmcts/divorce/idam/IdamServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4218

#4222 [NFDIV-4378] Batch 10 update notification templates
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4222

#4226 NFDIV-4377: Update notification templates with smart survey and web form
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4226

#4228 NFDIV-4537 Amend CW Event Name - Change- Add Text Only RFI Response -TO- Add RFI Response
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRequestForInformationResponse.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4228

#4221 [NFDIV-4564] Superuser event to remove case notes
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRemoveNote.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/model/CaseNote.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRemoveNoteTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4221

#4232 NFDIV-4582: Add access permissions for caseworker on field
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/FeeDetails.java
Labels: ns:nfdiv, prd:nfdiv, enable_keep_helm, rel:nfdiv-case-api-pr-4232

#4223 NFDIV-4574 change final order overdue date calculation to be 12 month…
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-system-progress-case-to-awaiting-final-order-welsh.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-system-progress-case-to-awaiting-final-order.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-system-remind-applicants-apply-for-final-order-welsh.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-system-remind-applicants-apply-for-final-order.json
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemProgressCaseToAwaitingFinalOrderIT.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/AwaitingFinalOrderNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/AwaitingFinalOrderReminderNotification.java
  src/main/java/uk/gov/hmcts/divorce/document/content/templatecontent/FinalOrderCanApplyTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateApplyForFinalOrderDocument.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/AwaitingFinalOrderNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/templatecontent/FinalOrderCanApplyTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateApplyForFinalOrderDocumentTest.java
  src/test/java/uk/gov/hmcts/divorce/testutil/TestDataHelper.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4223
