Repository hmcts/nfdiv-case-api, pull requests merged in 2025-08, with the labels that each got.

#4597 Alternative Service Notification and docmosis document generation
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitServiceApplication.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/interimapplications/AlternativeServiceApplicationSubmittedNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/service/InterimApplicationSubmissionService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/AlternativeServiceMediumType.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/AlternativeServiceApplicationTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisTemplateConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/model/DocumentType.java
  src/main/java/uk/gov/hmcts/divorce/document/print/generator/AlternativeServiceApplicationGenerator.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/interimapplications/AlternativeServiceApplicationSubmittedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/InterimApplicationSubmissionServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/AlternativeServiceApplicationTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/print/generator/AlternativeServiceApplicationGeneratorTest.java
Labels: ns:nfdiv, prd:nfdiv, enable_keep_helm, rel:nfdiv-case-api-pr-4597

#4630 NFDIV-4748: Add search gov record docmosis template
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitServiceApplication.java
  src/main/java/uk/gov/hmcts/divorce/common/service/InterimApplicationSubmissionService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/SearchGovRecordsJourneyOptions.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/SearchGovRecordsApplicationTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/print/generator/SearchGovRecordsApplicationGenerator.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitServiceApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/InterimApplicationSubmissionServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/document/print/generator/SearchGovRecordsApplicationGeneratorTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4630

#4629 [NFDIV-4976] Citizen general application payments
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenAddPayment.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenGeneralApplication.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenGeneralApplicationPaymentMade.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenServicePaymentMade.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitServiceApplication.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/interimapplications/SearchGovRecordsApplicationSubmittedNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/service/InterimApplicationSubmissionService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/AlternativeService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/FeeDetails.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/GeneralApplication.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/GeneralApplicationType.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/InterimApplicationType.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/SearchGovRecordsJourneyOptions.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ServicePaymentMethod.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/divorce/document/content/SearchGovRecordsApplicationTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/print/generator/SearchGovRecordsApplicationGenerator.java
  src/main/java/uk/gov/hmcts/divorce/notification/CommonContent.java
  src/main/java/uk/gov/hmcts/divorce/payment/service/PaymentSetupService.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenGeneralApplicationPaymentMadeTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenGeneralApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitServiceApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/interimapplications/SearchGovRecordsApplicationSubmittedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/InterimApplicationSubmissionServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/ApplicantTest.java
  src/test/java/uk/gov/hmcts/divorce/document/print/generator/SearchGovRecordsApplicationGeneratorTest.java
  src/test/java/uk/gov/hmcts/divorce/notification/CommonContentTest.java
  src/test/java/uk/gov/hmcts/divorce/payment/service/PaymentSetupServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, enable_keep_helm, rel:nfdiv-case-api-pr-4629

#4644 NFDIV-4767 Dispense with service 5
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/DispenseWithServiceJourneyOptions.java
Labels: ns:nfdiv, prd:nfdiv, enable_keep_helm, rel:nfdiv-case-api-pr-4644

#4612 NFDIV-4849 Allow LA to make service decision on Alternative Service application
  src/integrationTest/java/uk/gov/hmcts/divorce/legaladvisor/LegalAdvisorMakeServiceDecisionIT.java
  src/integrationTest/resources/legal-advisor-service-decision-alternative-not-granted-response.json
  src/integrationTest/resources/legal-advisor-service-decision-alternative-response.json
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenServicePaymentMade.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitServiceApplication.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/ServiceApplicationNotification.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisTemplateConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/ServiceOrderTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/model/DocumentType.java
  src/main/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeServiceDecision.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/common/notification/ServiceApplicationNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/ServiceOrderTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeServiceDecisionTest.java
Labels: ns:nfdiv, prd:nfdiv, enable_keep_helm, rel:nfdiv-case-api-pr-4612

#4642 [NFDIV-5008] Update alternative service outcomes
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitServiceApplication.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/AlternativeService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/AlternativeServiceOutcome.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/AlternativeServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4642

#4606 NFDIV-4926 Send D84 with letter when Case issued for Joint JS Case
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinter.java
  src/main/java/uk/gov/hmcts/divorce/document/print/BulkPrintService.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/document/print/BulkPrintServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4606
