Repository hmcts/nfdiv-case-api, pull requests merged in 2025-06, with the labels that each got.

#4508 [NFDIV-4842] Support JS cases in paper case received letter
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerCreatePaperCase.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisTemplateConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/PaperApplicationReceivedTemplateContent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerCreatePaperCaseTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/PaperApplicationReceivedTemplateContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4508

#4525 NFDIV-4897 NoP Sol Content Generator not utilising addressOverseas field
  src/main/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingSolicitorContent.java
  src/test/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingSolicitorContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4525

#4526 Add null checks for dropped bulk lists
  src/main/java/uk/gov/hmcts/divorce/bulkaction/service/BulkCaseProcessingService.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4526

#4528 [NFDIV-4902] Hide create papercase from caseworkers
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerCreatePaperCase.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4528

#4511 [NFDIV-4893] Avoid deletion of scanned docs when subtype changes
  src/main/java/uk/gov/hmcts/divorce/document/DocumentRemovalService.java
  src/test/java/uk/gov/hmcts/divorce/document/DocumentRemovalServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, enable_keep_helm, rel:nfdiv-case-api-pr-4511

#4507 [NFDIV-4598] Add CO notification content about IDAM 90 day policy
  src/main/java/uk/gov/hmcts/divorce/notification/CommonContent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/notification/CommonContentTest.java
Labels: ns:nfdiv, prd:nfdiv, stale, rel:nfdiv-case-api-pr-4507

#4536 Re-enable caseworker paper case
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerCreatePaperCase.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4536
