Repository hmcts/nfdiv-case-api, pull requests merged in 2025-05, with the labels that each got.

#4461 NFDIV-4828 Fix sonar code smells around chained asserts
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerUpdateContactDetailsMoveConfidentialDocsIT.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/SuperuserRemoveCaseFromBulkListTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/data/BulkActionCaseDataTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/task/RemoveCasesTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/task/SetFailedBulkCaseMigrationVersionToZeroTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/task/UpdateCasesToBeRemovedTaskTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/util/BulkCaseTaskUtilTest.java
  src/test/java/uk/gov/hmcts/divorce/bulkscan/validation/OcrValidatorTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/CaseworkerResponseToServiceApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAnswerReceivedTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerExpediteFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralApplicationReceivedTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralEmailTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGrantFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPrepareGeneralEmailAttachmentsTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRemoveDocumentTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRemoveScannedDocumentTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerReturnToPreviousStateTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateApplicant1EmailTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateApplicant2EmailTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateFinRemAndJurisdictionJointTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateFinRemAndJurisdictionTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadConfidentialDocumentTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadDocumentTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadDocumentsAndSubmitTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/CaseFlagsServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/notification/PaperApplicationReceivedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/Applicant1ResubmitTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/RespondentApplyForFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/Applicant2ApproveTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/CreateTestCaseTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/InviteApplicant2Test.java
  src/test/java/uk/gov/hmcts/divorce/common/event/page/Applicant2SolReviewApplicant1ApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/ApplyForFinalOrderServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SetFinalOrderFieldsAsApplicant1Test.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SetFinalOrderFieldsAsApplicant2Test.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/SolicitorTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/util/AlternativeServiceUtilTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/validation/CaseValidationTest.java
  src/test/java/uk/gov/hmcts/divorce/document/DocumentUtilTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/AosUndefendedResponseLetterTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/legaladvisor/event/LegalAdvisorMakeDecisionTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorGeneralApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/page/MarriageIrretrievablyBrokenForApplicant2Test.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorValidationServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/print/ConditionalOrderPronouncedPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/CcdSearchServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4461

#4462 NFDIV-4830 Ensure assertion arguments are passed in correct order
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/page/CorrectRelationshipDetailsTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/NoticeOfChangeServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/page/Applicant2SolConfirmContactDetailsTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/page/ConditionalOrderReviewAoSApplicant2IfNoTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/page/ConditionalOrderReviewAoSApplicant2Test.java
  src/test/java/uk/gov/hmcts/divorce/common/event/page/ConditionalOrderReviewAoSIfNoTest.java
  src/test/java/uk/gov/hmcts/divorce/common/event/page/ConditionalOrderReviewAoSTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/ApplyForConditionalOrderDocumentPackTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/AwaitingConditionalOrderReminderNotificationDocumentPackTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/SetApplicantOfflineStatusTest.java
  src/test/java/uk/gov/hmcts/divorce/document/print/model/PrintTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/page/Applicant2ServiceDetailsTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/page/MarriageIrretrievablyBrokenTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/page/SolAboutApplicant1Test.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/page/SolHowDoYouWantToApplyForDivorceTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/task/ProgressApplicant1FinalOrderStateTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/task/ProgressApplicant2FinalOrderStateTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/task/SetApplicantGenderTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4462

#4446 [NFDIV-4716] Trigger link with bulk case as system user
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerScheduleCase.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemLinkWithBulkCase.java
  src/test/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerScheduleCaseTest.java
Labels: ns:nfdiv, prd:nfdiv, stale, rel:nfdiv-case-api-pr-4446

#4470 NFDIV-4831 - Resolve duplicated string literals
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerEditBulkCase.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerRemoveCasesFromBulkList.java
  src/main/java/uk/gov/hmcts/divorce/bulkaction/ccd/event/CaseworkerScheduleCase.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/ccd/event/AttachExceptionRecordToCase.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/ccd/event/CreateCaseFromExceptionRecord.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/ccd/event/CreateExceptionRecord.java
  src/main/java/uk/gov/hmcts/divorce/bulkscan/ccd/event/ManuallyHandleExceptionRecord.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAlternativeServiceApplication.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAmendApplicationType.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerChangeServiceRequest.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerCreateCaseFlag.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralEmail.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralReferral.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerListForHearing.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerManageCaseFlag.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerNoticeOfChange.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPrepareForCaseFlags.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerProgressPaperCase.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRemoveGeneralEmails.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRemoveGeneralLetter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRemoveScannedDocument.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerReturnToPreviousState.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateDueDate.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateFinalOrderFields.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadDocument.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/page/AlternativeServicePaymentSummary.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinter.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/CitizenRequestForInformationResponseNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/CitizenRequestForInformationResponsePartnerNotification.java
  src/main/java/uk/gov/hmcts/divorce/payment/service/PaymentService.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorChangeServiceRequest.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/Applicant2ServiceDetails.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdUpdateService.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4470

#4419 NFDIV-4714 Applicant Options flow - Happy path
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenUpdateApplication.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/GeneralApplicationOptions.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/NoResponseCheckContactDetails.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/NoResponseJourneyOptions.java
Labels: ns:nfdiv, prd:nfdiv, enable_keep_helm, aat/no-changes, prod/no-changes, rel:nfdiv-case-api-pr-4419

#4472 [NFDIV-4867] Avoid null pointer exception if fee from F&P is null
  src/main/java/uk/gov/hmcts/divorce/payment/service/ServiceRequestSearchService.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4472

#4460 NFDIV-4811 - Validate that general application is not submitted without documents
  src/functionalTest/resources/request/casedata/ccd-callback-solicitor-general-application-about-to-submit-telephone-payment.json
  src/functionalTest/resources/request/casedata/ccd-callback-solicitor-general-application-about-to-submit.json
  src/functionalTest/resources/responses/response-solicitor-general-application-about-to-submit-telephone-payment.json
  src/functionalTest/resources/responses/response-solicitor-general-application-about-to-submit.json
  src/main/java/uk/gov/hmcts/divorce/common/event/page/GeneralApplicationUploadDocument.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorGeneralApplication.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorGeneralApplicationTest.java
Labels: ns:nfdiv, prd:nfdiv, enable_keep_helm, rel:nfdiv-case-api-pr-4460

#4451 NFDIV-4655 Update SwitchToSoleService to switch all available roles
  src/main/java/uk/gov/hmcts/divorce/citizen/service/SwitchToSoleService.java
Labels: ns:nfdiv, prd:nfdiv, enable_keep_helm, rel:nfdiv-case-api-pr-4451

#4469 [NFDIV-4857] Create service request in solicitor submit
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/page/SolPayment.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorCreateApplicationService.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/page/SolPaymentTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/SolicitorCreateApplicationApplicationServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, enable_keep_helm, rel:nfdiv-case-api-pr-4469

#4471 Replace jitpack with azure artifacts
  build.gradle
  settings.gradle
  src/main/java/uk/gov/hmcts/divorce/common/notification/FinalOrderRequestedNotification.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/notification/SolicitorAppliedForConditionalOrderNotification.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4471

#4353 NFDIV-4644: Only generate D10 for overseas respondent and solicitor
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/caseworker/CaseworkerReIssueApplicationIT.java
  src/integrationTest/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContentIT.java
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/caseworker-issue-application-about-to-submit-solicitor-service-response.json
  src/integrationTest/resources/caseworker-reissue-application-about-to-submit-app2-not-sol-rep-response.json
  src/integrationTest/resources/caseworker-reissue-application-about-to-submit-app2-sol-rep-offline-aos-response.json
  src/integrationTest/resources/caseworker-reissue-application-about-to-submit-app2-sol-rep-response.json
  src/integrationTest/resources/caseworker-reissue-sole-citizen-application-offlineAos-about-to-submit-response.json
  src/integrationTest/resources/caseworker-reissue-sole-citizen-application-personal-service-about-to-submit-response.json
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinter.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplicant2NoticeOfProceedings.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateD10Form.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/print/AosPackPrinterTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateApplicant2NoticeOfProceedingsTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/task/GenerateD10FormTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContentTest.java
Labels: ns:nfdiv, prd:nfdiv, aat/no-changes, prod/no-changes, rel:nfdiv-case-api-pr-4353

#4497 [NFDIV-4883] Catch NPE in request for information list
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RequestForInformationList.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4497

#4492 [NFDIV-4833] Remove redundant exception declarations
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAddNoteTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAddTranslationTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerAwaitingJudgeClarificationTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerCreateCaseFlagTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerCreateGeneralOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralEmailTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerListForHearingTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerManageCaseFlagTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPendingHearingDateTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPendingHearingOutcomeTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPrepareForCaseFlagsTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRescindConditionalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerResetConditionalOrderFlagsTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerResponseToJudgeTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerReturnToPreviousStateTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateApplicant1EmailTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateApplicant2EmailTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateDueDateTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateGeneralApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateLanguagePreferenceTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUpdateOfflineStatusTest.java
  src/test/java/uk/gov/hmcts/divorce/common/config/interceptors/RequestInterceptorTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorArchiveCaseTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/service/CcdAccessServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4492

#4485 NFDIV-4878 - Check if document exists before calling delete document
  src/main/java/uk/gov/hmcts/divorce/document/DocumentRemovalService.java
  src/test/java/uk/gov/hmcts/divorce/document/DocumentRemovalServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4485

#4487 NFDIV-4879 - Remove grant access to CREATOR role for regenerate application event
  src/main/java/uk/gov/hmcts/divorce/common/event/RegenerateApplicationDocument.java
  src/main/java/uk/gov/hmcts/divorce/common/event/RegenerateNoticeOfProceedings.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4487

#4453 NFDIV-4838 - Trigger general referral when solicitor triggers a switch to sole at FO stage
  src/main/java/uk/gov/hmcts/divorce/citizen/service/SwitchToSoleService.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/Applicant1SolicitorSwitchToSoleFo.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/Applicant2SolicitorSwitchToSoleFo.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/Applicant1SolicitorSwitchToSoleFoTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/Applicant2SolicitorSwitchToSoleFoTest.java
Labels: ns:nfdiv, prd:nfdiv, enable_keep_helm, rel:nfdiv-case-api-pr-4453

#4490 [NFDIV-4739] Deemed docmosis pdf
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitServiceApplication.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/ApplicationAnswers.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/DeemedServiceJourneyOptions.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/InterimApplicationGeneratorService.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DeemedServiceApplicationTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisTemplateConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/print/generator/DeemedServiceApplicationGenerator.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitServiceApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/document/InterimApplicationGeneratorServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DeemedServiceApplicationTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/print/generator/DeemedServiceApplicationGeneratorTest.java
Labels: ns:nfdiv, prd:nfdiv, aat/no-changes, prod/no-changes, rel:nfdiv-case-api-pr-4490

#4515 [NFDIV-4893] Temporarily turn off hard deletion of scanned docs
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRemoveScannedDocument.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRemoveScannedDocumentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4515
