Repository hmcts/nfdiv-case-api, pull requests merged in 2025-02, with the labels that each got.

#4303 [NFDIV-4649] Use AAC response data for NOC notifications
  src/main/java/uk/gov/hmcts/divorce/noticeofchange/event/SystemApplyNoticeOfChange.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4303

#4269 [NFDIV-4421] Hard delete documents in remove scanned docs
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRemoveDocument.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRemoveScannedDocument.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentRemovalService.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRemoveDocumentTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRemoveScannedDocumentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/DocumentRemovalServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4269

#4284 [NFDIV-4594] Allow CO flag resets in ConditionalOrderDrafted
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerResetConditionalOrderFlags.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/ResetConditionalOrderFlags.java
  src/test/java/uk/gov/hmcts/divorce/common/service/task/ResetConditionalOrderFlagsTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4284

#4252 NFDIV-4448: Add configuration for NFD case deletion
  ccd-definitions/AuthorisationComplexType.json
  src/cftlib/java/uk/gov/hmcts/divorce/cftlib/CftLibConfig.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHWFPartPaymentMade.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerHwfApplicationAccepted.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerPaymentMade.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenCreateApplication.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenPaymentMade.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenSubmitApplication.java
  src/main/java/uk/gov/hmcts/divorce/common/ccd/HighLevelDataSetupApp.java
  src/main/java/uk/gov/hmcts/divorce/common/service/task/SetStateAfterSubmission.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/UserRole.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/UserRolesForAccessProfiles.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/RoleToAccessProfiles.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/access/TtlProfileAccess.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorCreateApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorSubmitApplication.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorUpdateApplication.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/ManageCaseTtl.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/ManageCaseTtlTest.java
Labels: ns:nfdiv, prd:nfdiv, aat/no-changes, prod/no-changes, rel:nfdiv-case-api-pr-4252

#4251 NFDIV-4420 - Invite citizen when solicitor stops representation
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/NocSolRemovedCitizenNotification.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/NocSolRemovedSelfAsRepresentativeNotification.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/CaseData.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/noticeofchange/model/ChangeOfRepresentationAuthor.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorStopRepresentingClient.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/NocSolRemovedCitizenNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/NocSolRemovedSelfAsRepresentativeNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorStopRepresentingClientTest.java
Labels: ns:nfdiv, prd:nfdiv, aat/no-changes, prod/no-changes, rel:nfdiv-case-api-pr-4251

#4311 NFDIV-4601 Updating the states for Solicitor "General Applicant" event is available
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/SolicitorGeneralApplication.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4311

#4294 NFDIV-4539 Show court's reason for RFI on the Citizen's Hub Page and Manage cases for Sols
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/RequestForInformationList.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/Applicant1SolicitorRespondRequestForInformation.java
  src/main/java/uk/gov/hmcts/divorce/solicitor/event/Applicant2SolicitorRespondRequestForInformation.java
Labels: ns:nfdiv, prd:nfdiv, stale, rel:nfdiv-case-api-pr-4294

#4322 NFDIV-4677 Investigate how paper case can be created for testing without bulk scan process
  Jenkinsfile_CNP
  build.gradle
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerCreatePaperCase.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4322

#4328 [NFDIV-4683] Make renovate ignore cft lib and downgrade to version compatible with Java 17
  .github/renovate.json
  build.gradle
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4328

#4312 NFDIV-4660 Prevent AoS Tab showing fields if AoS is not submitted
  src/main/java/uk/gov/hmcts/divorce/divorcecase/tab/CaseTypeTab.java
Labels: ns:nfdiv, prd:nfdiv, enable_keep_helm, rel:nfdiv-case-api-pr-4312

#4327 [NFDIV-4403] Remove cron task for completed data migration
  src/main/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemCreateServiceRequestForPaymentTask.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/schedule/SystemCreateServiceRequestForPaymentTaskTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4327

#4141 NFDIV-3985 Send letter to applicant when new paper case is created
  Jenkinsfile_CNP
  build.gradle
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerCreatePaperCase.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/notification/PaperApplicationReceivedNotification.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/PaperApplicationReceivedTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/model/ConfidentialDocumentsReceived.java
  src/main/java/uk/gov/hmcts/divorce/document/model/DocumentType.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerCreatePaperCaseTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/notification/PaperApplicationReceivedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/PaperApplicationReceivedTemplateContentTest.java
Labels: ns:nfdiv, prd:nfdiv, enable_keep_helm, aat/no-changes, prod/no-changes, rel:nfdiv-case-api-pr-4141

#4324 NFDIV-4510 Introducing welsh templates for caseworker general email
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/notification/GeneralEmailNotification.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/notification/GeneralEmailNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4324

#4333 NFDIV-4693 - Remove code to send email to old email of the citizen
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/EmailUpdateService.java
  src/main/java/uk/gov/hmcts/divorce/common/notification/EmailUpdatedNotification.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/caseworker/service/EmailUpdateServiceTest.java
  src/test/java/uk/gov/hmcts/divorce/common/notification/EmailUpdatedNotificationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4333

#4283 NFDIV-4560 RTS - Issue with populating Sols address which causes undelivered letters
  src/integrationTest/java/uk/gov/hmcts/divorce/systemupdate/event/SystemUpdateCaseWithCourtHearingIT.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/ApplicationSentForReviewNotification.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/AcknowledgementOfService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Solicitor.java
  src/main/java/uk/gov/hmcts/divorce/document/content/ApplicationSoleTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderPronouncedTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DocmosisCommonContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DraftApplicationTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/LitigantGrantOfRepresentationConfirmationTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingSolicitorContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/SolicitorAppliedForFinalOrderSoleTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/templatecontent/AosResponseLetterTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/templatecontent/AosUndefendedResponseLetterTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/templatecontent/CertificateOfEntitlementTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/templatecontent/CoversheetSolicitorTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/templatecontent/JSSwitchToSoleCoSolicitorTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/content/templatecontent/JudicialSeparationCoRefusalTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/notification/CommonContent.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/task/ConditionalOrderPronouncedCoverLetterHelper.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/document/content/ConditionalOrderPronouncedTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DocmosisCommonContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DraftApplicationSoleTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/GenerateJudicialSeparationCORefusedForAmendmentCoverLetterTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/NoticeOfProceedingSolicitorContentTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/templatecontent/CertificateOfEntitlementTemplateContentTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/task/ConditionalOrderPronouncedCoverLetterHelperTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/service/task/GenerateCertificateOfEntitlementHelperTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4283

#4282 NFDIV-4384: Update templates with webform and other fields
  src/main/java/uk/gov/hmcts/divorce/notification/CommonContent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/NocCitizenToSolsNotificationsTest.java
  src/test/java/uk/gov/hmcts/divorce/notification/CommonContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4282

#4239 NFDIV-4533: Change response time to 56 days
  src/main/java/uk/gov/hmcts/divorce/document/content/templatecontent/AppliedForCoTemplateContent.java
  src/test/java/uk/gov/hmcts/divorce/document/content/templatecontent/AppliedForCoTemplateContentTest.java
Labels: ns:nfdiv, prd:nfdiv, enable_keep_helm, aat/no-changes, prod/no-changes, rel:nfdiv-case-api-pr-4239

#4337 Avoid null pointer exception when sol address is blank
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Solicitor.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4337

#4341 NFDIV-4509 - Add welsh notification templates when app2 confirms joint app
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4341

#4335 Use stable version of tomcat supported by spring boot
  build.gradle
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4335

#4338 NFDIV-4502 Welsh - Joint - Notifications when changes are made to the application
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4338

#4339 NFDIV-4526 Welsh - Joint - Notification when Switch to Sole and FO granted
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4339

#4340 NFDIV-4527 Welsh - Sole - Notify Respondent that CO entitlement has been granted
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4340

#4346 [NFDIV-4708] Allow return to previous state with NewPaperCase output state
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerReturnToPreviousStateTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4346
