Repository hmcts/nfdiv-case-api, pull requests merged in 2025-09, with the labels that each got.

#4648 [NFDIV-4771] Dispense service notifications
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/interimapplications/DispenseServiceApplicationSubmittedNotification.java
  src/main/java/uk/gov/hmcts/divorce/common/service/InterimApplicationSubmissionService.java
  src/main/java/uk/gov/hmcts/divorce/notification/EmailTemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/interimapplications/DispenseServiceApplicationSubmittedNotificationTest.java
  src/test/java/uk/gov/hmcts/divorce/common/service/InterimApplicationSubmissionServiceTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4648

#4609 NFDIV-4847 - New event to allow citizen to withdraw service application
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenWithdrawServiceApplication.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenWithdrawServiceApplicationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4609

#4645 [NFDIV-5006] Allow caseworkers to select a referred general application
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralReferral.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/GeneralApplication.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/GeneralReferral.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralReferralTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/GeneralApplicationTest.java
Labels: ns:nfdiv, prd:nfdiv, stale, rel:nfdiv-case-api-pr-4645

#4588 NFDIV-4765 Dispense with service 3
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/DispenseWithServiceJourneyOptions.java
Labels: ns:nfdiv, prd:nfdiv, enable_keep_helm, rel:nfdiv-case-api-pr-4588

#4651 NFDIV-4768 Dispense with service 6
  src/main/java/uk/gov/hmcts/divorce/common/service/InterimApplicationSubmissionService.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/DispenseWithServiceJourneyOptions.java
  src/main/java/uk/gov/hmcts/divorce/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DispenseWithServiceApplicationTemplateContent.java
  src/main/java/uk/gov/hmcts/divorce/document/print/generator/DispenseWithServiceApplicationGenerator.java
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, enable_keep_helm, rel:nfdiv-case-api-pr-4651

#4681 Nfdiv 5062 fix dispense service answers template content
  src/main/java/uk/gov/hmcts/divorce/document/content/DispenseWithServiceApplicationTemplateContent.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DispenseWithServiceApplicationTemplateContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4681

#4688 [NFDIV-5052] Set court service for UK addresses on citizen reissue
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SetServiceType.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/Applicant1UpdatePartnerDetailsOrReissue.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/Applicant1UpdatePartnerDetailsOrReissueTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/ApplicantTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4688

#4693 NFDIV-4713: Reset reissue options for contact details update
  src/main/java/uk/gov/hmcts/divorce/citizen/event/Applicant1UpdatePartnerDetailsOrReissue.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4693

#4687 [NFDIV-5052] No Response Caseworker Events
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralReferral.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerReissueApplication.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRejectGeneralApplication.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRejectServiceApplication.java
  src/main/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadServiceApplicationDocuments.java
  src/main/java/uk/gov/hmcts/divorce/citizen/notification/SaveAndSignOutNotificationHandler.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/GeneralApplication.java
  src/main/java/uk/gov/hmcts/divorce/document/content/DispenseWithServiceApplicationTemplateContent.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerGeneralReferralTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRejectGeneralApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerRejectServiceApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/caseworker/event/CaseworkerUploadServiceApplicationDocumentsTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/notification/SaveAndSignOutNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/GeneralApplicationTest.java
  src/test/java/uk/gov/hmcts/divorce/document/content/DispenseWithServiceApplicationTemplateContentTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4687

#4657 [NFDIV-4987] Improve no response validations
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/divorce/caseworker/service/task/SetServiceType.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/Applicant1UpdatePartnerDetailsOrReissue.java
  src/main/java/uk/gov/hmcts/divorce/citizen/event/CitizenGenerateProcessServerDocs.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Applicant.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/Application.java
  src/main/java/uk/gov/hmcts/divorce/divorcecase/validation/ApplicationValidation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/divorce/citizen/event/Applicant1UpdatePartnerDetailsOrReissueTest.java
  src/test/java/uk/gov/hmcts/divorce/citizen/event/CitizenGenerateProcessServerDocsTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/model/ApplicantTest.java
  src/test/java/uk/gov/hmcts/divorce/divorcecase/validation/ApplicationValidationTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4657

#4697 NFDIV-4996: Add Welsh templates
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4697

#4698 [NFDIV-5069] Make crons resilient to ElasticSearch outages
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemAlertApplicationNotReviewed.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemNotifyApplicantCanSwitchToSoleAfterIntentionFO.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemNotifyApplicantDisputeFormOverdue.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemNotifyApplicantPartnerNotAppliedForFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemNotifyJointApplicantCanSwitchToSole.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemNotifyRespondentApplyFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemindApplicant1ApplicationReviewed.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemindApplicant2.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemindApplicantsApplyForCOrder.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemindApplicantsApplyForFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemindAwaitingJointFinalOrder.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemindRespondentSolicitor.java
  src/main/java/uk/gov/hmcts/divorce/systemupdate/service/CcdUpdateService.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemAlertApplicationNotReviewedTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemNotifyApplicantCanSwitchToSoleAfterIntentionFOTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemNotifyApplicantDisputeFormOverdueTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemNotifyApplicantPartnerNotAppliedForFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemNotifyJointApplicantCanSwitchToSoleTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemNotifyRespondentApplyFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemindApplicant1ApplicationReviewedTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemindApplicant2Test.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemindApplicantsApplyForCOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemindApplicantsApplyForFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemindAwaitingJointFinalOrderTest.java
  src/test/java/uk/gov/hmcts/divorce/systemupdate/event/SystemRemindRespondentSolicitorTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4698

#4701 [NFDIV-5064] Aos submission in awaiting documents
  src/main/java/uk/gov/hmcts/divorce/divorcecase/model/State.java
Labels: ns:nfdiv, prd:nfdiv, enable_keep_helm, rel:nfdiv-case-api-pr-4701

#4699 NFDIV-4947 Welsh - Dispense with service
  src/main/resources/application.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-case-api-pr-4699
